<div class="card">
    <div class="card-body">
        <h4 class="card-title f-w-6"><span class="lstick"></span>UPDATE NEFT INFO</h4>
        <div class="form-group row">
            <div class="ml-auto m-r-20">
                <button ng-disabled="" class="btn btn-info btn-sm"
                        ng-click="uploadInvoiceFile()">Upload Invoice
                </button>
            </div>
        </div>

        <div id="myGrid1" style="width: 100%; height: 600px;"
             ag-grid="gridOptions"
             class="ag-theme-fresh">
        </div>
        <div class="form-group row">
            <div class="m-l-15 m-t-20">
                <button ng-disabled="" class="btn btn-info btn-sm"
                        ng-click="updateNeftInfo()">Update Details
                </button>
            </div>
        </div>
    </div>
</div>