<link href="/css/pages/login-register-lock.css" rel="stylesheet"/>
<section id="wrapper">
    <div class="login-register" ng-hide="signUpCheck"
         style="background-image:url(/assets/images/background/login-register.jpg);">
        <div ng-hide="signUpCheck" class="login-box card">
            <div class="card-body">
                <form ng-hide="pswdExpired||forgotPasswords" class="form-horizontal" id="loginform">
                    <h1 class="box-title m-b-20"><b>{{resources.algoFusion}}</b></h1>
                    <h6 class="box-title m-b-20"><b>{{resources.login}}</b></h6>
                    <div class="form-group">
                        <label for="loginuserName">User Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="loginuser">
                                    <i class="ti-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="loginuserName" AUTOCOMPLETE="off"
                                   ng-model="credentials.userName"
                                   placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="loginPassword1">{{resources.password}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="loginPass">
                                    <i class="ti-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="loginPassword1"
                                   ng-model="credentials.password"
                                   placeholder="Enter Password" ng-hide="showLogPass">
                            <input type="text" class="form-control" ng-show="showLogPass" id="loginPassword2"
                                   ng-model="credentials.password"
                                   placeholder="Enter Password">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="text-right">
                            <a href="#" id="to-recover"
                               title="Enter UserName" ng-click="forgotPassword(credentials)"
                               ng-disabled="credentials['userName']==undefined || credentials['userName']==''"><i
                                    class="fa fa-lock m-r-5"></i>{{resources.forgotPassword}}
                            </a>
                        </div>
                    </div>

                    <div class="form-group clearfix m-t-20">
                        <div class="pull-left">
                            <button class="btn waves-effect waves-light btn-info" id="loginButton"
                                    ng-click="doLogin(credentials)" ng-disabled="credentials.password == undefined"
                                    type="submit">{{resources.login}}
                            </button>
                        </div>
                        <div class="pull-right tex-right">
                            <button class="btn waves-effect waves-light btn-info" id='signup'
                                    ng-click="redirectToSignUp()" type="submit">{{resources.signUp}}
                            </button>
                        </div>
                    </div>
                </form>


                <form ng-show='pswdExpired' class="form-horizontal" id="updateform">
                    <h2 class="box-title m-b-20">{{resources.updatePasswordTitle}}</h2>
                    <div class="form-group">
                        <label for="loginuserName">User Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="userlogin">
                                    <i class="ti-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="updtUser" AUTOCOMPLETE="off"
                                   ng-model="credentials.userName"
                                   placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pwd1">{{resources.oldPassword}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon5">
                                    <i class="ti-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="updtpwd1" ng-model="update.oldPassword"
                                   placeholder="Enter Password">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="pwd2">{{resources.newPassword}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon6">
                                    <i class="ti-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" ng-change="analyze(update.oldPassword)"
                                   id="updtpwd2"
                                   ng-model="update.newPassword" placeholder="">
                            <div ng-show="showMsg" style="color:red;font-size:12px">
                                <span>{{resources.Ppnm}}</span>
                            </div>
                        </div>
                        <span ng-show="(update.newPassword.length>0 && update.newPassword == update.oldPassword)"
                              style="color:red;font-size:12px">{{resources.oldPasEquNewPassword}}</span>

                    </div>
                    <div class="form-group">
                        <label for="pwd2">{{resources.confirmPassword}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon7">
                                    <i class="ti-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="updtpwd3"
                                   ng-model="update.confirmPassword" placeholder="">
                        </div>
                        <span ng-show="(update.confirmPassword.length>0 && update.newPassword != update.confirmPassword)"
                              style="color:red;font-size:12px">Your passwords must match.</span>
                    </div>


                    <div class="form-group row col-md-12">

                        <div class="ml-auto">
                            <a href="#" class="btn btn-sm " data-toggle="tooltip" data-placement="right"
                               title="" data-original-title="{{resources.toolTip}}">
                                <span class="fa fa-question-circle "></span>
                            </a>
                        </div>
                    </div>

                    <div class="form-group row m-t-30">
                        <div class="col-xs-12 m-l-5">
                            <a href="#" class="btn btn-s waves-effect waves-light btn-info"
                               ng-click="updatePassword(update)"
                               ng-disabled="(update.confirmPassword != update.newPassword) || update.oldPassword==undefined|| update.newPassword==undefined"
                               type="submit">{{resources.updatePassword}}
                            </a>
                        </div>
                    </div>
                </form>


                <form ng-show="forgotPasswords" class="form-horizontal" id="forgotPassword">
                    <h3 class="m-b-20">{{credentials.userName}}</h3>
                    <div class="form-group">
                        <small class="m-b-20">{{resources.enterMail}}</small>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="forgot">
                                    <i class="ti-email"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="forgotPass" ng-model="associatedMail"
                                   placeholder="Associated Mail Id">
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-info" ng-disabled="associatedMail == undefined || associatedMail == ''"
                                ng-click="sendPasswordToMail(credentials,associatedMail)">
                            {{resources.confirm}}
                        </button>

                        <button class="btn btn-info" ng-click="forgotPasswords=false">
                            {{resources.back}}
                        </button>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <div class="login-register" ng-show="signUpCheck"
         style="background-image:url(/assets/images/background/login-register.jpg);">
        <div ng-show="signUpCheck" class="login-custom-box card">
            <div class="card-body">
                <h3 class="box-title m-b-20">{{resources.signUp}}</h3>
                <form class="form p-t-10">

                    <div class="form-group">
                        <label for="exampleInputuname">{{resources.userName}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="ti-user"></i>
                            </span>
                            </div>
                            <input type="text" class="form-control" id="exampleInputuname" ng-model="signUp.userName"
                                   placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">{{resources.email}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="ti-email"></i>
                            </span>
                            </div>
                            <input type="email" class="form-control" ng-change="analyzeEmail(signUp.email)"
                                   id="exampleInputEmail1" ng-model="signUp.email"
                                   placeholder="Enter email">
                        </div>
                        <span ng-show="eMsg" style="color:red;font-size:12px">{{resources.invalideMailId}}</span>
                    </div>

                    <div class="form-group">
                        <label for="pwd1">{{resources.password}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">
                                    <i class="ti-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="pwd1" ng-change="analyze(signUp.password)"
                                   ng-model="signUp.password"
                                   placeholder="Enter Password">
                        </div>

                        <div ng-show="showMsg" style="color:red;font-size:12px">
                            <span>{{resources.Ppnm}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pwd2">{{resources.confirmPassword}}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon4">
                                    <i class="ti-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" ng-show="!showPass" id="pwd2"
                                   ng-model="signUp.confirmPassword" placeholder="Re-Enter Password">
                            <input type="text" class="form-control" ng-show='showPass' id="pwd3"
                                   ng-model="signUp.confirmPassword" placeholder="Re-Enter Password">
                        </div>
                        <span ng-show="signUp.password != signUp.confirmPassword" style="color:red;font-size:12px">{{resources.urPwdMustMatch}}</span>
                    </div>

                    <div class="form-group row">
                        <!--<div class="checkbox checkbox-success">-->
                        <!--<input id="checkbox1" type="checkbox" ng-model="showPass">-->
                        <!--<label for="checkbox1">-->
                        <!--<small>{{resources.showPassword}}</small>-->
                        <!--</label>-->
                        <!--</div>-->
                        <div class="ml-auto">
                            <a href="#" ng-click="policyShow=true"><i class="fa fa-question-circle m-r-5"
                                                                             ng-click="policyShow=true"></i>
                                <small>{{resources.passwordPolicy}}</small>
                            </a>
                        </div>
                    </div>

                    <div class="form-group" ng-show="policyShow" style="color: red;">
                        <small>{{resources.note}}:</small>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <small><i class="fa fa-caret-right m-r-5"></i>{{resources.charLine}}</small>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passContain}}</small>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passSpecial}}</small>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passCahrRepeat}}</small>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passSpace}}</small>
                        </div>
                    </div>

                    <div class="form-group row text-center m-t-5 m-l-5">
                        <div class="col-xs-12">
                            <button ng-disabled="showMsg||eMsg ||(signUp.confirmPassword != signUp.password) || signUp.confirmPassword==undefined || signUp.email == undefined  "
                                    class="btn btn-info  btn-s" type="submit"
                                    ng-click="doSignup(signUp)">{{resources.signUp}}
                            </button>

                        </div>

                        <div class="form-group m-l-15 m-t-5">
                            <div class="col-sm-12 m-l-10">
                                <p>{{resources.alrHaveAcc}}<a href="#" ng-click='redirectToLogin()'
                                                              class="text-info m-l-5"><b>Sign
                                    In</b></a>
                                </p>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
