<div class="card m-t-30">
    <div class="card-body">
        <div class="m-t-20">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
                    <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.mailSettings}}</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <button type="button" ng-click="openserverConfig()"
                    class="btn btn-info m-r-10">Configure Server Details
            </button>
            <button type="button" ng-click="setDefault()" class="btn btn-info m-r-10">
                Add Mail Details
            </button>
        </div>
        <div class="form-group row">
            <table tr-ng-grid="" order-by="initialSorting" class="table table-bordered table-striped table-hover"
               enable-filtering="" total-items="myItemsTotalCount" enable-pagination="true" page-items="10"
               selection-mode="None" items="mailData"  on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
            <thead>
            <tr>


                <th field-name="reconName" display-name="{{resources.reconName}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="source" display-name="{{resources.source}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="reportName" display-name="{{resources.reportName}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="expression" display-name="{{resources.expression}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="toAddress" display-name="{{resources.toAddress}}" enable-filtering="true"
                    display-align="left"></th>
                <th field-name="edit" display-name="{{resources.actions}}" enable-filtering="true"
                    display-align="center"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-form="" editable-form="" name="rowform" shown="newItem===gridItem">
                <td field-name="edit">
                    <div class="button btn-group">
                        <button class="btn btn-info waves-effect waves-light fa fa-pencil"
                                ng-click="editMailsettings(gridItem)" title="{{resources.edit}}"></button>
                        <button class="btn btn-info waves-effect waves-light fa fa-trash"
                                ng-click="removeMailSettings(gridItem)" title="{{resources.delete}}"></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
            </div>

    </div>
</div>
<script type="text/ng-template" id="serverSettings.html">
    <div class="modal-header">
        <h4 class="card-title">{{resources.ServerDetails}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <!--<div class="card">-->
            <!--<div class="card-body">-->
            <div class="form-group row">
                <label for="host" class="col-lg-4 col-form-label">{{resources.host}}</label>
                <div class="col-lg-8">
                    <input type="text" id="host" class="form-control" ng-model="serverDetails.host" placeholder="Host Address">
                </div>
            </div>

            <div class="form-group row">
                <label for="port" class="col-lg-4 col-form-label">{{resources.port}}</label>
                <div class="col-lg-8">
                    <input type="number" id="port" class="form-control" ng-model="serverDetails.port" placeholder="Port Number">
                </div>
            </div>
            <div class="form-group row">
                            <label for="connection" class="col-lg-4 col-form-label">{{resources.connectionType}}</label>
                            <div class="col-lg-8">
                                <select id="connection" class="form-control" ng-model="serverDetails.connectionType" ng-options="val for val in connection">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>

            <div class="form-group row">
                <label for="user" class="col-lg-4 col-form-label">{{resources.username}}</label>
               <div class="col-lg-8">
                    <input type="text" id="user" class="form-control" ng-model="serverDetails.userName" placeholder="UserName">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-lg-4 col-form-label">{{resources.password}}</label>
               <div class="col-lg-8">
                    <input type="password" id='password'class="form-control" ng-model="serverDetails.password" placeholder="password">
                </div>
            </div>

            <div class="form-group row">
                <label for="senderId" class="col-lg-4 col-form-label">{{resources.senderMailId}}</label>
               <div class="col-lg-8">
                    <input type="text" id="senderId" class="form-control" ng-model="serverDetails.senderMailId" placeholder="senderMailId">
                </div>
            </div>
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">{{resources.cancel}}
        </button>
        <button type="button" class="btn btn-primary" ng-click="saveServerDetails(serverDetails)">{{resources.submit}}</button>
    </div>
</script>
<script type="text/ng-template" id="mailSettings.html">
    <div class="modal-header">
        <h4 class="card-title">{{resources.mailDetails}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <!--<div class="card">-->
            <!--<div class="card-body">-->

            <div class="form-group row">
                <label for="reconName" class="col-lg-4 col-form-label">{{resources.reconName}}</label>
                <div class="col-lg-8">
                    <input type="text" id="reconName" class="form-control" ng-model="mailDetails.reconName" placeholder="Source">
                </div>
            </div>
            <div class="form-group row">
                <label for="source" class="col-lg-4 col-form-label">{{resources.source}}</label>
                <div class="col-lg-8">
                    <input type="text" id="source" class="form-control" ng-model="mailDetails.source" placeholder="Source">
                </div>
            </div>

            <div class="form-group row">
                <label for="recon" class="col-lg-4 col-form-label">{{resources.reportName}}</label>
                <div class="col-lg-8">
                    <input type="text" id="recon" class="form-control" ng-model="mailDetails.reportName" placeholder="Report Name">
                </div>
            </div>
            <!--<div class="form-group row">-->
                            <!--<label for="connection" class="col-lg-4 col-form-label">{{resources.connectionType}}</label>-->
                            <!--<div class="col-lg-8">-->
                                <!--<select id="connection" class="form-control" ng-model="serverDetails.connectionType" ng-options="val for val in connection">-->
                                    <!--<option value="">Select</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

            <div class="form-group row">



                        <div class="row col-lg-12 m-t-20 m-b-10 m-l-5">
                            <label  class="col-lg-4 col-form-label">{{resources.expression}}</label>
                            <button class="btn btn-info btn-s m-r-10"
                                    ng-click="uploadMailFilters()" title="{{resources.upload}}">
                                <i class="fa fa-upload m-r-5"></i>{{resources.upload}}
                            </button>
                            <span ng-show="uploadSucess">
                                <strong><i class="fa fa-check m-r-5"></i>Uploaded</strong>
                            </span>
                            <!--<button class="btn btn-info btn-s"-->
                            <!--ng-click="downloadFilters()" title="{{resources.download}}">-->
                            <!--<i class="fa fa-download m-r-5"></i>{{resources.download}}-->
                            <!--</button>-->

                        </span>
            </div>

            <!--<div class="form-group row">-->
                <!--<label for="subject" class="col-lg-4 col-form-label">{{resources.subject}}</label>-->
               <!--<div class="col-lg-8">-->
                    <!--<input type="text" id='subject'class="form-control" ng-model="mailDetails.subject" placeholder="Subject">-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group row">
                <label for="toaddr" class="col-lg-4 col-form-label">{{resources.toAddress}}</label>
               <div class="col-lg-8">
                    <input type="text" id="toaddr" class="form-control" ng-model="mailDetails.toAddress" placeholder="To Address">
                </div>
            </div>
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">{{resources.cancel}}
        </button>
        <button type="button" class="btn btn-primary" ng-click="savemailDetails(mailDetails)">{{resources.submit}}</button>
    </div>
</script>

<!--<div class="container-fluid" ng-hide="enableReconSetting">-->
    <!--<div class="row page-titles">-->
        <!--<div class="align-self-center col-md-12 col-lg-12">-->
            <!--<h3 class="text-themecolor">{{resources.dbSettings}}</h3>-->
            <!--<hr>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
