<div class="m-l-20 m-t-20" ng-class="rightPanel?'col-md-10 col-md-10':'col-md-12 col-md-12'"
     ng-show="sourcePanel && !columnReorder && !doForceMatch">
    <h2 class="col-lg-6 card-title f-w-6" style="margin-bottom: 0px"><span class="lstick"></span>{{activeRecon}}
        <span ng-hide="selectedSource == '' || selectedSource == undefined">
            <i class="fa fa-angle-double-right m-r-10 m-l-10"></i>
                {{selectedSource}}
        </span>
    </h2>
</div>

<div class="row" ng-show="show && !doForceMatch">
    <div ng-class="rightPanel?'col-md-10 col-md-10':'col-md-12 col-md-12'" ng-show="sourcePanel && !columnReorder"
         style="padding-right: 40px">

        <div class="card  animated fadeInDown m-t-20">
            <div class="card-body">
                <!--Top Bar info with reportName and exportAll-->
                <!--<div class="d-flex no-block">-->
                <!--<div ng-hide="editStruct" class="form-row group col-md-6">-->
                <!--<h4 class="card-ktitle col-md-12"><span class="lstick"></span>{{selectedReport}} <i-->
                <!--class="fa fa-pencil ml-5" ng-click="editReportName(selectedReport)"></i></h4>-->
                <!--</div>-->
                <!--<div ng-show="editStruct" class="col-md-4">-->
                <!--<input type="text" style="border-left-width:0px;border-right-width:0px;border-top-width:0px;"-->
                <!--class="form-control form-control-sm" ng-model="selectedReport">-->
                <!--<h2><i class="fa fa-save ml-5" ng-click="saveReportName(selectedReport)"></i></h2>-->
                <!--</div>-->
                <!--<div class="ml-auto">-->
                <!--<button ng-disabled="" class="btn btn-info btn-sm"-->
                <!--ng-click="exportAllData(selectedReport)">{{resources.exportReport}}-->
                <!--</button>-->
                <!--</div>-->

                <!--&lt;!&ndash;<div class="m-l-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<button ng-disabled="" class="btn btn-info btn-sm"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-click="uploadInvoiceFile(selectedReport)">Upload Invoice&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--<div class="m-l-10">-->
                <!--<button ng-disabled="" class="btn btn-info btn-sm"-->
                <!--ng-click="exportConsolidateReport(selectedReport)">{{resources.exportAll}}-->
                <!--</button>-->
                <!--</div>-->
                <!--<div class="m-l-10">-->
                <!--<button ng-disabled="" class="btn btn-info btn-sm"-->
                <!--ng-click="exportOldFormat('Matched')">{{resources.exportMatched}}-->
                <!--</button>-->
                <!--</div>-->
                <!--<div class="m-l-10">-->
                <!--<button ng-disabled="" class="btn btn-info btn-sm"-->
                <!--ng-click="exportOldFormat('UnMatched')">{{resources.exportUnMatched}}-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->


                <div class="d-flex no-block">
                    <div ng-hide="editStruct" class="form-row group col-md-6">
                        <h4 class="card-ktitle col-md-12"><span class="lstick"></span>{{selectedReport}} <i
                                class="fa fa-pencil ml-5" ng-click="editReportName(selectedReport)"></i></h4>
                    </div>
                    <div ng-show="editStruct" class="col-md-4">
                        <input type="text" style="border-left-width:0px;border-right-width:0px;border-top-width:0px;"
                               class="form-control form-control-sm" ng-model="selectedReport">
                        <h2><i class="fa fa-save ml-5" ng-click="saveReportName(selectedReport)"></i></h2>
                    </div>

                    <!--<div class="form-group row">-->
                    <select class="form-control form-control-sm"
                            ng-model="downloadingReport"
                            class="form-control" id="inlineFormCustomSelect2"
                            ng-options="val for val in downloadingReports">
                        <option value="">{{resources.select}}</option>
                    </select>
                    <!--</div>-->
                    <div class="m-l-10">
                        <button ng-disabled="" class="btn btn-info btn-sm"
                                ng-click="exportsSelectedReportFormat(downloadingReport)">{{resources.exportAll}}
                        </button>
                    </div>
                </div>
                <!--AgGrid with Pagination-->
                <div>
                    <div id="myGrid1" style="width: 100%; height: 450px;"
                         ag-grid="gridOptions"
                         class="ag-theme-fresh">
                    </div>

                    <div class="row m-l-15 m-t-15">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li ng-repeat="val in [] | range:maxPages" class="page-item">
                                    <a href="#" ng-click="getpageIndex(val);getRecords(name,report,index)"
                                       class="page-link">{{val}}</a>
                                </li>

                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="ml-auto m-r-10"
                             ng-show="actions=='Authorization' && selectedReport == 'Authorization'">
                            <button class="btn btn-info m-r-10" ng-click="authorizeRecord('authorize')">Authourize
                            </button>
                            <button class="btn btn-info" ng-click="authorizeRecord('reject')">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ColumnReorder For Particular Report-->
    <div class="card col-lg-10" ng-show="columnReorder">
        <div class="card-title">
            <div class="form-row group col-md-6">
            </div>
        </div>
        <div class="card-body col-lg-10 mx-auto">
            <div class="table-responsive-sm">
                <div class="row">
                    <h4 class="card-title" float-right><span class="lstick"></span>Column Reorder</h4>
                    <button class="btn btn-info btn-sm ml-auto" id="sourcePannel"
                            ng-click="columnReorder = !columnReorder"
                            style="width: 53px;height: 27px;padding-bottom: 4px;">
                        {{resources.back}}
                    </button>
                </div>
                <div class="card col-lg-10" ng-show="columnReorder">
                    <div class="card-title">
                        <div class="form-row group col-md-6">
                        </div>
                    </div>
                    <!--<div class="card-body">-->
                    <!--<div class="form-group row">-->

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="about-us"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Select Source
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="about-us" ng-model="reorderSource">
                                <li ng-repeat="(key,val) in columnOrder"><a class="dropdown-item"
                                                                            ng-click="getSourceColumns(val.source)">{{val.source}}</a>
                                </li>
                            </ul>
                        </div>
                    <!--</div>-->
                    <!--</div>-->
                </div>

                <div class="form-group row">
                    <h4 class="m-r-10"> Selected Source :</h4><b>{{reorderSource}}</b>
                </div>

                <div class="table-wrapper-2" ng-if="reorderSource!='' && reorderSource!=undefined">
                    <div class="form-row">
                        <ui-select multiple ng-model="columns.selectedColumns" theme="select2"
                                   close-on-select="false" style="width: 800px;"
                                   title="Choose columns">
                            <ui-select-match placeholder="Select columns...">{{$item.column}}</ui-select-match>
                            <ui-select-choices
                                    repeat="column in sourceColumns | filter:$select.search">
                                {{column['column']}}
                            </ui-select-choices>
                        </ui-select>
                        <div class="m-l-10">
                            <button class="btn btn-success ml-auto"
                                    ng-click="saveConfiguration()">Save
                            </button>
                        </div>
                    </div>
                </div>

                <div id="viewColumns" class="m-t-10">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>Source</th>
                            <th style="width: 600px;">Columns</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="col in columnLookup">
                        <tr>
                            <td>{{col.source}}</td>
                            <td>{{col.columns}}</td>
                            <td>
                                <button type="button" class="btn"
                                        ng-click="deleteSouceColumnOrder($index)"><i class="icon-trash"/>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Right Pannel Hide show Button-->
    <div class="right-sidebar shw-rside collapsed" ng-hide='rightPanel'>
        <button class="btn btn-info clearfix right-toggle-btn open" id="pannelView1" title="close"
                ng-click="rightPanel=true;sourcePanel=true"><span class="fa fa fa-caret-left"></span>
        </button>
    </div>

    <!--Right side Pannel with sources and advanced search pannel-->
    <div class="right-sidebar shw-rside anyClass" ng-show="rightPanel">
        <button class="btn btn-info clearfix right-toggle-btn" id="pannelView" title="close"
                ng-click="rightPanel = !rightPanel"><span class="fa fa fa-caret-right"></span>
        </button>
        <div class="slimscrollright">
            <div class="r-panel-body">
                <!--This is content of source and report Details-->
                <div ng-class="sourcePanel?'card animated fadeInRight':'card animated fadeOutLeft'">
                    <!--<h4 class="card-title f-w-6" style="margin-bottom: 0px"><span class="lstick"></span>{{activeRecon}}-->
                    <!--</h4>-->
                    <!--<hr style="margin-bottom: 25px">-->

                    <h5 class="card-text f-w-6"><i class="fa fa-caret-right m-r-10"></i>Operations:</h5>

                    <div class="form-group">
                        <div class="col text-center" ng-show="actions!='Authorization'">
                            <button class="btn btn-info btn-sm ng-binding col-md-10 m-t-10 text-center "
                                    ng-click="initializeForcematch('rollBack')">
                                {{resources.rollBack}}
                            </button>
                        </div>

                        <div class="col text-center" ng-show="actions!='Authorization'">
                            <button class="btn btn-info btn-sm ng-binding col-md-10 m-t-10 text-center "
                                    ng-click="initializeForcematch('forceMatch');">
                                {{resources.forceMatch}}
                            </button>
                        </div>

                        <div class="col text-center">
                            <button class="btn btn-info btn-sm ng-binding col-md-10 m-t-10 text-center "
                                    ng-click="downloadPreviousDaysReports();">
                                {{resources.statementDate}}
                            </button>
                        </div>

                        <div class="col text-center">
                            <button class="btn btn-info btn-sm ng-binding col-md-10 m-t-10 text-center "
                                    ng-show="actions!='Authorization'" ng-click="gethistoricalData();">
                                {{resources.previousData}}
                            </button>

                        </div>

                        <div class="col text-center">
                            <button class="btn btn-info btn-sm ng-binding col-md-10 m-t-10 text-center "
                                    ng-show="actions!='Authorization'" ng-click="reorderColumns();">
                                {{resources.reorderColumn}}
                            </button>

                        </div>


                    </div>

                    <!--<h5 class="card-text f-w-6"><i class="fa fa-caret-right m-r-10"></i>Amount Info:</h5>-->
                    <!--<div class="table-responsive m-t-10">-->
                    <!--<table class="table table-bordered table-striped">-->
                    <!--<thead class='thead'>-->
                    <!--<tr>-->
                    <!--<th>Source</th>-->
                    <!--<th>{{report}} Amount</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="(key,val) in amountDetails">-->
                    <!--<th>{{key}}</th>-->
                    <!--<th>{{val}}</th>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                    <!--</table>-->
                    <!--</div>-->

                    <h5 class="card-text f-w-6"><i class="fa fa-caret-right m-r-10"></i>Custom Reports</h5>
                    <div ng-show="reports.length!=0">
                        <!--<h6 class="card-text f-w-6"><span class="fa fa-caret-right m-r-10"></span>{{resources.reports}}-->
                        </h6>
                        <table class="table table-bordered">
                            <thead class="thead">
                            <tr>
                                <th style=" width: 90%">{{resources.reportName}}</th>
                                <th style="width: 10%;">{{resources.download}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in reports track by $index">
                                <td title="val">{{val.name | truncate}}</td>
                                <td class="text-center" ng-click="downloadCustomReport($index)"><span
                                        class="fa fa-download"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<form>-->
                    <!--<div class="form-group m-r-10">-->
                    <!--<label class="mr-sm-2 f-w-6">{{resources.advfilters}}</label>-->

                    <!--<button class="btn btn-info btn-sm float-right" title="Add Filters"-->
                    <!--ng-click="addAdvFilter()"><i class="fa fa-plus"></i></button>-->
                    <!--</div>-->

                    <!--<li class="page-item">-->
                    <!--<a href="#" class="page-link" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<-->
                    <!--<div ng-repeat="v in advFilters track by $index">-->
                    <!--<div class="form-group row col-lg-12">-->
                    <!--<i class="fa fa-minus m-t-10 m-r-10" ng-click="deleteAdvFilter($index)"></i>-->
                    <!--<button class="btn btn-secondary btn-sm col-lg-10" data-toggle="collapse"-->
                    <!--data-target="#{{$index+1}}"-->
                    <!--aria-expanded="true" aria-controls="{{$index+1}}">-->
                    <!--{{resources.filter}}{{$index+1}}-->
                    <!--<i class=""-->
                    <!--ng-class="(chevronList.indexOf(key)==-1)?'mdi mdi-chevron-right pull-right':'mdi mdi-chevron-down pull-right'"-->
                    <!--style="float:right"></i>-->
                    <!--<span ng-class=""></span>-->
                    <!--</button>-->
                    <!--</div>-->

                    <!--<div id="{{$index+1}}" class="collapse"-->
                    <!--aria-labelledby="heading2">-->
                    <!--<div class="form-group col-md-12">-->
                    <!--<label class="mr-sm-2"-->
                    <!--for="inlineFormCustomSelect1"><b>{{resources.columnName}}</b></label>-->
                    <!--<select class="form-control form-control-sm"-->
                    <!--ng-model="v.selectedColumn"-->
                    <!--ng-change="getOperation(v)"-->
                    <!--class="form-control" id="inlineFormCustomSelect1"-->
                    <!--ng-options="val as val for val in transactionData['columns']">-->
                    <!--<option value="">{{resources.select}}</option>-->
                    <!--</select>-->
                    <!--</div>-->


                    <!--<div class="form-group col-md-12">-->
                    <!--<label class="mr-sm-2"-->
                    <!--for="inlineFormCustomSelect2">{{resources.operation}}</label>-->
                    <!--<select class="form-control form-control-sm"-->
                    <!--ng-model="v.operation"-->
                    <!--class="form-control" id="inlineFormCustomSelect2"-->
                    <!--ng-options="val for val in operationList">-->
                    <!--<option value="">{{resources.select}}</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group col-md-12">-->
                    <!--<label>{{resources.value}}</label>-->
                    <!--<input type="text" ng-model="v.value"-->
                    <!--class="form-control form-control-sm"-->
                    <!--id="inlineFormInput">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <!--<div class="form-group">-->
                    <!--<button ng-click="getFilteredRecord(advFilters)" type="submit" class="btn btn-secondary">-->
                    <!--{{resources.search}}-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>

    <div class="animated fadeInRight bottom-sidebar" ng-class="rightPanel?'col-md-9 col-lg-9':'col-md-11 col-lg-11'"
         style="padding-right: 50px" ng-hide="columnReorder">
        <div class="card-body">
            <div class="form-group m-b-10">
                <h6 class="from-group f-w-6"></span>{{resources.sources}}
                </h6>
                <div class="table-responsive">
                    <table class="table table-bordered anyClass">
                        <thead class="thead">
                        <tr>
                            <th style="width:10%">{{resources.source}}</th>
                            <th style="width:15%">{{resources.matchCount}}</th>
                            <th style="width:15%">{{resources.unMatchCount}}</th>
                            <th style="width:15%">Authorization</th>
                            <th style="width:15%">ForceMatched</th>
                            <th style="width:15%">Reversal</th>
                            <th style="width:15%">Carry Forward Matched</th>
                            <th style="width:15%">Carry Forward UnMatched</th>

                        </tr>
                        </thead>
                        <tbody ng-repeat="val in reportDetails">
                        <tr>
                            <td title="{{val.source}}"></i>{{val.Source | truncate}}</td>
                            <td><a href="" ng-click="getRecords('matchedReport','Matched',$index)">{{val['Matched Count']}}</a></td>
                            <td><a href="" ng-click="getRecords('unMatchedReport','Exception',$index)">{{val['UnMatched Count']}}</a></td>
                            <td><a href="" ng-click="getRecords('authorization','Authorization',$index)">{{val['Authorization_Count']}}</a>
                            </td>
                            <td><a href="" ng-click="getRecords('forceMatched','ForceMatched',$index)">{{val['Force_Matched_count']}}</a>
                            </td>
                            <td><a href="" ng-click="getRecords('reversalReport','reversalReport',$index)">{{val['Reversal Count']}}</a></td>
                            <td><a href="" ng-click="getRecords('matchedReport','carryForward',$index)">{{val['Carry-Forward Matched Count']}}</a></td>
                            <td><a href="" ng-click="getRecords('unMatchedReport','carryForward',$index)">{{val['Carry-Forward UnMatched Count']}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Force Match Show button-->
<div class="row" id="validation" ng-show="doForceMatch">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title text-center f-w-6">Force Match For {{activeRecon}}</h4>
                <button class="btn btn-sm btn-info"
                        ng-click="doForceMatch=false;initializeActiveRecon({'reconName': activeRecon})"><i
                        class="fa fa-angle-double-left">Go
                    Back</i></button>

                <form class="validation-wizard wizard-circle wizard clearfix" id="steps-uid-2">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <!--<li role="tab" class="first"-->
                            <!--ng-class="(present == 'Primary')?'current':''||(active['Primary'] == true)?'done':''"><a-->
                            <!--id="steps-uid-2-t-0" href="#steps-uid-2-h-0" aria-controls="steps-uid-2-p-0"><span-->
                            <!--class="current-info audible">current step: </span><span class="step">1</span>Primary Source Data</a>-->
                            <!--</li>-->

                            <li role="tab" class="disabled"
                                ng-class="(present == 'Secondary')?'current':''||(active['Secondary']== true)?'done':''"
                                ng-class="present == 'Secondary'?'current':''"><a id="steps-uid-2-t-1"
                                                                                  href="#"
                                                                                  aria-controls="steps-uid-2-p-1"><span
                                    class="step">1</span>Match Source Data</a></li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'Comments')?'current':''||(active['Comments']==true)?'done':''"
                            ><a id="steps-uid-2-t-2" href="#" aria-controls="steps-uid-2-p-2"><span
                                    class="step">2</span>Comments & Force Match</a></li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                        <!-- Step 1 -->
                        <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
                        <!--<section id="steps-uid-2-p-0" role="tabpanel" aria-labelledby="steps-uid-2-h-0"-->
                        <!--class="" ng-show="present == 'Primary'">-->
                        <!--<div class="card mx-auto">-->
                        <!--<div class="card-body">-->
                        <!--<div class="form-group row">-->
                        <!--<h4 class="m-l-10 m-r-5 f-w-6">Primary Source <i-->
                        <!--class="fa fa-angle-double-right m-l-10"></i></h4>-->
                        <!--<div ng-repeat="val in sources">-->
                        <!--&lt;!&ndash;<label for="{{val}}"> </la  bel>&ndash;&gt;-->
                        <!--<input type="radio" id="{{val}}" name="primary" value="{{val}}"-->
                        <!--ng-model="$parent.primarySource"-->
                        <!--ng-change="getPrimaryCols(primarySource)">-->
                        <!--<label for="{{val}}" class="m-r-30"><b>{{val}}</b></label>-->
                        <!--</div>-->

                        <!--<span>-->
                        <!--<label>Total Records: </label>{{primaryTotal}}-->
                        <!--</span>-->
                        <!--</div>-->

                        <!--<div class="form-group row">-->
                        <!--<div class="col-lg-10">-->
                        <!--<select chosen multiple list="allCols[primarySource]" max-selection="8"-->
                        <!--class="form-control col-lg-10"-->
                        <!--ng-model="primaryMatchColumns"-->
                        <!--ng-options="v as v.column for (k,v) in allCols[primarySource]">-->
                        <!--<option value=''>{{resources.select}}</option>-->
                        <!--</select>-->
                        <!--</div>-->

                        <!--<div class="col-lg-2">-->
                        <!--<label for="defaultForce"></label>-->
                        <!--<input type="checkbox" ng-model="setAsDefault" id="defaultForce">-->
                        <!--<label for="defaultForce">Set as default</label>-->
                        <!--<button class="btn btn-info btn-sm m-l-5"-->
                        <!--ng-click="getPrimaryData(primarySource,primaryMatchColumns,setAsDefault)">-->
                        <!--<span>Search</span>-->
                        <!--</button>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div id="myGrid2" style="width: 100%; height: 500px;"-->
                        <!--ag-grid="primaryGridOptions"-->
                        <!--class="ag-theme-fresh">-->
                        <!--</div>-->

                        <!--<div class="form-group row ml-auto">-->
                        <!--<label><b>Rows Selected</b></label>{{primarySelectedCount}}-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</section>-->
                        <!--&lt;!&ndash; Step 2 &ndash;&gt;-->
                        <!--<h6 id="steps-uid-2-h-1" tabindex="-1" class="title">Step 2</h6>-->
                        <section id="steps-uid-2-p-1" role="tabpanel" aria-labelledby="steps-uid-2-h-1" class="body"
                                 ng-show="present == 'Secondary'">
                            <div class="card">
                                <div class="card-body">
                                    <!--<div class="form-group row  col-lg-3">-->
                                    <!--<select class="form-control"-->
                                    <!--ng-options="val for val in otherSources"-->
                                    <!--ng-model="otherSrc" ng-change="getSecondaryData(otherSrc)">-->
                                    <!--<option value="">Select</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="form-group row">-->
                                    <!--<div class="col-lg-10">-->
                                    <!--<select chosen multiple list="allCols[otherSrc]" max-selection="8"-->
                                    <!--class="form-control col-lg-10"-->
                                    <!--ng-model="secondaryMatchColumns"-->
                                    <!--ng-options="v as v.column for (k,v) in allCols[otherSrc]">-->
                                    <!--<option value=''>{{resources.select}}</option>-->
                                    <!--</select>-->
                                    <!--</div>-->


                                    <!--<div class="col-lg-2">-->
                                    <!--<label for="defaultForce2"></label>-->
                                    <!--<input type="checkbox" ng-model="setAsDefault2" id="defaultForce2">-->
                                    <!--<label for="defaultForce2">Set as default</label>-->
                                    <!--<button class="btn btn-info btn-sm"-->
                                    <!--ng-click="searchRecords(setAsDefault2)">-->
                                    <!--<span>Discovery</span>-->
                                    <!--</button>-->
                                    <!--</div>-->

                                    <!--<div data-ng-if="showdiscovery == true">-->
                                    <!--<span class="m-l-20">-->
                                    <!--<span class="lstick"></span>-->
                                    <!--<i class="fa fa-run fa-lg fa-spinner fa-spin text-info"></i>-->
                                    <!--Searching For Records</span>-->
                                    <!--</div>-->
                                </div>
                                <div id="myGrid3" style="width: 100%; height: 500px;"
                                     ag-grid="matchGridOptions"
                                     class="ag-theme-fresh">
                                </div>
                            </div>
                        </section>

                        <!-- Step 3 -->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 2</h6>
                        <section id="steps-uid-2-p-2" role="tabpanel" aria-labelledby="steps-uid-2-h-2" class="body"
                                 aria-hidden="true" ng-show="present == 'Comments'">
                            <div class="card">
                                <div class="card-body">
                                    <!--<div class="form-group row col-lg-6">-->
                                    <!--<div ng-repeat="val in sources">-->
                                    <!--<button class="btn btn-sm m-r-10"-->
                                    <!--ng-class="(showSrc==val)?'btn-info':'btn-secondary'"-->
                                    <!--ng-click="expandSelectedSource(val)">{{val}}-->
                                    <!--</button>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div id="myGrid4" style="width: 100%; height: 500px;"
                                         ag-grid="finalGridOptions"
                                         class="ag-theme-fresh">
                                    </div>
                                    <div class="form-group row col-lg-12 m-t-20">
                                        <textarea class="form-bordered col-lg-6" placeholder="Comments"
                                                  ng-model="comments"></textarea>
                                        <button class="btn btn-info m-l-40" ng-show="operation=='rollBack'"
                                                ng-click="forceMatch(comments)">
                                            {{resources.rollBack}}
                                        </button>

                                        <button class="btn btn-info m-l-40" ng-show="operation=='forceMatch'"
                                                ng-click="forceMatch(comments)">
                                            {{resources.forceMatch}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                    </div>
                    <div class="row float-right m-r-20">
                        <button class="btn btn-info m-r-5" ng-disabled="present == 'Secondary'"
                                ng-click="previousStep(prev)" role="menuitem">Previous
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="nextStep(present)" ng-disabled="disableFlag"
                                ng-show="present!='Comments'">Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="getOldData">

    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title text-center f-w-6">Get Historical Data For {{activeRecon}}</h4>
                <div class="form-group">
                    <button class="btn btn-sm btn-info"
                            ng-click="getOldData=false;initializeActiveRecon({'reconName': activeRecon})"><i
                            class="fa fa-angle-double-left">Go
                        Back</i></button>
                </div>
                <!--<div class="row">-->
                <div class="input-group">
                    <!--<h6 class="from-group f-w-6"><span class="fa fa-caret-right m-r-10"></span>{{resources.statementDate}}-->
                    <h6 class="from-group f-w-6">{{resources.statementDate}}:
                    </h6>
                    <input type="date" class="form-control-sm" id="startDate" datetime="yyyy-MM-dd"
                           ng-model="prevParams.statementStartDate">

                    <!--<h6 class="from-group f-w-6"><span class="fa fa-caret-right m-r-10"></span>{{resources.statementDate}}-->
                    <h6 class=" f-w-6">{{resources.endDate}}:
                    </h6>
                    <input type="date" class="form-control-sm" id="endDate" datetime="yyyy-MM-dd"
                           ng-model="prevParams.statementEndDate">
                </div>

                <!--<div class="form-row ">-->
                <!--&lt;!&ndash;<h6 class="from-group f-w-6"><span class="fa fa-caret-right m-r-10"></span>{{resources.statementDate}}&ndash;&gt;-->
                <!--<h6 class="from-group f-w-6">{{resources.execstartDate}}:-->
                <!--</h6>-->
                <!--<input type="date" class="form-control-sm" id="execstartDate" datetime="yyyy-MM-dd"-->
                <!--ng-model="prevParams.executionStartDate">-->

                <!--&lt;!&ndash;<h6 class="from-group f-w-6"><span class="fa fa-caret-right m-r-10"></span>{{resources.statementDate}}&ndash;&gt;-->
                <!--<h6 class="from-group f-w-6">{{resources.execendDate}}:-->
                <!--</h6>-->
                <!--<input type="date" class="form-control-sm" id="execendDate" datetime="yyyy-MM-dd"-->
                <!--ng-model="prevParams.executionEndDate">-->
                <!--</div>-->

                <!--</div>-->
                <div>
                    <button class="btn btn-sm btn-info "
                            ng-click="queryHistoricalData(prevParams)"><i
                            class="fa fa-download ">
                        Download</i></button>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" id="downloadFiles" ng-show="downloadReports">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title text-center f-w-6">Download Reports For {{activeRecon}}</h4>

                <button class="btn btn-sm btn-info"
                        ng-click="downloadReports=false;doForceMatch=false;initializeActiveRecon({'reconName': activeRecon})">
                    <i
                            class="fa fa-angle-double-left">Go
                        Back</i></button>

                <div class="form-group m-b-20">
                    <!--<h6 class="from-group f-w-6"><span class="fa fa-caret-right m-r-10"></span>{{resources.statementDate}}-->
                    <h6 class="from-group f-w-6">{{resources.statementDate}}
                    </h6>
                    <input type="date" class="" id="downloaddate" datetime="yyyy-MM-dd"
                           ng-model="searchDate">
                </div>

                <div class="form-group">
                    <button ng-click="getStatementDateFilterReports()" type="submit" class="btn btn-secondary">
                        {{resources.getReports}}
                    </button>
                </div>

                <table tr-ng-grid='' order-by="initialSorting" class="table table-bordered table-striped table-hover"
                       enable-filtering="" enable-pagination="true" page-items="rowLimit"
                       selection-mode="None" total-items="totalItems"
                       items='downloadReportsDict'>
                    <thead class="thead">
                    <tr>
                        <th field-name="fileName" cell-width="20%">

                        </th>
                        <th field-name="Jobs" cell-width="15%" display-align="center"></th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr ng-form="" editable-form="" shown="newItem===gridItem">
                        <td field-name="Jobs">
                            <button type="button" ng-disabled="disableErrorButton($index)"
                                    ng-click="downloadFiles($index)"
                                    class="btn  btn-sm waves-effect waves-light btn-info" ng-disabled=""
                                    title="{{resources.downLoadFiles}}">
                                <i class="fa fa-download"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
