<div class="col-md-12 row">
    <div class="ml-auto">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ng-repeat="val in breadCrumblist"
                ng-click="changeView(val,$index)"><a
                    href="javascript:void(0)">{{val}}</a></li>
        </ol>
    </div>
</div>

<div class="row" ng-show="view">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="f-w-6"><span class="lstick" style="margin-left: -5px;"></span>{{resources.sources}}</h4>
                    <div class="ml-auto m-r-15">
                        <button class="btn btn-sm btn-info"
                                style="padding: 5px" title="{{resources.metaInfo}}"
                                ng-click="provideMetaInfo()"><i class="fa fa-cog"></i></button>

                        <button class="btn btn-sm btn-info ml-auto"
                                style="padding: 5px" title="{{resources.referenceSource}}"
                                ng-click="provideReference()"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead">
                        <tr>
                            <th>{{resources.recon}}</th>
                            <th>{{resources.source}}</th>
                            <th>{{resources.structure}}</th>
                            <th>{{resources.order}}</th>
                            <th>{{resources.action}}</th>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="reconDetails">
                        <tr ng-repeat="source in reconDetails track by $index">
                            <td>{{source['reconName']}}</td>
                            <td>{{source['source']}}</td>
                            <td>{{source['struct']}}</td>
                            <td>{{$index+1}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="editTemplate(source)"><i
                                        class="fa fa-edit fa-lg align-middle m-r-10" title="{{resources.edit}}"></i></a>

                                <button class="btn btn-info btn-sm" ng-click="uploadSourceFile(source)"><i
                                        class="fa fa-upload m-r-10" title="upload"></i>{{resources.sampleFile}}
                                </button>

                                <button class="btn btn-info btn-sm" ng-if="source['referenceSource']"
                                        ng-click="deleteReference(source)"><i
                                        class="fa fa-trash" title="Delete"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <button type="button" class="btn btn-info btn-s"
                                ng-click="saveRecon(reconDetails)" title="{{resources.save}}"><i class="fa fa-save"></i>
                            {{resources.save}}
                        </button>
                        <button type="button" ng-click="cancelMarket()" title="{{resources.cancel}}"
                                class="btn btn-outline-inverse">
                            {{resources.cancel}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="view">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <ul class="nav nav-tabs customtab col-md-12 col-lg-12 col-sm-12" role="tablist">
                        <li class="nav-item" ng-repeat="template in wizardTemplates">
                            <a class=""
                               ng-class="template.wizardIdx == currentTemp['wizardIdx'] ? 'nav-link active' : 'nav-link'"
                               href="#" data-toggle="tab" role="tab" aria-selected=""
                               ng-click="nextWizard(template.template)">
                                <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                <span class="hidden-xs-down">{{template.title}}</span></a>
                        </li>
                        <div class="ml-auto">
                            <button type="button" class="btn btn-info btn-s"
                                    ng-click="saveSrcReference(feedDef['mappedColumns'])">
                                <i class="fa fa-save"></i>{{resources.save}}
                            </button>
                        </div>
                    </ul>
                </div>

                <div class="tab-content min-card-pane-01">
                    <div class="" ng-class="(wizards=='structure')?'tab-pane active show':'tab-pane'"
                         id='structure'
                         role="tabpanel">
                        <div class="card ">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <label class="col-md-2" for="filePattern">{{resources.filePattern}}</label>
                                            <input type="text" class="form-control col-md-4" id="filePattern"
                                                   placeholder="Source Pattern"
                                                   ng-model="feedDef.filePattern">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2" for="loadType">{{resources.loadType}}</label>
                                            <select id="loadType" class="form-control col-md-4"
                                                    ng-model="feedDef.loadType" ng-options="val for val in loadTypes">
                                                <option value="">Choose...</option>
                                            </select>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2" for="skipheader">{{resources.skipHeader}}</label>
                                            <input type="number" class="form-control  col-md-4" id="skipheader"
                                                   placeholder="Skip Header"
                                                   ng-model="feedDef.skiprows">
                                        </div>

                                        <div class="form-group row" ng-hide="feedDef.loadType == 'HTML'">
                                            <label class="col-md-2" for="skipfooter">{{resources.skipFooter}}</label>
                                            <input type="number" class="form-control col-md-4" id="skipfooter"
                                                   placeholder="Skip Footer"
                                                   ng-model="feedDef.skipfooter">
                                        </div>

                                        <div class="form-group row" ng-show="feedDef.loadType == 'HTML'">
                                            <label class="col-md-2" for="parseIndex">{{resources.parseIndex}}</label>
                                            <input type="number" class="form-control col-md-4" id="parseIndex"
                                                   placeholder="Parse Index"
                                                   ng-model="feedDef.parseIndex">
                                        </div>

                                    </div>

                                    <div class="form-group row" ng-show="feedDef.loadType == 'CSV'">
                                        <label class="col-md-2" for="delimiter">{{resources.delimeter}}</label>
                                        <select id="delimiter" class="form-control col-md-4"
                                                ng-model="feedDef.delimiter"
                                                ng-disabled="feedDef.loadType != 'CSV'"
                                                ng-options="v as k for (k,v) in delimeters">
                                            <option value="">{{resources.select}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group row" ng-show="feedDef.loadType == 'SFMSMultiSheet'">
                                        <label class="col-md-2" for="headerKey">{{resources.headerKey}}</label>
                                        <input type="text" class="form-control col-md-4" id="headerKey"
                                               placeholder="Header Key"
                                               ng-model="feedDef.columnNames">
                                    </div>

                                    <div class="form-group row" ng-show="feedDef.loadType == 'XMLLoader'">
                                        <label class="col-md-2" for="xmlLoader">{{resources.query}}</label>
                                        <input type="text" class="form-control col-md-4" id="xmlLoader"
                                               placeholder="Query"
                                               ng-model="feedDef.query">
                                    </div>

                                    <div class="form-group row" ng-show="feedDef.loadType == 'SFMSMultiSheet'">
                                        <label class="col-md-2" for="footerKey">{{resources.footerKey}}</label>
                                        <input type="text" class="form-control col-md-4" id="footerKey"
                                               placeholder="Footer Key"
                                               ng-model="feedDef.FooterKey">
                                    </div>

                                    <div class="form-group row" ng-show="feedDef.loadType == 'Excel'">
                                        <label class="col-md-2" for="sheetName">{{resources.excelSheets}}</label>
                                        <input type="text" class="form-control col-md-4" id="sheetName"
                                               placeholder="Sheet 1, Sheet 2..."
                                               ng-model="feedDef.sheetNames">
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2" for="sheetName">{{resources.timeDelta}}</label>
                                        <input type="text" class="form-control col-md-4" id="timeDelta"
                                               ng-model="feedDef.timeDelta">
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2" for="raiseError"> </label>
                                        <input type="checkbox" id="raiseError" ng-model="feeDef.raiseError">
                                        <label for="raiseError">{{resources.raiseError}}</label>

                                        <label class="col-md-2" for="preLoadScript"> </label>
                                        <input type="checkbox" id="preLoadScript" ng-model="preLoadScript">
                                        <label for="preLoadScript">{{resources.preLoadScript}}</label>
                                    </div>

                                    <div class="form-group row" ng-if="preLoadScript">
                                        <label class="col-md-2" for="sheetName"></label>
                                        <input class="form-control col-md-4" ng-model="feedDef.preLoadScript"
                                               type="text" placeholder="PreLoad Script Name">
                                    </div>
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class=""
                         ng-class="(wizards=='filters')?'tab-pane min-card-pane-01 active show ':'tab-pane min-card-pane-01'"
                         id='filters'
                         role="tabpanel">
                        <div class="row col-lg-12 m-t-20 m-b-10 m-l-5">
                            <button class="btn btn-info btn-sm m-r-10"
                                    ng-click="uploadFilters()" title="{{resources.upload}}">
                                <i class="fa fa-upload m-r-5"></i>Filter File
                            </button>

                            <button class="btn btn-info btn-sm m-r-10" title="Upload" ng-click="loadFile()"><i
                                    class="fa fa-upload m-r-5"></i>Load File
                            </button>

                            <!--<button class="btn btn-info btn-sm m-r-10" title="Upload" ng-click="filterDefine=true"><i-->
                            <!--class="fa fa-plus m-r-5"></i>Define Filter</button>-->

                            <!--<button class="btn btn-info btn-s"-->
                            <!--ng-click="downloadFilters()" title="{{resources.download}}">-->
                            <!--<i class="fa fa-download m-r-5"></i>{{resources.download}}-->
                            <!--</button>-->

                        </div>
                        <form class="form-horizontal form-material">
                            <div class="table-responsive" ng-show="filterlength!=0">
                                <table class="table table-bordered table-striped ">
                                    <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>{{resources.filter}}</th>
                                        <th>{{resources.action}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="template in feedDef.filters track by $index">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <span ng-show="!editfilter">{{template}}</span>
                                            <input type="text" class="form-control" ng-model="template"
                                                   ng-show="editfilter"/>

                                        </td>


                                        <td>
                                            <a href="#" ng-show="!editfilter" data-toggle="tooltip"
                                               title="{{resources.remove}}">
                                                <i class="fa fa-pencil info m-r-10"
                                                   ng-click="editfilter=!editfilter"></i>
                                            </a>

                                            <a href="#" ng-show="editfilter" data-toggle="tooltip"
                                               title="{{resources.remove}}">
                                                <i class="fa fa-save info m-r-10"
                                                   ng-click="saveFilter($index,template);editfilter=!editfilter"></i>
                                            </a>

                                            <a href="#" data-toggle="tooltip" title="{{resources.remove}}">
                                                <i class="fa fa-trash info m-r-10"
                                                   ng-click="deleteFilter($index)"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group row m-t-20 m-l-10" ng-show="!closeData">
                                <!--<label class="col-lg-1"><h4>Upload File</h4></label>-->
                                <!--<div class="col-sm-4 col-md-4 col-lg-4">-->
                                <!--<input class="form-control m-r-10" type="file"-->
                                <!--file-model="uploadFile" accept=".csv,.jpg,.png"/>-->
                                <!--</div>-->
                                <!--<button class="btn btn-info" title="Upload" ng-click="uploadSourceFile()"><i-->
                                <!--class="fa fa-upload"></i></button>-->


                                <button class="btn btn-info btn-sm m-r-10 m-l-10" title="Apply"
                                        ng-click="addFilter()"><i
                                        class="fa fa-filter m-r-5"></i>Filter
                                </button>
                                <button class="btn btn-info btn-sm m-r-10" title="Apply"
                                        ng-click="addDeriveColumn()">
                                    <i class="fa fa-filter m-r-5"></i>Derive Column
                                </button>

                                <button class="btn btn-info btn-sm m-r-20" title="Apply"
                                        ng-click="setValueToNewColumn()">
                                    <i class="fa fa-plus m-r-5"></i>Set Value
                                </button>

                                <button class="btn btn-info m-l-10" title="Apply"
                                        ng-click="skipRowFunction()"><i
                                        class="fa fa-filter m-r-5"></i>Skip
                                </button>

                                <!--<button class="btn btn-info btn-sm ml-auto m-r-10" title="Apply"-->
                                <!--ng-click="viewProperties(sourceName)">-->
                                <!--<i class="fa fa-eye m-r-5"></i>Properties-->
                                <!--</button>-->

                                <button class="btn btn-info btn-sm m-r-20" title="Apply"
                                        ng-click="closeFileData()">
                                    <i class="fa fa-remove m-r-5"></i>Add
                                </button>

                                <div id="myGrid1" style="width: 100%; height: 500px;" ng-show="!closeData"
                                     ag-grid="gridOptions"
                                     class="ag-theme-fresh m-r-10 m-l-10 m-t-20">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class=""
                         ng-class="(wizards=='columnMapping')?'tab-pane min-card-pane-01 active show':'tab-pane min-card-pane-01'"
                         id='columnMapping'
                         role="tabpanel">
                        <div class="form-horizontal m-t-20">
                            <div class="">
                                <table class="table table-bordered table-striped">
                                    <thead class="thead">
                                    <tr>
                                        <th>{{resources.columnName}}</th>
                                        <th>{{resources.columnType}}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key,val) in feedDef['mappedColumns'] track by $index">
                                        <td>{{val.keyCols}}</td>
                                        <td>{{val.DataType}}</td>

                                        <td>
                                            <div class="">
                                                <select chosen list="fileColumns" class="form-control"
                                                        ng-model="val.mappedColumn"
                                                        ng-options="v for v in fileColumns">
                                                    <option value=''>{{resources.select}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--<div class="" ng-class="(wizards=='ReportcolumnMapping')?'tab-pane min-card-pane-01 active show':'tab-pane min-card-pane-01'"-->
                    <!--id='ReportcolumnMapping'-->
                    <!--role="tabpanel">-->
                    <!--<div class="form-horizontal m-t-20">-->
                    <!--<div class="">-->
                    <!--<table class="table table-bordered table-striped">-->
                    <!--<thead class="thead">-->
                    <!--<tr>-->
                    <!--<th>{{resources.columnName}}</th>-->
                    <!--<th>{{resources.mappingColumn}}</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="val in summaryCols track by $index">-->
                    <!--<td>{{val.keyCol}}</td>-->
                    <!--<td>-->
                    <!--<div class="">-->
                    <!--<select class="form-control"-->
                    <!--ng-model="val.mappedColumn"-->
                    <!--ng-options="v for v in fileColumns">-->
                    <!--<option value=''>{{resources.select}}</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div class="" ng-show="val['selOption']=='multiSelect'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-lg-8" isteven-multi-select&ndash;&gt;-->
                    <!--&lt;!&ndash;input-model="reportMapCols[val['keyCol']]"&ndash;&gt;-->
                    <!--&lt;!&ndash;output-model="selectedReportColumns[val['keyCol']]"&ndash;&gt;-->
                    <!--&lt;!&ndash;button-label="icon name"&ndash;&gt;-->
                    <!--&lt;!&ndash;item-label="icon name maker"&ndash;&gt;-->
                    <!--&lt;!&ndash;max-height = "150px"&ndash;&gt;-->
                    <!--&lt;!&ndash;tick-property="ticked">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                    <!--</table>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class=""
                         ng-class="(wizards=='feedDef')?'tab-pane min-card-pane-01 active show':'tab-pane min-card-pane-01'"
                         id='feedDef'
                         role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row col-lg-12 col-md-12 col-sm-12 m-b-20">
                                            <button class="btn btn-info btn-s m-r-10"
                                                    ng-click="uploadSrcTemplate()" title="{{resources.upload}}">
                                                <i class="fa fa-upload m-r-5"></i>{{resources.upload}}
                                            </button>

                                            <button class="btn btn-info btn-s"
                                                    ng-click="downloadSource(feedDef)" title="{{resources.download}}">
                                                <i class="fa fa-download m-r-5"></i>{{resources.download}}
                                            </button>
                                            <div class="ml-auto">
                                                <input type="text" class="form-control" placeholder="Search Columns"
                                                       ng-model="filterRows">
                                            </div>

                                        </div>

                                        <form class="form-horizontal form-material">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="thead">
                                                    <tr>
                                                        <th style="width: 22%">{{resources.fileColumn}}</th>
                                                        <th style="width: 22%">{{resources.columnType}}</th>
                                                        <th style="width: 22%">{{resources.datePattern}}</th>
                                                        <th style="width: 8%">{{resources.from}}</th>
                                                        <th style="width: 8%">{{resources.to}}</th>
                                                        <th style="width: 8%">{{resources.required}}</th>
                                                        <th style="width: 10%">{{resources.actions}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="(key,val) in feedDetails | filter:filterRows track by $index">
                                                        <td>
                                                            <span ng-hide="editColumns">{{val.fileColumn}}</span>
                                                            <input type="text" ng-show="editColumns"
                                                                   class="form-control" ng-model="val.fileColumn">
                                                        </td>
                                                        <td>
                                                            <span ng-hide="editColumns">{{val.dataType}}</span>
                                                            <select ng-show="editColumns" class="form-control"
                                                                    ng-model="val.dataType"
                                                                    ng-options="v for v in dataTypes">
                                                            </select>
                                                        </td>

                                                        <td>
                                                            <span ng-hide="editColumns">{{val.datePattern}}</span>
                                                            <input ng-show="editColumns" type="text"
                                                                   class="form-control" ng-model="val.datePattern">
                                                        </td>

                                                        <td>
                                                            <span ng-hide="editColumns">{{val.from}}</span>
                                                            <input type="number" ng-show="editColumns"
                                                                   class="form-control" ng-model="val.from">
                                                        </td>

                                                        <td>
                                                            <span ng-hide="editColumns">{{val.to}}</span>
                                                            <input type="number" ng-show="editColumns"
                                                                   class="form-control" ng-model="val.to">
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" id="{{$index}}"
                                                                   class="form-control"
                                                                   ng-change="updateScope(feedDetails)"
                                                                   ng-model="val.required">
                                                            <label for="{{$index}}"></label>
                                                        </td>
                                                        <td>
                                                            <a href="#" data-toggle="tooltip" id="eColumns"
                                                               title="{{resources.edit}}">
                                                                <i class="fa fa-pencil info m-r-10"
                                                                   ng-hide="editColumns"
                                                                   ng-click="editColumns=!editColumns"></i>
                                                            </a>

                                                            <a href="#" data-toggle="tooltip" id="eColumns1"
                                                               title="resources.save">
                                                                <i class="fa fa-save info m-r-10"
                                                                   ng-show="editColumns"
                                                                   ng-click="saveColumn($index,val);editColumns=!editColumns"></i>
                                                            </a>

                                                            <a href="#" data-toggle="tooltip" title="remove">
                                                                <i class="fa fa-trash info m-r-10"
                                                                   ng-click="deleteColumns($index)"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>


<script type="text/ng-template" id="upload.html">
    <div class="modal-header">
        <h4 class="card-title">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-lg-2" style="margin-top: 10px;margin-right:10px;">
                <form>
                    <div class="form-row">
                        <input type="file" file-model="uploadFile" accept=".csv,.jpg,.png"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" ng-click="upload()">{{resources.upload}}</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="refrenceSource.html">
    <div class="modal-header">
        <h4 class="card-title"><b>{{resources.referenceSource}}</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-group row">
                <label for="sourceName" class="col-sm-4 col-md-4 col-lg-4 text-right">{{resources.sourceName}}:</label>
                <input type="text" id="sourceName" class="form-control col-sm-6 col-md-6 col-lg-6"
                       ng-model="ref.sourceName" placeholder="sourceName">
            </div>

            <div class="form-group row">
                <label for="structName"
                       class="col-sm-4 col-md-4 col-lg-4 text-right">{{resources.structureName}}:</label>
                <input type="text" id="structName" class="form-control col-sm-6 col-md-6 col-lg-6"
                       ng-model="ref.structName" placeholder="structure Name">
            </div>

            <div class="form-group row">
                <label for="structName"
                       class="col-sm-4 col-md-4 col-lg-4 text-right"></label>
                <label for="static"> </label>
                <input type="checkbox" id="static" ng-model="ref.static">
                <label for="static">{{resources.static}}</label></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">
                {{resources.cancel}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="submit(ref)">{{resources.save}}</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="sheetName.html">
    <div class="modal-header">
        <h4 class="card-title"><b>{{resources.referenceSource}}</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-group row">
                <label for="structName"
                       class="col-sm-4 col-md-4 col-lg-4 text-right">{{resources.structureName}}:</label>
                <select id="sheetName1" class="form-control col-md-4"
                        ng-model="sheetName" ng-options="val for val in sheetNames">
                    <option value="">Choose...</option>
                </select>
                <label class="col-md-2" for="allSheets"> </label>
                <input type="checkbox" id="allSheets" ng-model="sheetName">
                <label for="allSheets">{{resources.allSheets}}</label>
            </div>

            <div class="form-group row">

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">
                {{resources.cancel}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="submit(sheetName)">Load</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="setValue.html">
    <div class="modal-header">
        <h4 class="card-title"><b>{{resources.setValue}}</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-group row">
                <label for="newColumnSet"
                       class="col-sm-4 col-md-4 col-lg-4 text-left">{{resources.columnName}}:</label>
                <input type="text" id='newColumnSet' ng-model="newColumn"
                       placeholder="Column Name" class="form-control col-sm-6 col-md-6 col-lg-6">
            </div>
            <div class="form-group row">
                <label for="valueSets"
                       class="col-sm-4 col-md-4 col-lg-4 text-left">{{resources.value}}:</label>
                <input type="text" id="valueSets" ng-model="valueSet" placeholder="Value"
                       class="form-control col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">
                {{resources.cancel}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="setValue()">Load</button>
        </div>
    </div>
</script>