<!--<div class="">-->
<div class="card m-t-30">
    <div class="card-body">
        <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.userDetails}}</h4>
        <div class="dataTables_length">
            <label>Show <select ng-options="val as val for val in displayCount" ng-change="getUserDetails()"
                                ng-model="rowLimit">
            </select> entries</label>

        </div>
        <table tr-ng-grid="" order-by="initialSorting" class="table table-bordered table-striped table-hover"
               enable-filtering="false" enable-pagination="true" page-items="rowLimit"
               enable-sorting = "true"
               selection-mode="None" items="userDetails" total-items="totalItems"
               on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
            <thead>
            <tr>

                <th field-name="userName" display-name="Name" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="role" display-name="Role" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="email" display-name="Email" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="preveliges" display-name="Privileges" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="ApprovalStatus" display-name="Approval Status" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="edit" display-name="Actions" enable-filtering="true"
                    enable-sorting="false"
                    display-align="center"></th>

            </tr>
            </thead>
            <tbody>
            <tr ng-form="" editable-form="" name="rowform" shown="newItem===gridItem">


                <td field-name="role">
                            <span editable-select="gridItem.role" e-ng-options="item for item in roles"
                                  e-name="gridItem.role"
                                  e-form="rowform">
                                {{gridItem.role}}
                            </span>
                </td>

                <td field-name="preveliges">
                            <span editable-select="gridItem.preveliges" e-ng-options="item for item in previleges"
                                  e-name="gridItem.previleges" e-form="rowform">
                                {{gridItem.preveliges}}
                            </span>
                </td>

                <td field-name="ApprovalStatus">
                            <span editable-select="gridItem.ApprovalStatus" e-ng-options="item for item in approveList"
                                  e-name="gridItem.ApprovalStatus" e-form="rowform">
                                                    {{gridItem.ApprovalStatus}}
                                                </span>
                </td>

                <td field-name="edit">
                    <div ng-show="rowform.$visible" class="btn-group">
                        <button type="button" ng-disabled="rowform.$waiting"
                                class="btn btn-sm waves-effect waves-light btn-info"
                                ng-click="rowform.$submit();saveUserDeatils(gridItem)" title="{{resources.save}}">
                            <i class="fa fa-save"></i>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-sm  waves-effect waves-light btn-info" title="{{resources.cancel}}">
                            <i class="fa fa-ban"></i>
                        </button>
                        <button ng-disabled="!gridItem['accountLocked']"
                                class="btn btn-sm waves-effect waves-light btn-info"
                                ng-click="setUnlock(gridItem)" title="{{resources.unlock}}">
                            <i class="fa fa-unlock-alt"></i>
                        </button>
                    </div>

                    <div class="btn-group" ng-show="!rowform.$visible">
                        <button class="btn btn-sm waves-effect waves-light btn-info" title="{{resources.edit}}"
                                ng-click="editUserDetails($index)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-sm waves-effect waves-light btn-info"
                                ng-click="removeUser(gridItem)" title="{{resources.delete}}">
                            <i class="fa fa-trash"></i>
                        </button>

                        <button ng-disabled="!gridItem['accountLocked']"
                                class="btn btn-sm waves-effect waves-light btn-info"
                                ng-click="setUnlock(gridItem)" title="{{resources.unlock}}">
                            <i class="fa fa-unlock-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>

<script type="text/ng-template" id="editUser.html">
    <div class="modal-header">
        <h4 class="card-title"><i><b>{{resources.editUser}}</b></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="Select1" class="f-w-4"><b>{{resources.user}}</b></label>
                    <input type="text" id="Select1" ng-disabled="true" class="form-control form-control-select"
                           ng-model="editUser.userName">
                </div>

                <div class="col-lg-6">
                    <label for="Select3" class="f-w-4"><b>{{resources.email}}</b></label>
                    <input type="text" id="Select3" ng-disabled="true" class="form-control form-control-select"
                           ng-model="editUser.email">
                </div>

            </div>

            <div class="form-group row">
                <div class="col-lg-4">
                    <label for="Select2" class="f-w-4"><b>{{resources.role}}</b></label>
                    <select id="Select2" class="form-control" ng-options="val as val for val in roles"
                            ng-model="editUser.role">
                        <option value="">Select</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <label for="Select2" class="f-w-4"><b>{{resources.privileges}}</b></label>
                    <select id="Select2" class="form-control" ng-options="val as val for val in previleges"
                            ng-model="editUser.preveliges">
                        <option value="">Select</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <label for="checkbox" class="f-w-4"><b>{{resources.approval}}</b></label>
                    <select id="checkbox" class="form-control"
                            ng-options="val as val for val in approvalOptions" ng-model="editUser.ApprovalStatus">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">{{resources.cancel}}
        </button>
        <button type="button" class="btn btn-primary" ng-click="submit(editUser)">{{resources.submit}}</button>
    </div>
</script>
