.side-mini-panel ul.mini-nav li.selected > a, .side-mini-panel ul.mini-nav li .sidebarmenu {
    /*background: #333942;*/
    background: #69788e;
}

.sidebar-menu > li > a {
    color: #ffffff;
}

.sidebar-menu .sub-menu > li > a {
    color: #eaf2ff;
    padding: 8px 30px;
}

.sidebar-menu > li > a:hover, .sidebar-menu > li.active > a,
.sidebar-menu .sub-menu > li > a:hover, .sidebar-menu .sub-menu > li > a.active {
    color: #95d8f9;
}

.sidebar-menu > li.active > a, .sidebar-menu > li > a:active {
    /*background: #3c4c60;*/
}

.sidebar-menu .sub-menu > li.active > a {
    /*background: #535f70;*/
}

.togglediv #togglebtn i {
    color: #fff;
}

.right-sidebar {
    z-index: 9;
}

.preview-overlay-container {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-market {
    margin-left: 30px;
    margin-right: 25px;
}

.full-pane {
    width: 100%;
}

.card-no-border .db-card, .db-card {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.db-card .card-body {
    padding: 1rem;

}

.sm-grid.row {
    margin-left: -6px;
    margin-right: -6px;
}

.sm-grid [class^="col-"] {
    padding-left: 6px;
    padding-right: 6px;
}

table.table.table-noBordered, .table.table-noBordered > tbody > tr > td {
    border: 0;
    border-width: 0;
}

.table > tbody > tr.top-0 > td {
    padding-top: 0;
}

.table > tbody > tr.bottom-0 > td {
    padding-bottom: 0;
}

table.table.table-bordered tr {
    /*border: 1px solid #f5f5f5;*/
}

table.table.table-bordered th, table.table.table-bordered td {
    border: 0;
    padding: 8px;
    border-style: solid;
    border-width: 1px 1px 1px 1px !important;
    border-color: #f5f5f5;
}

table.table.table-bordered thead th, .tr-ng-grid > thead > tr > th {
    border-style: solid;
    border-width: 0px 0px 1px 0px !important;
    cursor: pointer;
    font-weight: 500;
    height: 28px;
    line-height: 18px;
    position: relative;
    text-align: left;
    vertical-align: top;
    /*background-color: transparent;*/
    color: #026ccf !important;
    padding-right: 18px;
    white-space: nowrap;
}

table.table.table-bordered .highlightRow td {
    background: rgba(255, 0, 0, 0.31) !important;
}

table.table.table-bordered td {
    /*padding: 6px;*/
    height: 22px !important;
    line-height: 22px;
    background: transparent !important;
}

table.table.table-bordered tr {
    height: 22px !important;
}

table.table.table-bordered tr.cwRowSelect {
    background: #E7D8B4;
    padding: 8px;
}

table.table.table-bordered tr.disableRow {
    background: #7A7F79;
    opacity: 0.4;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: #f5f5f5;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #FFF
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #F6F6F6
}

table tr th .glyphicon-chevron-down:before, table tr th .glyphicon-chevron-up:before {
    content: normal;
}

.tr-ng-grid > thead > tr > th.text-left {
    text-align: left;
}

.tr-ng-grid > thead > tr > th.text-right {
    text-align: right;
}

.tr-ng-grid .tr-ng-column-header .tr-ng-title {
    padding-top: 0;
    padding-right: 0px;
}

.tr-ng-grid .tr-ng-sort .tr-ng-sort-active, .tr-ng-grid .tr-ng-sort .tr-ng-sort-inactive {
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.right-toggle-btn {
    font-size: 24px;
    right: 223px;
    top: 56px;
    position: fixed;
    padding: 8px;
    border-radius: 30px;
    z-index: 10;
}

.right-toggle-btn.open {
    right: 10px;
}

.right-toggle-btn .fa {
    float: left;
    line-height: 18px;
}

.right-sidebar.collapsed {
    width: 28px;
}

.f-w-4 {
    font-weight: 400;
}

.f-w-5 {
    font-weight: 500;
}

.f-w-6 {
    font-weight: 600;
}

.anyClass {
    height: 500px;
    width: auto;
    overflow-y: auto;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0px;
}

.login-custom-box.card {
    width: 400px;
    top: 0%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

/*!* green theme *!*/
/*.topbar .navbar-header {*/
/*background: #56844A;*/
/*}*/
/*.side-mini-panel {*/
/*background: #426D56;*/
/*}*/
/*.side-mini-panel ul.mini-nav li.selected > a, .side-mini-panel ul.mini-nav li .sidebarmenu {*/
/*background: #85b28e;*/
/*}*/
/*.side-mini-panel ul.mini-nav > li > a i {*/
/*color: #FFFFFF;*/
/*}*/
/*.sidebar-menu > li > a:hover, .sidebar-menu > li.active > a,*/
/*.sidebar-menu .sub-menu > li > a:hover, .sidebar-menu .sub-menu > li > a.active {*/
/*background: transparent;*/
/*color: #e3fcf2;*/
/*text-shadow: 0 3px 4px rgba(0,0,0,0.3);*/
/*}*/
/*!* green theme ends here *!*/
.min-card-pane-01 {
    min-height: calc(100vh - 230px);
}

.min-card-pane-02 {
    min-height: calc(100vh - 180px);
}

.card-no-border .card.card-border, .card.card-border {
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 10px;
}

.select.angular-chosen {
    display: block !important;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 29px;
}

.border-red {
    border: 1px solid red;
}

.table-responsive {
    overflow-x: hidden;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 3px 2px 0 8px;
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 3px;
    /* background-color: #fff; */
    background: none;
    /* background: -webkit-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%); */
    background: -moz-linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    /* background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%); */
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, .1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

.form-control {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 3px 2px 0 8px;
    height: 28px;
    border: 1px solid #aaa;
    border-radius: 3px;
    /* background-color: #fff; */
    background: #FFFFFF;
    /* background: -webkit-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%); */
    /*background: -moz-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);*/
    /*background: -o-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);*/
    /* background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%); */
    /*background-clip: padding-box;*/
    /*box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);*/
    /*color: #444;*/
    /*text-decoration: none;*/
    white-space: nowrap;
    min-height: 24px;
    line-height: 24px;
}

.login-box .form-control, .login-custom-box .form-control {
    min-height: 34px;
}

.form-control-sm {}

.thead {
    background: #eaeaea;
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 600px;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.myadmin-dd .dd-list .dd-item .dd-handle {
    background: #ffffff;
    border: 1px solid rgba(120, 130, 140, 0.13);
    padding: 8px 16px;
    height: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border-radius: 0;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-list .dd-list {
    padding-left: 30px;
}
.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}
.form-group-filter{
    margin-bottom: 0px;
    height: 35px;
}
.pad-0 {
   padding: 0;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    width: auto;
    height: 40px;
}
.text-left-center {
    text-align: center!important;
}
.menu-title {
padding: 6px 26px 6px 16px;
}
.togglediv {
left: 250px;
}

.tr-ng-grid-footer.form-inline [ng-switch-default] {
    flex: auto;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: -1px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #FFFFFF;
}
.form-control-select {
    height: 34px;
}
