<!DOCTYPE html>
<html lang="en" data-ng-app="webApp">
<head>
    <meta charset="utf-8">
    <title>ERECON</title>
    <link rel="shortcut icon" type="image/png" href="/img/algo.png">
    <!--<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- IE Non-sense, recomended by bootstrap -->

    <link href="/app/css/select2.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/metro.css" rel="stylesheet">
    <link href="/css/metro-icons.css" rel="stylesheet">

    <link href="/css/metro-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/app/css/app.css" rel="stylesheet">
    <link href="/app/css/webapp.css" rel="stylesheet">
    <link href="/css/jquery.treeview.css" rel="stylesheet">
    <link href="/css/screen.css" rel="stylesheet">
    <link href="/css/jquery.contextMenu.css" rel="stylesheet">

    <!--<link href="/js/fullcalendar/fullcalendar.min.css" rel="stylesheet">-->
    <link href="/css/ist-even.css" rel="stylesheet">
    <link href="/css/toastr.min.css" rel="stylesheet">
    <link href="/app/css/main.css" rel="stylesheet">
    <link href="/js/fullcalendar/fullcalendar.min.css" rel="stylesheet">
    <link href="/css/scrollable-table.css" rel="stylesheet">
    <!--<link href="/js/fullcalendar/fullcalendar.print.css" rel="stylesheet">-->
    <!--[if IE 7]>
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.css">-->
    <!--<![endif]&ndash;&gt;-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/ng-template" id="showSuccessMsg.html">
        <div class="modal-header">
            <span class="icon-sign">
            </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
            <h4>Success</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-success">
                <span class="icon-sign"></span>
                <span class="alertContent">{{bindMsg}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="cancel()">Ok</button>
        </div>
    </script>
    <script type="text/ng-template" id="showAlertMsg.html">
        <div class="modal-header">
            <span class="icon-sign">
            </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
            <!--<h4>Success</h4>-->
        </div>
        <div class="modal-body">
            <div class="alert alert-warning">
                <span class="icon-sign"></span>
                <span class="alertContent">{{bindMsg}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="cancel()">Ok</button>
        </div>
    </script>
    <script type="text/ng-template" id="showErrormsg.html">
        <div class="modal-header">
            <span class="icon-sign">
            </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
            <h4>Error</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                <span class="icon-sign"></span>
                <span class="alertContent">{{bindMsg}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="cancel()">Ok</button>
        </div>
    </script>

    <script type="text/ng-template" id="warning-dialog.html">
        <div class="modal-header">
            <h3>You're Idle. Going to logout!</h3>
        </div>
        <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
            <progressbar max="5" value="5" animate="false" class="progress-striped active">You'll be logged out in
                {{countdown}} second(s).
            </progressbar>
        </div>

    </script>
    <script type="text/ng-template" id="timedout-dialog.html">
        <div class="modal-header">
            <h3>You've Timed Out!</h3>
        </div>
        <div class="modal-body">
            <p>
                You were idle too long. Logged out successfully.
            </p>
        </div>
    </script>

    <script type="text/ng-template" id="modalLoadingView.html">
        <form class='cwModalPopUp'>
            <div class="modal-body loader">
                <i class="loadSpin fa-spin"></i>
                <h4 ng-hide="customeLoadingMsg">Loading... </h4>
                <h5 ng-show="customeLoadingMsg">{{customeLoadingMsg}}</h5>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="handleErrorMessagesPopup.html">
        <div class="modal-body">
            <form class='cwModalPopUp'>
                <span class="icon-sign"></span><a ng-click="cancel()" data-dismiss="alert" class="close">x</a><span
                    class="alertContent"> {{handleError}}</span>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="cancel()">Ok</button>
        </div>
    </script>
    <script type="text/ng-template" id="showPassword.html">
        <div class="modal-header  ng-scope">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
            <h4 class="modal-title">Change Password</h4>
        </div>

        <form class="form-horizontal" role="form" name="addEditForm">
            <div class="modal-body">

                <fieldset>
                    <!--begin password mismatch-->
                    <div class="form-group"
                         ng-class="{ 'has-error': addEditForm.upw1.$dirty && addEditForm.upw1.$invalid }">
                        <label for="upw1" class="col-sm-4 col-lg-4 control-label">Old Password :</label>

                        <div class="col-sm-8 col-lg-8">
                            <input type="password" class="form-control" ng-minlength="6"
                                   placeholder="Password" required ng-model="userData.oldpassword">

                            <p class="help-block"
                               ng-if="usersOptionsaddEditForm.upw1.$dirty && addEditForm.upw1.$invalid">Password is
                                required (min 6 chars)</p>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': addEditForm.upw1.$dirty && addEditForm.upw1.$invalid }">
                        <label for="upw1" class="col-sm-4 col-lg-4 control-label">Password :</label>

                        <div class="col-sm-8 col-lg-8">
                            <input type="password" class="form-control" id="upw1" name="upw1"
                                   ng-change="analyze(userData.password)"
                                   placeholder="Password" required ng-model="userData.password">

                            <p class="help-block" style="color: red" ng-hide="showMsg">Password Policy is not satisfied
                            </p>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': addEditForm.upw2.$dirty && addEditForm.upw2.$invalid }">
                        <label for="upw1" class="col-sm-4 col-lg-4 control-label">Confirm Password :</label>

                        <div class="col-sm-8 col-lg-8">
                            <input type="password" class="form-control" id="upw2" name="upw2"
                                   placeholder="Confirm Password"
                                   required ng-model="upw2" pw-check="upw1">

                            <div class="msg-block" ng-show="addEditForm.$error"><span class="help-block"
                                                                                      ng-show="addEditForm.upw2.$error.pwmatch">Passwords dont match.</span>
                            </div>
                        </div>
                    </div>
                    <span style="color: red">

                        NOTE:
                            <ul>Please fill all the above fields satisfying following mandatories
                            <li>Minimum 8 and maximum 32 characters</li>
                            <li>Must contain atleast one digit,one capital and small alphabet</li>
                            <li>Must contain atleast one of the special character( @ # $ ^ * _ )</li>
                            <li>Should not repeat the characters more than 2 times</li>
                            <li>Should not contain spaces</li></ul>

                        </span>

                    <!--end password mismatch    -->

                </fieldset>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    ng-click="saveUser(userData)" ng-disabled="addEditForm.$invalid || !showMsg"> Submit
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>

    </script>

</head>
<body class="ng-cloak"> <!-- bg-steel-->
<div>
    <div class="app-bar fixed-top" data-role="appbar">
        <span class="app-bar-element branding"> <img class="" src="/img/algo-1bh.png" alt="Powered by AlgoFusion"
                                                     style=""> </span>
        <span class="app-bar-divider"></span>
        <div ng-hide="credentials" class="app-bar-element">

        </div>
        <div class="app-bar-element">
            <a href="#" class="app-bar-element"
               ng-click="classFlag = (credentials != null) ? !classFlag: true;removeClass()"><h3
                    style="margin-top: 15px">Enterprise Recon
                <!--<span ng-show="credentials.unlicensed_recon_exists" class="label label-danger">(Un-Supported Version)</span>--> </h3>
            </a>
        </div>

        <div class="app-bar-element place-right" ng-show="credentials">
            <span class="dropdown-toggle">{{credentials.userName}} </span> <!--- <span>({{credentials.role}})</span>-->
            <p class="loginDate">{{clock | date:'medium'}}</p>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark"
                 data-role="dropdown" data-no-close="true" style="width: 220px">
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white3 fg-hover-yellow" ng-click="changePass()">Change Password</a></li>
                    <li><a href="" class="fg-white3 fg-hover-yellow" ng-click="doLogout()">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x100 leftSideBar " id="cell-sidebar2" ng-hide="classFlag" ng-show="credentials">
                <ul class="sidebar" ng-hide="role_mapping === undefined">

                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('users') != -1"
                        ng-class="{active: activetab == '/users'}"><a ng-click="navCollapsed = true;" ng-href="/users">
                        <span class="fa fa-users icon"></span>
                        <span class="title">Users</span>
                        <!--<span class="counter">0</span>-->
                    </a></li>
                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('userpool') != -1"
                        ng-class="{active: activetab == '/userpool'}"><a
                            ng-click="navCollapsed = true;" ng-href="/userpool">
                        <span class="fa fa-user-md icon"></span>
                        <span class="title">User Pools</span>
                    </a></li>
                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('reconassignments') != -1"
                        ng-class="{active: activetab == '/reconassignments'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/reconassignments">
                        <span class="fa fa-list icon"></span>
                        <span class="title">Recon Assigments</span>
                        <!--<span class="counter">0</span>-->
                    </a></li>
                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('dashboard') != -1"
                        ng-class="{active: activetab == '/dashboard'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/dashboard">
                        <span class="fa fa-dashboard icon"></span>
                        <span class="title">Dashboard</span>
                    </a>
                    </li>
                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('recons') != -1"
                        ng-class="{active: activetab == '/recons'}"><a
                            ng-href="/recons">
                        <span class="fa fa-list icon"></span>
                        <span class="title">Recons</span>
                    </a>
                    </li>
                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('summary') != -1"
                        ng-class="{active: activetab == '/summary'}"><a
                            ng-href="/summary">
                        <span class="fa fa-desktop icon"></span>
                        <span class="title">Summary</span>
                    </a>
                    </li>

                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('reports') != -1"
                        ng-class="{active: activetab == '/reports'}"><a
                            ng-href="/reports">
                        <span class="fa  fa-table icon"></span>
                        <span class="title">Reports</span>
                    </a>
                    </li>
                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('reconslicense') != -1"
                        ng-class="{active: activetab == '/reconslicense'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/reconslicense">
                        <span class="fa fa-key icon"></span>
                        <span class="title">Recon Job Summary</span>
                        <!--<span class="counter">0</span>-->
                    </a></li>

                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('reconmigration') != -1"
                        ng-class="{active: activetab == '/reconmigration'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/reconmigration">
                        <span class="fa fa-sign-in icon"></span>
                        <span class="title">Recon Migrations</span>
                        <!--<span class="counter">0</span>-->
                    </a></li>

                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('audits') != -1"
                        ng-class="{active: activetab == '/audits'}"><a ng-click="navCollapsed = true;"
                                                                       ng-href="/audits">
                        <span class="fa fa-history icon"></span>
                        <span class="title">Audit Logs</span>
                    </a></li>

                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('gstmapping') != -1"
                        ng-class="{active: activetab == '/gstmapping'}"><a ng-click="navCollapsed = true;"
                                                                           ng-href="/gstmapping">
                        <span class="fa fa-bank icon"></span>
                        <span class="title">GST Mapping</span>
                    </a></li>

                    <li ng-if="role_mapping[credentials.role]['views'].indexOf('gstReports') != -1"
                        ng-class="{active: activetab == '/gstReports'}"><a ng-click="navCollapsed = true;"
                                                                           ng-href="/gstReports">
                        <span class="fa fa-bank icon"></span>
                        <span class="title">GST Reports</span>
                    </a></li>

                </ul>
                <div class="footerDiv" style="padding-left: 2%">
                    <p class="pwrTxt">Last Login Details : </p>
                    <p class="pwrTxt">{{credentials['lastLogin'] | formatTimeStamp}}</p>
                </div>

            </div>
            <div class="cell auto-size padding10 bg-white" ng-class="class" id="cell-content">
                <img data-ng-hide="credentials" src="img/IDFClogo.png" style="width: 27%;height: 80px;margin-left: 24%">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
<div id="fxshell-tabspinner" style="display: none;"></div>

<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/metro.js"></script>
<script src="/js/jquery.table2excel.js"></script>
<script type="text/javascript" src="/js/lib/angular.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/angular-route.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-ui.min.js"></script>
<script type="text/javascript" src="/js/lib/webcomponents-lite.js"></script>
<script type="text/javascript" src="/js/lib/ag-grid.js?ignore=notused24"></script>
<script type="text/javascript" src="/js/lib/core.js"></script>
<script type="text/javascript" src="/js/lib/aes.js"></script>
<script type="text/javascript" src="/js/lib/mode-cfb.min.js"></script>
<script type="text/javascript" src="/js/lib/pad-zeropadding.js"></script>
<script type="text/javascript" src="/js/lib/enc-utf8.js"></script>
<!--<script type="text/javascript" src="/js/lib/ag-grid-5.0.6.js?ignore=notused19"></script>-->
<script type="text/javascript" src="/js/lib/angular-idle.min.js"></script>
<!--<script type="text/javascript" src="/js/lib/ag-grid-enterprise-5.0.6.js?ignore=notused24"></script>-->
<script type="text/javascript" src="/js/ag-grid-enterprise.js?ignore=notused24"></script>
<script type="text/javascript" src="/js/linq.min.js"></script>
<script type="text/javascript" src="/js/ist-even.js"></script>
<script type="text/javascript" src="/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/lodash.js"></script>
<script type="text/javascript" src="/js/angularjs-multiselect-dropdown.min.js"></script>


<!--<script type="application/javascript" src="/app/js/cash_output_Txn.js"></script>
<script type="application/javascript" src="/app/js/exception_master.js"></script>-->

<script type="text/javascript" src="/js/highcharts-ng/highcharts-ng.js"></script>
<script type="text/javascript" src="/js/highcharts-ng/highcharts.js"></script>
<script type="text/javascript" src="/js/highcharts-ng/highcharts-3d.js"></script>
<!--<script type="text/javascript" src="/js/highcharts-ng/highcharts-more.js"></script>-->
<script type="text/javascript" src="/js/highcharts-ng/exporting.js"></script>
<script type="text/javascript" src="/js/lib/data.js"></script>
<script type="text/javascript" src="/js/highcharts-ng/export-csv.js"></script>

<script type="text/javascript" src="/js/angular-file-upload.js"></script>
<script type="text/javascript" src="/js/angularjs-dropdown-multiselect.js"></script>
<script type="text/javascript" src="/js/select2.js"></script>
<script type="text/javascript" src="/js/select2main.js"></script>

<script type="text/javascript" src="/js/ng-csv.min.js"></script>
<script type="text/javascript" src="/js/angular-scrollable-table.js"></script>


<!--<script type="text/javascript" src="/js/fullcalendar/calendar.js"></script>-->
<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>


<script type="text/javascript" src="/js/jquery.treeview.js"></script>
<script type="text/javascript" src="/js/jquery.treeview.async.js"></script>
<script type="text/javascript" src="/js/jQueryRotateCompressed.2.1.js"></script>
<script type="text/javascript" src="/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/js/jquery.jsontreeviewer.js"></script>
<script type="text/javascript" src="/app/js/angularjs-crypto.js"></script>

<script type="text/javascript" src="/app/js/webapp.js"></script>
<script type="text/javascript" src="/app/js/webapp.directives.js"></script>
<script type="text/javascript" src="/app/js/webapp.filters.js"></script>
<script type="text/javascript" src="/app/js/webapp.services.js"></script>
<script type="text/javascript" src="/app/js/app.gen.services.js"></script>
<script type="text/javascript" src="/app/js/app.js"></script>
<script type="text/javascript" src="/app/js/app.filters.js"></script>
<script type="text/javascript" src="/app/js/reconDetails.js"></script>
<script type="text/javascript" src="/app/js/reconassign.js"></script>


<script type="text/javascript" src="/app/js/rollback.js"></script>
<script type="text/javascript" src="/app/js/reconLicense.js"></script>
<script type="text/javascript" src="/app/js/feedloading.js"></script>
<script type="text/javascript" src="/app/js/angular-crypto.service.js"></script>


<script type="text/javascript" src="/app/js/users.js"></script>
<script type="text/javascript" src="/app/js/audits.js"></script>
<script type="text/javascript" src="/app/js/recon.js"></script>
<script type="text/javascript" src="/app/js/summary.js"></script>
<script type="text/javascript" src="/app/js/dashboard.js"></script>
<script type="text/javascript" src="/app/js/userpool.js"></script>
<script type="text/javascript" src="/app/js/accountpool.js"></script>
<script type="text/javascript" src="/app/js/customReports.js"></script>
<script type="text/javascript" src="/app/js/reconMigrationController.js"></script>
<script type="text/javascript" src="/app/js/gstmapping.js"></script>
<script type="text/javascript" src="/app/js/gstReport.js"></script>
</body>
</html>
