<div class="card" ng-show="!create">
    <div class="card-body">
        <div class="form-group row">
            <button type="button" class="btn btn-info" ng-click="createRecon()">Create Recon</button>
        </div>

        <div class="card">
            <div class="card-body">
                <table class="table table-condensed table-bordered table-striped">
                    <thead class="thead">
                    <tr>
                        <th style="width: 10%;">
                        </th>
                        <th style="width: 50%;">{{resources.reconProcess}}</th>
                        <th style="width:40%">{{resources.image}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="val in distinctReconProcess track by $index">
                        <td class="text-center">
                            <button class="btn btn-info btn-sm" ng-click="getProcesRecons($index)"
                                    ng-show="process!=val" expand>
                                <i class='fa fa-plus'></i>
                            </button>
                            <button class="btn btn-info btn-sm" ng-click="removeProcess()" ng-show="process==val"
                                    expand>
                                <i class='fa fa-minus'></i>
                            </button>
                        </td>
                        <td>{{val}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" ng-click="uploadRecon($index)"
                                    tooltip="Upload Image">
                                <i class="fa fa-upload"></i>
                            </button>

                            <!--<a style="color: green" ng-show="image[distinctReconProcess[$index]]" ng-click="uploadRecon()"-->
                            <!--tooltip="Upload Image">-->
                            <!--&lt;!&ndash;<small>{{resources.imageUploaded}}</small>&ndash;&gt;-->
                            <!--</a>-->
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="process==val">
                        <td></td>
                        <td colspan="2">
                            <table class="table table-striped table-condensed track by $index">
                                <thead class="thead">
                                <tr>
                                    <th>{{resources.reconName}}</th>
                                    <th>{{resources.actions}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in processRecons">
                                    <td>{{v.reconName}}</td>
                                    <td class="text-nowrap">
                                        <a href="#" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil text-inverse m-r-10"
                                               ng-click="editRecon(v,$parent.$index)"></i>
                                        </a>

                                        <a href="#" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-trash text-inverse m-r-10"
                                               ng-click="deleteRecon(v,$index)"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row" id='validation' ng-show="create">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title text-center f-w-6">Configure Recon</h4>
                <form class="validation-wizard wizard-circle wizard clearfix" id="steps-uid-2">

                    <!--steps list items at the top-->
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first"
                                ng-class="(present == 'defineSource')?'current':''||(active['defineSource'] == true)?'done':''">
                                <a id="steps-uid-2-t-0" href="#" aria-controls="steps-uid-2-p-0">
                                    <span class="current-info audible">current step: </span><span class="step">1</span>Define
                                    Source
                                </a>
                            </li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'defineFilters')?'current':''||(active['defineFilters']== true)?'done':''">
                                <a id="steps-uid-2-t-1" href="#" aria-controls="steps-uid-2-p-1">
                                    <span class="step">2</span>Define Filters
                                </a>
                            </li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'selectMatchColumns')?'current':''||(active['selectMatchColumns']==true)?'done':''">
                                <a id="steps-uid-2-t-4" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">3</span>Select Match Columns
                                </a>
                            </li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'resultsOfProcess')?'current':''||(active['resultsOfProcess']==true)?'done':''">
                                <a id="steps-uid-2-t-5" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">4</span>Result of Process
                                </a>
                            </li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'saveProcess')?'current':''||(active['saveProcess']==true)?'done':''">
                                <a id="steps-uid-2-t-6" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">5</span>Save Process
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--contents of each steps as defined in this sections-->
                    <div class="content clearfix">

                        <!-- Step 1 -->
                        <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
                        <section id="steps-uid-2-p-0" role="tabpanel" ng-show="present == 'defineSource'"
                                 aria-labelledby="steps-uid-2-h-0"
                                 class="">
                            <div class="m-t-30" id='structure' role="tabpanel">
                                <div ng-hide="defineSource">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-2 col-md-2 col-lg-1"
                                               for="reconProcess">{{resources.reconProcess}}:</label>
                                        <div class="col-sm-4 col-md-4 col-lg-4" id="reconProcess">
                                            <input class="form-control" ng-hide="dropDown" type="text"
                                                   ng-model="recon.reconProcess">
                                            <select class="form-control" ng-show="dropDown" type="text"
                                                    ng-model="recon.reconProcess"
                                                    ng-options="val as val for val in distinctReconProcess">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="btn-switch" ng-class="{'btn-switch--on':dropDown}"
                                                 ng-model="dropDown" ng-click="dropDown = !dropDown">

                                                <div class="btn-switch-circle"
                                                     ng-class="{'btn-switch-circle--on':dropDown}"
                                                     ng-model="toggle.switch">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-sm-2  col-md-2 col-lg-1">{{resources.reconName}}:</label>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <input class="form-control" ng-change="checkReconName(recon.reconName)"
                                                   type="text"
                                                   ng-model="recon.reconName">
                                            <small style="color:red;" ng-show="nameErrorMsg">
                                                {{resources.reconNamePolicy}}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row col-lg-6">
                                        <button class="btn btn-info" ng-click="defineSource = true">Add Source
                                        </button>
                                    </div>
                                </div>
                                <div class="row justify-content-center"
                                     ng-show="sources.length>0 && !editDataTypes && !defineSource">
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">

                                                <thead class="thead">
                                                <tr>
                                                    <th class="text-center">{{resources.sources}}</th>
                                                    <th style="width: 150px;">{{resources.action}}</th>
                                                </tr>
                                                </thead>

                                                <tbody ng-repeat="val in sources track by $index">

                                                <tr>
                                                    <td>{{val}}</td>
                                                    <td class="text-nowrap">
                                                        <button class="btn btn-info"
                                                                ng-click="editSource(val,$index)" title="edit Source"><i
                                                                class="fa fa-pencil"></i></button>
                                                        <button class="btn btn-info" ng-click="editDtypes(val)"
                                                                title="Add Dtypes">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button class="btn btn-info" ng-click="deleteSource(val)"
                                                                title="Delete Source"><i
                                                                class="fa fa-close"></i></button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 mx-auto" ng-show="defineSource">
                                    <!--<div class="card-body">-->
                                    <h3 class="f-w-6">Source Details</h3>
                                    <hr>
                                    <form>
                                        <div class="form-group m-t-20">
                                            <div class="form-group row">
                                                <label class="col-md-2"><h4>{{resources.source}}</h4></label>
                                                <input type="text" class="form-control col-md-4" id="sourceName"
                                                       placeholder="Source"
                                                       ng-model="feedDef.source">
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-2"
                                                       for="filePattern"><h4>{{resources.filePattern}}</h4></label>
                                                <input type="text" class="form-control col-md-4" id="filePattern"
                                                       placeholder="Source Pattern"
                                                       ng-model="feedDef.filePattern">
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2"
                                                       for="loadType"><h4>{{resources.loadType}}</h4></label>
                                                <select id="loadType" class="form-control col-md-4"
                                                        ng-model="feedDef.loadType"
                                                        ng-options="val for val in loadTypes">
                                                    <option value="">Choose...</option>
                                                </select>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-2"
                                                       for="skipheader"><h4>{{resources.skipHeader}}</h4></label>
                                                <input type="number" class="form-control  col-md-4" id="skipheader"
                                                       placeholder="Skip Header"
                                                       ng-model="feedDef.skiprows">
                                            </div>

                                            <div class="form-group row" ng-hide="feedDef.loadType == 'HTML'">
                                                <label class="col-md-2"
                                                       for="skipfooter"><h4>{{resources.skipFooter}}</h4></label>
                                                <input type="number" class="form-control col-md-4" id="skipfooter"
                                                       placeholder="Skip Footer"
                                                       ng-model="feedDef.skipfooter">
                                            </div>

                                            <div class="form-group row" ng-show="feedDef.loadType == 'HTML'">
                                                <label class="col-md-2"
                                                       for="parseIndex"><h4>{{resources.parseIndex}}</h4></label>
                                                <input type="number" class="form-control col-md-4" id="parseIndex"
                                                       placeholder="Parse Index"
                                                       ng-model="feedDef.parseIndex">
                                            </div>

                                        </div>

                                        <div class="form-group row" ng-show="feedDef.loadType == 'CSV'">
                                            <label class="col-md-2" for="delimiter"><h4>{{resources.delimeter}}</h4>
                                            </label>
                                            <select id="delimiter" class="form-control col-md-4"
                                                    ng-model="feedDef.delimiter"
                                                    ng-disabled="feedDef.loadType != 'CSV'"
                                                    ng-options="v as k for (k,v) in delimeters">
                                                <option value="">{{resources.select}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group row" ng-show="feedDef.loadType == 'SFMSMultiSheet'">
                                            <label class="col-md-2" for="headerKey"><h4>{{resources.headerKey}}</h4>
                                            </label>
                                            <input type="text" class="form-control col-md-4" id="headerKey"
                                                   placeholder="Header Key"
                                                   ng-model="feedDef.columnNames">
                                        </div>

                                        <div class="form-group row" ng-show="feedDef.loadType == 'XMLLoader'">
                                            <label class="col-md-2" for="xmlLoader"><h4>{{resources.query}}</h4>
                                            </label>
                                            <input type="text" class="form-control col-md-4" id="xmlLoader"
                                                   placeholder="Query"
                                                   ng-model="feedDef.query">
                                        </div>

                                        <div class="form-group row" ng-show="feedDef.loadType == 'SFMSMultiSheet'">
                                            <label class="col-md-2" for="footerKey"><h4>{{resources.footerKey}}</h4>
                                            </label>
                                            <input type="text" class="form-control col-md-4" id="footerKey"
                                                   placeholder="Footer Key"
                                                   ng-model="feedDef.FooterKey">
                                        </div>

                                        <div class="form-group row" ng-show="feedDef.loadType == 'Excel'">
                                            <label class="col-md-2"
                                                   for="sheetName"><h4>{{resources.excelSheets}}</h4></label>
                                            <input type="text" class="form-control col-md-4" id="sheetName"
                                                   placeholder="Sheet 1, Sheet 2..."
                                                   ng-model="feedDef.sheetNames">
                                        </div>

                                        <!--<div class="form-group row">-->
                                        <!--<label class="col-md-2" for="raiseError"> </label>-->
                                        <!--<input type="checkbox" id="raiseError" ng-model="feeDef.raiseError">-->
                                        <!--<label for="raiseError">{{resources.raiseError}}</label>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </form>

                                    <h3 class="f-w-6">Upload Sample File</h3>
                                    <hr>
                                    <div class="form-group row m-t-20">
                                        <label class="col-lg-2"><h4>Upload File</h4></label>
                                        <input class="form-control col-lg-4 m-r-10" type="file"
                                               file-model="uploadFile" accept=".csv,.jpg,.png"/>
                                        <button class="btn btn-info" title="Upload" ng-click="uploadSourceFile()"><i
                                                class="fa fa-upload"></i></button>
                                    </div>

                                    <div class="form-group row col-lg-6">
                                        <button class="btn btn-info" ng-click="saveSources(feedDef)"
                                                ng-disabled="!fileUploaded">Save
                                        </button>

                                        <button class="btn btn-info" ng-click="cancelSource()">cancel
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-8 mx-auto" ng-show="editDataTypes">
                                    <!--<div class="col-12">-->
                                    <!--<div class="card">-->
                                    <!--<div class="card-body">-->
                                    <div class="form-group row">
                                        <label class="col-lg-2 f-w-6">{{selectedSource}}</label>
                                        <button class="btn btn-info ml-auto m-r-10" ng-click="saveDataTypes()"><i
                                                class="fa fa-save"></i>
                                        </button>
                                        <button class="btn btn-info m-r-15" ng-click="cancelDataTypes()"><i
                                                class="fa fa-cancel"></i>
                                        </button>
                                    </div>
                                    <!--<div class="row col-lg-12 col-md-12 col-sm-12 m-b-20">-->
                                    <!--<button class="btn btn-info btn-s m-r-10"-->
                                    <!--ng-click="uploadSrcTemplate()"-->
                                    <!--title="{{resources.upload}}">-->
                                    <!--<i class="fa fa-upload m-r-5"></i>{{resources.upload}}-->
                                    <!--</button>-->

                                    <!--<button class="btn btn-info btn-s"-->
                                    <!--ng-click="downloadSource(feedDef)"-->
                                    <!--title="{{resources.download}}">-->
                                    <!--<i class="fa fa-download m-r-5"></i>{{resources.download}}-->
                                    <!--</button>-->
                                    <!--<div class="ml-auto">-->
                                    <!--<input type="text" class="form-control"-->
                                    <!--placeholder="Search Columns"-->
                                    <!--ng-model="filterRows">-->
                                    <!--</div>-->

                                    <!--</div>-->

                                    <form class="form-horizontal form-material">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead class="thead">
                                                <tr>
                                                    <th style="width: 22%">{{resources.fileColumn}}</th>
                                                    <th style="width: 22%">{{resources.columnType}}</th>
                                                    <th style="width: 22%">{{resources.datePattern}}
                                                    </th>
                                                    <th style="width: 8%">{{resources.from}}</th>
                                                    <th style="width: 8%">{{resources.to}}</th>
                                                    <th style="width: 8%">{{resources.required}}</th>
                                                    <th style="width: 10%">{{resources.actions}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key,val) in feedDetails | filter:filterRows track by $index">
                                                    <td>
                                                        <span ng-hide="editColumns">{{val.fileColumn}}</span>
                                                        <input type="text" ng-show="editColumns"
                                                               class="form-control"
                                                               ng-model="val.fileColumn">
                                                    </td>
                                                    <td>
                                                        <span ng-hide="editColumns">{{val.dataType}}</span>
                                                        <select ng-show="editColumns"
                                                                class="form-control"
                                                                ng-model="val.dataType"
                                                                ng-options="v for v in dataTypes">
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <span ng-hide="editColumns">{{val.datePattern}}</span>
                                                        <input ng-show="editColumns" type="text"
                                                               class="form-control"
                                                               ng-model="val.datePattern">
                                                    </td>

                                                    <td>
                                                        <span ng-hide="editColumns">{{val.from}}</span>
                                                        <input type="number" ng-show="editColumns"
                                                               class="form-control" ng-model="val.from">
                                                    </td>

                                                    <td>
                                                        <span ng-hide="editColumns">{{val.to}}</span>
                                                        <input type="number" ng-show="editColumns"
                                                               class="form-control" ng-model="val.to">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="{{$index}}"
                                                               class="form-control"
                                                               ng-change="updateScope(feedDetails)"
                                                               ng-model="val.required">
                                                        <label for="{{$index}}"></label>
                                                    </td>
                                                    <td>
                                                        <a href="#" data-toggle="tooltip" id="eColumns"
                                                           title="{{resources.edit}}">
                                                            <i class="fa fa-pencil info m-r-10"
                                                               ng-hide="editColumns"
                                                               ng-click="editColumns=!editColumns"></i>
                                                        </a>

                                                        <a href="#" data-toggle="tooltip" id="eColumns1"
                                                           title="resources.save">
                                                            <i class="fa fa-save info m-r-10"
                                                               ng-show="editColumns"
                                                               ng-click="saveColumn($index,val);editColumns=!editColumns"></i>
                                                        </a>

                                                        <a href="#" data-toggle="tooltip"
                                                           title="remove">
                                                            <i class="fa fa-trash info m-r-10"
                                                               ng-click="deleteColumns($index)"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </section>


                        <!-- Step 2 -->
                        <h6 id="steps-uid-2-h-1" tabindex="-1" class="title">Step 2</h6>
                        <section id="steps-uid-2-p-1" role="tabpanel" aria-labelledby="steps-uid-2-h-1" class="body"
                                 ng-show="present == 'defineFilters'">
                            <div class="card" style="margin-top: 15px">
                                <div card-body>
                                    <!--<label>Filter Conditions</label>-->
                                    <div class="form-group row">
                                        <label class="col-lg-1"
                                               for="source">{{resources.source}}</label>
                                        <select id="source" class="form-control col-md-4 m-r-10"
                                                ng-model="selectedSource"
                                                ng-options="val as val for val in sources">
                                            <option value="">Choose...</option>
                                        </select>
                                        <div class="button" ng-show="selectedSource!=undefined">
                                            <button class="btn btn-info m-r-10"
                                                    data-ng-disabled="filterCondExpArray != undefined &amp;&amp; filterCondExpArray.length > 0"
                                                    ng-click="addFilterCond();editSource(selectedSource)">Add
                                            </button>
                                            <button class="btn btn-info m-r-10" ng-click="uploadFilters()">Upload
                                            </button>
                                        </div>
                                    </div>

                                    <!-- ngRepeat: val in filterCondExpArray -->
                                    <div ng-repeat="val in filterCondExpArray" class="ng-scope">

                                        <div class="form-group row">

                                            <!-- <label class="col-lg-1 col-sm-1">Select Field</label>-->
                                            <div class="col-lg-2 col-sm-2">
                                                <select class="form-control ng-pristine ng-valid"
                                                        data-ng-model="val.selectedField"
                                                        data-ng-change="onChangeOfMdlField(val,$index)"
                                                        data-ng-options="val as val.fileColumn for val in sourceCols[selectedSource]  track by val.fileColumn">
                                                    <option value="" class="">Select Field</option>
                                                </select>
                                            </div>

                                            <!-- <label class="col-lg-1 col-sm-1">Select Condition</label>-->
                                            <div class="col-lg-2 col-sm-2">
                                                <select class="form-control ng-pristine ng-valid"
                                                        data-ng-model="val.selectedCond"
                                                        data-ng-change="onChangeOfFilterCond(condVal)"
                                                        data-ng-options="condVal for condVal in val.filterCondArray">
                                                    <option value="" class="">Select Condition</option>
                                                </select>
                                            </div>

                                            <div class="col-lg-2 col-sm-2 ng-hide"
                                                 ng-show="val.selectedField.dataType=='str'">
                                                <input type="text" class="form-control ng-pristine ng-valid"
                                                       placeholder="string value" data-ng-model="val.condValue">
                                            </div>

                                            <div class="col-lg-2 col-sm-2 ng-hide"
                                                 ng-show="val.selectedField.dataType=='np.float64' || val.selectedField.dataType=='np.int64'">
                                                <input type="number"
                                                       class="form-control ng-pristine ng-valid ng-valid-number"
                                                       placeholder="numeric value" data-ng-model="val.condValue">
                                            </div>

                                            <div class="col-lg-2 col-sm-2 ng-hide"
                                                 ng-show="val.selectedCond != undefined && val.selectedCond != ''">
                                                <select type="text" class="form-control ng-pristine ng-valid"
                                                        data-ng-model="val.logicalOperator">
                                                    <option value="">None</option>
                                                    <option value="|">OR</option>
                                                    <option value="&amp;">AND</option>
                                                </select>
                                            </div>

                                            <div class="col-lg-4 col-sm-4">
                                                <button class="btn btn-primary"
                                                        data-ng-disabled="val.logicalOperator == undefined || val.selectedCond == ''"
                                                        ng-click="addFilterCond()" disabled="">
                                                    <i class="fa fa plus">Add</i>
                                                </button>

                                                <button class="btn btn-primary"
                                                        ng-click="removeFilterCond($index)">
                                                    <i class="fa-fa-minus">Remove</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: val in filterCondExpArray -->

                                    <div>
                                        <button class="btn btn-primary" ng-click="saveFilterCond()"
                                                ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                                            <span> Save</span>
                                        </button>

                                        <button class="btn btn-primary" ng-click="cancelFilterCond()"
                                                ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                                            <span> Cancel</span>
                                        </button>
                                    </div>


                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Source</th>
                                                <th>Condition</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="(key,val) in filters">
                                                <td>{{key}}</td>
                                                <td><div ng-repeat="v in val">
                                                    {{v}}<i ng-click="removeFilterExp($index,key)" class="fa fa-close pull-right"></i>
                                                </div></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Step 3 -->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 3</h6>
                        <section id="steps-uid-2-p-2" role="tabpanel" aria-labelledby="steps-uid-2-h-2" class="body"
                                 aria-hidden="true" ng-show="present == 'selectMatchColumns'">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <button class="btn btn-info m-l-15" ng-click="addNewMatchRule('Add' )"><i
                                                class="fa fa-plus m-r-10"></i>Add Rule
                                        </button>
                                    </div>


                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="thead">
                                            <tr>
                                                <th>Rule Name</th>
                                                <th>Matching Columns</th>
                                                <th>Sum Columns</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="val in ruleDefined track by $index">
                                                <td>{{val.ruleName}}</td>
                                                <td>
                                                    <div ng-repeat="(k,v) in val.columns">{{k}}:{{v.matchColumns}}<br/>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-repeat="(k,v) in val.columns">{{k}}:{{v.sumColumns}}</div>
                                                </td>
                                                <td>
                                                    <div class="button-group">
                                                        <button type="btn btn-info btn-sm" title="Edit"
                                                                ng-click="addNewMatchRule('Edit',$index)"><i
                                                                class="fa fa-pencil"></i>
                                                        </button>
                                                        <button type="btn btn-info btn-sm" title="Delete"
                                                                ng-click="deleteRule($index)"><i
                                                                class="fa fa-pencil"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!--step 4-->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 4</h6>
                        <section id="steps-uid-2-p-3" role="tabpanel" aria-labelledby="steps-uid-2-h-2" class="body"
                                 aria-hidden="true" ng-show="present=='resultsOfProcess'">

                        </section>
                    </div>

                    <div class="row float-right m-r-20">
                        <button class="btn btn-info m-r-5" ng-disabled="present == 'defineSource'"
                                ng-click="previousStep(present)" role="menuitem">Previous
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="nextStep(present)" ng-disabled="disableFlag"
                                ng-show="present!='Comments'">Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="ruleDefine.html">
    <div class="modal-header">
        <h4 class="modal-title f-w-6"> Define Rule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-lg-2 f-w-6">Rule Name:</label>
            <input class="form-control col-lg-5 m-l-15" ng-model="ruleName">
        </div>
        <div class="form-group row">
            <label class="col-lg-2"></label>
            <label class="col-lg-5 f-w-6">Match Columns</label>
            <label class="col-lg-5 f-w-6">Sum Columns</label>
        </div>
        <div class="form-group row" ng-repeat="(key,val) in matchRules">
            <label class="col-lg-2 f-w-6">{{key}}:</label>
            <div class="col-lg-5">
                <select chosen multiple ng-options="v.fileColumn as v.fileColumn for v in sourceCols[key]"
                        ng-model="val.matchColumns"></select>
            </div>
            <div class="col-lg-5">
                <select chosen multiple ng-options="v.fileColumn as v.fileColumn for v in sourceCols[key]"
                        ng-model="val.sumColumns"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-sm" ng-click="saveRule(ruleName)">Save</button>
        <button class="btn btn-info btn-sm" ng-click="cancel()">Cancel</button>
    </div>
</script>