<div class="tabcontrol" ng-hide="forceMatchLog" data-role="tabcontrol" ng-hide="addEdit" data-role="tabcontrol">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title col-md-12"><span class="lstick"></span>{{resources.forceMatch}}</h4>

        </div>
        <div class="card-body form-horizontal">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group row">
                        <label for="urole" class="col-sm-4 col-lg-4 col-md-4 col-form-label text-right">Recon
                            Process:</label>
                        <div class="col-sm-8 col-lg-8 col-md-8">
                            <select class="form-control-sm form-control" ng-model="selReconProcess" required
                                    name="reconId" data-ng-change="changeReconProcess(selReconProcess)"
                                    ng-options="key as key for (key,val) in recons">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group row">

                        <label for="urole" class="col-sm-4 col-lg-4 col-md-4 col-form-label text-right" style="">Recons
                            :</label>
                        <div class="col-sm-8 col-lg-8 col-md-8">
                            <select class="form-control-sm form-control" ng-model="selRecon" required
                                    ng-change="loadSources()" name="reconId" ng-options="val as val for val in filteredRecons
                                | unique:'reconName'  | orderBy:'reconName'">
                                <option value="">{{resources.select}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card-border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <h4 class="card-title text-center">
                               <b>{{resources.primary}}</b>
                            </h4>
                        </div>
                         <div class="col-sm-6 col-md-6 col-lg-6">
                           <h4 class="card-title text-center">
                               <b>{{resources.toMatch}}</b>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group row">
                                <label for=""
                                       class="col-sm-4 col-lg-4 col-md-4 col-form-label text-right">{{resources.source}}:</label>
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <select class="form-control form-control-sm " ng-model="primarySrc" required
                                            data-ng-change="loadMatchSources(primarySrc)"
                                            ng-options="val for val in primarySrcList">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group row">
                                <label for=""
                                       class="col-sm-4 col-lg-4 col-md-4 col-form-label text-right">{{resources.source}}:</label>
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <select class="form-control form-control-sm " ng-model="matchSrc" required
                                            data-ng-change="getPrimaryData(primarySrc,matchSrc,$index)"
                                            ng-options="val for val in matchSrcList">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-repeat="val in selectColumns track by $index">
                          <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group row">
                                <label for="prcol"
                                       class="col-sm-4 col-lg-4 col-md-4 col-form-label text-right">Column{{$index+1}}</label>
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <select class="form-control-sm form-control" ng-model="prColum" required id ='prcol'
                                            data-ng-change="addPrimayCol(prColum,$index)"
                                            ng-options="val for val in primaryColumns">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group row">
                                <label for="matcol"
                                       class="col-sm-4 col-lg-4 col-md-4 col-form-label text-right">Column{{$index+1}}:</label>
                                <div class="col-sm-8 col-lg-8 col-md-8">
                                    <select class="form-control-sm form-control" ng-model="matchCol" required id="matcol"
                                            data-ng-change="addMatchCol(matchCol,$index)"
                                            ng-options="val for val in matchColumns">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <button class="btn btn-info btn-sm" ng-click="removeCol($index)"><i class='fa fa-minus'></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="m-t-10 m-l-40">
                        <button class="btn btn-info btn-sm"
                                ng-click="getPrimaryData(primarySrc,matchSrc,$index);">
                            {{resources.addColumns}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 m-b-20">
            <button data-ng-disabled="(selectedprimaryCol.length<1)||(selectedmatchCol.length<1 || selectedmatchCol.length!=selectedprimaryCol.length)  "
                    class="btn btn-info btn-s" ng-click="searchSelected()">{{resources.search}}
            </button>
        </div>
    </div>


    <div data-ng-if="showdiscovery == true">
        <!--<span class="lstick"></span><i class="fa fa-run fa-lg fa-spinner fa-spin text-info"></i>-->
        <!--Discovery in Progress-->
        <!--</span>-->
        <!---->
        <span class="m-l-20">
        <span class="lstick"></span><i class="fa fa-run fa-lg fa-spinner fa-spin text-info"></i>Searching For Records</span>
    </div>
    <div class="form-group row">
        <label></label>
        <div class="ml-auto">
            <div class="form">
                <button ng-click="selectAllRows('primaryGridOptions')">Select All</button>
                <button ng-click="clearAllRowSelection('primaryGridOptions')">Clear All Selections</button>
                <input class="m-r-20" placeholder="Filter..." type="text"
                       ng-model="filterValue"
                       ng-change="onFilterChanged(filterValue)">
            </div>
        </div>

        <div id="myGrid1" style="width: 100%; height: 500px;"
             ag-grid="primaryGridOptions"
             class="ag-theme-fresh">
        </div>
    </div>
    <hr>
    <label>Match Source:</label>
    <div class="pull-right">
        <button class="pull-left" ng-click="selectAllRows('matchGridOptions')">Select All</button>
        <button class="pull-left" ng-click="clearAllRowSelection('matchGridOptions')">Clear All Selections</button>
    </div>

    <div id="myGrid2" style="width: 100%; height: 500px;"
         ag-grid="matchGridOptions"
         class="ag-theme-fresh">
    </div>

    <div class="form-group">
        <hr class="thin bg-grayLighter">
        <div class="row form-group">
            <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Comments
                : <span>*</span></label>

            <div class="col-sm-4 col-lg-4">
                <input class="form-control-sm" type="text"
                       data-ng-model="comments">
            </div>
        </div>

        <button
                data-ng-disabled="(comments == null || comments == undefined || comments == '')"
                class="button primary" ng-click="forceMatch(comments)"> Force Match
        </button>

    </div>
</div>

<div class="card" ng-show="forceMatchLog">
    <div class="card-header">
        <h4 class="card-title"><span class="lstick"></span>{{resources.forceMatchLog}}</h4>
    </div>
    <div class="card-body">
        <div  class="tabel">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>{{resources.user}}</td>
                    <td>{{resources.reconProcess}}</td>
                    <td>{{resources.reconName}}</td>
                    <td>{{resources.operation}}</td>
                    <td>{{resources.dateTime}}</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,val) in forceMatchLogDetails">
                    <td>{{val.user}}</td>
                    <td>{{val.reconProcess}}</td>
                    <td>{{val.reconName}}</td>
                    <td>{{val.operation}}</td>
                    <td>{{val.dateTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>