<div class="card m-t-30" ng-show="!reconsOfProcess">
    <div class="card-body">
        <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.marketPlace}}</h4>
        <div class="row m-t-10 anyClass1">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="row sm-grid">
                    <div ng-repeat="process in reconProcessees" class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card db-card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="mx-auto">
                                        <img src="{{process['imagePath']}}" alt=""
                                             class="img-fluid"/></div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <div class="m-b-10">
                                    <a href="#"><h3 ng-click="installProcess(process)"
                                                    class="text-info text-uppercase f-w-5 m-b-0 text-left">
                                        {{process['reconProcess']}}</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-info toggle-btn scrollup-btn" id="filterChange1"
        title="filter">
    <span class="fa fa fa-caret-up"></span>
</button>

<div class="card m-t-20" ng-show="reconsOfProcess">
    <!--<div class="card-title">-->
    <!--</div>-->
    <div class="card-body">
        <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.recons}}</h4>
        <table class="table table-bordered table-striped">
            <thead class="thead">
            <td>#</td>
            <td>ReconProcess</td>
            <td>ReconName</td>
            <td>Source Count</td>
            <td>Update</td>
            </thead>
            <tabel>

                <tr ng-repeat="details in processRecons track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{details.reconProcess}}</td>
                    <td>{{details.reconName}}</td>
                    <td>{{details.sourcesCount}}</td>
                    <td ng-click="installRecon(details)">
                        <button type="button" class="btn btn-info btn-sm">{{resources.configure}}</button>
                    </td>
                </tr>
            </tabel>
        </table>
    </div>
</div>
