body{
    font-size:12px;
}
/*
.navbar-default{
    background-color: #1768b2 !important;
    color: #FFF;
    border: 0px;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-link:hover {
    color: #eee;
}*/

/* navbar */
.navbar-default {
    background-color: #b52b27;

}
/* title */
.navbar-default .navbar-brand, .navbar-default .navbar-link {
    color: #fff;
}
.navbar-default .navbar-brand:hover,  .navbar-default .navbar-link:hover,
.navbar-default .navbar-brand:focus,  .navbar-default .navbar-link:focus {
    color: #eee;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
    font-size: 12px;
    font-weight: bolder;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #21618E;
    background-color: #fff;
    border-color:#fff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffbbbc;
    border-bottom-color: #ffbbbc;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffbbbc;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecf0f1;
        background-color: #c0392b;
    }
}

.panel-default > .panel-heading {
    background-color: #56A1F5;
    color: #fff;
    border-color: #337ab7;
}

.navbar-brand {
    background: #ffffff !important;
    border-right: 2px solid #cccccc;
    padding: 2px 20px 2px 15px;
    height: 80px;
}
.navbar-default .navbar-nav > li > a {
    line-height:50px;
}
.navbar-default .collapse.in .navbar-nav > li > a {
/*    line-height:inherit;*/
}

.navbar-brand img {
    height: 100%;
}
.label {
    font-size: 10px;
    font-weight: 600;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    text-shadow: none
}
.list-group.clear-list .list-group-item {
    border-top: 1px solid #e7eaec;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
}
ul.clear-list:first-child {
    border-top: none !important;
}
.table-main thead th {
    background-color: #E6EBF1;
    color: #004AA1;
}
.noPadding {
    padding: 0px;
}
.noMargin {
    margin: 0px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.valuesContentWrap {
    max-height: 700px;
    overflow-y: auto;
}
.loginWrapper {
    padding-top: 40px;
}

.loaderModalPopup {
}
.modal.loaderModalPopup .modal-dialog {
    margin-top: 10%;
    width: 280px;
}
.loaderModalPopup .modal-dialog .modal-content {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
    color:#EEE;
}
.loadSpin {
    background: rgba(0, 0, 0, 0) url("../img/spinner.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    width: 32px;
}



.panelRightBtn {
    margin-top: -24px;
}

.lightGreen .panel-heading {
    background-color: lightgreen;
}

.lightGray .panel-heading {
    background-color: lightgray;
}


.form-group.has-error .help-block {
    display: block;
}


.modal.alert {
    background-color: transparent;
    border: medium none;
}



.login-form {
    margin-top: 60px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 46px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

form[role=login] button {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 16px;
}

form[role=login] > div {
    text-align: center;
}

.accordion-toggle {
    cursor: pointer;
}
.btn-default {
    color: #21618E;
}
.btn-primary {
    background: #21618E;
}

.panel-group .panel, .panel {
    border-radius: 9px;
}

.panel-heading {
    border-top-left-radius: 8px;
    border-top-right-radius: 6px;
}

/* Switch Icon */
.switch{background:#fff;border:1px solid #dfdfdf;position:relative;display:inline-block;box-sizing:content-box;overflow:visible;width:52px;height:30px;padding:0;margin:0;border-radius:20px;cursor:pointer;box-shadow:#dfdfdf 0 0 0 0 inset;transition:.3s ease-out all;-webkit-transition:.3s ease-out all;top:-1px}.switch.wide{width:80px}.switch small{background:#fff;border-radius:100%;box-shadow:0 1px 3px rgba(0,0,0,.4);width:30px;height:30px;position:absolute;top:0;left:0;transition:.3s ease-out all;-webkit-transition:.3s ease-out all}.switch.checked{background:#64bd63;border-color:#64bd63}.switch.checked small{left:22px}.switch.wide.checked small{left:52px}.switch .switch-text{font-family:Arial,Helvetica,sans-serif;font-size:13px}.switch .off{display:block;position:absolute;right:10%;top:25%;z-index:0;color:#A9A9A9}.switch .on{display:none;z-index:0;color:#fff;position:absolute;top:25%;left:9%}.switch.checked .off{display:none}.switch.checked .on{display:block}

.height480{
    height: 480px; width:100%;
}

.navbar-right {
    margin-top: 30px;
    margin-right: 10px;
}

.panel-body {
    position: relative;
}
.loadPanel {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    color: #fff;
    left: 0;
    padding-top: 35%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 999;
}

.navbar-header .nav-right{
    float:right;
}

.graphTitle{color:#fff;}
.day{line-height: 2.5em;}
#align{padding-right: 3px;padding-left: 10px;}

.selected-class-name {
  color: red;
}

#wordWrap{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -webkit-pre-wrap; /*Chrome & Safari */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
}

.capsLockMsg:before{
    content: url('/app/img/capsLock_warning_triangle.ico');
}

.ui-grid-row .ui-grid-cell {
   background-color: inherit !important;
}
.app-bar .app-bar-element.branding img{
    height:2.5rem;
}