<div id="graphs" class="m-t-30" style="min-width: 310px; height: 400px; margin: 0 auto" ng-show="summaryDash"></div>



<div class="container-fluid m-t-30" ng-show="!summaryDash">
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="d-flex no-block" ng-click="getDetails('pending')">
                        <div class="m-r-20 align-self-center"><img src="/assets/images/icon/income-w.png"
                                                                   alt="pending"></div>
                        <div class="align-self-center">
                            <h4 class="text-white m-t-10 m-b-0">{{resources.totalAssignedRecons}}</h4>
                            <h2 class="m-t-0 text-white">{{dashBoardDetails.totalAssignedRecons}}</h2></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="d-flex no-block" ng-click="getDetails('Success')">
                        <div class="m-r-20 align-self-center"><img src="/assets/images/icon/suc.jpeg"
                                                                   sucessCountalt="success"></div>
                        <div class="align-self-center">
                            <h4 class="text-white m-t-10 m-b-0">{{resources.successFullyRun}}</h4>
                            <h2 class="m-t-0 text-white">{{dashBoardDetails.successCount}}</h2></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="d-flex no-block" ng-click="getDetails('Failed')">
                        <div class="m-r-20 align-self-center"><img src="/assets/images/icon/failure.png" alt="failed">
                        </div>
                        <div class="align-self-center">
                            <h4 class="text-white m-t-10 m-b-0">
                                {{resources.failed}}</h4>
                            <h2 class="m-t-0 text-white">{{dashBoardDetails.failureCount}}</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{resources.reconDet}}</h4>
            <table tr-ng-grid=''  class="table table-bordered table-hover table-striped" page-items="5"
                   items='reconExecutionDetailsLog' fields = "['reconProcess','reconName','jobStatus','statementDate']">
            </table>
        </div>
    </div>
</div>
