

<section ng-show="present=='defineSource'" id="steps-uid-2-p-0" role="tabpanel" aria-labelledby="steps-uid-2-h-0"
                                 class="">
                            <div class="" id='structure' role="tabpanel">
                                <div class="row">
                                    <button class="btn btn-info" ng-click="">Add Source</button>
                                </div>
                                <div class="card ">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group">

                                                <div class="form-group row">
                                                    <label class="col-md-2"><h4>{{resources.sourceName}}</h4></label>
                                                    <input type="text" class="form-control col-md-4" id="sourceName"
                                                           placeholder="Source"
                                                           ng-model="feedDef.sourceName">
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-md-2"
                                                           for="filePattern">{{resources.filePattern}}</label>
                                                    <input type="text" class="form-control col-md-4" id="filePattern"
                                                           placeholder="Source Pattern"
                                                           ng-model="feedDef.filePattern">
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-2"
                                                           for="loadType">{{resources.loadType}}</label>
                                                    <select id="loadType" class="form-control col-md-4"
                                                            ng-model="feedDef.loadType"
                                                            ng-options="val for val in loadTypes">
                                                        <option value="">Choose...</option>
                                                    </select>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-2"
                                                           for="skipheader">{{resources.skipHeader}}</label>
                                                    <input type="number" class="form-control  col-md-4" id="skipheader"
                                                           placeholder="Skip Header"
                                                           ng-model="feedDef.skiprows">
                                                </div>

                                                <div class="form-group row" ng-hide="feedDef.loadType == 'HTML'">
                                                    <label class="col-md-2"
                                                           for="skipfooter">{{resources.skipFooter}}</label>
                                                    <input type="number" class="form-control col-md-4" id="skipfooter"
                                                           placeholder="Skip Footer"
                                                           ng-model="feedDef.skipfooter">
                                                </div>

                                                <div class="form-group row" ng-show="feedDef.loadType == 'HTML'">
                                                    <label class="col-md-2"
                                                           for="parseIndex">{{resources.parseIndex}}</label>
                                                    <input type="number" class="form-control col-md-4" id="parseIndex"
                                                           placeholder="Parse Index"
                                                           ng-model="feedDef.parseIndex">
                                                </div>

                                            </div>

                                            <div class="form-group row" ng-show="feedDef.loadType == 'CSV'">
                                                <label class="col-md-2" for="delimiter">{{resources.delimeter}}</label>
                                                <select id="delimiter" class="form-control col-md-4"
                                                        ng-model="feedDef.delimiter"
                                                        ng-disabled="feedDef.loadType != 'CSV'"
                                                        ng-options="v as k for (k,v) in delimeters">
                                                    <option value="">{{resources.select}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group row" ng-show="feedDef.loadType == 'SFMSMultiSheet'">
                                                <label class="col-md-2" for="headerKey">{{resources.headerKey}}</label>
                                                <input type="text" class="form-control col-md-4" id="headerKey"
                                                       placeholder="Header Key"
                                                       ng-model="feedDef.columnNames">
                                            </div>

                                            <div class="form-group row" ng-show="feedDef.loadType == 'XMLLoader'">
                                                <label class="col-md-2" for="xmlLoader">{{resources.query}}</label>
                                                <input type="text" class="form-control col-md-4" id="xmlLoader"
                                                       placeholder="Query"
                                                       ng-model="feedDef.query">
                                            </div>

                                            <div class="form-group row" ng-show="feedDef.loadType == 'SFMSMultiSheet'">
                                                <label class="col-md-2" for="footerKey">{{resources.footerKey}}</label>
                                                <input type="text" class="form-control col-md-4" id="footerKey"
                                                       placeholder="Footer Key"
                                                       ng-model="feedDef.FooterKey">
                                            </div>

                                            <div class="form-group row" ng-show="feedDef.loadType == 'Excel'">
                                                <label class="col-md-2"
                                                       for="sheetName">{{resources.excelSheets}}</label>
                                                <input type="text" class="form-control col-md-4" id="sheetName"
                                                       placeholder="Sheet 1, Sheet 2..."
                                                       ng-model="feedDef.sheetNames">
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-2" for="raiseError"> </label>
                                                <input type="checkbox" id="raiseError" ng-model="feeDef.raiseError">
                                                <label for="raiseError">{{resources.raiseError}}</label>
                                            </div>
                                            <!--</div>-->

                                        </form>


                                    <h3 class="f-w-6">Upload Sample File</h3>
                                    <hr>
                                    <div class="form-group row m-t-20">
                                        <label class="col-lg-2"><h4>Upload File</h4></label>
                                        <input class="form-control col-lg-4 m-r-10" type="file" file-model="uploadFile" accept=".csv,.jpg,.png"/>
                                        <button class="btn btn-info" title="Upload" ng-click="uploadSourceFile()"><i class="fa fa-upload" ></i></button>
                                    </div>

                                    <div class="form-group row col-lg-6">
                                        <button class="btn btn-info" ng-click="saveSources(feedDef)">Save</button>
                                    </div></div>
                                </div>
                        </section>
