<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <ul class="nav nav-tabs customtab col-md-12 col-lg-12 col-sm-12" role="tablist">
                    <li class="nav-item" ng-repeat="template in wizardReports">
                        <a class=""
                           ng-class="template.wizardIdx == currentTemp['wizardIdx'] ? 'nav-link active' : 'nav-link'"
                           href="#" data-toggle="tab" role="tab" aria-selected=""
                           ng-click="nextWizard(template.template)">
                            <span class="hidden-sm-up"><i class="ti-home"></i></span>
                            <span class="hidden-xs-down">{{template.title}}</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content min-card-pane-01">
                <div class="" ng-class="(wizards=='dailySettlementReport')?'tab-pane active show':'tab-pane'"
                     id='structure'
                     role="tabpanel">
                    <div class="card ">
                        <div class="card-body">
                            <div class="frame" id="npciSettlementReport" style="min-height: 400px">
                                <div class="row form-group">
                                    <label class="col-sm-1 col-lg-1 control-label">Report Type</label>
                                    <select ng-options="val as val for val in values" class="col-xs-1 col-lg-2 form-control
                                        form-control-md" data-ng-model="selectedReport">
                                        <option value="Select" >Select</option>

                                    </select>

                                    <label for="urole" class="col-sm-1 col-lg-1 control-label"
                                           style="margin-top: 10px;" data-ng-model="selectedDate">Statement Date :</label>
                                    <div class="col-sm-2 col-lg-2">
                                        <input type="date" class="form-control form-control-sm" id="date" datetime="dd/MM/YYYY" ng-model="statementDate"/>
                                    </div>
                                    <div class="col-lg-3" ng-show="selectedReport=='IMPS DSR'||selectedReport=='UPI DSR'">
                                        <button class="btn btn-info"
                                                ng-click="getReport(selectedReport)"
                                                ng-disabled="statementDate == undefined || statementDate == null || statementDate == ''">
                                            Generate Report
                                        </button>

                                        <button class="btn btn-info" tooltip="Download Report"
                                                data-ng-disabled="settelmentData.length == 0" style="margin-left: 35px"
                                                ng-click="exportToExcel(tableId,'Daily Settlement Summary',statementDate)">
                                            <span class="fa fa-download"></span>
                                        </button>
                                    </div>

                                    <div ng-show="selectedReport=='IMPS TTUM'||selectedReport=='UPI TTUM' ">
                                        <button class="btn btn-info"
                                                ng-click="getReport(selectedReport)">
                                                TTUM  Report
                                        </button>
                                    </div>
                                </div>

                                <div class="row" ng-show="selectedReport=='IMPS DSR'">
                                    <div class="col-lg-12" style="overflow-x: auto">
                                        <table id="dailySettlementSummary" class="table table-bordered table-responsive"
                                               style="width:auto;overflow-x: auto;" >
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="5" style="text-align: center">Remitter P2A</th>
                                                <th colspan="5" style="text-align: center">Remitter P2A-08</th>
                                                <th colspan="3" style="text-align: center">Beneficiary P2A</th>
                                                <th colspan="3" style="text-align: center">Beneficiary P2A-08</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center">Cycle</th>
                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Remitter Sub Totals</th>
                                                <th style="text-align: center">Beneficiary Sub Totals</th>
                                                <th style="text-align: center">Settlement Amount</th>
                                                <th style="text-align: center">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="row in settelmentData">
                                            <tr>
                                                <td style="text-align: center">{{row['Cycle']}}</td>
                                                <!-- Remitter P2A Approved-->
                                                <td style="text-align: right">{{row['approved_feeaqqCol']}}</td>
                                                <td style="text-align: right">{{row['approved_fee_gstaqqCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['npci_switching_feeaqqCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['npci_switching_fee_gstaqqCol']}}
                                                </td>
                                                <td style="text-align: right">{{row['approved_txn_amountaqqCol'] |
                                                    inrCurrencyFormat}}
                                                </td>

                                                <!-- Remitter P2A-08 Approved-->
                                                <td style="text-align: right">
                                                    {{row['additional_approved_feeaqqCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_fee_gstaqqCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_npci_switching_feeaqqCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_npci_switching_fee_gstaqqCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_txn_amountaqqCol'] |
                                                    inrCurrencyFormat}}
                                                </td>

                                                <!-- Beneficiary Approved -->
                                                <td style="text-align: right">{{row['approved_feeissCol']}}
                                                </td>
                                                <td style="text-align: right">{{row['approved_fee_gstissCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['approved_txn_amountissCol']}}
                                                </td>

                                                <!-- Beneficiary P2A-08 Approved -->
                                                <td style="text-align: right">
                                                    {{row['additional_approved_feeissCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_fee_gstissCol']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_txn_amountissCol']}}
                                                </td>

                                                <td style="text-align: right">{{row['remitter_sub_totalaqqCol'] |
                                                    inrCurrencyFormat}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['beneficiary_sub_totalissCol'] | inrCurrencyFormat}}
                                                </td>

                                                <td style="text-align: right">{{(row['remitter_sub_totalaqqCol'] -
                                                    row['beneficiary_sub_totalissCol'])|
                                                    inrCurrencyFormat }}
                                                </td>

                                                <td align="center" style="text-align:center; font-size:120%;">
                                                    <span ng-if="(row['REMITTER'] && row['BENEFICIARY'])">Success</span>
                                                    <span ng-if="!(row['REMITTER'] && row['BENEFICIARY'])">Failed</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>





                                <div class="row" ng-show="selectedReport=='UPI DSR'">
                                    <div class="col-lg-12" style="overflow-x: auto">
                                        <table id="upisettlementReport" class="table table-bordered table-responsive"
                                               style="width:auto;overflow-x: auto;" >
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="6" style="text-align: center">Remitter U3</th>
                                                <th colspan="6" style="text-align: center">Remitter U3-RB</th>
                                                <th colspan="5" style="text-align: center">Beneficiary SOD U3</th>
                                                <th colspan="4" style="text-align: center">Beneficiary U3</th>
                                                <th colspan="3" style="text-align: center">Beneficiary U3-RB</th>
                                                <th colspan="3" style="text-align: center">Beneficiary U2</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center">Cycle</th>

                                                <!-- Remitter U3 -->

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>
                                                <th style="text-align: center">PSP Fee</th>
                                                <th style="text-align: center">PSP Service Tax</th>

                                                <!-- Remitter U3-RB -->

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>
                                                <th style="text-align: center">PSP Fee</th>
                                                <th style="text-align: center">PSP Service Tax</th>

                                                <!-- Beneficiary SOD U3  -->

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
<!--                                                <th style="text-align: center">NPCI Switching Fee</th>-->
<!--                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>-->
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <!-- Beneficiary U3  -->

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
<!--                                                <th style="text-align: center">NPCI Switching Fee</th>-->
<!--                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>-->
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <!-- Beneficiary U3-RB -->

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
<!--                                                <th style="text-align: center">NPCI Switching Fee</th>-->
<!--                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>-->
                                                <th style="text-align: center">Approved Transaction Amount</th>


                                                <!-- Beneficiary U2 -->

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Remitter Sub Totals</th>
                                                <th style="text-align: center">Beneficiary Sub Totals</th>
                                                <th style="text-align: center">Settlement Amount</th>
<!--                                                <th style="text-align: center">Status</th>-->
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="row in settelmentData">
                                            <tr>
                                                <td style="text-align: center">{{row['cycle']}}</td>

                                                <!-- Remitter U3 Approved-->
                                                <td style="text-align: right">{{row['Remitter U3 Approved Fee']}}</td>
                                                <td style="text-align: right">{{row['Remitter U3 Approved Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Remitter U3 Approved NPCI Switching Fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Remitter U3 Approved NPCI Switching Fee GST']}}
                                                </td>
                                                <td style="text-align: right">{{row['Remitter U3 Approved Transaction Amount'] |
                                                    inrCurrencyFormat}}
                                                </td>
                                                <td style="text-align: right">{{row['U3 Approved Payer PSP Fee - Paid']}}</td>
                                                <td style="text-align: right">{{row['U3 Approved Payer PSP Fee GST - Paid']}}</td>

                                                <!-- Remitter U3-RB Approved-->
                                                <td style="text-align: right">
                                                    {{row['Remitter U3-RB Approved Fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Remitter U3-RB Approved Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Remitter U3-RB Approved NPCI Switching Fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Remitter U3-RB Approved NPCI Switching Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Remitter U3-RB Approved Transaction Amount'] |
                                                    inrCurrencyFormat}}
                                                </td>

                                                <td style="text-align: right">{{row['U3-RB Approved Payer PSP Fee - Paid']}}</td>
                                                <td style="text-align: right">{{row['U3-RB Approved Payer PSP Fee GST - Paid']}}</td>

                                                <!-- Beneficiary SOD U3 Approved -->
                                                <td style="text-align: right">{{row['Beneficiary SOD U3 Approved Fee']}}
                                                </td>
                                                <td style="text-align: right">{{row['Beneficiary SOD U3 Approved Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary SOD U3 Approved Transaction Amount'] |inrCurrencyFormat}}
                                                </td>

                                                <!-- Beneficiary U3 Approved -->
                                                <td style="text-align: right">{{row['Beneficiary U3 Approved Fee']}}
                                                </td>
                                                <td style="text-align: right">{{row['Beneficiary U3 Approved Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U3 Approved Transaction Amount'] |inrCurrencyFormat}}
                                                </td>

                                                <!-- Beneficiary U3-RB Approved -->
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U3-RB Approved Fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U3-RB Approved Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U3-RB Approved Transaction Amount'] | inrCurrencyFormat}}
                                                </td>

                                                <!-- Beneficiary U2 Approved -->
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U2 Approved Fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U2 Approved Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U2 Approved NPCI Switching Fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U2 Approved NPCI Switching Fee GST']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary U2 Approved Transaction Amount'] |
                                                    inrCurrencyFormat}}
                                                </td>




                                                <td style="text-align: right">{{row['Remitter Sub Totals'] |
                                                    inrCurrencyFormat}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['Beneficiary Sub Totals'] | inrCurrencyFormat}}
                                                </td>

                                                <td style="text-align: right">{{row['Settlement Amount']| inrCurrencyFormat}}
                                                </td>

<!--                                                <td align="center" style="text-align:center; font-size:120%;">-->
<!--                                                    <span ng-if="(row['REMITTER'] && row['BENEFICIARY'])">Success</span>-->
<!--                                                    <span ng-if="!(row['REMITTER'] && row['BENEFICIARY'])">Failed</span>-->
<!--                                                </td>-->
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
