<!DOCTYPE html>
<html lang="en" ng-app="nextGen">

<head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Next Gen Enterprise Recon</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />-->

    <link href="/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/assets/plugins/x-editable/dist/xeditable.css" rel="stylesheet" type="text/css"/>

    <!-- chartist CSS -->
    <link href="/assets/plugins/select2/docs/_sass/vendor/bootstrap/_modals.scss">
    <link href="/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="/css/scrollable-table.css" rel="stylesheet">
    <link href="/assets/plugins/ui-select/select.css" rel="stylesheet">
    <link href="/assets/plugins/ui-select/select2.css" rel="stylesheet">
    <link href="/assets/plugins/ui-select/selectize.default.css" rel="stylesheet">

    <!--<link href="/assets/plugins/angular-chosen/chosen.css" rel="stylesheet">-->
    <link href="/assets/plugins/angular-chosen/chosen.min.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">

    <link rel="image_src" href="/assets/plugins/angular-chosen/chosen-sprite.png">
    <link href="/assets/plugins/ng-grid/trNgGrid.css" rel="stylesheet">
    <link href="/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <link href="/assets/plugins/angular-issteven-multiselect/isteven-multi-select.css" rel="stylesheet">
    <!-- Custom CSS -->

    <!--<link href="/assets/plugins/flowchart/style.min.css" rel="stylesheet">-->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard3.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/default-dark.css" id="theme" rel="stylesheet">
    <link href="/assets/plugins/wizard/steps.css" rel="stylesheet">
    <link href="/app/css/pages/form-icheck.css" rel="stylesheet">
    <link href="/main/css/pages/icheck_all.css" rel="stylesheet">
    <!--<link href="/ui/css/pages/form-pages.css" rel="stylesheet"z>-->

    <link href="/app/css/recon.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script> var __basePath = ''; </script>-->
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Algo Fusion</p>
    </div>
</div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div ng-view ng-cloak ng-if="!isauthenticated"></div>
<div id="main-wrapper" ng-show="isauthenticated">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo"/>
                    <!-- Light Logo icon -->
                        <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo"/>
                </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo"/>
                    <!-- Light Logo text -->
                         <img src="/assets/images/algo-1bh.png" class="light-logo" alt="homepage"/></span> </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">

                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    </li>
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img src="/assets/images/users/staff.png"
                                                                           class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <!--<div class="u-img"><img src="/assets/images/users/1.jpg" alt="user"></div>-->
                                        <div class="u-text">
                                            <h4 class="f-w-6">{{userData.userName}}</h4>
                                            <p class="f-w-6">{{userData.email}}</p>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" ng-click="accountSetting()" class="f-w-6"><i class="ti-settings m-r-5"></i>{{resources.accountSetting}}</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" ng-click="doLogout()" class="f-w-6"><i class="fa fa-power-off m-r-5"></i>{{resources.logout}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div class="side-mini-panel">
        <ul class="mini-nav">
            <div class="togglediv">
                <a href="javascript:void(0)" id="togglebtn" style="display: none;"><i class="ti-menu"></i></a>
            </div>
            <!--<li ng-show=tabs['dashboard'] class="" ng-class="(path=='/dashboard')?'selected':''" ng-click="path = '/dashboard'">-->
                <!--<a href="/dashboard"><i class="mdi mdi-gauge" data-toggle="tooltip" data-placement="right" title data-original-title="Dashboard"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.dashboard}}</h3>-->
                    <!--<ul class="sidebar-menu">-->
                        <!--<li>-->
                            <!--<a href="/dashboard" ng-class="(summaryDash=='false')?'active':''" ng-click="summaryDash=false">Execution DashBoard</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="/dashboard" ng-class="(summaryDash =='true')?'active':''" ng-click="summaryDash=true">summary DashBoard</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li ng-show=tabs['recons'] class="" ng-class="(path=='/recons')?'selected':''"><a href="javascript:void(0)" ng-click="path = '/recons'"><i-->
                    <!--class="mdi mdi-bullseye" data-toggle="tooltip" data-placement="right" title data-original-title="Recons"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.recons}}</h3>-->
                    <!--<ul class="sidebar-menu">-->
                        <!--<li class="menu" ng-repeat="(process,reconList) in recons"><a href="#">{{process}}<i-->
                                <!--class="mdi mdi-chevron-left pull-right"></i></a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li ng-repeat="recon in reconList">-->
                                    <!--<a href="/recons" ng-class="(activeRecon == recon)?'active':''" ng-click="refreshReconView(recon);">{{recon.name}}</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->


            <!--<li ng-show=tabs['reconJob'] class="" ng-class="(path=='/invoiceUpload')?'selected':''"-->
                <!--ng-click="path = '/invoiceUpload'">-->
                <!--<a href="/invoiceUpload" ng-click="path = '/invoiceUpload'"><i-->
                        <!--class="mdi mdi-bank" data-toggle="tooltip" data-placement="right" title-->
                        <!--data-original-title="Invoice Upload"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.invoiceUpload}}</h3>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li ng-show=tabs['reconJob'] class="" ng-class="(path=='/reconJob')?'selected':''"-->
                <!--ng-click="path = '/reconJob'">-->
                <!--<a href="/reconJob" ng-click="path = '/reconJob'"><i-->
                        <!--class="mdi mdi-bank" data-toggle="tooltip" data-placement="right" title-->
                        <!--data-original-title="Run Job"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.runJob}}</h3>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li ng-show=tabs['reports'] class="" ng-class="(path=='/reports')?'selected':''"-->
                <!--ng-click="path = '/reports'">-->
                <!--<a href="/reports" ng-click="path = '/reports'"><i-->
                        <!--class="mdi mdi-file" data-toggle="tooltip" data-placement="right" title-->
                        <!--data-original-title="Custom Reports"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.customReports}}</h3>-->
                <!--</div>-->
            <!--</li>-->


            <li ng-show=tabs['createInvestigation'] class="selected"
                ng-click="path = '/createInvestigation'">
                <a href="/createInvestigation" ng-click="path = '/createInvestigation'"><i  class="mdi mdi-file" data-toggle="tooltip" data-placement="right" title
                        data-original-title="EJ Parse"></i></a>
                <div class="sidebarmenu">
                    <h3 class="menu-title">{{resources.ejparse}}</h3>
                      <ul class="sidebar-menu">
                          <!--<li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/configuration" id="configuration" ng-click="">{{resources.configuration}}</a>-->
                        <!--</li>-->
                         <li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/createInvestigation" id="createinvestigtion" ng-click="">{{resources.investigation}}</a>
                        </li>
                          <!--<li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/customerclaims" id="customerclaims" ng-click="">{{resources.customerclaims}}</a>-->
                        <!--</li>-->
                          <!--<li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/datavalidationej" id="datavalidationej" ng-click="">{{resources.datavalidationej}}</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </li>



            <!--<li ng-show=tabs['usermanagement'] class="" ng-class="(path=='/usermanagement')?'selected':''"  ng-click="path = '/usermanagement'">-->
                <!--<a href="/usermanagement"><i-->
                        <!--class="mdi mdi-account-circle" data-toggle="tooltip" data-placement="right" title-->
                        <!--data-original-title="Users"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.users}}</h3>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li ng-show=tabs['reconassignment'] class="" ng-class="(path=='/reconassignment')?'selected':''"  ng-click="path = '/reconassignment'">-->
                <!--<a href="/reconassignment"><i-->
                        <!--class="mdi mdi-contacts" data-toggle="tooltip" data-placement="right" title-->
                        <!--data-original-title="Recon Assignmnet"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.reconAssignment}}</h3>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li ng-show=tabs['marketplace'] class="" ng-class="(path=='/marketplace')?'selected':''" ng-click="path = '/marketplace'">-->
                <!--<a href="/marketplace"><i-->
                        <!--class="mdi mdi-shopping" data-toggle="tooltip" data-placement="right" title data-original-title="Market Place"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.marketPlace}}</h3>-->
                    <!--<ul class="sidebar-menu">-->
                        <!--<li class="menu active"><a href="/marketplace" id="installed" ng-click="reconsOfProcess = false">{{resources.reconsStore}}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li ng-show=tabs['settings'] class="" ng-class="(path=='/settings')?'selected':''" ng-click="path = '/settings'">-->
                <!--<a href="/settings"><i-->
                        <!--class="mdi mdi-settings" data-toggle="tooltip" data-placement="right" title-->
                        <!--data-original-title="Settings"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.setting}}</h3>-->
                    <!--<ul class="sidebar-menu">-->
                        <!--&lt;!&ndash;<li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/settings" id="reconSetting" ng-click="enableReconSetting = true">{{resources.recons}}</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/mail" id="mailSetting" ng-click="">{{resources.mailSettings}}</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--<li class="menu" ng-class="enableReconSetting?'menu active':'menu'"><a href="/configuration" id="configuration" ng-click="">{{resources.configuration}}</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li class="menu" ng-class="!enableReconSetting?'menu active':'menu'"><a href="/settings" id="dbSetting" ng-click="enableReconSetting = false">{{resources.db}}</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->
           <!--<li ng-show=tabs['auditlogs'] class="" ng-class="(path=='/auditlogs')?'selected':''" ng-click="path = '/auditlogs'">-->
                <!--<a href="/auditlogs"><i-->
                        <!--class="mdi mdi-clipboard-outline" data-toggle="tooltip" data-placement="right" title data-original-title="Audit Logs"></i></a>-->
                <!--<div class="sidebarmenu">-->
                    <!--<h3 class="menu-title">{{resources.auditlogs}}</h3>-->
                    <!--&lt;!&ndash;<ul class="sidebar-menu">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="menu active"><a href="/auditlogs" id="audit" ng-click="">{{resources.auditlogs}}</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>

    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Horizontal navbar and right sidebar toggle -->
        <!-- ============================================================== -->
        <div ng-view ng-cloak ng-if="isauthenticated"></div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->

<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->


<script src="/assets/plugins/jquery/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>


<script type="text/javascript" src="/assets/js/angular.min.js"></script>
<script src="/js/angular-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-route.min.js"></script>
<script type="text/javascript" src="/assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script type="text/javascript" src="/js/sortable.js"></script>
<!--<script type="text/javascript" src="/js/sortable.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/ng-sortable.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>-->

<script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-animate.min.js"></script>

<script type="text/javascript" src="/assets/plugins/angular-chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/angular-chosen/angular-chosen.min.js"></script>

<script type="text/javascript" src="/js/angular-file-upload.js"></script>
<script type="text/javascript" src="/assets/js/angularjs-dropdown-multiselect.js"></script>

<script type="text/javascript" src="/agGrid/ag-grid.min.js"></script>
<script type="text/javascript" src="/agGrid/ag-grid-enterprise.js"></script>
<script type="text/javascript" src="/agGrid/ag-grid-enterprise.min.js"></script>

<!--<script type="text/javascript" src="/assets/plugins/highcharts/highcharts.js"></script>-->
<!--<script type="text/javascript" src="/assets/plugins/highcharts/exporting.js"></script>-->
<!--<script type="text/javascript" src="/assets/plugins/highcharts/export-data.js"></script>-->
<!-- Bootstrap popper Core JavaScript -->
<script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/bootStrap-multiselect/angular-bootstrap-multiselect.min.js"></script>


<script src="/assets/plugins/ui-select/select.js"></script>
<script src="/assets/plugins/ui-select/angular-sanitize.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
<script src="/js/sidebar.min.js"></script>


<script type="text/javascript" src="/js/aes.js"></script>
<script type="text/javascript" src="/js/mode-cfb.min.js"></script>
<script type="text/javascript" src="/js/pad-zeropadding.js"></script>
<script type="text/javascript" src="/js/enc-utf8.js"></script>
<script type="text/javascript" src="/js/angular-idle.min.js"></script>
<script type="text/javascript" src="/assets/plugins/angular-issteven-multiselect/isteven-multi-select.js"></script>
<script type="text/javascript" src="/assets/js/angularjs-dropdown-multiselect.js"></script>
<script type="text/javascript" src="/app/js/angular-dragdrop.min.js"></script>

<script type="text/javascript" src="/js/angular-drag-and-drop-lists.js"></script>
<script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/assets/plugins/ng-grid/trNgGrid.js"></script>

<script src="/assets/plugins/chartist-js/dist/chartist.js"></script>
<script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="/assets/plugins/x-editable/dist/xeditable.js"></script>
<script src="/assets/plugins/Chart.js/Chart.js"></script>
<script src="/assets/plugins/Chart.js/Chart.min.js"></script>

<script src="/assets/plugins/d3/d3.min.js"></script>
<script src="/assets/plugins/c3-master/c3.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-dropdown-multiselect/2.0.0-beta.1/angularjs-dropdown-multiselect.min.js"></script>
<script type="text/javascript" src="/js/multiselect.js"></script>
<script type="text/javascript" src="/js/angular-scrollable-table.js"></script>
<script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<script src="/assets/plugins/angular-drag-and-drop-lists-master/angular-drag-and-drop-lists.min.js"></script>
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/toast-master/js/jquery.toast.js"></script>
<link href="/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
<script type="text/javascript" src="/app/js/app.js"></script>
<script type="text/javascript" src="/app/js/app.gen.services.js"></script>
<script type="text/javascript" src="/app/js/app.services.js"></script>
<script type="text/javascript" src="/app/js/app.directives.js"></script>
<script type="text/javascript" src="/app/js/app.filters.js"></script>
<script type="text/javascript" src="/app/js/dashboard.js"></script>
<script type="text/javascript" src="/app/js/reconJob.js"></script>
<script type="text/javascript" src="/app/js/recons.js"></script>
<script type="text/javascript" src="/app/js/marketplace.js"></script>
<script type="text/javascript" src="/app/js/configuration.js"></script>
<script type="text/javascript" src="/app/js/settingsController.js"></script>
<script type="text/javascript" src="/app/js/sourceTemplate.js"></script>
<script type="text/javascript" src="/app/js/forceMatchTxn.js"></script>
<script type="text/javascript" src="/app/js/configuration.js"></script>
<script type="text/javascript" src="/app/js/customReports.js"></script>
<script type="text/javascript" src="/app/js/datavalidationej.js"></script>
<script type="text/javascript" src="/app/js/createInvestigation.js"></script>
<script type="text/javascript" src="/app/js/audit.js"></script>


<script type="text/javascript" src="/app/js/usermanagement.js"></script>
<script type="text/javascript" src="/app/js/reconassignment.js"></script>
<script type="text/javascript" src="/app/js/ejparse.js"></script>
<script type="text/javascript" src="/app/js/customerclaims.js"></script>
<script type="text/javascript" src="/app/js/mail.js"></script>
<script type="text/javascript" src="/app/js/angular-crypto.service.js"></script>

</body>

</html>
