<div class="card" ng-show="!showSummary">
    <div class="card-header">
        <div class="row">
            <h2 class="card-title text-center f-w-6">{{resources.kanban}}</h2>
            <button class="btn btn-info btn-md f-w-6 ml-auto" ng-click="viewSummary()">{{resources.viewSummary}}
            </button>
        </div>

    </div>
</div>

<div class="row" ng-show="!viewTickets && !showSummary">
    <div class="col-md-4">
        <div class="card border-info m-t-20 m-l-20" ng-repeat="val in casesOpen track by $index">

            <div class="card-header">
                <h4 class="card-title"><strong>Ticket Id: # <a ng-href="#" ng-click="viewMail(val,undefined)">{{val.ticketId}}</a></strong>
                    <span class="label label-success  float-right"><strong>{{val.status}}</strong></span></h4>

                <!--<h5 class="card-title"><strong>Subject: </strong>-->
                <!--<span class="label label-success  float-right"><strong>{{val.subject}}</strong></span></h5>-->

                <div class="card-subtitle">
                    <strong>{{val.caseType}}</strong>
                </div>
            </div>

            <div class="card-body">
                <div class="card-text m-t-30">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-4">State : </label>
                                {{val.caseState}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">Bank Name : </label>
                                {{val.bank}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">Cases : </label>
                                {{val.caseCount}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">Date: </label>
                                {{val.creationTime}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">From: </label>
                                {{val.from}}
                            </div>
                            <!--<div class="form-group row">-->
                            <!--<label class="col-md-4">From: </label>-->
                            <!--{{val.from}}-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <button class="btn btn-info btn-round-sm btn-sm" ng-click="getTicketDetails($index)">
                        {{resources.ticketDetails}}
                    </button>

                    <button class="btn btn-info btn-round-sm btn-sm ml-auto" ng-click="viewCaseTickets($index)">
                        {{resources.investigate}}
                    </button>
                    <!--<button class="btn  btn-danger btn-round-sm btn-sm ml-auto">-->
                    <!--{{resources.closeCase}}-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info m-t-20 m-l-20" ng-repeat="val in casesClosed">
            <div class="card-header">
                <h4 class="card-title"><strong>Case Id: #{{val.ticketId}}</strong>
                    <span class="label label-danger  float-right">
                                <strong>{{val.status}}
                                </strong>
                            </span>
                </h4>
                <div class="card-subtitle">
                    <strong>{{val.caseType}}</strong>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text m-t-30">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-4">State: </label>
                                {{val.caseState}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">Bank Name: </label>
                                {{val.bankName}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">Cases : </label>
                                {{val.caseCount}}
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4">Date: </label>
                                {{val.creationTime}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row c">
                    <button class="btn  btn-danger btn-round-sm btn-sm ml-auto" ng-click="removeCase($index)">
                        {{resources.remove}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="viewTickets && !showSummary">
    <div class="col-md-10 col-lg-10">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2 class="card-title m-b-5 f-w-6"><span class="lstick" style="margin-left: -5px;"></span>CASE ID:
                        {{selectedCase.ticketId}}</h2>

                    <span class="ml-auto" ng-click="viewTickets=false"><i class="fa fa-arrow-left col-md-4"
                                                                          style="font-size: x-large;"></i></span>
                </div>
            </div>
            <!--</div>-->
            <div class="card-body">


                <div class="table-responsive">
                    <table class="table color-table info-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{resources.caseId}}</th>
                            <th>{{resources.atmId}}</th>
                            <th>{{resources.tranDate}}</th>
                            <th>{{resources.state}}</th>
                            <th>{{resources.ejError}}</th>
                            <th>{{resources.investigationRemarks}}</th>
                            <th>{{resources.investigationStatus}}</th>
                            <th>{{resources.analyze}}</th>
                            <th style="width:20%">{{resources.attachments}}</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="val in caseTickets track by $index">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td><a ng-href="#" ng-click="showCaseStateFlow($index)">{{val.caseId}}</a></td>
                            <td>{{val['requiredKeys']['ATM ID']}}</td>
                            <td>{{val['requiredKeys']['Transaction Date']}}</td>
                            <td> <span ng-show="val.status=='OPEN'"
                                       ng-class="val.status=='OPEN'?'label label-danger f-w-6':''">
                                    {{val.status}}
                                </span>
                                <span ng-show="val.status=='IN PROGRESS'"
                                      ng-class="val.status=='IN PROGRESS'?'label label-warning f-w-6':''">
                                    Progress
                                </span>

                                <span ng-show="val.status=='RESOLVED'"
                                      ng-class="val.status=='RESOLVED'?'label label-success f-w-6':'label label-success'">
                                    {{val.status}}
                                </span>

                                <span ng-show="val.status=='REJECTED'"
                                      ng-class="val.status=='REJECTED'?'label label-warning f-w-6':''">
                                    {{val.status}}
                                </span>
                            </td>
                            <td>{{val['requiredKeys']['EJ Error']}}</td>
                            <td>{{val.MachineStatus}}</td>
                            <td>{{val.rmsMspStatus}}</td>
                            <td>
                                <button class="btn btn-sm btn-success f-w-6" ng-click="analyseTicket($index)">
                                    Start
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-info btn-sm f-w-6" ng-click="viewMail(undefined,$index)">
                                    View Mail
                                </button>
                                <button class="btn btn-info btn-sm  f-w-6" ng-click="downloadEJFile($index)">
                                    Download EJ
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-md-2 col-lg-2" ng-show="stateFlow">
        <div class="card-header">
            <h4 class="card-title m-b-5 f-w-6"><span class="lstick" style="margin-left: -10px;"></span>
                Case State Flow</h4>
        </div>
        <div class="card-body">
            <div class="card m-b-10" ng-repeat="(key,val) in stepsCovered">
                <div class="box text-center"
                     ng-class="(completedSteps[val]==true?'bg-success':'')||(completedSteps[val]=='inprogress'?'bg-warning':'')">
                    <h4 class="ng-binding f-w-6">{{key}}</h4>
                </div>

                <!--<div class="box text-center" ng-show="completedSteps[val]=='inprogress'" ng-class="completedSteps[val]==inprogress?'bg-success':''">-->
                <!--<h4 class="ng-binding f-w-6">{{val}}</h4>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="showSummary">
    <div class="card col-12">
        <div class="card-header">
            <h2 class="card-title m-b-5 f-w-6"><span class="lstick" style="margin-left: -5px;"></span>{{resources.summaryDashboard}}
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h4 class="card-title">Support Ticket List</h4>
                    <h4 class="card-subtitle">List of ticket opend by customers</h4>
                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-4 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white">{{summary.tickets}}</h1>
                                    <h4 class="text-white">{{resources.totalTicktes}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-4 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-primary text-center">
                                    <h1 class="font-light text-white">{{summary.ticketsAcceptsCount}}</h1>
                                    <h4 class="text-white">{{resources.ticketsAccepted}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-4 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-success text-center">
                                    <h1 class="font-light text-white">{{summary.ticketsRejectedCount}}</h1>
                                    <h4 class="text-white">{{resources.ticketsRejected}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-4 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white">{{summary.ticketsResolvedCount}}</h1>
                                    <h4 class="text-white">{{resources.resolved}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-4 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-danger text-center">
                                    <h1 class="font-light text-white">{{summary.ejNotAvailableCount}}</h1>
                                    <h4 class="text-white">{{resources.ejNotAvailable}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-4 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-warning text-center">
                                    <h1 class="font-light text-white">{{summary.cbrNotAvailableCount}}</h1>
                                    <h4 class="text-white">{{resources.cbrNotAvailable}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="ticketDetails.html">
    <div class="modal-header thead">
        <h4 class="modal-title f-w-6">{{resources.ticketDetails}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body modal-dialog.modal-md">
        <!--<div class="row">-->
        <!--<div class="">-->
        <div class="form-group row">
            <h5 class="col-md-4">State : </h5>
            {{ticket.caseState}}
        </div>
        <div class="form-group row">
            <h5 class="col-md-4">Bank Name : </h5>
            {{ticket.bank}}
        </div>
        <div class="form-group row">
            <h5 class="col-md-4">Cases : </h5>
            {{ticket.caseCount}}
        </div>
        <div class="form-group row">
            <h5 class="col-md-4">Date: </h5>
            {{ticket.creationTime}}
        </div>
        <div class="form-group row">
            <h5 class="col-md-4">From: </h5>
            {{ticket.from}}
        </div>
        <div class="form-group row">
            <h5 class="col-md-4">To: </h5>
            {{ticket.to}}
        </div>
        <div class="form-group row">
            <h5 class="col-md-4">Subject: </h5>
            {{ticket.subject}}
        </div>
        <!--</div>-->
        <h4 class="m-t-20"><strong>{{resources.caseCount}}</strong></h4>
        <hr>
        <table class="table table-condensed table-bordered table-striped">
            <thead class="thead">
            <tr>
                <th>State</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in caseStateCount">
                <td>{{val.state}}</td>
                <td>{{val.count}}</td>
            </tr>
            </tbody>
        </table>
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-sm" ng-click="cancel()">Cancel</button>
    </div>
</script>
