<div class="card">
    <div class="card-title">

    </div>
    <div class="card-body">
        <label class="mr-sm-2 f-w-6">source</label>
        <div class="form-group row  col-lg-3">
            <select class="form-control"
                    ng-options="val as key for (key,val) in {'EJ':'alldf','Supervisor':'cassetedf'}"
                    ng-model="source" ng-change="getRecords(source)">
                <option value="">Select</option>
            </select>
        </div>

    <form>
        <div class="form-group m-r-10">
            <label class="mr-sm-2 f-w-6">{{resources.advfilters}}</label>

            <button class="btn btn-info " title="Add Filters"
                    ng-click="addAdvFilter()"><i class="fa fa-plus"></i></button>
        </div>

        <div ng-repeat="v in advFilters track by $index">
            <div class="form-group row col-lg-12">
                <i class="fa fa-minus m-t-10 m-r-10" ng-click="deleteAdvFilter($index)"></i>
                <button class="btn btn-secondary btn-sm col-md-4" data-toggle="collapse"
                        data-target="#{{$index+1}}"
                        aria-expanded="true" aria-controls="{{$index+1}}">
                    {{resources.filter}}{{$index+1}}
                    <i class=""
                       ng-class="(chevronList.indexOf(key)==-1)?'mdi mdi-chevron-right pull-right':'mdi mdi-chevron-down pull-right'"
                       style="float:right"></i>
                    <span ng-class=""></span>
                </button>
            </div>

            <div id="{{$index+1}}" class="collapse m-l-10"
                 aria-labelledby="heading2">
                <div class="form-group col-md-4">
                    <label class="mr-sm-2"
                           for="inlineFormCustomSelect1"><b>{{resources.columnName}}</b></label>
                    <select class="form-control form-control-sm"
                            ng-model="v.selectedColumn"
                            ng-change="getOperation(v)"
                            class="form-control" id="inlineFormCustomSelect1"
                            ng-options="val as val for val in transactionData['columns']">
                        <option value="">{{resources.select}}</option>
                    </select>
                </div>


                <div class="form-group col-md-4">
                    <label class="mr-sm-2"
                           for="inlineFormCustomSelect2">{{resources.operation}}</label>
                    <select class="form-control form-control-sm"
                            ng-model="v.operation"
                            class="form-control" id="inlineFormCustomSelect2"
                            ng-options="val for val in operationList">
                        <option value="">{{resources.select}}</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label class="mr-sm-2" >{{resources.value}}</label>
                    <!--<label>{{resources.value}}</label>-->
                    <input type="text" ng-model="v.value"
                           class="form-control form-control-sm"
                           id="inlineFormInput" placeholder="Enter Value">
                </div>
            </div>
        </div>


        <div class="form-group">
            <button ng-click="getFilteredRecord(advFilters,source)" type="submit" class="btn btn-secondary">
                {{resources.search}}
            </button>
        </div>
    </form>


    <div id="myGrid1" style="width: 100%; height: 450px;"
             ag-grid="gridOptions"
             class="ag-theme-fresh m-t-30">
        </div>
</div>
</div>