<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row" id='validation'>
                <div class="col-12">
                    <div class="card wizard-content">
                        <div class="card-body">
                            <h4 class="card-title text-center f-w-6">Analyze Ticket<i
                                    class="fa fa-close float-right m-r-30"
                                    title="Cancel Recon"
                                    ng-click="showTicketslist()"></i></h4>
                            <form class="validation-wizard wizard-circle wizard clearfix" id="steps-uid-2">

                                <!--steps list items at the top-->
                                <div class="steps clearfix">
                                    <ul role="tablist">
                                        <li role="tab" class="first"
                                            ng-class="(present == 'ticketInfo')?'current':''||(active['ticketInfo'] == true)?'done':''">
                                            <a id="steps-uid-2-t-0" href="#" aria-controls="steps-uid-2-p-0">
                                                <span class="current-info audible">current step: </span><span
                                                    class="step">1</span>Case Status
                                            </a>
                                        </li>

                                        <!--<li role="tab" class="disabled"-->
                                        <!--ng-class="(present == 'ticketStatus')?'current':''||(active['ticketStatus']==true)?'done':''">-->
                                        <!--<a id="steps-uid-2-t-4" href="#" aria-controls="steps-uid-2-p-2">-->
                                        <!--<span class="step">2</span>Ticket Status-->
                                        <!--</a>-->
                                        <!--</li>-->

                                        <!--<li role="tab" class="disabled"-->
                                        <!--ng-class="(present == 'resultsOfProcess')?'current':''||(active['resultsOfProcess']==true)?'done':''">-->
                                        <!--<a id="steps-uid-2-t-5" href="#" aria-controls="steps-uid-2-p-2">-->
                                        <!--<span class="step">3</span>Result of Process-->
                                        <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>

                                <!--contents of each steps as defined in this sections-->
                                <div class="content clearfix">

                                    <!-- Step 1 -->
                                    <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
                                    <section id="steps-uid-2-p-0" role="tabpanel"
                                             aria-labelledby="steps-uid-2-h-0"
                                             class="" ng-show="present=='ticketInfo'">

                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
                                                        <h3 class="card-title f-w-6"><span class="lstick"
                                                                                           style="margin-left: 1px"></span>{{resources.ticketInfo}}
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-body">
                                                        <div class="row p-t-20">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.ticketId}}
                                                                        :</h4>

                                                                    <h3>{{selectedCase.ticketId}}</h3>

                                                                    <!--<input type="text" id="caseId"-->
                                                                    <!--class="form-control" placeholder=""-->
                                                                    <!--ng-model="selectedCase.ticketId">-->
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.ticketBank}} :</h4>
                                                                    <h3>{{selectedCase.bank}}</h3>

                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row p-t-20">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.ticketState}} :</h4>
                                                                    <h3>{{selectedCase.status}}</h3>

                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.ticketType}} :</h4>
                                                                    <h3>{{selectedCase.caseType}}</h3>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row p-t-20">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.createdDate}} :</h4>
                                                                    <h3>{{selectedCase.creationTime}}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
                                                        <h3 class="card-title f-w-6"><span class="lstick"
                                                                                           style="margin-left: 1px"></span>{{resources.caseDetails}}
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body" style="overflow-x: auto">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="thead">
                                                    <tr>
                                                        <th ng-repeat="(key,val) in analysingTicket['requiredKeys']">
                                                            {{key}}
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td ng-repeat="(key,val) in analysingTicket['requiredKeys']">
                                                            {{val}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <!--<div class="col-sm-12 col-md-12 col-lg-12 align-self-center">-->
                                                    <h3 class="card-title f-w-6"><span class="lstick"
                                                                                       style="margin-left: 1px"></span>{{resources.errorDetails}}
                                                    </h3>

                                                    <span class="ml-auto" ng-click="editErrorStatus=!editErrorStatus"><i
                                                            class="fa fa-edit col-md-4"
                                                            style="font-size: x-large;" title="Edit Status"></i></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-body">
                                                        <div class="row p-t-20">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.errorCategory}} :</h4>
                                                                    <input type="text" ng-show="editErrorStatus"
                                                                           id="errorCategory"
                                                                           class="form-control"
                                                                           placeholder=""
                                                                           ng-model="analysingTicket.errorCategory">
                                                                    <h3 ng-show="!editErrorStatus">
                                                                        {{analysingTicket.errorCategory}}</h3>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.errorCode}} :</h4>
                                                                    <input type="text" id="errorCode"
                                                                           class="form-control"
                                                                           ng-show="editErrorStatus"
                                                                           placeholder=""
                                                                           ng-model="analysingTicket.errorCode">
                                                                    <h3 ng-show="!editErrorStatus">
                                                                        {{analysingTicket.errorCode}}</h3>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <!--<div class="col-md-4">-->
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.errorCodeDescription}} :</h4>
                                                                    <input type="text" id="errorCodeDescription"
                                                                           class="form-control form-control-danger"
                                                                           placeholder="" ng-show="editErrorStatus"
                                                                           ng-model="analysingTicket.errorCodeDescription"
                                                                    >
                                                                    <h3 ng-show="!editErrorStatus">
                                                                        {{analysingTicket.errorCodeDescription}}</h3>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.missingSeqNo}} :</h4>
                                                                    <input type="text" id="missingSeqNo"
                                                                           class="form-control"
                                                                           placeholder="" ng-show="editErrorStatus"
                                                                           ng-model="analysingTicket.missingSeqNo">
                                                                    <h3 ng-show="!editErrorStatus">
                                                                        {{analysingTicket.missingSeqNo}}</h3>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!--/row-->
                                                        <div class="row p-t-20">
                                                            <!--/span-->
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row p-t-20-->
                                                        <div class="row p-t-20">

                                                            <!--/span-->
                                                        </div>

                                                        <!--<div class="row p-t-20">-->
                                                        <!--<div class="col-md-4">-->
                                                        <!--<div class="form-group">-->
                                                        <!--<h4 class="control-label f-w-6">-->
                                                        <!--{{resources.errorCategory}} :</h4>-->
                                                        <!--<select class="form-control custom-select"-->
                                                        <!--type="text"-->
                                                        <!--ng-model="analysingTicket.errorCategory"-->
                                                        <!--ng-options="val as val for val in errorCategory">-->
                                                        <!--<option value="">Select</option>-->
                                                        <!--</select>-->
                                                        <!--</div>-->
                                                        <!--</div>-->
                                                        <!--&lt;!&ndash;/span&ndash;&gt;-->

                                                        <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                        <!--</div>-->
                                                        <!--<div class="row p-t-20">-->
                                                        <!--<div class="col-md-4">-->
                                                        <!--<div class="form-group">-->
                                                        <!--<h4 class="control-label f-w-6">-->
                                                        <!--{{resources.errorCode}} :</h4>-->
                                                        <!--<select class="form-control custom-select"-->
                                                        <!--type="text"-->
                                                        <!--ng-model="analysingTicket.errorCode"-->
                                                        <!--ng-options="val as val for val in errorCodes[analysingTicket.errorCodeDescription]">-->
                                                        <!--<option value="">Select</option>-->
                                                        <!--</select>-->
                                                        <!--</div>-->
                                                        <!--</div>-->

                                                        <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                        <!--</div>-->

                                                    </div>
                                                </form>
                                            </div>

                                        </div>


                                        <div class="card" ng-show="analysingTicket['cbrData'].length>0">
                                            <div class="card-header">
                                                <div class="row">
                                                    <!--<div class="col-sm-12 col-md-12 col-lg-12 align-self-center">-->
                                                    <h3 class="card-title f-w-6"><span class="lstick"
                                                                                       style="margin-left: 1px"></span>{{resources.cbrDetails}}
                                                    </h3>
                                                    <span class="ml-auto f-w-6">Date: {{analysingTicket['midCashIncrease']}}</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="" style="overflow-x: auto">
                                                    <table class="table table-bordered table-striped">
                                                        <thead class="thead">
                                                        <tr>
                                                            <th>{{resources.description}}</th>
                                                            <th>{{resources.amount}}</th>
                                                            <th>{{resources.status}}</th>
                                                            <!--<th>{{resources.download}}</th>-->
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="val in analysingTicket['cbrData']">
                                                            <td>{{val.key}}</td>
                                                            <td>{{val.value}}</td>
                                                            <td>{{val.status}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card" ng-show="analysingTicket['machieneDetails'].length>0">
                                            <div class="card-header">
                                                <div class="row">
                                                    <!--<div class="col-sm-12 col-md-12 col-lg-12 align-self-center">-->
                                                    <h3 class="card-title f-w-6"><span class="lstick"
                                                                                       style="margin-left: 1px"></span>ATM Details
                                                    </h3>

                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="" style="overflow-x: auto">
                                                    <table class="table table-bordered table-striped">
                                                        <thead class="thead">
                                                        <tr >
                                                            <th>Type</th>
                                                            <th>DISPENSED</th>
                                                            <th>CASSETTE</th>
                                                            <th>REJECTED</th>
                                                            <th>TOTAL</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="val in analysingTicket['machieneDetails']">
                                                            <td>{{val.type}}</td>
                                                            <td>{{val.DISPENSED}}</td>
                                                            <td>{{val.CASSETTE}}</td>
                                                            <td>{{val.REJECTED}}</td>
                                                            <td>{{val.TOTAL}}</td>
                                                            <!--<td>{{val}}</td>-->
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card" ng-show="analysingTicket['hostTotals'].length>0">
                                            <div class="card-header">
                                                <div class="row">
                                                    <!--<div class="col-sm-12 col-md-12 col-lg-12 align-self-center">-->
                                                    <h3 class="card-title f-w-6"><span class="lstick"
                                                                                       style="margin-left: 1px"></span>HOST TOTAL
                                                    </h3>

                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="" style="overflow-x: auto">
                                                    <table class="table table-bordered table-striped">
                                                        <thead class="thead">
                                                         <tr >
                                                            <th>Type</th>
                                                            <th>DISPENSED</th>
                                                            <th>CASSETTE</th>
                                                            <th>REJECTED</th>
                                                            <th>TOTAL</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="val in analysingTicket['hostTotals']">
                                                            <td>{{val.type}}</td>
                                                            <td>{{val.DISPENSED}}</td>
                                                            <td>{{val.CASSETTE}}</td>
                                                            <td>{{val.REJECTED}}</td>
                                                            <td>{{val.TOTAL}}</td>
                                                            <!--<td>{{val}}</td>-->
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <!--<div class="col-sm-12 col-md-12 col-lg-12 align-self-center">-->
                                                    <h3 class="card-title f-w-6"><span class="lstick"
                                                                                       style="margin-left: 1px"></span>{{resources.investigationSummary}}
                                                    </h3>

                                                    <span class="ml-auto" ng-click="editStatus=!editStatus"><i
                                                            class="fa fa-edit col-md-4"
                                                            style="font-size: x-large;"
                                                            title="Edit Status"></i></span>

                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-body">
                                                        <div class="row p-t-20">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.errorType}} :</h4>
                                                                    <select type="text" id="errorType"
                                                                            class="form-control" ng-show="editStatus"
                                                                            placeholder=""
                                                                            ng-model="analysingTicket.errorType"
                                                                            ng-options="val for val in errorTypes">
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.errorType}}</h3>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <!--<div class="col-md-4">-->
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.overageStatus}} :</h4>
                                                                    <select type="text" ng-show="editStatus"
                                                                            id="overageStatus"
                                                                            class="form-control"
                                                                            placeholder=""
                                                                            ng-model="analysingTicket.overageStatus"
                                                                            ng-options="val for val in overageStatusOptions">
                                                                        <option value="">Select</option>
                                                                    </select>

                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.overageStatus}}</h3>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.switchStatus}} :</h4>
                                                                    <select type="text" id="switchStatus"
                                                                            ng-show="editStatus"
                                                                            class="form-control"
                                                                            placeholder=""
                                                                            ng-model="analysingTicket.switchStatus"
                                                                            ng-options="val for val in switchStatusOptions"
                                                                    >
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.switchStatus}}</h3>
                                                                </div>
                                                            </div>
                                                            <!--</div>-->
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row p-t-20">
                                                            <!--/span-->

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.region}} :</h4>
                                                                    <select type="text" id="region"
                                                                            class="form-control form-control-danger"
                                                                            placeholder="" ng-show="editStatus"
                                                                            ng-model="analysingTicket.region"
                                                                            ng-options="val for val in regionTypes"
                                                                    >
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.region}}</h3>
                                                                </div>
                                                            </div>

                                                            <!--/span-->
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.rejectJust}} :</h4>
                                                                    <select type="text" id="rejectJust"
                                                                            class="form-control"
                                                                            placeholder="" ng-show="editStatus"
                                                                            ng-model="analysingTicket.rejectionJust"
                                                                            ng-options="val for val in rejectionTypes">
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.rejectionJust}}</h3>
                                                                </div>
                                                            </div>

                                                            <!--<div class="col-md-4">-->
                                                            <!--<div class="form-group">-->
                                                            <!--<h4 class="control-label f-w-6">-->
                                                            <!--{{resources.errorCodeDescription}}-->
                                                            <!--:</h4>-->
                                                            <!--<select class="form-control custom-select"-->
                                                            <!--type="text" ng-show="editStatus"-->
                                                            <!--ng-model="analysingTicket.errorCodeDescription"-->
                                                            <!--ng-options="val as val for val in errorCodeDescription[analysingTicket.errorCategory]">-->
                                                            <!--<option value="">Select</option>-->
                                                            <!--</select>-->
                                                            <!--<h3 ng-show="!editStatus">-->
                                                            <!--{{analysingTicket.errorCodeDescription}}</h3>-->
                                                            <!--</div>-->
                                                            <!--</div>-->

                                                            <!--/span-->
                                                        </div>
                                                        <!--/row p-t-20-->
                                                        <div class="row p-t-20">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.investigationRemarks}} :</h4>
                                                                    <input type="text" id="machineStatus"
                                                                           class="form-control"
                                                                           placeholder="" ng-show="editStatus"
                                                                           ng-model="analysingTicket.MachineStatus">
                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.MachineStatus}}</h3>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <div class="row p-t-20">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <h4 class="control-label f-w-6">
                                                                        {{resources.investigationStatus}} :</h4>
                                                                    <select type="text" id="rmsMspStatus"
                                                                            class="form-control"
                                                                            placeholder="" ng-show="editStatus"
                                                                            ng-model="analysingTicket.rmsMspStatus"
                                                                            ng-options="val for val in investigationTypes">
                                                                        <option value="">Select</option>
                                                                    </select>

                                                                    <h3 ng-show="!editStatus">
                                                                        {{analysingTicket.rmsMspStatus}}</h3>
                                                                </div>
                                                            </div>


                                                            <div class="ml-auto">
                                                                <div class="form-group m-t-30">
                                                                    <h4 class="control-label"></h4>
                                                                    <button class="btn btn-info btn-sm"
                                                                            ng-click="addComments=!addComments">
                                                                        {{resources.caseComments}}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!--<div class="row p-t-20">-->
                                                        <!--<div class="col-md-4">-->
                                                        <!--<div class="form-group">-->
                                                        <!--<h4 class="control-label f-w-6">-->
                                                        <!--{{resources.errorCategory}} :</h4>-->
                                                        <!--<select class="form-control custom-select"-->
                                                        <!--type="text"-->
                                                        <!--ng-model="analysingTicket.errorCategory"-->
                                                        <!--ng-options="val as val for val in errorCategory">-->
                                                        <!--<option value="">Select</option>-->
                                                        <!--</select>-->
                                                        <!--</div>-->
                                                        <!--</div>-->
                                                        <!--&lt;!&ndash;/span&ndash;&gt;-->

                                                        <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                        <!--</div>-->
                                                        <!--<div class="row p-t-20">-->
                                                        <!--<div class="col-md-4">-->
                                                        <!--<div class="form-group">-->
                                                        <!--<h4 class="control-label f-w-6">-->
                                                        <!--{{resources.errorCode}} :</h4>-->
                                                        <!--<select class="form-control custom-select"-->
                                                        <!--type="text"-->
                                                        <!--ng-model="analysingTicket.errorCode"-->
                                                        <!--ng-options="val as val for val in errorCodes[analysingTicket.errorCodeDescription]">-->
                                                        <!--<option value="">Select</option>-->
                                                        <!--</select>-->
                                                        <!--</div>-->
                                                        <!--</div>-->

                                                        <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                        <!--</div>-->

                                                    </div>
                                                </form>
                                            </div>

                                        </div>

                                        <div class="row" ng-show="addComments">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
                                                                <h3 class="card-title f-w-6"><span class="lstick"
                                                                                                   style="margin-left: 1px"></span>{{resources.caseComments}}
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <form>
                                                            <div class="form-body">
                                                                <h3 class="card-title">Tickets Status</h3>
                                                                <hr>
                                                                <div class="row p-t-20">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.internalAction}} :</h4>
                                                                            <input type="text" id="internalAction"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.internalAction">
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.customerStatus}} :</h4>
                                                                            <input type="text" id="customerStatus"
                                                                                   class="form-control form-control-danger"
                                                                                   placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>
                                                                <!--/row-->
                                                                <div class="row p-t-20">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.disputeComments}} :</h4>
                                                                            <input type="text" id="disputeComments"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.disputeComments">

                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.hoRemarks}} :</h4>
                                                                            <input type="text" id="hoRemarks"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.hoRemarks">
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>
                                                                <!--/row p-t-20-->
                                                                <div class="row p-t-20">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.depositedAmount}} :</h4>
                                                                            <input type="text" id="depositedAmount"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.depositedAmount">

                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.depositedDate}} :</h4>
                                                                            <input type="text" id="depositedDate"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.depositedDate">
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>
                                                                <div class="row p-t-20">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.shortageFromDate}}
                                                                                :</h4>
                                                                            <input type="text" id="shortageFromDate"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.shortageFromDate">

                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.shortageToDate}} :</h4>
                                                                            <input type="text" id="shortageToDate"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.shortageToDate">
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>
                                                                <!--/row p-t-20-->


                                                                <!--<div class="row p-t-20">-->

                                                                <!--<div class="col-md-4">-->
                                                                <!--<div class="form-group">-->
                                                                <!--<h3 class="control-label f-w-6">-->
                                                                <!--{{resources.state}} :</h3>-->
                                                                <!--<select class="form-control custom-select"-->
                                                                <!--type="text"-->
                                                                <!--ng-model="analysingTicket.status"-->
                                                                <!--ng-options="val as val for val in statusAvailable">-->
                                                                <!--<option value="">Select</option>-->
                                                                <!--</select>-->
                                                                <!--</div>-->
                                                                <!--</div>-->
                                                                <!--</div>-->
                                                                <div class="row p-t-20"
                                                                     ng-show="analysingTicket.status=='REJECTED'">
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <h4 class="control-label f-w-6">
                                                                                {{resources.justification}} :</h4>
                                                                            <input type="text" id="justification"
                                                                                   class="form-control"
                                                                                   placeholder=""
                                                                                   ng-model="analysingTicket.justification">
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>


                                    <!-- Step 2 -->
                                    <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 2</h6>
                                    <section id="steps-uid-2-p-2" role="tabpanel" aria-labelledby="steps-uid-2-h-2"
                                             class="body"
                                             aria-hidden="true" ng-show="present == 'ticketStatus'">


                                    </section>


                                    <div class="row float-right m-r-20">
                                        <!--<button class="btn btn-info m-r-5"-->
                                        <!--ng-show="present !='ticketInfo'" ng-click="previousStep(present)"-->
                                        <!--role="menuitem">Previous-->
                                        </button>
                                        <!--<button class="btn btn-info m-r-5" ng-click="nextStep(present)"-->
                                        <!--ng-show="present=='ticketInfo'">-->
                                        <!--Next-->
                                        <!--</button>-->
                                        <button class="btn btn-info m-r-5" ng-click="updateStatus(present)">
                                            {{resources.update}}
                                        </button>
                                    </div>

                                    <!--&lt;!&ndash;step 3&ndash;&gt;-->
                                    <!--<h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 3</h6>-->
                                    <!--<section id="steps-uid-2-p-3" role="tabpanel" aria-labelledby="steps-uid-2-h-2"-->
                                    <!--class="body"-->
                                    <!--aria-hidden="true" ng-show="present=='resultsOfProcess'">-->
                                    <!--</section>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>