<div class="card">
    <div class="card-title">
        <!--<h2 class="col-lg-6 card-title f-w-6 ng-binding" style="margin-bottom: 0px"><span class="lstick"></span>PP-->
    <div class="card-body">
        <div>
            <H2>
                WELCOME TO THE  PARSING ENVIRONMENT
            </H2>
        </div>
        <!--<div class="btn-group">-->
            <!--<button type="button" ng-disabled="rowform.$waiting"-->
                    <!--class="btn btn-md waves-effect waves-light btn-info"-->
                    <!--ng-click="uploadFeedFile($index)" title="{{resources.uploadRecon}}">-->
                <!--Parse Ej File-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="btn-group">-->
            <!--<button type="button" ng-disabled="rowform.$waiting"-->
                    <!--class="btn btn-md waves-effect waves-light btn-info"-->
                    <!--ng-click="getRecords('alldf')" title="{{resources.getReportData}}">-->
                <!--Get EJ Records-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="btn-group">-->
            <!--<button type="button" ng-disabled="rowform.$wEJFaiting"-->
                    <!--class="btn btn-md waves-effect waves-light btn-info"-->
                    <!--ng-click="getRecords('cassetedf')" title="{{resources.getReportData}}">-->
                <!--Get Supervisor Records-->
            <!--</button>-->
        <!--</div>-->
        <!--<div id="myGrid1" style="width: 100%; height: 450px;"-->
             <!--ag-grid="gridOptions"-->
             <!--class="ag-theme-fresh m-t-30">-->
        <!--</div>-->
        <!--<div class="row m-l-15 m-t-15">-->
            <!--<nav>-->
                <!--<ul class="pagination">-->
                    <!--<li class="page-item">-->dashboard
                        <!--<a href="#" class="page-link" aria-label="Previous">-->
                            <!--<span aria-hidden="true">&laquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ng-repeat="val in [] | range:maxPages" class="page-item">-->
                        <!--<a href="#" ng-click="getpageIndex(val);getRecords()"-->
                           <!--class="page-link">{{val}}</a>-->
                    <!--</li>-->

                    <!--<a href="#" class="page-link" aria-label="Next">-->
                        <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
        </div>
    </div>
</div>
<!--<script type="text/ng-template" id="job.html">-->
    <!--<div class="modal-header">-->
        <!--<h4 class="card-title"><i><b>{{resources.reconJob}}</b></i></h4>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<form class="form-horizontal" role="form" name="addEditForm">-->
            <!--<div class="modal-body">-->
                <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
                     <!--ng-show="formValidation.isNotValid">-->
                    <!--<span class="icon-sign"></span>-->
                    <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
                    <!--<span class="alertContent">{{formValidation.message}}</span>-->
                <!--</div>-->

                <!--<fieldset>-->
                    <!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label class="col-lg-4 text-right">{{resources.reconName}}:</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-lg-4">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{selReconDetail['reconName']}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-lg-4 text-right">statementDate:</label>-->
                        <!--<input type="date" class="col-lg-6 form-control" id="date" datetime="yyyy-MM-dd"-->
                               <!--ng-model="selReconDetail['statementDate']" class="form-control">-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-lg-4 text-right">Investigation Name</label>-->
                        <!--<input type="text" class="col-lg-6 form-control" id="InvName"-->
                               <!--ng-model="InvName" class="form-control">-->
                    <!--</div>-->


                    <!--<div class="form-group row">-->
                        <!--<label class="col-lg-4 text-right">{{resources.file}}:</label>-->
                        <!--<div class="">-->
                            <!--<input type="file" name="file" data-ng-model="files"-->
                                   <!--accept=".zip"-->
                                   <!--onchange="angular.element(this).scope().upload(this.files)"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->
            <!--</div>-->
        <!--</form>-->
        <!--<div class="modal-footer" style="padding-bottom: 0px;padding-top: 10px;">-->
            <!--<button type="button" class="btn btn-info" ng-dblclick="runReconJob(statementDate)" data-dismiss="modal">-->
                <!--{{resources.runJob}}-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->
</body>
</html>