html, body {
    height: 100%;
}

body {
}

.page-content {
    padding-top: 3.625rem;
    min-height: 100%;
    height: 100%;
    width: 99%;
}

.table .input-control.checkbox {
    line-height: 1;
    min-height: 0;
    height: auto;
}

.mtop50 {
    margin-top: 50px !important;
}

@media screen and (max-width: 800px) {
    #cell-sidebar {
        flex-basis: 52px;
    }

    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}

.login-form {
    width: 25rem;
    position: fixed;
    top: 20%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.fxshell-pivotlist ul {
    left: 0;
    line-height: 20px;
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    position: relative;
    top: 0;
    overflow: hidden;
}

.fxshell-pivotlist ul li {
    color: #7f7f7f;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 24px;
    text-transform: uppercase;
}

.fxshell-pivotlist ul li a {
    color: #7f7f7f;
}

.fxshell-pivotlist ul li.active a {
    color: #000 !important;
}

select[multiple] {
    height: 100%;
    min-width: 240px;
}

.loginDate {
    top: 0;
    margin: -47px 0px 0px -10px !important;
    font-size: 12px;
}



.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}


