<div class="row">
    <div class="col-md-offset-3">
		<datagrid options="aclsOptions">
		</datagrid>
    </div>
</div>
<confirmation-dialog visible="deleteModelVisible" confirm="confirmDelete()" close="closeDeleteModel()"><p>Are you sure
    you want to delete?</p></confirmation-dialog>
