<!doctype html>
<html ng-app>
  <head>
    <link href="style.css" rel="stylesheet" media="screen">
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="show-scope-demo">
      <div ng-controller="GreetCtrl">
        Hello {{name}}!
      </div>
      <div ng-controller="ListCtrl">
        <ol>
          <li ng-repeat="name in names">{{name}} from {{department}}</li>
        </ol>
      </div>
    </div>
  </body>
</html>
