<!DOCTYPE html>
<html lang="en" data-ng-app="webApp">
<head>
    <meta charset="utf-8">
    <!--<title>Wipro Advanced Cloud Management :: Powered by FissionCloud</title>-->
    <title>RECON BUILDER</title>
    <link rel="shortcut icon" type="image/png" href="/img/algo.png">
    <!--<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- IE Non-sense, recomended by bootstrap -->

    <link href="/app/css/select2.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/metro.css" rel="stylesheet">
    <link href="/css/metro-icons.css" rel="stylesheet">

    <link href="/css/metro-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/app/css/app.css" rel="stylesheet">
    <link href="/app/css/webapp.css" rel="stylesheet">
    <link href="/css/jquery.treeview.css" rel="stylesheet">
    <link href="/css/screen.css" rel="stylesheet">
    <link href="/css/jquery.contextMenu.css" rel="stylesheet">
    <link href="/css/ist-even.css" rel="stylesheet">
    <link href="/css/toastr.min.css" rel="stylesheet">
    <link href="/app/css/main.css" rel="stylesheet">
    <link href="/css/acute.select.css" rel="stylesheet">
    <link href="/css/chosen.min.css" rel="stylesheet">
    <link href="/css/scrollable-table.css" rel="stylesheet">

    <link rel="image_src" href="/app/img/chosen-sprite.png">


    <!--<link href="/app/css/xeditable.min.css" rel="stylesheet">-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.css">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/ng-template" id="showSuccessMsg.html">
        <div class="modal-header">
            <span class="icon-sign">
            </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
            <h4>Success</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-success">
                <span class="icon-sign"></span>
                <span class="alertContent">{{bindMsg}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="submit()">Ok</button>
        </div>
    </script>
    <script type="text/ng-template" id="showAlertMsg.html">
        <div class="modal-header">
            <span class="icon-sign">
            </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
            <!--<h4>Success</h4>-->
        </div>
        <div class="modal-body">
            <div class="alert alert-warning">
                <span class="icon-sign"></span>
                <span class="alertContent">{{bindMsg}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="submit()">Ok</button>
        </div>
    </script>
    <script type="text/ng-template" id="showErrormsg.html">
        <div class="modal-header">
            <span class="icon-sign">
            </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
            <h4>Error</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                <span class="icon-sign"></span>
                <span class="alertContent">{{bindMsg}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="cancel()">Ok</button>
        </div>
    </script>

    <script type="text/ng-template" id="warning-dialog.html">
        <div class="modal-header">
            <h3>You're Idle. Going to logout!</h3>
        </div>
        <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
            <progressbar max="5" value="5" animate="false" class="progress-striped active">You'll be logged out in
                {{countdown}} second(s).
            </progressbar>
        </div>

    </script>
    <script type="text/ng-template" id="timedout-dialog.html">
        <div class="modal-header">
            <h3>You've Timed Out!</h3>
        </div>
        <div class="modal-body">
            <p>
                You were idle too long. Logged out successfully.
            </p>
        </div>
    </script>

    <script type="text/ng-template" id="modalLoadingView.html">
        <form class='cwModalPopUp'>
            <div class="modal-body loader">
                <i class="loadSpin fa-spin"></i>
                <h4 ng-hide="customeLoadingMsg">Loading... </h4>
                <h5 ng-show="customeLoadingMsg">{{customeLoadingMsg}}</h5>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="handleErrorMessagesPopup.html">
        <div class="modal-body">
            <form class='cwModalPopUp'>
                <span class="icon-sign"></span><a ng-click="cancel()" data-dismiss="alert" class="close">x</a><span
                    class="alertContent"> {{handleError}}</span>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" ng-click="cancel()">Ok</button>
        </div>
    </script>

</head>
<body class="ng-cloak"> <!-- bg-steel-->
<div>
    <div class="app-bar fixed-top" data-role="appbar">
        <span class="app-bar-element branding"> <img class="" src="/img/algo-1bh.png" alt="Powered by AlgoFusion"
                                                     style=""> </span>
        <span class="app-bar-divider"></span>
        <div ng-hide="credentials" class="app-bar-element">
        </div>
        <div class="app-bar-element">
            <a href="#" class="app-bar-element"
               ng-click="classFlag = (credentials != null) ? !classFlag: true;removeClass()"><h3
                    style="margin-top: 15px">Recon Builder</h3></a>
        </div>
        <div class="app-bar-element place-right" ng-show="credentials">
            <span class="dropdown-toggle">{{credentials.userName}} </span> <!--- <span>({{credentials.role}})</span>-->
            <p class="loginDate">{{clock | date:'medium'}}</p>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark"
                 data-role="dropdown" data-no-close="true" style="width: 220px">
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white3 fg-hover-yellow" ng-click="doLogout()">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x100 leftSideBar " id="cell-sidebar2" ng-hide="classFlag" ng-show="credentials">
                <ul class="sidebar">
                    <li ng-if="credentials.role=='admin' || credentials.role=='Administrator'"
                        ng-class="{active: activetab == '/businesscontext'}"><a
                            ng-click="navCollapsed = true;" ng-href="/businesscontext">
                        <span class="fa fa-users icon"></span>
                        <span class="title">Business Context</span>

                    </a></li>

                    <li ng-if="credentials.role=='admin' || credentials.role =='Administrator'"
                        ng-class="{active: activetab == '/feedDefination'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/feedDefination">
                        <span class="fa fa-list icon"></span>
                        <span class="title">Feed Definition</span>
                        &lt;!&ndash;<span class="counter">0</span>&ndash;&gt;
                    </a></li>

                    <li ng-if="credentials.role=='admin' || credentials.role=='Administrator'"
                        ng-class="{active: activetab == '/reconbuilder'}"><a
                            ng-click="navCollapsed = true;" ng-href="/reconbuilder">
                        <span class="fa fa-building-o icon"></span>
                        <span class="title">Recon Builder</span>
                    </a></li>
                    <li ng-if="credentials.role=='admin' || credentials.role =='Administrator'"
                        ng-class="{active: activetab == '/accountsetup'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/accountsetup">
                        <span class="fa fa-list icon"></span>
                        <span class="title">Account Setup</span>
                    </a></li>

                    <li ng-if="credentials.role=='admin' || credentials.role =='Administrator'"
                        ng-class="{active: activetab == '/staticDataSetup'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/staticDataSetup">
                        <span class="fa fa-file-text-o icon"></span>
                        <span class="title">Static Data Setup</span>
                    </a></li>
                    <li ng-if="credentials.role=='admin' || credentials.role =='Administrator'"
                        ng-class="{active: activetab == '/preloadScript'}"><a
                            ng-click="navCollapsed = true;"
                            ng-href="/preloadScript">
                        <span class="fa fa-file-text-o icon"></span>
                        <span class="title">Create Preload Script</span>
                    </a></li>

                </ul>

            </div>
            <div class="cell auto-size padding10 bg-white" ng-class="class" id="cell-content">
                <!--<img data-ng-hide="credentials" src="img/IDFClogo.png"
                     style="width: 36%;height: 61px;margin-left: 23%;margin-top: 3%">-->
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
<div id="fxshell-tabspinner" style="display: none;"></div>

<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/metro.js"></script>
<script src="/js/lib/chosen.jquery.min.js"></script>


<script type="text/javascript" src="/js/lib/angular.js"></script>
<script type="text/javascript" src="/js/angular-route.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-ui.min.js"></script>
<script type="text/javascript" src="/js/lib/webcomponents-lite.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/lib/ag-grid.js"></script>
<script type="text/javascript" src="/js/lib/angular-idle.min.js"></script>
<script type="text/javascript" src="/js/ag-grid-enterprise.js"></script>
<script type="text/javascript" src="/js/linq.min.js"></script>
<script type="text/javascript" src="/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/angular-file-upload.js"></script>

<script type="text/javascript" src="/js/angular-chosen.min.js"></script>

<script type="text/javascript" src="/js/ng-csv.min.js"></script>
<script type="text/javascript" src="/js/jquery.csv.min.js"></script>
<script type="text/javascript" src="/js/angular-scrollable-table.js"></script>


<script type="text/javascript" src="/js/ist-even.js"></script>
<script type="text/javascript" src="/js/angularjs-dropdown-multiselect.js"></script>
<script type="text/javascript" src="/js/lodash.js"></script>
<script type="text/javascript" src="/js/angularjs-dropdown-multiselect_extended.js"></script>
<script type="text/javascript" src="/js/acute.select.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.4/sortable.js"></script>

<script type="text/javascript" src="/js/jquery.treeview.js"></script>
<script type="text/javascript" src="/js/jquery.treeview.async.js"></script>
<script type="text/javascript" src="/js/jQueryRotateCompressed.2.1.js"></script>
<script type="text/javascript" src="/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/js/jquery.jsontreeviewer.js"></script>
<!--<script type="text/javascript" src="/js/xeditable.min.js"></script>-->
<!--<script type="text/javascript" src="/js/ui-bootstrap-tpls-2.1.3.min.js"></script>-->

<script type="text/javascript" src="/app/js/webapp.js"></script>
<script type="text/javascript" src="/app/js/webapp.directives.js"></script>
<script type="text/javascript" src="/app/js/webapp.filters.js"></script>
<script type="text/javascript" src="/app/js/webapp.services.js"></script>
<script type="text/javascript" src="/app/js/app.gen.services.js"></script>
<script type="text/javascript" src="/app/js/app.js"></script>
<script type="text/javascript" src="/app/js/app.filters.js"></script>


<script type="text/javascript" src="/app/js/businessContext.js"></script>
<script type="text/javascript" src="/app/js/reconbuilder.js"></script>
<script type="text/javascript" src="/app/js/accountsetup.js"></script>
<script type="text/javascript" src="/app/js/feedDefinationController.js"></script>
<script type="text/javascript" src="/app/js/staticDataSetup.js"></script>
<script type="text/javascript" src="/app/js/preloadScriptController.js"></script>


</body>
</html>
