p, form { padding-left:10px; }
.red{ color:red; }
.green { color:green; }
.bold { font-weight:bold; }
a img { border: none; }
#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }
#main { padding: 1em; }
#selected_filename { color:green; } 
#pathdelim_chk { width:20px; }
#pathtonode { position:fixed; bottom:0px; right:0px; background-color:#F2F1E8; padding:5px; }
#toppathwrap { position:fixed; top:0px; right:0px; background-color:#F2F1E8; padding:5px; display:none; }
#accumpaths { list-style-type:none; display:block; width:600px; }
#accumpaths li { float:left; }
#accumpaths a { padding-left:5px; }
#closetoppath { float:right; }
#options-control { float:right; display:inline-block; position:relative; bottom:40px; }
#options_btn:hover  { cursor:pointer; }
#browser li :hover { cursor:pointer; }
#loading { display:none; }