<div class="card" ng-hide="create">
    <div class="card-body">
        <h4 class="card-title f-w-6">Configure Recon</h4>
        <hr>

        <div class="form-group row m-t-20 m-l-5">
            <button type="button" class="btn btn-info" ng-click="createRecon()">Create</button>
        </div>
        <!--</div>-->

        <div ng-show="reconDetails.length!=0">
            <div class="card-body">
                <table class="table table-condensed table-bordered table-striped">
                    <thead class="thead">
                    <tr>
                        <th style="width: 10%;">
                        </th>
                        <th style="width: 50%;">{{resources.reconProcess}}</th>
                        <th style="width:40%">{{resources.image}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="val in distinctReconProcess track by $index">
                        <td class="text-center">
                            <button class="btn btn-info btn-sm" ng-click="getProcesRecons($index)"
                                    ng-show="process!=val" expand>
                                <i class='fa fa-plus'></i>
                            </button>
                            <button class="btn btn-info btn-sm" ng-click="removeProcess()" ng-show="process==val"
                                    expand>
                                <i class='fa fa-minus'></i>
                            </button>
                        </td>
                        <td>{{val}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" ng-click="uploadRecon($index)"
                                    tooltip="Upload Image">
                                <i class="fa fa-upload"></i>
                            </button>

                            <!--<a style="color: green" ng-show="image[distinctReconProcess[$index]]" ng-click="uploadRecon()"-->
                            <!--tooltip="Upload Image">-->
                            <!--&lt;!&ndash;<small>{{resources.imageUploaded}}</small>&ndash;&gt;-->
                            <!--</a>-->
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="process==val">
                        <td></td>
                        <td colspan="2">
                            <table class="table table-striped table-condensed track by $index">
                                <thead class="thead">
                                <tr>
                                    <th>{{resources.reconName}}</th>
                                    <th>{{resources.actions}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in processRecons">
                                    <td>{{v.reconName}}</td>
                                    <td class="text-nowrap">
                                        <a href="#" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil text-inverse m-r-10"
                                               ng-click="editRecon(v)"></i>
                                        </a>

                                        <a href="#" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-trash text-inverse m-r-10"
                                               ng-click="deleteRecon(v,$index)"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-hide="!create" id='validation'>
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title text-center f-w-6">Configure Recon <i class="fa fa-close float-right m-r-30"
                                                                            title="Cancel Recon"
                                                                            ng-click="initProcess()"></i></h4>
                <form class="validation-wizard wizard-circle wizard clearfix" id="steps-uid-2">

                    <!--steps list items at the top-->
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first"
                                ng-class="(present == 'defineSource')?'current':''||(active['defineSource'] == true)?'done':''">
                                <a id="steps-uid-2-t-0" href="#" aria-controls="steps-uid-2-p-0">
                                    <span class="current-info audible">current step: </span><span
                                        class="step">1</span>Define Source
                                </a>
                            </li>

                            <!--<li role="tab" class="disabled"-->
                            <!--ng-class="(present == 'defineFilters')?'current':''||(active['defineFilters']== true)?'done':''">-->
                            <!--<a id="steps-uid-2-t-1" href="#" aria-controls="steps-uid-2-p-1">-->
                            <!--<span class="step">2</span>Define Source-->
                            <!--</a>-->
                            <!--</li>-->

                            <li role="tab" class="disabled"
                                ng-class="(present == 'selectMatchColumns')?'current':''||(active['selectMatchColumns']==true)?'done':''">
                                <a id="steps-uid-2-t-4" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">2</span>Select Match Columns
                                </a>
                            </li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'resultsOfProcess')?'current':''||(active['resultsOfProcess']==true)?'done':''">
                                <a id="steps-uid-2-t-5" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">3</span>Result of Process
                                </a>
                            </li>

                            <!--<li role="tab" class="disabled"-->
                            <!--ng-class="(present == 'saveProcess')?'current':''||(active['saveProcess']==true)?'done':''">-->
                            <!--<a id="steps-uid-2-t-6" href="#" aria-controls="steps-uid-2-p-2">-->
                            <!--<span class="step">5</span>Save Process-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>

                    <!--contents of each steps as defined in this sections-->
                    <div class="content clearfix">

                        <!-- Step 1 -->
                        <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
                        <section id="steps-uid-2-p-0" role="tabpanel"
                                 aria-labelledby="steps-uid-2-h-0"
                                 class="" ng-show="present=='defineSource'">

                            <div class="card">
                                <div class="card-body">

                                    <div class="form-group row m-t-40">
                                        <label class="col-sm-1 col-md-1 col-lg-1"
                                               for="reconProcess">{{resources.reconProcess}}:</label>
                                        <div class="col-sm-4 col-md-4 col-lg-4" id="reconProcess">
                                            <input class="form-control" ng-hide="dropDown" type="text"
                                                   ng-model="recon.reconProcess">
                                            <select class="form-control" ng-show="dropDown" type="text"
                                                    ng-model="recon.reconProcess"
                                                    ng-options="val as val for val in distinctReconProcess">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <div class="btn-switch" ng-class="{'btn-switch--on':dropDown}"
                                                 ng-model="dropDown" ng-click="dropDown = !dropDown">
                                                <div class="btn-switch-circle"
                                                     ng-class="{'btn-switch-circle--on':dropDown}"
                                                     ng-model="toggle.switch">
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="form-group row">-->
                                        <label class="col-sm-2  col-md-2 col-lg-1">{{resources.reconName}}:</label>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <input class="form-control" ng-change="checkReconName(recon.reconName)"
                                                   type="text"
                                                   ng-model="recon.reconName">
                                            <small style="color:red;" ng-show="nameErrorMsg">
                                                {{resources.reconNamePolicy}}
                                            </small>
                                        </div>

                                        <div class="form-group row m-l10 m-r-10 col-lg-1 col-md-1 col-sm-1">
                                            <button class="btn btn-info btn-sm m-r-20" title="Apply"
                                                    ng-click="addNewSource()">
                                                <i class="fa fa-plus m-r-5"></i>Add Source
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row" ng-hide="!listSource || addSource">
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">

                                                    <thead class="thead">
                                                    <tr>
                                                        <th class="text-center">{{resources.sources}}</th>
                                                        <th style="width: 150px;">{{resources.action}}</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody ng-repeat="val in sources track by $index">
                                                    <tr>
                                                        <td>{{val}}</td>
                                                        <td class="text-nowrap">
                                                            <a href="#" data-toggle="tooltip" title="Edit">
                                                                <i class="fa fa-pencil text-inverse m-r-10"
                                                                   ng-click="viewProperties(val,$index)"></i>
                                                            </a>

                                                            <a href="#" data-toggle="tooltip" title="delete">
                                                                <i class="fa fa-close text-danger "
                                                                   ng-click="deleteSource(val)"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="addSource">
                                        <div class="form-group row">
                                            <label class="col-sm-1 col-md-1 col-lg-1"
                                                   for="reconProcess">{{resources.source}}:</label>
                                            <div class="col-sm-4 col-md-4 col-lg-4" id="source">
                                                <input class="form-control text-left" type="text"
                                                       ng-model="sourceName">
                                            </div>
                                            <button class="btn btn-info" title="Upload" ng-click="uploadSourceFile()"><i
                                                    class="fa fa-upload"></i></button>
                                        </div>

                                        <div class="form-group row m-t-20 m-l-10" ng-show="!properties">
                                            <!--<label class="col-lg-1"><h4>Upload File</h4></label>-->
                                            <!--<div class="col-sm-4 col-md-4 col-lg-4">-->
                                            <!--<input class="form-control m-r-10" type="file"-->
                                            <!--file-model="uploadFile" accept=".csv,.jpg,.png"/>-->
                                            <!--</div>-->
                                            <!--<button class="btn btn-info" title="Upload" ng-click="uploadSourceFile()"><i-->
                                            <!--class="fa fa-upload"></i></button>-->


                                            <button class="btn btn-info btn-sm m-r-10 m-l-10" title="Apply"
                                                    ng-click="addFilter()"><i
                                                    class="fa fa-filter m-r-5"></i>Filter
                                            </button>
                                            <button class="btn btn-info btn-sm m-r-20" title="Apply"
                                                    ng-click="addDeriveColumn()">
                                                <i class="fa fa-filter m-r-5"></i>Derive Column
                                            </button>
                                            <button class="btn btn-info m-l-10" title="Apply"
                                                    ng-click="skipRowFunction()"><i
                                                    class="fa fa-filter m-r-5"></i>Skip
                                            </button>

                                            <button class="btn btn-info btn-sm ml-auto m-r-10" title="Apply"
                                                    ng-click="viewProperties(sourceName)">
                                                <i class="fa fa-eye m-r-5"></i>Properties
                                            </button>

                                            <button class="btn btn-info btn-sm m-r-20" title="Apply"
                                                    ng-click="saveSource()">
                                                <i class="fa fa-save m-r-5"></i>Add
                                            </button>

                                            <div id="myGrid1" style="width: 100%; height: 500px;"
                                                 ag-grid="gridOptions"
                                                 class="ag-theme-fresh m-r-10 m-l-10 m-t-20">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card" ng-show="properties">
                                        <div class="card-body">
                                            <div class="card-header bg-info">
                                                <h4 class="m-b-0 text-white">Source Properties</h4>
                                            </div>
                                            <form id="Properties p-t-20">
                                                <div class="form-body">
                                                    <h3 class="card-title">Source Info</h3>
                                                    <hr>
                                                    <!--<div class="row p-t-20">-->
                                                    <!--<div class="col-md-6">-->
                                                    <!--<div class="form-group">-->
                                                    <!--<label class="control-label">Recon Process</label>-->
                                                    <!--<input type="text" id="reconProcess"-->
                                                    <!--ng-model="feedDef.reconProcess"-->
                                                    <!--class="form-control"-->
                                                    <!--placeholder="">-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                    <!--<div class="col-md-6">-->
                                                    <!--<div class="form-group">-->
                                                    <!--<label class="control-label">Recon Name</label>-->
                                                    <!--<input type="text" id="reconName"-->
                                                    <!--ng-model="feedDef.reconName"-->
                                                    <!--class="form-control" placeholder="">-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                    <!--</div>-->

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Source</label>
                                                                <input type="text" id="sourceName"
                                                                       class="form-control"
                                                                       ng-model="feedDef.source"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">FilePattern</label>
                                                                <input type="text" id="filePattern"
                                                                       ng-model="feedDef.filePattern"
                                                                       class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Delimiter</label>
                                                                <select class="form-control custom-select"
                                                                        ng-options="val for val in delimiter"
                                                                        ng-model="feedDef.delimiter">
                                                                    <option value="">Male</option>
                                                                    <option value="">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Load Type</label>
                                                                <select class="form-control custom-select"
                                                                        ng-model="feedDef.loadType"
                                                                        ng-options="val for val in loadTypes">
                                                                    <option value="">Male</option>
                                                                    <option value="">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Skip Rows</label>
                                                                <input type="text" id="skipRows"
                                                                       ng-model="feedDef.skipRows"
                                                                       class="form-control" placeholder="12n">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Skip Footer</label>
                                                                <input type="text" id="skipFooter"
                                                                       ng-model="feedDef.skipFooter"
                                                                       class="form-control" placeholder="12n">
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <h3 class="box-title m-t-40">Feed Details</h3>
                                                    <hr>
                                                    <form class="form-horizontal form-material">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped">
                                                                <thead class="thead">
                                                                <tr>
                                                                    <th style="width: 22%">
                                                                        {{resources.fileColumn}}
                                                                    </th>
                                                                    <th style="width: 22%">
                                                                        {{resources.columnType}}
                                                                    </th>
                                                                    <th style="width: 22%">{{resources.datePattern}}
                                                                    </th>
                                                                    <th style="width: 8%">{{resources.from}}</th>
                                                                    <th style="width: 8%">{{resources.to}}</th>
                                                                    <th style="width: 8%">{{resources.required}}
                                                                    </th>
                                                                    <th style="width: 10%">{{resources.actions}}
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="(key,val) in feedDef.feedDetails | filter:filterRows track by $index">
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.fileColumn}}</span>
                                                                        <input type="text" ng-show="editColumns"
                                                                               class="form-control"
                                                                               ng-model="val.fileColumn">
                                                                    </td>
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.dataType}}</span>
                                                                        <select ng-show="editColumns"
                                                                                class="form-control"
                                                                                ng-model="val.dataType"
                                                                                ng-options="v for v in dataTypes">
                                                                        </select>
                                                                    </td>

                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.datePattern}}</span>
                                                                        <input ng-show="editColumns" type="text"
                                                                               class="form-control"
                                                                               ng-model="val.datePattern">
                                                                    </td>

                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.from}}</span>
                                                                        <input type="number" ng-show="editColumns"
                                                                               class="form-control"
                                                                               ng-model="val.from">
                                                                    </td>

                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.to}}</span>
                                                                        <input type="number" ng-show="editColumns"
                                                                               class="form-control"
                                                                               ng-model="val.to">
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" id="{{$index}}"
                                                                               class="form-control"
                                                                               ng-change="updateScope(feedDetails)"
                                                                               ng-model="val.required">
                                                                        <label for="{{$index}}"></label>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" data-toggle="tooltip"
                                                                           id="eColumns"
                                                                           title="{{resources.edit}}">
                                                                            <i class="fa fa-pencil info m-r-10"
                                                                               ng-hide="editColumns"
                                                                               ng-click="editColumns=!editColumns"></i>
                                                                        </a>

                                                                        <a href="#" data-toggle="tooltip"
                                                                           id="eColumns1"
                                                                           title="resources.save">
                                                                            <i class="fa fa-save info m-r-10"
                                                                               ng-show="editColumns"
                                                                               ng-click="saveColumn($index,val);editColumns=!editColumns"></i>
                                                                        </a>

                                                                        <a href="#" data-toggle="tooltip"
                                                                           title="remove">
                                                                            <i class="fa fa-trash info m-r-10"
                                                                               ng-click="deleteColumns($index)"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </form>

                                                    <!--<div class="row">-->
                                                    <form class="form-horizontal form-material">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped ">
                                                                <thead class="thead">
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>{{resources.filter}}</th>
                                                                    <th>{{resources.action}}</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="template in feedDef.filters track by $index">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <span ng-show="!editFilter">{{template}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" data-toggle="tooltip"
                                                                           title="{{resources.remove}}">
                                                                            <i class="fa fa-trash info m-r-10"
                                                                               ng-click="deleteFilter($index)"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </form>
                                                    <!--</div>-->
                                                    <!--/span-->
                                                </div>
                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-success"
                                                            ng-click="saveProperties(feedDef)"><i
                                                            class="fa fa-check"></i>
                                                        Save
                                                    </button>
                                                    <button type="button" class="btn btn-inverse"
                                                            ng-click="cancelProperties()">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>


                        <!-- Step 2 -->
                        <!--<h6 id="steps-uid-2-h-1" tabindex="-1" class="title">Step 2</h6>-->
                        <!--<section id="steps-uid-2-p-1" role="tabpanel" aria-labelledby="steps-uid-2-h-1"-->
                        <!--class="body"-->
                        <!--ng-show="present == 'defineSource'">-->

                        <!--</section>-->

                        <!-- Step 3 -->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 2</h6>
                        <section id="steps-uid-2-p-2" role="tabpanel" aria-labelledby="steps-uid-2-h-2"
                                 class="body"
                                 aria-hidden="true" ng-show="present == 'selectMatchColumns'">
                            <div class="card">
                                <!--<div class="red-ui-tabs red-ui-tabs-add red-ui-tabs-scrollable" id="outer_container"-->
                                <!--style="margin: 0 auto; ">-->
                                <!--<div class="red-ui-tabs-scroll-container ace_scroller">-->
                                <!--<ul id="workspace-tabs" style="width: 726px;">-->
                                <!--<li class="red-ui-tab ui-draggable {{flows.active ? 'active':''}}"-->
                                <!--ng-click="setActiveFlow($index)"-->
                                <!--style="width: 708px;" ng-repeat="flows in flowelements">-->
                                <!--<a href="#" class="red-ui-tab-label" ng-dblclick="editFlow($index)"-->
                                <!--title="{{flows.flowName}}">-->
                                <!--<span class="bidiAware" dir="">{{flows.flowName}}</span>-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--</div>-->

                                <!--<div class="red-ui-tab-button"><a href="#" ng-click="addFlow()"><i-->
                                <!--class="fa fa-plus"></i></a></div>-->
                                <!--<div class="red-ui-tab-button red-ui-tab-scroll red-ui-tab-scroll-left">-->
                                <!--<a href="#" ng-click="activePrevious()"><i class="fa fa-caret-left"></i></a>-->
                                <!--</div>-->
                                <!--<div class="red-ui-tab-button red-ui-tab-scroll red-ui-tab-scroll-right">-->
                                <!--<a href="#" ng-click="activeNext()"><i class="fa fa-caret-right"></i></a>-->
                                <!--</div>-->
                                <!--</div>-->

                                <div class="card-body">
                                    <a id="btn-deploy" class="deploy-button" ng-click="saveFlow()" href="#">
                                            <span class="btn btn-md">
                                                <span><i class="fa fa-save"></i> Save</span>
                                            </span>
                                        <span class="deploy-button-spinner hide"></span>
                                    </a>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 text-center f-w-6" ng-repeat="val in sources">{{val}}</label>
                                </div>
                                <div id="chartSvg" tabindex="1">
                                    <flow-chart
                                            chart="getChartVariable()">
                                    </flow-chart>
                                </div>
                            </div>
                        </section>

                        <!--step 4-->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 3</h6>
                        <section id="steps-uid-2-p-3" role="tabpanel" aria-labelledby="steps-uid-2-h-2"
                                 class="body"
                                 aria-hidden="true" ng-show="present=='resultsOfProcess'">
                            <div class="form-group row">
                                <label class="col-lg-1">Job Status:</label>
                                <input type="text" ng-disabled="true" ng-model="runningStatus" class="col-lg-6">
                                <button class="btn btn-sm ml-auto btn-info m-r-20" ng-click="refreshReconJob()"><i
                                        class="fa fa-refresh"></i></button>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row col-lg-6">
                                        <div ng-repeat="val in sources">
                                            <button class="btn btn-sm m-r-10"
                                                    ng-class="(showSrc==val)?'btn-info':'btn-secondary'"
                                                    ng-click="expandSelectedSource(val)">{{val}}
                                            </button>
                                        </div>
                                    </div>
                                    <div id="myGrid4" style="width: 100%; height: 500px;"
                                         ag-grid="resultGridOptions"
                                         class="ag-theme-fresh">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <button class="btn btn-sm ml-auto m-r-20 btn-info" ng-click="downloadReport()">Download
                                    Report
                                </button>
                            </div>
                        </section>

                    </div>

                    <div class="row float-right m-r-20">
                        <button class="btn btn-info m-r-5" ng-disabled="present == 'reconDefinition'"
                                ng-click="previousStep(present)" role="menuitem">Previous
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="nextStep(present)"
                                ng-disabled="disableFlag"
                                ng-show="present!='selectMatchColumns' && present!='resultsOfProcess'">Next
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="nextStep(present)"
                                ng-disabled="disableFlag"
                                ng-show="present =='selectMatchColumns'">Run
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="saveProcess()"
                                ng-disabled="disableFlag"
                                ng-show="present=='resultsOfProcess'">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ruleDefine.html">
    <div class="modal-header">
        <h4 class="modal-title f-w-6"> Define Rule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body modal-dialog.modal-md">
        <div class="form-group row">
            <label class="col-lg-2 f-w-6">Rule Name:</label>
            <input class="form-control col-lg-5 m-l-15" ng-model="ruleName">
        </div>
        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2 f-w-6">Source:</label>
            <select class="form-control col-lg-5" ng-options="key for key in sources"
                    data-ng-change="createRule(selfMatchSource)" ng-model="selfMatchSource">
                <option value="">Select</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-lg-2"></label>
            <label class="col-lg-5 f-w-6">Match Columns</label>
            <label class="col-lg-5 f-w-6">Sum Columns</label>
        </div>

        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2 f-w-6">{{selfMatchSource}}:</label>
            <ui-select multiple ng-model="matchRules[selfMatchSource].sumColumns" theme="select2"
                       close-on-select="false" style="width:200px"
                       title="Choose Match column">
                <ui-select-match placeholder="Select Match columns...">{{$item}}</ui-select-match>
                <ui-select-choices
                        repeat="v in sourceCols[selfMatchSource]| filter:$select.search">
                    {{v}}
                </ui-select-choices>
            </ui-select>
            <!--</div>-->
            <!--<div class="col-lg-5">-->
            <ui-select multiple ng-model="matchRules[selfMatchSource].sumColumns" theme="select2"
                       close-on-select="false" style="width:200px"
                       title="Choose Match column">
                <ui-select-match placeholder="Select Sum columns...">{{$item}}</ui-select-match>
                <ui-select-choices
                        repeat="v in sourceCols[selfMatchSource]| filter:$select.search">
                    {{v}}
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2"></label>
            <label class="col-lg-5 f-w-6">Debit Credit Columns</label>
        </div>


        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2 f-w-6">{{selfMatchSource}}:</label>
            <div class="col-lg-5">
                <ui-select multiple ng-model="matchRules[selfMatchSource].debitCreditColum" theme="select2"
                           close-on-select="false" style="width:200px"
                           title="Choose Match column">
                    <ui-select-match placeholder="Select Debit columns...">{{$item}}</ui-select-match>
                    <ui-select-choices
                            repeat="v as v for v in sourceCols[selfMatchSource] | filter:$select.search">
                        {{v}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>


        <div class="form-group row" ng-repeat="(key,val) in matchRules" ng-show="!selfMatch">
            <label class="col-lg-2 f-w-6">{{key}}:</label>
            <div class="col-lg-5">
                <!--<select chosen multiple list='sourceCols[key]' ng-options="v as v for "-->
                <!--ng-model="val.matchColumns"></select>-->
                <ui-select multiple ng-model="val.matchColumns" theme="select2"
                           close-on-select="false" style="width:200px"
                           title="Choose Match column">
                    <ui-select-match placeholder="Select Match columns...">{{$item}}</ui-select-match>
                    <ui-select-choices
                            repeat="v in sourceCols[key]| filter:$select.search">
                        {{v}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-5">
                <ui-select multiple ng-model="val.sumColumns" theme="select2"
                           close-on-select="false" style="width:200px"
                           title="Choose Match column">
                    <ui-select-match placeholder="Select Sum columns...">{{$item}}</ui-select-match>
                    <ui-select-choices
                            repeat="v in sourceCols[key]| filter:$select.search">
                        {{v}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-sm" ng-click="saveRule(ruleName)">Save</button>
        <button class="btn btn-info btn-sm" ng-click="cancel()">Cancel</button>
    </div>
</script>