<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <ul class="nav nav-tabs customtab col-md-12 col-lg-12 col-sm-12" role="tablist">
                    <li class="nav-item" ng-repeat="template in wizardReports">
                        <a class=""
                           ng-class="template.wizardIdx == currentTemp['wizardIdx'] ? 'nav-link active' : 'nav-link'"
                           href="#" data-toggle="tab" role="tab" aria-selected=""
                           ng-click="nextWizard(template.template)">
                            <span class="hidden-sm-up"><i class="ti-home"></i></span>
                            <span class="hidden-xs-down">{{template.title}}</span></a>
                    </li>
                </ul>
            </div>

            <div class="tab-content min-card-pane-01">
                <div class="" ng-class="(wizards=='dailySettlementReport')?'tab-pane active show':'tab-pane'"
                     id='structure'
                     role="tabpanel">
                    <div class="card ">
                        <div class="card-body">
                            <div class="frame" id="npciSettlementReport" style="min-height: 400px">
                                <div class="row form-group">
                                    <label for="urole" class="col-sm-1 col-lg-1 control-label"
                                           style="margin-top: 10px;">Statement
                                        Date
                                        :</label>
                                    <div class="col-sm-2 col-lg-2">
                                        <input type="date" class="form-control form-control-sm" id="date" datetime="dd/MM/YYYY" ng-model="statementDate"/>
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-info"
                                                ng-click="generateDailySettlement()"
                                                ng-disabled="statementDate == undefined || statementDate == null || statementDate == ''">
                                            Generate Report
                                        </button>

                                        <button class="btn btn-info" tooltip="Download Report"
                                                data-ng-disabled="settelmentData.length == 0" style="margin-left: 35px"
                                                ng-click="exportToExcel('dailySettlementSummary','Daily Settlement Summary',statementDate)">
                                            <span class="fa fa-download"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12" style="overflow-x: auto">
                                        <table id="dailySettlementSummary" class="table table-bordered table-responsive"
                                               style="width:auto;overflow-x: auto;">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="5" style="text-align: center">Remitter P2A</th>
                                                <th colspan="5" style="text-align: center">Remitter P2A-08</th>
                                                <th colspan="3" style="text-align: center">Beneficiary P2A</th>
                                                <th colspan="3" style="text-align: center">Beneficiary P2A-08</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center">Cycle</th>
                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">NPCI Switching Fee</th>
                                                <th style="text-align: center">NPCI Switching Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Fee</th>
                                                <th style="text-align: center">Fee Service Tax</th>
                                                <th style="text-align: center">Approved Transaction Amount</th>

                                                <th style="text-align: center">Remitter Sub Totals</th>
                                                <th style="text-align: center">Beneficiary Sub Totals</th>
                                                <th style="text-align: center">Settlement Amount</th>
                                                <th style="text-align: center">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="row in settelmentData">
                                            <tr>
                                                <td style="text-align: center">{{row['Cycle']}}</td>
                                                <!-- Remitter P2A Approved-->
                                                <td style="text-align: right">{{row['approved_fee']}}</td>
                                                <td style="text-align: right">{{row['approved_fee_gst']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['npci_switching_fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['npci_switching_fee_gst']}}
                                                </td>
                                                <td style="text-align: right">{{row['approved_txn_amount'] |
                                                    inrCurrencyFormat}}
                                                </td>

                                                <!-- Remitter P2A-08 Approved-->
                                                <td style="text-align: right">
                                                    {{row['additional_approved_fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_fee_gst']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_npci_switching_fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_npci_switching_fee_gst']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_txn_amount'] |
                                                    inrCurrencyFormat}}
                                                </td>

                                                <!-- Beneficiary Approved -->
                                                <td style="text-align: right">{{row['approved_fee']}}
                                                </td>
                                                <td style="text-align: right">{{row['approved_fee_gst']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['approved_txn_amount']}}
                                                </td>

                                                <!-- Beneficiary P2A-08 Approved -->
                                                <td style="text-align: right">
                                                    {{row['additional_approved_fee']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_fee_gst']}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['additional_approved_txn_amount']}}
                                                </td>

                                                <td style="text-align: right">{{row['remitter_sub_total'] |
                                                    inrCurrencyFormat}}
                                                </td>
                                                <td style="text-align: right">
                                                    {{row['beneficiary_sub_total'] | inrCurrencyFormat}}
                                                </td>

                                                <td style="text-align: right">{{(row['remitter_sub_total'] -
                                                    row['beneficiary_sub_total'])|
                                                    inrCurrencyFormat }}
                                                </td>

                                                <td align="center" style="text-align:center; font-size:120%;">
                                                    <span ng-if="(row['REMITTER'] && row['BENEFICIARY'])">Success</span>
                                                    <span ng-if="!(row['REMITTER'] && row['BENEFICIARY'])">Failed</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
