<div class="card m-t-30">
    <div class="card-body">
        <div class="m-t-20" ng-show="enableReconSetting">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
                    <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.reconSetup}}</h4>
                    <hr>
                </div>
            </div>

            <div ng-hide="newSource">
                <div ng-show="!add">
                    <div class="m-l-5">
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-info m-b-10" id="adding"
                                    ng-click="addNewRecon()">
                                <i class="fa fa-plus"></i> {{resources.add}}
                            </button>
                        </div>
                    </div>

                    <div ng-show="reconDetails.length!=0">
                        <div class="card-body">
                            <table class="table table-condensed table-bordered table-striped">
                                <thead class="thead">
                                <tr>
                                    <th style="width: 10%;">
                                    </th>
                                    <th style="width: 50%;">{{resources.reconProcess}}</th>
                                    <th style="width:40%">{{resources.image}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat-start="val in distinctReconProcess track by $index">
                                    <td class="text-center">
                                        <button class="btn btn-info btn-sm" ng-click="getProcesRecons($index)"
                                                ng-show="process!=val" expand>
                                            <i class='fa fa-plus'></i>
                                        </button>
                                        <button class="btn btn-info btn-sm" ng-click="removeProcess()"
                                                ng-show="process==val" expand>
                                            <i class='fa fa-minus'></i>
                                        </button>
                                    </td>
                                    <td>{{val}}</td>
                                    <td>
                                        <button class="btn btn-info btn-sm" ng-click="uploadRecon($index)"
                                                tooltip="Upload Image">
                                            <i class="fa fa-upload"></i>
                                        </button>

                                        <!--<a style="color: green" ng-show="image[distinctReconProcess[$index]]" ng-click="uploadRecon()"-->
                                        <!--tooltip="Upload Image">-->
                                        <!--&lt;!&ndash;<small>{{resources.imageUploaded}}</small>&ndash;&gt;-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                <tr ng-repeat-end ng-show="process==val">
                                    <td></td>
                                    <td colspan="2">
                                        <table class="table table-striped table-condensed track by $index">
                                            <thead class="thead">
                                            <tr>
                                                <th>{{resources.reconName}}</th>
                                                <th>{{resources.actions}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="v in processRecons">
                                                <td>{{v.reconName}}</td>
                                                <td class="text-nowrap">
                                                    <a href="#" data-toggle="tooltip" title="Edit">
                                                        <i class="fa fa-pencil text-inverse m-r-10"
                                                           ng-click="editRecon(v)"></i>
                                                    </a>

                                                    <a href="#" data-toggle="tooltip" title="Clone Recon">
                                                        <i class="fa fa-clone text-inverse m-r-10"
                                                           ng-click="cloneRecon(v)"></i>
                                                    </a>

                                                    <a href="#" data-toggle="tooltip" title="Edit">
                                                        <i class="fa fa-trash text-inverse m-r-10"
                                                           ng-click="deleteRecon(v,$index)"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!--Form For Adding Recon Details and also For editing-->
            <form ng-show="add">
                <div class="form-group row">
                    <label class="control-label text-right col-sm-3 col-md-3 col-lg-3" for="reconProcess">{{resources.reconProcess}}</label>
                    <div class="col-sm-4 col-md-4 col-lg-4" id="reconProcess">
                        <input class="form-control" ng-hide="dropDown" type="text"
                               ng-model="recon.reconProcess">
                        <select class="form-control" ng-show="dropDown" type="text"
                                ng-model="recon.reconProcess"
                                ng-options="val as val for val in distinctReconProcess">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="btn-switch" ng-class="{'btn-switch--on':dropDown}"
                             ng-model="dropDown" ng-click="dropDown = !dropDown">

                            <div class="btn-switch-circle"
                                 ng-class="{'btn-switch-circle--on':dropDown}"
                                 ng-model="toggle.switch">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label text-right col-sm-3  col-md-3 col-lg-3">{{resources.reconName}}</label>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" type="text"
                               ng-model="recon.reconName">
                        <small style="color:red;" ng-show="nameErrorMsg">{{resources.reconNamePolicy}}</small>
                    </div>
                </div>

                <!--<div class="form-group row">-->
                <!--<label class="control-label text-right col-sm-3 col-md-3 col-lg-3">{{resources.reconImage}}</label>-->
                <!--<div class="col-sm-4 col-md-4 col-lg-4">-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group row">
                    <label class="control-label text-right col-sm-3 col-md-3 col-lg-3">{{resources.sources}}</label>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" type="text"
                               ng-model="sourceName">
                    </div>

                    <div col-sm-5 col-md-5 col-lg-5>
                        <button class="btn btn-info fa fa-plus" id="addSource"
                                ng-disabled="sourceName == undefined || sourceName == ''"
                                ng-click="addSource(sourceName);newSource = true" tooltip="Add Sources">
                            {{resources.add}}
                        </button>
                    </div>
                </div>

                <!--Source Table-->
                <div class="row justify-content-center" ng-show="listSource">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">

                                <thead class="thead">
                                <tr>
                                    <th class="text-center">{{resources.sources}}</th>
                                    <th style="width: 150px;">{{resources.action}}</th>
                                </tr>
                                </thead>

                                <tbody ng-repeat="(key,val) in sources track by $index">
                                <tr>
                                    <td>{{key}}</td>
                                    <td class="text-nowrap">
                                        <a href="#" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil text-inverse m-r-10"
                                               ng-click="editSource(key,$index)"></i>
                                        </a>

                                        <a href="#" data-toggle="tooltip" title="delete">
                                            <i class="fa fa-close text-danger "
                                               ng-click="deleteSource(key)"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group row" ng-show="add">
                    <button type="button"
                            ng-disabled="recon['reconName'] == undefined || recon['reconName'] == '' || nameErrorMsg "
                            class="btn btn-info ml-auto"
                            ng-click="saveRecon(recon)" data-dismiss="modal"
                            style="margin-right: 10px"> {{resources.save}}
                    </button>

                    <button type="button" class="btn btn-inverse"
                            ng-click="add=false;listSource = false;removeProcess()"> {{resources.cancel}}
                    </button>
                </div>
            </form>

            <!--Data Shows Of Sources when it's Edit-->
            <div class="card" ng-show="newSource">
                <div class="card-body">
                    <div class="col-12">
                        <form class="form horizontal form-material">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">{{resources.sources}}</label>
                                    <div class="col-md-6">
                                        <input class="form-control col-lg-8" type="text"
                                               placeholder="Source Name" ng-model="src" ng-change="updateSrc(src)">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2"
                                           style="width: 118px;">{{resources.structure}}</label>
                                    <div class="col-md-6">
                                        <input class="form-control col-lg-8" type="text"
                                               placeholder="Structure Name" ng-model="srcDetails.struct">
                                    </div>

                                    <button class="btn btn-info"
                                            ng-disabled="srcDetails.struct==undefined||srcDetails.struct==''"
                                            ng-click="saveStruct(srcDetails);" tooltip="Add Structure">
                                        {{resources.addStructure}}
                                    </button>
                                </div>

                                <!--Mapping Column Table with Data Types-->
                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10 justify-content-center">
                                        <div>
                                            <table class="table table-bordered table-striped">
                                                <thead class="thead">
                                                <tr>
                                                    <th style="width: 244px;">{{resources.structure}}</th>
                                                    <th style="width: 244px;">{{resources.keyColumns}}</th>
                                                    <th style="width: 244px;">{{resources.dataTypes}}</th>
                                                    <th style="width: 244px;">{{resources.Action}}</th>
                                                </tr>
                                                </thead>

                                                <tbody ng-repeat="(k,v) in Structures track by $index">
                                                <tr>
                                                    <td rowspan="{{v['keyColumns'].length}}">
                                                        <input type="text" ng-show="edit" class="form-control"
                                                               ng-model="k">
                                                        <div ng-show="!edit">{{k}}</div>
                                                    </td>

                                                    <td>
                                                        <input type="text" ng-show="edit" class="form-control"
                                                               ng-model="v['keyColumns'][0].keyCols">
                                                        <div ng-show="!edit">{{v['keyColumns'][0].keyCols}}</div>
                                                    </td>

                                                    <td>
                                                        <select class="form-control col-md-8" ng-show="edit"
                                                                ng-model="v['keyColumns'][0].DataType">
                                                            <option value=''>{{resources.select}}</option>
                                                            <option value='int'>{{resources.int}}</option>
                                                            <option value='float'>{{resources.float}}</option>
                                                            <option value='str'>{{resources.string}}</option>
                                                            <option value='str'>{{resources.datetime}}</option>
                                                        </select>
                                                        <div ng-show="!edit">
                                                            {{v['keyColumns'][0].DataType}}
                                                            <a href="#" data-toggle="tooltip" title="remove">
                                                                <i class="fa fa-remove info m-r-10 float-right"
                                                                   ng-click="removeCol($index,src,k)"></i>
                                                            </a>
                                                        </div>
                                                    </td>

                                                    <td rowspan="{{v['keyColumns'].length}}">
                                                        <a href="#" data-toggle="tooltip" title="remove">
                                                            <i class="fa fa-trash info m-r-10"
                                                               ng-click="removeStruct(k)"></i>
                                                        </a>

                                                        <a href="#" data-toggle="tooltip" ng-show="edit" title="Save">
                                                            <i class="fa fa-save info m-r-10"
                                                               ng-click="saveStructure(k,v)"></i>
                                                        </a>

                                                        <a href="#" data-toggle="tooltip" ng-show="!edit" title="Edit">
                                                            <i class="fa fa-pencil info m-r-10"
                                                               ng-click="editStructure(k)"></i>
                                                        </a>

                                                        <a href="#" data-toggle="tooltip" title="add">
                                                            <i class="fa fa-plus info m-r-10"
                                                               ng-click="addRow(src,k)"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                                <tr ng-repeat="col in v['keyColumns']" ng-if="$index > 0">
                                                    <td>
                                                        <input type="text" class="form-control" ng-show="edit"
                                                               ng-model="col.keyCols">
                                                        <div ng-show="!edit">{{col.keyCols}}</div>
                                                    </td>

                                                    <td>
                                                        <select class="form-control col-md-8" ng-show="edit"
                                                                ng-model='col.DataType'>
                                                            <option value=''>{{resources.Select}}</option>
                                                            <option value='int'>{{resources.int}}</option>
                                                            <option value='float'>{{resources.float}}</option>
                                                            <option value='str'>{{resources.string}}</option>
                                                            <option value='str'>{{resources.datetime}}</option>
                                                        </select>
                                                        <div ng-show="!edit">
                                                            {{col.DataType}}
                                                            <a href="#" data-toggle="tooltip" ng-show="!edit"
                                                               title="{{resources.edit}}">
                                                                <i class="fa fa-remove info m-r-10 float-right"
                                                                   ng-click="removeCol($index,src,k)"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-auto">
                                    <button type="button" ng-disabled="reconAddForm.$invalid"
                                            class="btn btn-info"
                                            ng-click="saveSource(src,Structures);"
                                            data-dismiss="modal"
                                            style="margin-right: 10px">{{resources.save}}
                                    </button>

                                    <button type="button" ng-disabled="reconAddForm.$invalid"
                                            class="btn btn-inverse"
                                            ng-click="cancelSource(src)">{{resources.cancel}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid" ng-hide="enableReconSetting">-->
<!--<div class="row page-titles">-->
<!--<div class="align-self-center col-md-12 col-lg-12">-->
<!--<h3 class="text-themecolor">{{resources.dbSettings}}</h3>-->
<!--<hr>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
