<div ng-hide="addEdit" ng-show="['admin'] | showForRole">
    <h3 class="text-light">Account Pools<span class="fa fa-user-md place-right"></span></h3>
    <hr class="thin bg-grayLighter">
    <button class="button primary" ng-click="userpoolOptions.addUser();"><span class="mif-plus"></span> Create</button>
    <hr class="thin bg-grayLighter">
    <datagrid options="accountpoolOptions"></datagrid>
</div>
<script type="text/ng-template" id="addUser.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Account Pool</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
                 <!--ng-show="formValidation.isNotValid">-->
                <!--<span class="icon-sign"></span>-->
                <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
                <!--<span class="alertContent">{{formValidation.message}}</span>-->
            <!--</div>-->

            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label for="uuserName" class="col-sm-4 col-lg-4 control-label" id="">Name :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="text" class="form-control" id="uuserName" name="userName"
                            placeholder="Name" required
                           ng-model="userData.name" ng-disabled="mode == 'Edit'">

                    <!--<p class="help-block" ng-if="addEditForm.userName.$dirty && addEditForm.userName.$invalid">name-->
                        <!--is required (min 5 chars)</p>-->

                    <!--<p class="help-block" ng-if="addEditForm.userName.$dirty && addEditForm.userName.$invalid"> *Should-->
                        <!--NOT contain any special characters or spaces</p>-->

                    <!--<p class="help-block" ng-if="addEditForm.userName.$dirty && addEditForm.userName.$invalid">*Can-->
                        <!--contain "_", ".", "-"</p>-->
                </div>
            </div>

            <div class="form-group"
                 ng-hide="(credentials.role=='admin' && userData.role=='admin')">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">Select Accounts :</label>
                <div  class="col-sm-8 col-lg-8">
                    <input type="text"  ui-select2="tagAllOptions" ng-model="userData.accounts" style="width:300px;" />

                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="credentials.role=='admin' && mode =='Edit'" type="button" class="btn btn-primary" ng-click="saveUser(userData)" ng-disabled="addEditForm.$invalid"> Submit</button>

        <button ng-if="credentials.role=='admin' && mode =='Add'" type="button" class="btn btn-primary" ng-click="saveUser(userData)" ng-disabled="addEditForm.$invalid"> Submit</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="deleteUser.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
    <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
    <p class="alert alert-warning">Are you sure you want to delete? All the systems registered under that user also will be deleted.</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>