<div ng-hide="addEdit" ng-show="['admin'] | showForRole">
    <h3 class="text-light">Audit Trails <span class="fa fa-history place-right"></span></h3>
    <datagrid options="auditsOptions"></datagrid>
</div>
<script type="text/ng-template" id="addUser.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} User</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
            <!--ng-show="formValidation.isNotValid">-->
            <!--<span class="icon-sign"></span>-->
            <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
            <!--<span class="alertContent">{{formValidation.message}}</span>-->
            <!--</div>-->

            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label for="uuserName" class="col-sm-4 col-lg-4 control-label">User Name :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="text" class="form-control" id="uuserName" name="userName" ng-minlength="5"
                           ng-pattern="/^[a-zA-Z0-9_.-]*$/" placeholder="User Name" required
                           ng-model="userData.userName" ng-disabled="mode == 'Edit'">

                    <p class="help-block" ng-if="addEditForm.userName.$dirty && addEditForm.userName.$invalid">Username
                        is required (min 5 chars)</p>

                    <p class="help-block" ng-if="addEditForm.userName.$dirty && addEditForm.userName.$invalid"> *Should
                        NOT contain any special characters or spaces</p>

                    <p class="help-block" ng-if="addEditForm.userName.$dirty && addEditForm.userName.$invalid">*Can
                        contain "_", ".", "-"</p>
                </div>
            </div>
            <fieldset ng-if="mode == 'Add'">
                <!--begin password mismatch-->
                <div class="form-group"
                     ng-class="{ 'has-error': addEditForm.upw1.$dirty && addEditForm.upw1.$invalid }">
                    <label for="upw1" class="col-sm-4 col-lg-4 control-label">Password :</label>

                    <div class="col-sm-8 col-lg-8">
                        <input type="password" class="form-control" id="upw1" name="upw1"
                               ng-change="analyze(userData.password)"
                               placeholder="Password" required ng-model="userData.password">

                        <p class="help-block" style="color: red" ng-hide="showMsg">Password Policy is not satisfied
                        </p>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': addEditForm.upw2.$dirty && addEditForm.upw2.$invalid }">
                    <label for="upw1" class="col-sm-4 col-lg-4 control-label">Confirm Password :</label>

                    <div class="col-sm-8 col-lg-8">
                        <input type="password" class="form-control" id="upw2" name="upw2" placeholder="Confirm Password"
                               required ng-model="upw2" pw-check="upw1">

                        <div class="msg-block" ng-show="addEditForm.$error"><span class="help-block"
                                                                                  ng-show="addEditForm.upw2.$error.pwmatch">Passwords dont match.</span>
                        </div>
                    </div>
                </div>

                <!--end password mismatch    -->

                <div class="form-group"
                     ng-class="{'has-error': addEditForm.email.$dirty && addEditForm.email.$invalid }">
                    <label for="email" class="col-sm-4 col-lg-4 control-label">Email :</label>

                    <div class="col-sm-8 col-lg-8">
                        <input type="email" name="userEmail" data-ng-model="userData.email" placeholder="Email"
                               class="form-control" id="email">

                        <p class="help-block" ng-if="addEditForm.email.$dirty && addEditForm.email.$invalid">Please
                            enter valid email address</p>
                    </div>
                </div>
            </fieldset>
            <fieldset class="well"
                      ng-if="mode == 'Edit' && !(userData.isResellerCustomer && credentials.role=='admin')">
                <h5>Change Password</h5>
                <!--begin password mismatch-->
                <div class="form-group"
                     ng-class="{ 'has-error': addEditForm.password.$dirty && addEditForm.password.$invalid }">
                    <label for="pw1" class="col-sm-4 col-lg-4 control-label">Password :</label>

                    <div class="col-sm-8 col-lg-8">
                        <input type="password" class="form-control" id="pw1" name="pw1" ng-change="analyze(userData.password)"
                               placeholder="Password" required ng-model="userData.password">

                        <p class="help-block" style="color: red" ng-hide="showMsg">Password Policy is not satisfied
                        </p>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': addEditForm.password.$dirty && addEditForm.password.$invalid }">
                    <label for="pw1" class="col-sm-4 col-lg-4 control-label">Confirm Password:</label>

                    <div class="col-sm-8 col-lg-8">
                        <input type="password" class="form-control" id="pw2" name="pw2" placeholder="Confirm Password"
                               required ng-model="tmpData.pw2" pw-check="pw1">

                        <div class="msg-block" ng-show="addEditForm.$error"><span class="help-block"
                                                                                  ng-show="addEditForm.pw2.$error.pwmatch">Password dosn't match.</span>
                        </div>
                    </div>
                </div>
                <p>Your password will expiry within : {{expiryDate}}</p>
                <!--end password mismatch    -->
                <div class="clearfix"></div>
                <button type="button" class="btn btn-primary pull-right"
                        ng-disabled="addEditForm.pw1.$invalid||addEditForm.pw2.$invalid||isDisable || !showMsg"
                        ng-click="updatePassword()">Update
                </button>
            </fieldset>

            <fieldset ng-if="mode=='Edit' && !(credentials.role=='admin' && userData.role=='admin')" class="well">
                <h5>Change Email</h5>
                <div class="form-group"
                     ng-class="{'has-error': addEditForm.email.$dirty && addEditForm.email.$invalid }">
                    <label for="email" class="col-sm-4 col-lg-4 control-label">Email :</label>
                    <div class="col-sm-8 col-lg-8">
                        <input type="email" name="userEmail" data-ng-model="userData.email" placeholder="Email"
                               class="form-control" id="email">
                        <p class="help-block" ng-if="addEditForm.email.$dirty && addEditForm.email.$invalid">Please
                            enter valid email address</p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="updateEmail()">Update</button>
            </fieldset>
            <div class="form-group"
                 ng-hide="(credentials.role=='admin' && userData.role=='admin')">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">Role :</label>

                <div ng-show="mode!='Edit'" class="col-sm-8 col-lg-8">
                    <myselect model="userData.role" required name="role" options="usersType"
                              key="val" value="key"></myselect>
                </div>
                <div ng-show="mode=='Edit'" class="col-sm-8 col-lg-8">
                    <input ng-disabled="true" ng-model="userData.role" class="form-control">

                </div>
            </div>
            <span style="color: red">

            NOTE:
                <ul>Please fill all the above fields satisfying following mandatories
                <li>Minimum 8 and maximum 32 characters</li>
                <li>Must contain atleast one digit,one capital and small alphabet</li>
                <li>Must contain atleast one of the special character( @ # $ ^ * _ )</li>
                <li>Should not repeat the characters more than 2 times</li>
                <li>Should not contain spaces</li></ul>

            </span>

        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="credentials.role=='admin' && mode =='Add'" type="button" class="btn btn-primary"
                ng-click="saveUser()" ng-disabled="addEditForm.$invalid || !showMsg"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="deleteUser.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? All the systems registered under that user also
            will be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>
<script type="text/ng-template" id="UnlockUser.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to Unlock?.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>
