<div class="tabcontrol" data-role="tabcontrol" ng-hide="addEdit" data-role="tabcontrol">
    <ul class="tabs">

        <li><a href="#stateCodeMappig">State Code Mapping</a></li>
        <li><a href="#SourceProductGroup">Source Product Group</a></li>
        <li><a href="#feedMapping" ng-click="initFeedMapping();loadStateCodes()">FeedMapping</a></li>
        <li><a href="#masterDump" data-ng-click="Masterdump()">Master Dump</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="stateCodeMappig">
            <div class="form-group">
                <div class="col-lg-2 col-sm-2">
                    <select data-ng-model="file.fileName" style="margin-top:5px" class="form-control"
                            ng-options="val for val in stateCode"
                            data-ng-change="loadStateCodes(file.fileName)">
                        <option value="">Select</option>
                    </select>
                </div>

                <button class="button primary" ng-click="Uploadfile()">
                    <span class="mif-file-upload"></span> Upload
                </button>

                <button class="button primary pull-right" ng-click="downloadStateCodes(file.fileName)"
                        tooltip="Download"><span class="mif-file-download"></span>
                </button>
            </div>

            <hr class="thin bg-grayLighter">

            <scrollable-table watch="stateCodes" resizable>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th sortable-header col="stateName">State Name</th>
                        <th sortable-header col="stateCode">State Code</th>
                        <th sortable-header col="branchName">Branch Name</th>
                        <th sortable-header col="branch">Branch</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="val in stateCodes">
                        <td>{{val['stateName']}}</td>
                        <td>{{val['stateCode']}}</td>
                        <td>{{val['branchName']}}</td>
                        <td>{{val['branchCode']}}</td>
                    </tr>
                    </tbody>
                </table>
            </scrollable-table>

        </div>
    </div>
    <div class="frames">
        <div class="frame" id="feedMapping">
            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="col-lg-2 col-sm-2" style="padding-top: 5px">
                        <select class="form-control" data-ng-model="source"
                                data-ng-change="onChangeFeedDetails(source)"
                                ng-options="val as val.sourceCode for val in gstSources">
                            <option value="">Select Source</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-2" style="padding-top: 5px">
                        <select class="form-control" data-ng-model="feedDefination"
                                ng-options="val as val.feedName for val in feedsList">
                            <option value="">Select Feed</option>
                        </select>
                    </div>

                    <div class="col-lg-8 col-sm-8">
                        <button class="button primary" ng-click="feedDefination = {};"><span class="mif-plus"></span>
                            Create
                        </button>
                        <button class="button primary" ng-click="deleteFeedDefination();"><span
                                class="fa fa-remove"></span> Delete
                        </button>
                    </div>
                </div>
            </div>

            <hr class="thin bg-grayLighter">

            <div class='form-horizontal well' style="margin-top: 15px">
                <fieldset>
                    <legend>Feed Details</legend>

                    <div class="row form-group">
                        <label class="col-lg-1 col-sm-1 control-label">Feed Name</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="text" class="form-control"
                                   data-ng-model="feedDefination.feedName" required>
                        </div>

                        <label class="col-lg-1 col-sm-1 control-label">File Format</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control"
                                    ng-options="val.value as val.name for val in constants['fileFormat']"
                                    ng-model="feedDefination.format">
                                <option value="">Select</option>
                            </select>
                        </div>

                        <label class="col-lg-1 col-sm-1">Skip Top Rows</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="number" class="form-control" data-ng-model="feedDefination.skipTopRows">
                        </div>

                        <label class="col-lg-1 col-sm-1">Skip Bottom Rows:</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="number" class="form-control" data-ng-model="feedDefination.skipBottomRows">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-lg-1 col-sm-1 control-label">Delimiter</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" data-ng-disabled="feedDefination.format != 'Delimiter'"
                                    ng-options="val.value as val.name for val in constants['delimiter']"
                                    ng-model="feedDefination.delimiter">
                                <option value="">Select</option>
                            </select>
                        </div>

                        <label class="col-lg-1 col-sm-1 control-label">Sheet Name</label>
                        {{feedDefination.fileFormat}}
                        <div class="col-sm-2 col-lg-2">
                            <input type="text" class="form-control" data-ng-model="feedDefination.sheetName"
                                   data-ng-disabled="feedDefination.format != 'Excel'">
                        </div>

                        <label class="col-sm-1 col-lg-1 control-label">Feed Pattern</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="text" class="form-control" ng-model="feedDefination.fileNamePattern" required/>
                        </div>

                        <label class="col-sm-1 col-lg-1 control-label">MFT Path</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="text" class="form-control" ng-model="feedDefination.mft" required/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-1 col-lg-1 control-label" id="reversalReport">Reversal</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="checkbox" for="reversalReport"
                                   ng-model="feedDefination.isReversal"/>
                        </div>
                        <label class="col-sm-1 col-lg-1 control-label" id="moveToProcessed">Processed</label>
                        <div class="col-lg-2 col-sm-2">
                            <input type="checkbox" for="moveToProcessed"
                                   ng-model="feedDefination.moveToProcessed"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div ng-show="feedDefination.preLoadScriptIndicator">
                            <label class="col-lg-1 col-sm-1">Script File</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="form-control" data-ng-model="feedDefination.preLoadScript.scriptFile"
                                        ng-options="val for val in preLoadScriptFiles" chosen list="preLoadScriptFiles">
                                    <option value="">Select File</option>
                                </select>
                            </div>

                            <label class="col-lg-1 col-sm-1">Alias name</label>
                            <div class="col-lg-2 col-sm-2">
                                <input type="text" class="form-control"
                                       data-ng-model="feedDefination.preLoadScript.splitSuffix">
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class='form-horizontal well' style="margin-top: 12px">
                <fieldset>
                    <legend>Field Details</legend>

                    <div>

                        <button class="button primary small-button" ng-click="uploadFieldDetails()"
                                style="float: right;margin-bottom: 8px;margin-left: 8px"
                                tooltip="upload">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>

                        <button class="button primary small-button" ng-click="downloadFieldDetails()"
                                style="float: right;margin-bottom: 8px;margin-left: 8px"
                                tooltip="Download">
                            <span class="mif-file-download"></span>
                        </button>

                        <!-- <button class="button primary small-button" ng-click="addFields()"
                                 style="float: right;margin-bottom: 8px" tooltip="add model fields">
                             <i class="glyphicon glyphicon-plus-sign"></i>
                         </button>-->

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th>Field Name</th>
                                <th>Mapped Column</th>
                                <th>Data Type</th>
                                <th>Date Pattern</th>
                                <th>Edit</th>
                            </tr>
                            </thead>

                            <tbody ng-repeat="value in feedDefination.fieldDetails"
                                   ng-show="feedDefination.fieldDetails.length != 0">
                            <tr data-ng-model="feedDefination.fieldDetails">
                                <td class="col-sm-1 col-md-1 col-lg-1">
                                    <div ng-show="value.enableEdit"><input type="text" class="form-control"
                                                                           ng-model="value.position"></div>
                                    <div ng-hide="value.enableEdit">{{value.position}}</div>
                                </td>
                                <td>
                                    <div ng-show="value.enableEdit"><input type="text" class="form-control"
                                                                           ng-model="value.fieldName"></div>
                                    <div ng-hide="value.enableEdit">{{value.fieldName}}</div>
                                </td>
                                <td>
                                    <div ng-show="value.enableEdit">
                                        <select type="text" class="form-control"
                                                ng-model="value.mappedCol"
                                                ng-options="val.value as val.name for val in constants['mappedColumns']">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div ng-hide="value.enableEdit">{{value.mappedCol}}</div>
                                </td>
                                <td>
                                    <div ng-show="value.enableEdit">
                                        <select type="text" class="form-control"
                                                ng-model="value.dataType"
                                                ng-options="val.value as val.name for val in constants['dataTypes']">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div ng-hide="value.enableEdit">{{value.dataType}}</div>
                                </td>
                                <td>
                                    <div ng-show="value.enableEdit"><input type="text" class="form-control"
                                                                           ng-model="value.datePattern"></div>
                                    <div ng-hide="value.enableEdit">{{value.datePattern}}</div>
                                </td>

                                <td style="white-space: nowrap">
                                    <button type="button" class="btn btn-sm btn-default" tooltip="Save"
                                            ng-show="value.enableEdit"
                                            ng-click="value.enableEdit=false;removeMdlFields($index)"><i
                                            class="fa fa-save fa-lg"></i>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-default" tooltip="Cancel"
                                            ng-show="value.enableEdit"
                                            ng-click="value.enableEdit=false;removeMdlFields($index)"><i
                                            class="fa fa-ban fa-lg"></i>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-default" tooltip="Edit"
                                            ng-hide="value.enableEdit"
                                            ng-click="value.enableEdit=true;editMdlFieldDetails($index)"><i
                                            class="fa fa-pencil fa-lg"></i>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-default" tooltip="Delete"
                                            ng-hide="value.enableEdit" ng-click="deleteFields($index,value)"><i
                                            class="fa fa-trash-o fa-lg"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>

            <!--<div class='form-horizontal well' style="margin-top: 15px">
                <fieldset>
                    <legend>Filter Conditions</legend>
                     <div class="form-row col-sm-5">
                         <input type="text" class="form-control" data-ng-model="filterCond"
                                placeholder="Enter   Filter Condition">
                     </div>

                     <div class="button-group" style="margin-bottom: 15px">
                         <button type="button" ng-click="addFilterCond(filterCond)" class="button primary small-button"
                                 data-ng-disabled="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                             <i
                                     class="glyphicon glyphicon-plus-sign"></i> Add Condition
                         </button>
                     </div>

                    <div class="form-row" ng-repeat="val in feedDefination['feedFilters']" style="margin-top:10px;">
                        {{val}}

                        <button class="btn btn-default"
                                style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                ng-click="removeFilterCond($index)">
                            <span class="mif-minus"></span>
                        </button>
                    </div>

                    <div ng-repeat="val in filterCondExpArray">

                        <div class="form-group row">

                            &lt;!&ndash; <label class="col-lg-1 col-sm-1">Select Field</label>&ndash;&gt;
                            <div class="col-lg-2 col-sm-2">
                                <select class="form-control" data-ng-model="val.selectedField"
                                        data-ng-change="onChangeOfMdlField(val,$index)"
                                        data-ng-options="val as val.mdlFieldName for val in feedDefination.fieldDetails track by val.mdlFieldName">
                                    <option value="">Select Field</option>
                                </select>
                            </div>

                            &lt;!&ndash; <label class="col-lg-1 col-sm-1">Select Condition</label>&ndash;&gt;
                            <div class="col-lg-2 col-sm-2">
                                <select class="form-control" data-ng-model="val.selectedCond"
                                        data-ng-change="onChangeOfFilterCond(condVal)"
                                        data-ng-options="condVal for condVal in val.filterCondArray">
                                    <option value="">Select Condition</option>
                                </select>
                            </div>

                            <div class="col-lg-2 col-sm-2"
                                 ng-show="val.selectedField.dataType=='str'">
                                <input type="text" class="form-control" placeholder="string value"
                                       data-ng-model="val.condValue"/>
                            </div>

                            <div class="col-lg-2 col-sm-2"
                                 ng-show="val.selectedField.dataType=='np.float64' || val.selectedField.dataType=='np.int64'">
                                <input type="number" class="form-control" placeholder="numeric value"
                                       data-ng-model="val.condValue"/>
                            </div>

                            <div class="col-lg-2 col-sm-2"
                                 ng-show="val.selectedCond != undefined && val.selectedCond != ''">
                                <select type="text" class="form-control"
                                        data-ng-model="val.logicalOperator">
                                    <option value="">None</option>
                                    <option value="|">OR</option>
                                    <option value="&">AND</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <button class="btn btn-default"
                                        data-ng-disabled="val.logicalOperator == undefined || val.selectedCond == ''"
                                        style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                        ng-click="addFilterCond()">
                                    <span class="mif-plus"></span>
                                </button>

                                <button class="btn btn-default"
                                        style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                        ng-click="removeFilterCond($index)">
                                    <span class="mif-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>

                        <button class="button primary small-button"
                                ng-click="saveFilterCond()"
                                ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                            <span> Add</span>
                        </button>

                        <button class="button primary small-button"
                                ng-click="cancelFilterCond()"
                                ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                            <span> Cancel</span>
                        </button>

                    </div>


                    <div ng-hide="feedDefination.filters == undefined || feedDefination.filters.length == 0">
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Condition</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="value in feedDefination.filters track by $index">
                                <td>{{$index}}</td>
                                <td>{{value}}</td>
                                <td><i class="fa fa-remove"
                                       ng-click="removeFilterExp($index)"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>-->

            <div class="form-group row">
                <div class="col-lg-4 col-sm-4">
                    <!--<button class="button primary" ng-click="saveFeedStructure(feedDefination)"
                            ng-disabled="feedDefinationForm.$invalid">Save
                    </button>-->
                    <button class="button primary" ng-click="saveFeedStructure(feedDefination)">Save
                    </button>

                    <button class="button primary" ng-click="clearFields()">Cancel</button>
                </div>
            </div>

            <script type="text/ng-template" id="addModelFields.html" ng-if="credentials.role == 'admin'">
                <div class="modal-header  ng-scope">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×
                    </button>
                    <h4 class="modal-title">Add Model Fields</h4>
                </div>

                <div class="modal-body">
                    <input type="search" ng-model="search" placeholder="Search Model Field"
                           style="width: 150px;margin-left: auto"
                           class="form-control">
                    <div>
                        <div style="width: 535px;height: 350px;overflow: scroll;">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Model Field Name</th>
                                    <th>Data Type</th>
                                </tr>
                                </thead>

                                <tr ng-repeat="value in mdlFieldStaticData | filter:search">
                                    <td><input type="checkbox" ng-click="selectedMdlField(value)"></td>
                                    <td>{{value.MDL_FIELD_ID}}</td>
                                    <td>{{dataTypeMapper[value.MDL_FIELD_DATATYPE]}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <buttons type="button" class="btn btn-primary"
                             ng-click="addModelFieldList(selectedMdlFieldArray)"
                             ng-disabled="selectedMdlFieldArray.length == 0">
                        Submit
                    </buttons>
                    <button type="button" class="btn btn-primary" ng-click="clear()">Cancel</button>
                </div>
                </div>
            </script>


            <script type="text/ng-template" id="uploadFieldDetails.html">
                <div class="modal-header  ng-scope">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×
                    </button>
                    <h4 class="modal-title">Upload File</h4>
                </div>

                <form class="form-horizontal" role="form" name="addEditForm">
                    <div class="modal-body">
                        <div class="form-group"
                             ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                            <label class="col-sm-4 col-lg-4 control-label">Upload :</label>

                            <div class="col-sm-8 col-lg-8">
                                <input type="file" name="file" data-ng-model="files"
                                       accept=".csv"
                                       onchange="angular.element(this).scope().upload(this.files)"/>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveFile(file)"
                            ng-disabled="files == undefined || files == null"> Submit
                    </button>

                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>

            </script>

            <script type="text/ng-template" id="deleteFeedAccMap.html" ng-if="credentials.role == 'admin'">
                <div class="modal-header">
                    <span class="icon-sign">
                        </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
                    <h4>Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-warning">Are you sure you want to delete? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="confirmDelete(selectedFeed)">Yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
                </div>
            </script>

        </div>
    </div>
    <div class="frames">
        <div class="frame" id="SourceProductGroup">
            <div>
                <h3 class="text-light">Source Product Group <span class="fa fa-users place-right"></span></h3>
                <hr class="thin bg-grayLighter">
                <button class="button primary" ng-click="gstmappingOptions.addgstmapping();"><span
                        class="mif-plus"></span> Create
                </button>
                <hr class="thin bg-grayLighter">
                <datagrid options="gstmappingOptions"></datagrid>
            </div>
            <script type="text/ng-template" id="addgstmapping.html" ng-if="credentials.role == 'admin'">
                <div class="modal-header  ng-scope">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×
                    </button>
                    <h4 class="modal-title">{{mode}} Source Product</h4>
                </div>
                <form class="form-horizontal" role="form" name="addEditForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label">Source Name :</label>
                            <div class="col-sm-6 col-lg-6">
                                <input type="text" class="form-control" required
                                       ng-model="srcPorGrp.sourceName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label">Source Code :</label>
                            <div class="col-sm-6 col-lg-6">
                                <input type="text" class="form-control" required
                                       ng-model="srcPorGrp.sourceCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label">Product Group :</label>
                            <div class="col-sm-6 col-lg-6">
                                <select class="form-control"
                                        ng-options="val.value as val.name for val in constants['productGroup']"
                                        ng-model="srcPorGrp.productGroup">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label">Business Process :</label>
                            <div class="col-sm-6 col-lg-6">
                                <select class="form-control"
                                        ng-options="val.value as val.name for val in constants['businessProcess']"
                                        ng-model="srcPorGrp.businessProcess">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label">Matching Source :</label>
                            <div class="col-sm-6 col-lg-6">
                                <select class="form-control"
                                        ng-model="srcPorGrp.matchingSource"
                                        ng-options="val.value as val.name for val in constants['matchingSource']">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label">State Code Ref :</label>
                            <div class="col-sm-6 col-lg-6">
                                <select class="form-control" ng-options="val for val in stateCode"
                                        ng-model="srcPorGrp.stateCodeRef">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-click="savegstmapping(srcPorGrp)" ng-disabled="addEditForm.$invalid"> Submit
                    </button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <script type="text/ng-template" id="deletegstmapping.html">
                <div class="modal-header">
                <span class="icon-sign">
                </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
                    <h4>Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-warning">Are you sure you want to delete? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
                </div>
            </script>
        </div>
    </div>
    <div class="frames">
        <div class="frame" id="masterDump">
            <div class="dropdown col-sm-3  form-group">

                <select ng-options="val as val for val in reportNames" style="margin-top:5px; height:25px;" class="form-control" ng-model="reportName" >

                    <option value="">Select</option>

                </select>
            </div>
            <div class="col-lg-5">
                <button class="fa fa-download button primary"  tooltip="download" ng-click="downloadDump(reportName)"></button>
                <button class="fa fa-upload button primary" ng-click="Uploaddumpfile(reportName)">Upload</button>
                <button class="fa  button primary" ng-click="deleteMastedData(reportName)">Delete</button>
            </div>
            <hr class="thin bg-grayLighter">
        </div>
    </div>


<script type="text/ng-template" id="uploadfile.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Upload File</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">

            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label class="col-sm-4 col-lg-4 control-label">Source Name :</label>

                <div class="col-sm-4 col-lg-4">
                    <input class="form-control" type="text" ng-model="file.fileName"/>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label class="col-sm-4 col-lg-4 control-label">Upload File :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="file" file-model="myFile" data-ng-model="files"/>-->

                    <input type="file" name="file" data-ng-model="files" file-model="file"
                           accept=".csv,.xlsx,.xls,.xlsb,.xla,.xlam,.xll,.xlw,.xltm,.xltx,.xlsm,.doc,.docx,.PDF,.jpeg,.txt,.eml,.msg,.emlx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                           onchange="angular.element(this).scope().upload(this.files)"/>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveFile(file)"
                ng-disabled="file.fileName == '' || file.fileName == undefined || file.fileName == null"> Submit
        </button>

        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="uploadmasterfile.html" ng-show="submitButton">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Upload File </h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">


            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label class="col-sm-4 col-lg-4 control-label">Upload File :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="file" file-model="file" accept=".csv,.jpg,.png,.txt,.xls"/>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  ng-click="saveFile(file)"
                ng-disabled="file.name == '' || file.name == undefined || file.name== null"> Submit
        </button>

        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>




