<div class="tabcontrol" ng-hide="addEdit" data-role="tabcontrol" ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li><a href="#gstReport" class="active" ng-click="initializeGSTReport()">GST Report</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="gstReport" style="min-height: 400px">
            <div class="row form-group">
                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report
                    Type:</label>
                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="selGstReport" ng-change="clearGSTData()"
                            ng-options="val for val in gstReportType.concat(groupByGstReport)">
                        <option value="">Select Report Type</option>
                    </select>
                </div>

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report
                    Date:</label>
                <div class="col-sm-2 col-lg-2">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="gstReportDate"
                           ng-model="gstReportDate"
                           is-open="gstReportDateOpen"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>

                <div class="col-lg-6">
                    <button class="button primary"
                            ng-click="generateGstReport()"
                            data-ng-disabled="selGstReport == '' || selGstReport == undefined || gstReportDate == undefined || gstReportDate == ''">
                        Generate Report
                    </button>
                    <button class="button primary" ng-click="rollbackSources()">Rollback
                    </button>
                    <button class="button primary" ng-click="freezeSource()">Freeze</button>
                </div>
            </div>
            <div class="row form-group" ng-show="gstReportType.indexOf(selGstReport) !== -1">
                <button class="button primary" ng-click="exportExcelReport('dialyGstReport')"
                        tooltip="Download" style="margin-left: 15px"><span class="mif-file-download"></span></button>
            </div>
            <div ng-show="gstReportType.indexOf(selGstReport) !== -1">
                <div style="height:650px;max-height:650px;overflow:scroll">
                    <table class="table table-striped table-bordered" id='dialyGstReport'>
                        <thead>
                        <tr>
                            <th class="centerAlign" colspan="{{row.subcolumns.length}}"
                                ng-repeat="row in gstHeaders">
                                {{row.name}}
                            </th>
                        </tr>
                        <tr>
                            <th class="centerAlign" ng-repeat="rw in subcolumns track by $index">{{rw.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="val in rowData track by $index">
                            <td ng-repeat="dat in val track by $index" ng-class="{'rightAlign': $index > 0}">
                                {{dat.value}}
                            </td>
                        </tr>

                        <td ng-repeat="dat in totalData track by $index" ng-class="{'rightAlign': $index > 0}">
                            {{dat.value | formatNumber}}
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-show="groupByGstReport.indexOf(selGstReport) != -1">
                <div ng-repeat="data in sourcewiseGst">
                    <button class="button primary" ng-click="exportExcelReport('gstdrilldown' + $index)"
                            tooltip="Download"><span class="mif-file-download"></span>
                    </button>
                    <table class="table table-striped table-bordered" id="{{'gstdrilldown' + $index}}">
                        <thead>
                        <tr>
                            <th style="text-align : center" colspan="{{data.subcolumns.length}}">
                                {{data.reportName}}
                            </th>
                        </tr>
                        <tr>
                            <th class="centerAlign" ng-repeat="rw in data.subcolumns track by $index">{{rw}}</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="val in data.data track by $index">
                            <td>{{val['AGG_COLUMN']}}</td>
                            <td style="text-align: right">{{val['TAX']}}</td>
                            <td style="text-align: right" ng-show="val['CBS_GL_01'] != undefined">{{val['CBS_GL_01']}}</td>
                            <td style="text-align: right">{{val['TAX_']}}</td>
                            <td style="text-align: right">{{val['DIFFERENCE']}}</td>
                        </tr>

                        <!--<td ng-repeat="dat in totalData track by $index" ng-class="{'rightAlign': $index > 0}">{{dat.value |
                            formatNumber}}
                        </td>-->
                        </tbody>
                    </table>
                    <hr ng-hide="($index + 1) == sourcewiseGst.length">
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<script type="text/ng-template" id="freezeSource.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Freeze GST Sources</h4>
    </div>

    <form class="form-horizontal" role="form" name="freezeSrc">
        <div class="modal-body">

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Statement Date :</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="freezeStmtDateId"
                           ng-model="freezeData.freezeStmtDate"
                           is-open="freezeSmtDateOpen"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>
            </div>

            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">GST Source's
                    :</label>
                <div class="col-sm-4 col-lg-4">
                    <div
                            isteven-multi-select
                            input-model="gstSources"
                            output-model="freezeData.selectedSources"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="freezeSources(freezeData)">
            Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>

</script>

<script type="text/ng-template" id="rollback.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Rollback GST Sources</h4>
    </div>

    <form class="form-horizontal" role="form" name="rollbackSourceForm">
        <div class="modal-body">

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Statement Date :</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="rollbackdate"
                           ng-model="rollback.statementdate"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>
            </div>

            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="sourceId">GST Source's
                    :</label>
                <div class="col-sm-4 col-lg-4">
                    <div
                            isteven-multi-select
                            input-model="gstSources"
                            output-model="rollback.rollbackSrc"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="rollbackData(rollback)">
            Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>

</script>
