<h3 class="text-light">Recon License <!--<a href="#" ng-click="syncReconLicense()"><i class="fa fa-refresh"></i> Sync</a>--><span class="fa fa-users place-right"></span></h3>
<datagrid options="reconLicenseOptions"></datagrid>