<div class="login-form padding20 block-shadow" data-ng-hide="credentials">

    <form ng-hide="isNew">
        <h2 class="text-light">User Login</h2>
        <hr class="thin"/>
        <br/>
        <div class="input-control text full-size" data-role="input">
            <label for="username">Username:</label>
            <input type="text" autofocus ng-model="login.userName" placeholder="Username" required>
            <button class="button helper-button clear"><span class="mif-cross"></span></button>
        </div>
        <br/>
        <br/>
        <div class="input-control password full-size" data-role="input">
            <label for="password">Password:</label>
            <input type="password" ng-model="login.password" placeholder="Password" AUTOCOMPLETE="off" required>
            <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        </div>
        <br/>
        <div class="form-group alert alert-danger" role="alert" ng-show="errorMsg">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errorMsg}}
        </div>
        <br/>
        <div class="form-actions">

            <div class="form-row">
                <button data-ng-disabled="loginForm.$invalid" class="button primary" data-ng-click="doLogin(login)">
                    Login
                </button>

                <a href="#" data-ng-disabled="login.userName==undefined" ng-click='ForgotPassword(login)'
                   style='margin-top:20px' class='pull-right'>ForgotPassword ?</a>
            </div>
        </div>
    </form>
</div>


<script>
    $(function () {
        var form = $(".login-form");

        form.css({
            opacity: 1,
            "-webkit-transform": "scale(1)",
            "transform": "scale(1)",
            "-webkit-transition": ".5s",
            "transition": ".5s"
        });
    });
    $('#password').keypress(function (e) {
        var s = String.fromCharCode(e.which);
        if ((s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) ||
            (s.toUpperCase() !== s && s.toLowerCase() === s && e.shiftKey)) {
            this.caps = true;
            $("#capsMsg").show();
        }
        else if ((s.toLowerCase() === s && s.toUpperCase() !== s && !e.shiftKey) ||
            (s.toLowerCase() !== s && s.toUpperCase() === s && e.shiftKey)) {
            this.caps = false;
            $("#capsMsg").hide();
        }
    });
    $(document).keydown(function (e) {

        if (e.which == 20) {
            var pass = document.getElementById("password");
            var upass = document.getElementById("username");
            if (pass.caps == undefined) {
            }
            else {
                pass.caps = !pass.caps;

                $("#capsMsg").toggle(pass.caps);
            }
        }

    });

</script>








