<div class="tabcontrol" data-role="tabcontrol" ng-hide="addEdit" data-role="tabcontrol"
     ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li class="active"><a href="#notificationGroup">NOTIFICATION-GROUP</a></li>
        <li><a href="#reconGroup" ng-click="getRecons()">RECON GROUP</a></li>
        <li><a href="#notificationRule">NOTIFICATION RULES</a>
        </li>
    </ul>

    <div class="frames">

        <div class="frame" id="notificationGroup">
            <div>
                <hr class="thin bg-grayLighter">
                <button class="button primary btn-sm" ng-click="notificationOptions.addNotificationGroup();"><span
                        class="mif-plus"></span> Create
                </button>
                <hr class="thin bg-grayLighter">
                <datagrid options="notificationOptions"></datagrid>
            </div>
        </div>

        <div class="frame" id="reconGroup">
            <hr class="thin bg-grayLighter">
            <button class="button primary" ng-click="reconOptions.addReconGroup()"><span class="mif-plus"></span> Create
            </button>
            <hr class="thin bg-grayLighter">
            <datagrid options="reconOptions"></datagrid>
            <datagrid options="configureNotificationRule"></datagrid>
        </div>

        <div class="frames" id="notificationRule">
            <div>
                <div>
                    <hr class="thin bg-grayLighter">
                    <button class="button primary btn-sm" ng-click="configureNotificationRule.addNotificationRule();"><span
                            class="mif-plus"></span> Configure
                    </button>
                    <hr class="thin bg-grayLighter">
                <datagrid options="configureNotificationRule"></datagrid>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="notification.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Group</h4>
    </div>

    <form class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label for="groupName" class="col-sm-4 col-lg-4 control-label">Group Name:</label>
                <div class="col-sm-8 col-lg-8">
                    <input type="text" class="form-control" id="groupName" name="groupName"
                           placeholder="Group" required ng-model="groupData.group">
                </div>
            </div>
            <div class="form-group">
                <label for="mailId" class="col-sm-4 col-lg-4 control-label">MailId's:</label>
                <div class="col-sm-8 col-lg-8">
                <textarea ng-model="groupData.mailids" id="mailId" style="width: 350px; height: 150px;" name="mailId ">

                </textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-primary"
                ng-click="saveGroup()" ng-disabled="addEditForm.$invalid || !showMsg"> Save
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteUser.html">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>

    <script type="text/ng-template" id="configure.html">
    <div class="modal-header">
        <span class="icon-sign">
        </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>{{mode}} NotifcationRule</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
            <!--ng-show="formValidation.isNotValid">-->
            <!--<span class="icon-sign"></span>-->
            <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
            <!--<span class="alertContent">{{formValidation.message}}</span>-->
            <!--</div>-->

            <div class="form-group">
                <label for="ruleName" class="col-sm-4 col-lg-4 control-label">Rule Name :</label>
                <div class="col-sm-8 col-lg-8">
                    <input type="text" class="form-control" id="ruleName" name="ruleName" placeholder="User Name"
                           required
                           ng-model="configure.ruleName" ng-disabled="mode == 'Edit'">
                </div>
            </div>

            <div class="form-group">
                <label for="mailSub" class="col-sm-4 col-lg-4 control-label">Mail Subj:</label>
                <div class="col-sm-8 col-lg-8">
                    <input type="text" class="form-control" id="mailSub" name="mailSub" placeholder="Subject"
                           required
                           ng-model="configure.mailSub" ng-disabled="mode == 'Edit'">
                </div>
            </div>

            <fieldset class="well">
                <!--begin password mismatch-->

                <div class="form-group">
                    <label for="mailGroup" class="col-sm-4 col-lg-4 control-label">Mail Group :</label>
                    <div class="col-sm-8 col-lg-8">
                        <div
                                isteven-multi-select
                                input-model="mailGroup"
                                output-model="configure.mailGroups"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="reconGroup" class="col-sm-4 col-lg-4 control-label">Recon Group :</label>
                    <div class="col-sm-8 col-lg-8">
                        <div
                                isteven-multi-select
                                input-model="reconGroup"
                                output-model="configure.reconGroups"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                        >
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="well">
                <div class="form-group">
                    <label for="evnet" class="col-sm-4 col-lg-4 control-label">Event :</label>
                    <div class="col-sm-8 col-lg-8" id="evnet">
                        <div
                                isteven-multi-select
                                input-model="reconEvents"
                                output-model="configure.events"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                        >
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="attachments" class="col-sm-4 col-lg-4 control-label">Attachments :</label>
                    <div class="col-sm-8 col-lg-8">
                        <div
                                isteven-multi-select
                                input-model="attachments"
                                output-model="configure.attachments"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                        >
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

    <div class="modal-footer">
        <button ng-if="(credentials.role=='admin')"
                type="button" class="btn btn-primary" ng-click="saveNotificationRule(reconData)"
                ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="addReconGroup.html" ng-if="(credentials.role=='admin')">
    <div class="modal-header  ng-scope">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Group Assignment</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">

            <div class="form-group"
                 ng-hide="(credentials.role=='admin' && userData.role=='admin')">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">Group Name :</label>
                <div class="col-sm-8 col-lg-8" ng-show="mode == 'Add'">
                    <input type="text" class="form-control" name="user"
                           placeholder="Group Name"
                           ng-model="reconGroup.groupName">
                </div>
                <!--<div class="col-sm-6 col-lg-6" ng-show="mode == 'Edit'">-->
                <!--<select class="button form-control" ng-model="reconGroup.groupName"-->
                <!--required name="user"-->
                <!--ng-options="val for val in reconGroups | orderBy:'toString()'"-->
                <!--&gt;-->
                <!--<option value="">Select</option>-->
                <!--</select>-->
                <!--</div>-->
            </div>


            <div class="form-group"
            >
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Select Recons :</label>
                <div class="col-sm-6 col-lg-6">
                    <div
                            isteven-multi-select
                            input-model="recons"
                            output-model="reconGroup.recons"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>

                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="(credentials.role=='admin' || credentials.role=='Recon Assignment') && mode =='Edit'"
                type="button" class="btn btn-primary" ng-click="saveReconGroup(reconData)"
                ng-disabled="addEditForm.$invalid"> Submit
        </button>

        <button ng-if="(credentials.role=='admin' || credentials.role=='Recon Assignment') && mode =='Add'"
                type="button" class="btn btn-primary" ng-click="saveReconGroup(reconData)"
                ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

