<div class="tabcontrol" data-role="tabcontrol" ng-hide="addEdit" data-role="tabcontrol"
     ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li ng-hide="credentials.role == 'Dept User'"><a href="#unmatched"
                                                         ng-click="changeGrid('UnMatched');authorizeFlag = false;filterValue = '';onFilterChanged('');singleSide = false;selectedFilter = 'UnMatched';total = [];clearDates()">UnMatched</a>
        </li>
        <li ng-hide="credentials.role == 'Dept User'"><a href="#unmatched"
                                                         ng-click="changeGrid('Matched');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'Matched';total = [];clearDates()">Matched</a>
        </li>
        <li ng-hide="credentials.role == 'Dept User'"><a href="#unmatched"
                                                         ng-click="changeGrid('rollBack');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'rollBack';total = [];clearDates()">Rollback
            Authorization</a></li>
        <li ng-hide="credentials.role == 'Dept User'"><a href="#unmatched"
                                                         ng-click="changeGrid('pendingForSubmission');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'pendingForSubmission';total = [];clearDates()">Pending
            For Submission</a></li>
        <li ng-class="{active: userpoolRole === 'Authorizer'}" ng-hide="credentials.role == 'Dept User'"><a
                href="#unmatched"
                ng-click="changeGrid('waitingForAuthorization');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'waitingForAuthorization';total = [];clearDates()">Waiting
            For Authorization</a></li>
        <li ng-class="{active: userpoolRole === 'Dept User'}" ng-show="credentials.role == 'Dept User' ||credentials.role == 'Reconciler' ||credentials.role == 'Authorizer'"
            ng-click="changeGrid('Inbox');authorizeFlag = false;filterValue = '';onFilterChanged('');singleSide = false;selectedFilter = 'Inbox';total = [];clearDatres()"><a
                href="#unmatched">Inbox</a></li>
    </ul>
    <div class="frames">
        <div class="frame" id="unmatched">
            <div class="row form-group" ng-hide="allFlag">
                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Business Process
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button control-label form-control" ng-model="process"
                            ng-change="getBusiness(process);reconId = ''" required
                            ng-options="val.process as val.process for val in businessContexts | unique:'process' | orderBy:'process'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>
                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">WorkPool Name
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button control-label form-control" ng-model="businessContext" required
                            data-ng-change="getRecons(businessContext)"
                            ng-options="val.name as val.name for val in getBusinessContext | unique:'name'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">Recons :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="reconId" required
                            ng-change="getSelectedRecon(reconId)" name="reconId"
                            ng-options="val.id as val.name for val in recon_ids | unique:'name'  | orderBy:'name'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>

                <button class="col-lg-1 col-sm-1 button primary" data-ng-disabled="gridOptions['rowData'].length == 0"
                        ng-click="onBtExportMatched()" ng-show="selectedFilter=='Matched'||selectedFilter=='UnMatched'">Export CSV
                </button>

                <button class=" col-lg-1 col-sm-1 button primary" data-ng-disabled="gridOptions['rowData'].length == 0"
                        ng-click="onBtExport()" ng-show="selectedFilter!='Matched'&&selectedFilter!='UnMatched'">Export CSV
                </button>

                <div class="col-lg-1 col-sm-1"></div>
                <button class="col-lg-1 col-sm-1 button primary"
                        ng-click="getAll()" data-ng-disabled="userpoolRole == 'Dept User'">Export All
                </button>
                <span ng-show="gridOptions.rowData.length > 0" class="col-lg-1 col-sm-1" style="margin-top: 6px;"><b>Total
                    Transactions Count :</b> <span
                        style="font-size: 20px"><b>{{gridOptions.rowData.length}}</b></span></span>
            </div>
            <div class="row form-group" data-ng-show="showDateFilter && matchedFlag">
                <div class="col-lg-5">
                    <div class="row form-group">
                        <label class="col-lg-3" style="margin-top:4%">Statement Date:
                        </label>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">Start Date<input type="text" class="form-control"
                                                                        datepicker-popup="dd/MM/yy"
                                                                        date-disabled="disabled(date, mode)"
                                                                        id="statementStartDate"
                                                                        ng-model="date.statementStartDate"
                                                                        is-open="opened1"
                                                                        data-ng-change="checkSyncMinData(date.statementEndDate)"
                                                                        datepicker-options="dateOptions"
                                                                        close-text="Close"/></div>
                                <div class="col-lg-12">End Date<input type="text" class="form-control"
                                                                      datepicker-popup="dd/MM/yy"
                                                                      date-disabled="disabled(date, mode)"
                                                                      id="statementEndDate"
                                                                      ng-model="date.statementEndDate" is-open="opened2"
                                                                      data-ng-change="checkSyncMinData(date.statementEndDate)"
                                                                      datepicker-options="dateOptions"
                                                                      close-text="Close"/></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5">
                    <div class="row form-group">
                        <label class="col-lg-3" style="margin-top: 4%">Execution Date:
                        </label>
                        <div class="col-lg-9">
                            <div class="row">

                                <div class="col-lg-12">Start Date<input type="text" class="form-control"
                                                                        datepicker-popup="dd/MM/yy"
                                                                        date-disabled="disabled(date, mode)"
                                                                        id="executionStartDate"
                                                                        ng-model="date.executionStartDate"
                                                                        is-open="opened3"
                                                                        data-ng-change="checkSyncMinData(date.executionEndDate)"
                                                                        close-text="Close"/></div>
                                <div class="col-lg-12">End Date<input type="text" class="form-control"
                                                                      datepicker-popup="dd/MM/yy"
                                                                      date-disabled="disabled(date, mode)"
                                                                      id="executionEndDate"
                                                                      ng-model="date.executionEndDate" is-open="opened4"
                                                                      data-ng-change="checkSyncMinData(date.executionEndDate)"
                                                                      close-text="Close"/></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="button primary"
                            data-ng-disabled="reconId == null || reconId == undefined || reconId == ''"
                            style="margin-top: 7%" ng-click="getFilteredDataByDates(date)"><i class="fa fa-filter"></i>
                        Search
                    </button>
                </div>
            </div>
            <div class="row form-group" data-ng-show="userpoolRole">
                <label class="col-lg-1 col-sm-1 control-label">Role :</label>
                <div class="col-lg-1 col-sm-1"><b>{{userpoolRole}}</b></div>
            </div>
            <div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="pull-left" ng-click="selectAllRows()">Select All</button>
                            <button class="pull-left" ng-click="clearAllRowSelection()">Clear All Selections</button>
                            <span style="margin-left: 15px" ng-show="suspenseFlag"><b>AccountPool Name</b> - {{accountPoolName}}</span>
                            <span style="margin-left: 1px" ng-show="suspenseFlag"><b>Account Number</b> - {{accountNumber}}</span>
                            <span class="form-row col-lg-pull-3"><label ng-show="balAvailabe"
                                                                        style="padding-left: 290px;height: 20px;padding-right: 5px;">Closing Balance : {{amount | inrCurrencyFormat }}</label>
                            </span>
                            <input class="col-lg-2 pull-right" placeholder="Filter..." type="text"
                                   ng-model="filterValue"
                                   ng-change="onFilterChanged(filterValue)">
                        </div>

                    </div>
                    <div id="myGrid" style="width: 100%; height: 500px;"
                         ag-grid="gridOptions"
                         class="ag-blue">
                    </div>
                    <div ng-hide="true"
                         ag-grid="gridOptionsAll"
                         class="ag-blue">
                    </div>
                </div>
                <div ng-show="gridOptions.api.getSelectedNodes().length > 0 && selectedFilter!='Inbox'">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Selected Records Amount Summary for {{selectedFilter}}
                                transactions
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th>Source Name</th>
                                    <th>Total Credit Amount</th>
                                    <th>Total Debit Amount</th>
                                    <th>Total Debit Count</th>
                                    <th>Total Credit Count</th>
                                    <th>Outstanding Amount</th>
                                    <th>No of Transactions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="t in total">
                                    <td>{{t.source_name}}</td>
                                    <td>{{t.credit_amount | inrCurrencyFormat}}</td>
                                    <td>{{t.debit_amount | inrCurrencyFormat}}</td>
                                    <td>{{t.debit_count}}</td>
                                    <td>{{t.credit_count}}</td>
                                    <td ng-show="t.debit_amount ==0 && t.credit_amount ==0 && t.outstanding_amount !=0">
                                        {{t.outstanding_amount | inrCurrencyFormat}}
                                    </td>
                                    <td ng-hide="t.debit_amount ==0 && t.credit_amount ==0 && t.outstanding_amount !=0">
                                        {{(t.debit_amount - t.credit_amount) | inrCurrencyFormat}}
                                    </td>
                                    <td>{{t.totalTransactions}}</td>
                                </tr>
                                <tr ng-if="total.length > 0">
                                    <td>Total :</td>
                                    <td>{{ getTotal('credit') | inrCurrencyFormat }}</td>
                                    <td>{{ getTotal('debit') | inrCurrencyFormat }}</td>
                                    <td>{{ getTotal('debitcount')}}</td>
                                    <td>{{ getTotal('creditcount') }}</td>
                                    <td>{{ getTotal('outstanding') | inrCurrencyFormat }}</td>
                                    <td>{{ getTotal('total') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-show="userpoolRole != 'Operations Manager' && userpoolRole != 'Dept User' && userpoolRole != 'Enquirer' && selectedFilter != 'waitingForAuthorization' && selectedFilter !='Inbox'">

                <hr ng-show="reconFlag || authorizeFlag || matchedFlag" class="thin bg-grayLighter">
                <div class="row form-group" ng-show="reconFlag || authorizeFlag || matchedFlag">
                    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Comments
                        : <span>*</span></label>

                    <div class="col-sm-4 col-lg-4">
                        <input ng-show="reconFlag || authorizeFlag || matchedFlag" class="form-control" type="text"
                               data-ng-model="data.comments">
                    </div>

                    <!--<label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Reason-Code-->
                    <!--:</label>-->

                    <!--<div class="col-sm-4 col-lg-4 control-label">-->
                    <!--<select ng-show="reconFlag || authorizeFlag || matchedFlag" class="form-control" type="text"-->
                    <!--data-ng-model="data.reasoncode" ng-options="val for val in reason_code">-->
                    <!--<option value="">Select</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">User Pools
                        : <span>*</span></label>

                    <div class="col-sm-4 col-lg-4">
                        <select ng-show="reconFlag || matchedFlag" class="form-control" type="text"
                                data-ng-change="getUsers(data.userpool)" data-ng-model="data.userpool"
                                ng-options="val.name as val.name for val in userpools | orderBy:'name'">
                            <option value="">Select</option>
                            <!--<option value="Authorisation Role User Pool">Authorisation Role User Pool</option>-->
                        </select>
                    </div>

                </div>
                <!--<hr ng-show="matchedFlag" class="thin bg-grayLighter">-->
                <div class="row form-group" ng-show="reconFlag || matchedFlag">

                    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Users :</label>

                    <div class="col-sm-4 col-lg-4 control-label">
                        <select ng-show="reconFlag || matchedFlag" class="form-control" type="text"
                                data-ng-model="data.user" ng-options="val for val in users  | orderBy:'val'">
                            <option value="">Select</option>
                            <!--<option value="tester2">tester2</option>-->
                            <!--<option value="configurer2">configurer2</option>-->
                        </select>
                    </div>


                </div>
                <div class="row form-group" ng-show="reconFlag && selectedFilter != 'pendingForSubmission' ">
                    <label for="urole" class="col-sm-2 col-lg-2 control-label" ng-show="selectedFilter == 'UnMatched'"
                           style="margin-top: 10px;">Dept User Pools
                        : <span>*</span></label>

                    <div class="col-sm-4 col-lg-4" ng-show="selectedFilter == 'UnMatched'">
                        <select ng-show="reconFlag || matchedFlag" class="form-control" type="text"
                                data-ng-model="data.deptuserpool"
                                ng-options="val.name as val.name for val in deptuserpools | orderBy:'name'">
                            <option value="">Select</option>
                            <!--<option value="Authorisation Role User Pool">Authorisation Role User Pool</option>-->
                        </select>
                    </div>
                    <label class="col-lg-2 col-sm-2 control-label" style="margin-top: 10px">Single Record Match
                        :</label>
                    <div class="col-sm-4 col-lg-4">
                        <input style="margin-top: 10px;height: 15px;width: 15px" type="checkbox"
                               data-ng-model="singleSide"/>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-show="userpoolRole == 'Authorizer' && selectedFilter == 'waitingForAuthorization'">
                <hr class="thin bg-grayLighter">
                <div class="row form-group" ng-show="authorizeFlag">
                    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Comments
                        : <span>*</span></label>

                    <div class="col-sm-4 col-lg-4">
                        <input class="form-control" type="text" 
                               data-ng-model="data.comments">
                    </div>

                    <!--<label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Reason-Code-->
                    <!--:</label>-->

                    <!--<div class="col-sm-4 col-lg-4 control-label">-->
                    <!--<select class="form-control" type="text"-->
                    <!--data-ng-model="data.reasoncode" ng-options="val for val in reason_code">-->
                    <!--<option value="">Select</option>-->
                    <!--</select>-->
                    <!--</div>-->
                </div>
                <button ng-show="authorizeFlag"
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="authorize(data)"> Authorize
                </button>
                <button ng-show="authorizeFlag"
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="reject(data)"> Reject Records
                </button>

            </div>
            <div class="form-group" ng-show="userpoolRole == 'Authorizer' && selectedFilter == 'rollBack'">
                <hr class="thin bg-grayLighter">
                <div class="row form-group">
                    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Comments
                        : <span>*</span></label>

                    <div class="col-sm-4 col-lg-4">
                        <input class="form-control" type="text" 
                               data-ng-model="data.comments">
                    </div>

                    <!--<label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Reason-Code-->
                    <!--:</label>-->

                    <!--<div class="col-sm-4 col-lg-4 control-label">-->
                    <!--<select class="form-control" type="text"-->
                    <!--data-ng-model="data.reasoncode" ng-options="val for val in reason_code">-->
                    <!--<option value="">Select</option>-->
                    <!--</select>-->
                    <!--</div>-->
                </div>
                <button
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="rollbackRoll(data)"> Authorize Records
                </button>
                <button
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="rejectRoll(data)"> Reject Records
                </button>

            </div>
            <div class="form-group"
                 ng-show="userpoolRole != 'Operations Manager' && userpoolRole != 'Dept User' && userpoolRole != 'Enquirer'">
                <!--<button ng-show="authorizeFlag && userpoolRole == 'Authorizer'"-->
                        <!--data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"-->
                        <!--class="button primary" ng-click="authorize(data)"> Authorize-->
                <!--</button>-->
                <!--<button ng-show="authorizeFlag  && userpoolRole == 'Authorizer'"-->
                        <!--data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"-->
                        <!--class="button primary" ng-click="reject(data)"> Reject Records-->
                <!--</button>-->
                <button ng-show="matchedFlag"
                        data-ng-disabled="(data.userpool == null || data.userpool == undefined || data.userpool == '') || (data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="rollbackMatched(data)"> Roll Back
                </button>
                <button ng-show="reconFlag && selectedFilter != 'pendingForSubmission'"
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="Ungrouping(data)">Un-Grouping
                </button>
                <button ng-show="reconFlag && selectedFilter != 'pendingForSubmission'"
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="forceMatching(data)">Force Match
                </button>
                <button ng-show="reconFlag && selectedFilter != 'pendingForSubmission'"
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '') || (data.userpool == null || data.userpool == undefined || data.userpool == '')"
                        class="button primary" ng-click="groupForceMatch(data)">Force Match & Auth
                </button>

                <button ng-show="reconFlag && selectedFilter == 'pendingForSubmission'"
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '') || (data.userpool == null || data.userpool == undefined || data.userpool == '')"
                        class="button primary" ng-click="submitForAuthorization(data)">Submit For Authorization
                </button>
                <button ng-show="reconFlag && selectedFilter != 'pendingForSubmission' && selectedFilter == 'UnMatched'"
                        data-ng-disabled="(data.deptuserpool == null || data.deptuserpool == undefined || data.deptuserpool == '')"
                        class="button primary" ng-click="sendToDept(data)"> Send to Investigator
                </button>
            </div>
            <div class="form-group" ng-show="userpoolRole == 'Dept User' && selectedFilter == 'Inbox'">
                <hr class="thin bg-grayLighter">
                <div class="row form-group">
                    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Comments
                        : <span>*</span></label>

                    <div class="col-sm-4 col-lg-4">
                        <input class="form-control" type="text" 
                               data-ng-model="data.comments">
                    </div>
                </div>
                <button
                        data-ng-disabled="(data.comments == null || data.comments == undefined || data.comments == '')"
                        class="button primary" ng-click="sendToReconciler(data)"> Send To Reconciler
                </button>
            </div>
            <div class="form-group" ng-show="selectedFilter!='Inbox'">
                <button ng-hide="userpoolRole == 'Dept User'" data-ng-disabled="!auditGridOptionsFlag"
                        class="button primary" ng-click="showHistory();getUploadedFiles();showGrid = !showGrid"><span
                        ng-show="showGrid">Hide</span><span ng-show="!showGrid">Show</span> History
                </button>
                <button data-ng-disabled="reconId =='' || reconId == undefined || reconId == null || gridOptions.api.getSelectedNodes().length == 0"
                        class="button primary" ng-click="uploadFile()">Upload File
                </button>
                <button data-ng-disabled="reconId == '' || reconId == undefined || reconId == null"
                        class="button primary" data-ng-disabled="!auditGridOptionsFlag" ng-show="comment"
                        ng-click="saveComments(data)">Save Comments
                </button>

            </div>
            <div class="tabcontrol" data-role="tabcontrol" ng-show="showGrid">
                <ul class="tabs">
                    <li class="active"><a href="#audithistory"
                    >Audit History</a>
                    </li>
                    <li><a href="#allocationhistory"
                    >Allocation History</a>
                    </li>
                    <li><a href="#attachement" ng-click="getUploadedFiles()"
                    >Attachements</a>
                    </li>
                </ul>
                <div class="frames">
                    <div class="frame" id="audithistory">
                        <div ng-show="auditGridOptionsFlag">
                            <div class="form-group">
                                <div id="auditGrid" style="width: 100%; height: 300px;" ag-grid="auditGridOptions"
                                     class="ag-blue">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="frame" id="allocationhistory">
                        <div ng-show="auditGridOptionsFlag">
                            <div class="form-group">
                                <div id="allocationGrid" style="width: 100%; height: 300px;"
                                     ag-grid="allocationGridOptions"
                                     class="ag-blue">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="frame" id="attachement">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">Uploaded Files
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">File Name</th>
                                        <th style="text-align: center">Uploaded by</th>
                                        <th style="text-align: center">Uploaded Date</th>
                                        <th style="text-align: center">Description</th>
                                        <th style="text-align: center">Download</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in listOfData">
                                        <td style="text-align: center">{{t.fileName}}</td>
                                        <td style="text-align: center">{{t.uploadedBy}}</td>
                                        <td style="text-align: center">{{t.updated * 1000 | date:'dd/MM/yyyy'}}</td>
                                        <td style="text-align: center">{{t.description}}</td>
                                        <td style="text-align: center"><a href="app/files/{{t.fileName}}.{{t.type}}"
                                                                          target="_self"
                                                                          download="{{t.fileName}}.{{t.type}}"><i
                                                class="fa fa-download"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame" id="inbox">
            <div class="row form-group" data-ng-show="userpoolRole">
                <label class="col-lg-1 col-sm-1 control-label">Role :</label>
                <div class="col-lg-1 col-sm-1"><b>{{userpoolRole}}</b></div>
            </div>

            <div class="row form-group" ng-hide="allFlag">
                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Business Process
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button control-label form-control" ng-model="process"
                            ng-change="getBusiness(process);reconId = ''" required
                            ng-options="val.process as val.process for val in businessContexts | unique:'process' | orderBy:'process'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>
                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">WorkPool Name
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button control-label form-control" ng-model="businessContext" required
                            data-ng-change="getRecons(businessContext)"
                            ng-options="val.name as val.name for val in getBusinessContext | unique:'name'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">Recons :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="reconId" required
                            ng-change="getSelectedRecon(reconId)" name="reconId"
                            ng-options="val.id as val.name for val in recon_ids | unique:'name'  | orderBy:'name'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>

                <button class="col-lg-1 col-sm-1 button primary" data-ng-disabled="gridOptions['rowData'].length == 0"
                        ng-click="onBtExport()">Export CSV
                </button>
                <div class="col-lg-1 col-sm-1"></div>
                <button class="col-lg-1 col-sm-1 button primary"
                        ng-click="getAll()">Export All
                </button>
                <span ng-show="gridOptions.rowData.length > 0" class="col-lg-1 col-sm-1" style="margin-top: 6px;"><b>Total
                    Transactions Count :</b> <span
                        style="font-size: 20px"><b>{{gridOptions.rowData.length}}</b></span></span>
            </div>

            <div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="col-lg-2 pull-right" placeholder="Filter..." type="text"
                                   ng-model="filterValue"
                                   ng-change="onFilterChanged(filterValue)">
                        </div>

                    </div>
                    <!--<div id="myGrid" style="width: 100%; height: 500px;"-->
                         <!--ag-grid="gridOptions"-->
                         <!--class="ag-blue">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="uploadfile.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Upload File</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label for="uuserName" class="col-sm-4 col-lg-4 control-label">Upload :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="file" name="file" data-ng-model="files"
                           accept=".csv,.xlsx,.xls,.xlsb,.xla,.xlam,.xll,.xlw,.xltm,.xltx,.xlsm,.doc,.docx,.PDF,.jpeg,.txt,.eml,.msg,.emlx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                           onchange="angular.element(this).scope().upload(this.files)"/>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label for="uuserName" class="col-sm-4 col-lg-4 control-label">File Name :</label>

                <div class="col-sm-8 col-lg-8">
                    <input class="form-control" type="text" ng-model="file.fileName"/>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label for="uuserName" class="col-sm-4 col-lg-4 control-label">Description :</label>

                <div class="col-sm-8 col-lg-8">
                    <textarea class="form-control" ng-model="file.description" rows="4" cols="20"></textarea>
                </div>
            </div>


        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveFile(file)"
                ng-disabled="file.fileName == '' || file.fileName == undefined || file.fileName == null"> Submit
        </button>

        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
