<div ng-hide="addEdit" ng-show="['Administrator'] | showForRole">
    <h3 class="text-light">Recon Assignments<span class="fa fa-list place-right"></span></h3>
    <hr class="thin bg-grayLighter">
    <button class="button primary" ng-click="reconOptions.addUser();"><span class="mif-plus"></span> Create</button>
    <button class="button primary" ng-click="reconOptions.addUserMultiple();"><span class="mif-plus"></span> Create
        Multiple
    </button>
    <hr class="thin bg-grayLighter">
    <datagrid options="reconOptions"></datagrid>
</div>

<script type="text/ng-template" id="addUser.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Recon Assignment </h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
            <!--ng-show="formValidation.isNotValid">-->
            <!--<span class="icon-sign"></span>-->
            <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
            <!--<span class="alertContent">{{formValidation.message}}</span>-->
            <!--</div>-->

            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">User Pool :</label>
                <div class="col-sm-8 col-lg-8" ng-show="mode == 'Edit'">
                    <input type="text" class="form-control" ng-disabled="mode == 'Edit'" name="user"
                           placeholder="User Pool"
                           ng-model="reconData.userpool">
                </div>
                <div class="col-sm-6 col-lg-6" ng-show="mode != 'Edit'">
                    <select class="button form-control" ng-model="reconData.userpool"
                            data-ng-change="getUsers(reconData.userpool)" required name="user"
                            ng-options="val for val in userpools | orderBy:'toString()'">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">User :</label>
                <div class="col-sm-8 col-lg-8" ng-show="mode == 'Edit'">
                    <input type="text" class="form-control" ng-disabled="mode == 'Edit'" name="user"
                           placeholder="user"
                           ng-model="reconData.user">
                </div>
                <div class="col-sm-6 col-lg-6" ng-show="mode != 'Edit'">
                    <select class="button form-control" ng-model="reconData.user" required name="user"
                            ng-options="val for val in usersType"
                    >
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Business Context :</label>
                <div class="col-sm-8 col-lg-8" ng-show="mode == 'Edit'">
                    <input type="text" class="form-control" ng-disabled="mode == 'Edit'" name="users"
                           placeholder="users" style='min-height:5%;max-height: 20%'
                           ng-model="reconData.workPoolName">
                </div>
                <div class="col-sm-6 col-lg-6" ng-show="mode != 'Edit'">
                    <select class="button form-control" ng-model="reconData.workPoolName"
                            ng-change="getRecons(reconData.workPoolName);selectedBusiness = false" required
                            name="workPoolName"
                            ng-options="val.name as val.name for val in filteredBusinessData | unique:'name'"
                    >
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group"
            >
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Select Recons :</label>
                <div class="col-sm-6 col-lg-6">
                    <!--<select  ui-select2="select2Options" multiple ng-change="getAccountPools(reconData.recons)" ng-model="reconData.recons" style="width:300px;" >-->
                    <!--<option ng-repeat="tag in reconBusinessData | unique:'name'" value="{{tag.id}}">{{tag.name}}</option>-->
                    <!--</select>-->
                    <div
                            isteven-multi-select
                            input-model="reconBusinessData"
                            output-model="reconData.recons"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>

                </div>
            </div>
            <!--ng-show="reconData.businessContext == 1111131119"-->
            <div class="form-group" ng-show="reconData.businessContext == 1111131119"
            >
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Select Account Pools :</label>
                <div class="col-sm-6 col-lg-6">
                    <!--<select  ui-select2="select2OptionsA" multiple ng-change="getSelectedAccountPools(reconData.accountPools)" ng-model="reconData.accountPools" style="width:300px;" >-->
                    <!--<option ng-repeat="tag in accountpools" value="{{tag.code}}">{{tag.name}}</option>-->
                    <!--</select>-->
                    <div
                            isteven-multi-select
                            input-model="accountpools"
                            output-model="reconData.accountPools"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>

                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="mode =='Edit'" type="button" class="btn btn-primary"
                ng-click="saveRecon(reconData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>

        <button ng-if="mode =='Add'" type="button" class="btn btn-primary"
                ng-click="saveRecon(reconData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="addUserMultiple.html">
    <div class="modal-header  ng-scope">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
            <h4 class="modal-title">Multiple Recon Assignment</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">

            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">User Pool :</label>

                <div class="col-sm-6 col-lg-6">
                    <select class="button form-control" ng-model="reconData.userpool"
                            data-ng-change="getUsers(reconData.userpool)" required name="user"
                            ng-options="val for val in userpools"
                    >
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">User :</label>

                <div class="col-sm-6 col-lg-6">
                    <div
                            isteven-multi-select
                            input-model="usersType"
                            output-model="reconData.user"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            required
                    >
                    </div>
                    <!--<select class="button form-control" ng-model="reconData.user" required name="user" ng-options="val for val in usersType"-->
                    <!--&gt;<option value="">Select</option></select>-->
                </div>
            </div>
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Business Context :</label>

                <div class="col-sm-6 col-lg-6">
                    <div
                            isteven-multi-select
                            input-model="filteredBusinessData"
                            output-model="reconData.businessContext"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            required
                            on-item-click="getRecons( data )"
                    >
                    </div>
                    <!--<select class="button form-control" ng-model="reconData.businessContext" ng-change="getRecons(reconData.businessContext);selectedBusiness = false" required name="businessContext" ng-options="val.id as val.name for val in filteredBusinessData | unique:'name'"-->
                    <!--&gt;<option value="">Select</option></select>-->
                </div>
            </div>
            <div class="form-group"
            >
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Select Recons :</label>
                <div class="col-sm-6 col-lg-6">
                    <!--<select  ui-select2="select2Options" multiple ng-change="getAccountPools(reconData.recons)" ng-model="reconData.recons" style="width:300px;" >-->
                    <!--<option ng-repeat="tag in reconBusinessData | unique:'name'" value="{{tag.id}}">{{tag.name}}</option>-->
                    <!--</select>-->
                    <div
                            isteven-multi-select
                            input-model="reconBusinessData"
                            output-model="reconData.recons"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            required
                    >
                    </div>

                </div>
            </div>
            <!--ng-show="reconData.businessContext == 1111131119"-->
            <div class="form-group" ng-show="acoountPoolsFlag"
            >
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Select Account Pools :</label>
                <div class="col-sm-6 col-lg-6">
                    <!--<select  ui-select2="select2OptionsA" multiple ng-change="getSelectedAccountPools(reconData.accountPools)" ng-model="reconData.accountPools" style="width:300px;" >-->
                    <!--<option ng-repeat="tag in accountpools" value="{{tag.code}}">{{tag.name}}</option>-->
                    <!--</select>-->
                    <div
                            isteven-multi-select
                            input-model="accountpools"
                            output-model="reconData.accountPools"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>

                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="('admin' || 'Recon Assignment')" type="button" class="btn btn-primary"
                ng-click="saveRecon(reconData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="deleteUser.html">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? All the systems registered under that user also
            will be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>
