<div ng-hide="addEdit" ng-show="['admin'] | showForRole">
    <div ng-include="chosenValue"></div>
</div>
<script type="text/ng-template" id="runRecon.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Run ReconJob</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid">
                <span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>

            <fieldset>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Recon Id :</label>
                    <div class="col-lg-4">
                        {{rec['reconId']}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Select Statement-Date :</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" required
                               datepicker-popup="dd-MMM-yyyy"
                               ng-model="rec['statementDate']"
                               id="statementDate"
                               close-text="close"  data-ng-disabled ="credentials.role == 'Recon Administrator'"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="runRecon(rec)" ng-disabled="rec['statementDate'] == 0"> Run Job
        </button>

        <a type="button" class="btn btn-primary"
           ng-class="{disabled: failureLogPath == ''}"
           target="_self" download
           data-ng-disabled="failureLogPath == ''"
           href="/app/files/engine_error_logs/{{failureLogPath}}">Export Log
        </a>

        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="rescheduleRecon.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">ReSchedule Job</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid">
                <span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>

            <fieldset>
                <div class="form-group">
                    <span class="control-label col-sm-3"><b>Select Time :</b></span>
                    <span class="control-label col-sm-3" style="text-align: center"><b>Hours</b></span>
                    <span class="control-label col-sm-3" style="text-align: center"><b>Minutes</b></span>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 col-sm-3"></div>
                    <div class="col-sm-3 col-lg-3" style="text-align: center">
                        <myselect style="width: 85%;" model="rec.hour" name="fullStartHour" options="hours"></myselect>
                        <!--<select class="form-control" data-ng-model="rec.hour" ng-options="val.value as val.key for val in hours"><option value="">Select Hour</option></select>-->
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <myselect style="width: 85%;" model="rec.min" name="fullStartHour" options="mins"></myselect>
                        <!--<select class="form-control" data-ng-model="rec.min" ng-options="val.value as val.key for val in mins"><option value="">Select Min</option></select>-->
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="schedule(rec)" ng-disabled="addEditForm.$invalid"> Schedule Job
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="deleteschedule.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
    <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
    <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>
