<div class="tabcontrol" data-role="tabcontrol" ng-hide="addEdit" data-role="tabcontrol"
     ng-show="['admin'] | showForRole" xmlns="http://www.w3.org/1999/html">
    <ul class="tabs">
        <li class="active">
            <a href="#importRecon"
               ng-click="initImportFunc()">Import Recon Configuration</a>
        </li>
        <li>
            <a href="#rollBackRecon"
               ng-click="initRollBackFunc()">RollBack Recon Configuration</a>
        </li>
        <!--<li><a href="#unmatched"-->
        <!--ng-click="changeGrid('Matched');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'Matched';total = [];clearDates()">Matched</a>-->
        <!--</li>-->
        <!--<li><a href="#unmatched"-->
        <!--ng-click="changeGrid('rollBack');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'rollBack';total = [];clearDates()">Rollback-->
        <!--Authorization</a></li>-->
        <!--<li><a href="#unmatched"-->
        <!--ng-click="changeGrid('pendingForSubmission');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'pendingForSubmission';total = [];clearDates()">Pending-->
        <!--For Submission</a></li>-->
        <!--<li><a href="#unmatched"-->
        <!--ng-click="changeGrid('waitingForAuthorization');authorizeFlag = false;filterValue = '';onFilterChanged('');selectedFilter = 'waitingForAuthorization';total = [];clearDates()">Waiting-->
        <!--For Authorization</a></li>-->
        <!--<li ng-hide="credentials.role == 'Dept User'"><a href="#inbox"-->
        <!--ng-click="getInboxTransactions();clearDates()">Inbox</a></li>-->
    </ul>
    <div class="frames">

        <div class="frame" id="importRecon">
            <div class="container-fluid">
                <label style="font-size: medium">Search: <input type="text" ng-model="searchText"
                                                                placeholder="Search here....."></label>
                <table id="searchTextResults" class="table table-striped table-bordered">
                    <tr>
                        <th>#</th>
                        <th style="font-size: large">Recon Id</th>
                        <th style="font-size: large">Import Recon Details</th>
                    </tr>
                    <tr ng-repeat="file in reconNames | filter:searchText">
                        <td>{{$index}}</td>
                        <td style="font-size: medium">{{file}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-default" tooltip="Import"
                                    ng-click="importReconDetails(file)">
                                <!--<img src="/img/Import.png"/>-->
                                <i class="fa fa-sign-in fa-lg"></i></button>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="frame" id="rollBackRecon">
            <div class="container-fluid">
                <label style="font-size: medium">Search: <input type="text" ng-model="searchText"
                                                                placeholder="Search here....."></label>
                <table id="searchTextResults1" class="table table-striped table-bordered">
                    <tr>
                        <th>#</th>
                        <th style="font-size: large">Recon Id</th>
                        <th style="font-size: large">RollBack Recon Details</th>
                    </tr>
                    <tr ng-repeat="file in reconRollBackNames | filter:searchText">
                        <td>{{$index}}</td>
                        <td style="font-size: medium">{{file}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-default" tooltip="Rollback"
                                    ng-click="rollBackReconDetails(file)">
                                <!--<img src="/img/Import.png"/>-->
                                <i class="fa fa-undo fa-lg"></i></button>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="importRecon.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Recon Migration</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid">
                <span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>

            <fieldset>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Recon Id :</label>
                    <div class="col-lg-4">
                        {{reconID}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Select Export Date:</label>
                    <div class="col-lg-4">
                        <select class="button control-label form-control" ng-model="fileTs"
                                ng-change="selectTs(fileTs)"
                                required
                                ng-options="val as val for val in selectedMigrationTs">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="importRecon()"> Import Recon
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="rollBackRecon.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Recon RollBack</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid">
                <span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>

            <fieldset>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Recon Id :</label>
                    <div class="col-lg-4">
                        {{reconID}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 col-sm-4 control-label" style="margin-top: 10px">Rollback to selected version
                        :</label>
                    <div class="col-sm-2 col-lg-2">
                        <input style="margin-top: 10px;height: 15px;width: 15px" type="checkbox"
                               ng-change="selectCheckTs(rollBkStatus)"
                               data-ng-model="rollBkStatus"/>
                    </div>

                </div>

                <div class="form-group" ng-show="rollBkStatus">
                    <label class="col-lg-5 control-label">Select version:</label>
                    <div class="col-lg-4">
                        <select class="button control-label form-control" ng-model="fileTs"
                                ng-change="selectTs(fileTs)"
                                required
                                ng-options="val as val for val in selectedMigrationTs">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="confirmRollback()"
                data-ng-disabled="rollBkStatus && (fileTs =='' || fileTs ==null || fileTs == undefined)"> Proceed
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="confirmRollback.html">
    <div class="modal-header  ng-scope">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>-->
        <!--<h4 class="modal-title">Recon RollBack</h4>-->
        <!--<div class="alert {{formValidation.type}}">-->
            <!--<span class="icon-sign"></span>-->
            <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
            <!--<span class="alertContent">Are you sure want to do Rollback ?</span>-->
        <!--</div>-->
    </div>
    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="alert {{formValidation.type}}">
            <span class="icon-sign"></span>
            <a class="close" data-ng-click="showAlert('',false,'')">x</a>
            <span class="alertContent">Are you sure want to do Rollback ?</span></br></br>
            <span class="alertContent">Note: Roll back will remove the current configuration from system.</span>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="rollBackRecon()"> Rollback Recon
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>


