<div class="tabcontrol" ng-hide="addEdit" data-role="tabcontrol" ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li><a href="#mhadareport" ng-click="getMhadaReport()">Report</a></li>
        <li><a href="#nostroReport" ng-click="initializeNostoReport()">Nostro Report</a></li>
        <li><a href="#TodaynostroReport">Nostro V/s OGL Report</a></li>
        <li><a href="#dealTally">DEAL TALLY CYCLE WISE REPORT</a></li>
        <li><a href="#adfOglReport">ADF V/s OGL Report</a></li>

        <!--<li><a href="#gstReport" ng-click="initializeGSTReport()">GST Report</a></li>-->

    </ul>
    <div class="frames">

        <div class="frame" id="mhadareport" style="min-height: 400px">
            <div class="row form-group">

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report Type
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="selReportData"
                            ng-options="val as val.reportName for val in reportDetails">
                        <option value="">Select Report Type</option>
                    </select>
                </div>

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date
                    :</label>
                <div class="col-sm-2 col-lg-2">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="statementDate"
                           ng-model="statementDate"
                           is-open="opened1"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>

                <div class="col-lg-2">
                    <button class="button primary"
                            ng-click="generateReport()" ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''">
                        Generate Report
                    </button>
                </div>
                <!--<div class="col-sm-2" style="margin-left: 13px;margin-top: 15px;">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="statementDate"
                           ng-model="statementDate"
                           is-open="opened1"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>-->

                <!--<div class="col-lg-2">
                <button class="button primary" data-ng-disabled="SumgridOptions['rowData'].length == 0"
                ng-click="onBtExportMhada()">Export Excel
                </button>
                </div>-->
            </div>

            <div class="panel panel-primary" ng-show="reportExtract != undefined && reportExtract.length > 0">
                <div class="panel-heading">
                    <div class="panel-title">
                        Reconciliation of {{source1}} & {{source2}} for
                        the period of {{extractDate}}

                        <!--<a class="button primary" ng-click="exportReport()"><span class="mif-file-download"></span></a>
                        <button type="button" ng-csv="getAccountMasterArray" id="getAccountMaster" style="display:none;"
                                field-separator="{{separator}}" lazy-load="true"
                                filename="{{filename}}.csv">Export
                        </button>-->

                        <a class="pull-right" ng-click="exportCSVReport(reportExtract)"><span
                                class="mif-file-download"></span></a>
                        <button type="button" ng-csv="csvReportData" id="csvReport" style="display:none;"
                                field-separator="{{separator}}"
                                filename="{{filename}}.csv">
                        </button>
                        </a>

                        <!--<a class="pull-right" tooltip="Export Report"><span class="mif-file-download"></span></a>-->

                    </div>
                </div>
                <div class="panel-body" style="height:650px;max-height:650px;overflow-y:scroll">

                    <scrollable-table watch="reportExtract" resizable>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th sortable-header col="C40">GL Account Number</th>
                                <th sortable-header col="ACCOUNT_NAME">GL Name</th>
                                <th sortable-header col="CLOSING_BALS1">Closing Balance of {{source1}}</th>
                                <th sortable-header col="CLOSING_BALS2">Closing Balance of {{source2}}</th>
                                <th sortable-header col="DIFF">Difference b/w {{source1}} - {{source2}}</th>
                                <th sortable-header col="VALUE_GRE">Value Greater in {{source1}} / {{source2}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in reportExtract track by $index" row-id="{{ val['C40'] }}">
                                <td>{{ val['C40'] }}</td>
                                <td>{{ val['ACCOUNT_NAME'] }}</td>
                                <td style="text-align: right">{{ val['CLOSING_BALS1'] | inrCurrencyFormat }}</td>
                                <td style="text-align: right">{{ val['CLOSING_BALS2'] | inrCurrencyFormat }}</td>
                                <td style="text-align: right">{{ val['DIFF'] | inrCurrencyFormat }}</td>
                                <td>{{ val['VALUE_GRE'] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </scrollable-table>

                    <!--<table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th style="text-align: center">GL Account Number</th>
                            <th style="text-align: center">GL Name</th>
                            <th style="text-align: center">Closing Balance of {{source1}}</th>
                            <th style="text-align: center">Closing Balance of {{source2}}</th>
                            <th style="text-align: center">Difference b/w {{source1}} - {{source2}}</th>
                            <th style="text-align: center">Value Greater in {{source1}} / {{source2}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="val in reportExtract track by $index">
                            <td style="text-align: center">{{val['C40']}}</td>
                            <td style="text-align: center">{{val['ACCOUNT_NAME']}}</td>
                            <td style="text-align: right">{{val['CLOSING_BAL_S1'] | inrCurrencyFormat}}</td>
                            <td style="text-align: right">{{val['CLOSING_BAL_S2'] | inrCurrencyFormat}}</td>
                            <td style="text-align: right">{{val['DIFF'] | inrCurrencyFormat}}</td>
                            <td style="text-align: center">{{val['VALUE_GRE']}}</td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>

    <div class="frames">
        <div class="frame" id="nostroReport" style="min-height: 400px" ng-show="enableNostroReport">
            <!-- <div class="row form-group">

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Business Name*
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="selNostroBusinessName"
                            ng-options="val for val in nostroReportBusinessName">
                        <option value="">Select Business</option>
                    </select>
                </div>

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report Name*
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="selNostroReportName"
                            ng-options="val for val in nostroReportName[selNostroBusinessName]"
                            data-ng-change="generateNostroReport()">
                        <option value="">Select Report</option>
                    </select>
                </div>

            </div>-->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title" style="text-align: center">
                        Nostro Closing Balance Report

                        <a class="pull-right" target="_self" download
                           href="/app/files/recon_reports/{{reportLocMap[reportDwnType]}}"><span
                                class="mif-file-download" style="margin-left: 10px"></span></a>
                        </a>

                        <span class="pull-right"><select class="form-control" data-ng-model="reportDwnType">
                            <option value="CSV">CSV export</option>
                            <option value="EXCEL">Excel export</option>
                            <!--<option value="PDF">PDF export</option>-->
                        </select></span>


                    </div>
                </div>
                <div class="panel-body" styoverflow-y:scroll
                ">

                <div>

                    <div class="row form-group">
                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 5px">Report
                            Date :</label>
                        <div class="col-sm-2 col-lg-2">
                            <input type="text" class="form-control"
                                   datepicker-popup="dd/MM/yyyy"
                                   id="nostroReportDate"
                                   ng-model="nostroAdvSearch.reportDate"
                                   is-open="opened2"
                                   datepicker-options="dateOptions"
                                   close-text="Close"/>
                        </div>

                        <!--<label for="urole" class="col-sm-1 col-lg-1 control-label">Currency:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select ng-model="nostroAdvSearch.currency" class="form-control"
                                    ng-options="val for val in nostroCurrencies"
                                    list="nostroAdvSearch.currency"></select>
                        </div>-->

                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 5px">Statement
                            Date:</label>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-6"><input type="text" class="form-control"
                                                             datepicker-popup="dd/MM/yyyy"
                                                             id="nostroFrmStmtDateID"
                                                             ng-model="nostroAdvSearch.nostroFrmStmtDate"
                                                             is-open="opened3"
                                                             datepicker-options="dateOptions"
                                                             close-text="Close" placeholder="Start date"/></div>
                                <div class="col-lg-6"><input type="text" class="form-control"
                                                             datepicker-popup="dd/MM/yyyy"
                                                             id="nostroToStmtDateID"
                                                             ng-model="nostroAdvSearch.nostroToStmtDate"
                                                             is-open="opened4"
                                                             datepicker-options="dateOptions"
                                                             close-text="Close" placeholder="End date"/></div>
                            </div>
                        </div>

                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 5px">Nostro
                            Account:</label>
                        <div class="col-sm-2 col-lg-2">
                            <input type="text" class="form-control"
                                   data-ng-model="nostroAdvSearch.nostroAccount"/>
                        </div>
                    </div>

                    <div class="row form-group">

                        <label for="urole" class="col-sm-1 col-lg-1 control-label"
                               style="margin-top: 5px">Currency:</label>
                        <div class="col-sm-2 col-lg-2" ng-dropdown-multiselect="" options="nostroCurrencies"
                             selected-model="nostroAdvSearch.currency" extra-settings="multiDropDownStng"></div>

                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px">OP / CL
                            Balance:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="button form-control" ng-model="nostroAdvSearch.amountType">
                                <option value="">Select Type</option>
                                <option value="OPEN_BAL">Opening Bal</option>
                                <option value="CLOSE_BAL">Closing Bal</option>
                            </select>
                        </div>

                        <div class="col-sm-2 col-lg-2">
                            <select class="button form-control" data-ng-model="amtOperator"
                                    ng-disabled="nostroAdvSearch.amountType == '' ||
                                       nostroAdvSearch.amountType == undefined || nostroAdvSearch.amountType == null">
                                <option value="">select operator</option>
                                <option value="$eq">equals</option>
                                <option value="$lt">less</option>
                                <option value="$gt">greater</option>
                                <option value="$lte">less than equal</option>
                                <option value="$gte">greater than equal</option>
                            </select>
                        </div>

                        <div class="col-sm-2 col-lg-2">
                            <input class="form-control" type="number"
                                   data-ng-model="nostroAdvSearch.amount" ng-disabled="amtOperator == '' ||
                                       amtOperator == undefined || amtOperator == null">
                        </div>
                    </div>

                    <div class="form-group row" style="margin-left: 85%;margin-bottom: 22px">
                        <div class="button-group">
                            <button type="button" ng-click="searchNostroDetails(nostroAdvSearch)"
                                    class="button primary small-button btn "
                                    data-ng-disabled="(
                                        (nostroAdvSearch.reportDate == '' || nostroAdvSearch.reportDate == undefined ||nostroAdvSearch.reportDate == null) &&
                                        (nostroAdvSearch.nostroAccount == '' || nostroAdvSearch.nostroAccount == undefined ||nostroAdvSearch.nostroAccount == null) &&
                                        (nostroAdvSearch.nostroFrmStmtDate == '' || nostroAdvSearch.nostroFrmStmtDate == undefined || nostroAdvSearch.nostroFrmStmtDate == null) &&
                                        (nostroAdvSearch.currency == '' || nostroAdvSearch.currency == undefined || nostroAdvSearch.currency == null) &&
                                        (nostroAdvSearch.amount == '' || nostroAdvSearch.amount == undefined || nostroAdvSearch.amount== null))">
                                <i class="glyphicon glyphicon-search"></i> search
                            </button>
                        </div>

                        <div class="button-group" style="margin-left: 10px">
                            <button type="button" ng-click="resetNostroDetails()"
                                    class="button primary small-button btn ">
                                <i class="glyphicon glyphicon-ban-circle"></i> reset
                            </button>
                        </div>

                    </div>
                </div>

                <hr class="thin bg-grayLighter">

                <div style="margin-top: 30px">
                    <scrollable-table watch="nostroReportExtract" resizable>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th sortable-header col="REP_DATE">Report Run Date</th>
                                <th sortable-header col="STMT_DATE">Statement Date</th>
                                <th sortable-header col="LAST_TXN_DATE">Last Txn Date</th>
                                <th sortable-header col="ACCOUNT_NUMBER">Account Number</th>
                                <th sortable-header col="ACC_NAME">Account Name</th>
                                <th sortable-header col="CURRENCY">Currency</th>
                                <th sortable-header col="OP_CR_CR">Op.Bal. Dr/Cr</th>
                                <th sortable-header col="OP_BAL">Opening Balance</th>
                                <th sortable-header col="CL_DR_CR">Cl.Bal. Dr/Cr</th>
                                <th sortable-header col="CL_BAL">Closing Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in nostroReportExtract track by $index">
                                <td>{{ val['REP_DATE']}}</td>
                                <td>{{ val['STMT_DATE']}}</td>
                                <td>{{ val['LAST_TXN_DATE']}}</td>
                                <td>{{ val['ACCOUNT_NUMBER']}}</td>
                                <td>{{ val['ACC_NAME']}}</td>
                                <td>{{val['CURRENCY']}}</td>
                                <td>{{ val['OP_DR_CR'] }}</td>
                                <td style="text-align: right">{{ val['OP_BAL'] | inrCurrencyFormat}}</td>
                                <td>{{ val['CL_DR_CR'] }}</td>
                                <td style="text-align: right">{{ val['CL_BAL'] | inrCurrencyFormat}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </scrollable-table>
                </div>
            </div>
        </div>
    </div>


    <div class="frame" id="TodaynostroReport" style="min-height: 400px">
        <div class="row-form-group">
            <!--<label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">UploadFile:</label>-->

            <!--<div class="col-lg-2" style="margin-top: 10px;margin-right:10px;">-->
            <!--<form>-->
            <!--<div class="form-row">-->
            <!--<input type="file" file-model="myFile" data-ng-model="files"/>-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->
            <!---->
            <!--<div class = "col-md-2">-->
            <!--<button ng-click="uploadFile()" class = "glyphicon glyphicon-upload" style="margin-top:8px;width: 61px;height:21px;">Upload</button>-->
            <!--</div>-->

            <!--<label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date:</label>-->
            <!--<div class="col-sm-2 col-lg-2" style="margin-top: 10px;">-->
            <!--<input type="text" class="form-control"-->
            <!--datepicker-popup="dd/MM/yyyy"-->
            <!--id = statementDate1-->
            <!--ng-model="statementDate1"-->
            <!--is-open="opened5"-->
            <!--datepicker-options="dateOptions"-->
            <!--close-text="Close"/>-->
            <!--</div>-->

            <div class="col-md-1">
                <button class="btn btn-primary"
                        ng-click="getTodayNostroReport()">
                    Generate Report
                </button>
            </div>

            <div class="pull-right">
                <button class="button primary"
                        ng-click="getExceptionReport('new')">Export CSV
                </button>
            </div>
        </div>

        <hr class="thin bg-grayLighter">

        <div style="margin-top: 50px">
            <scrollable-table watch="TodaynostroReportExtract" resizable>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th sortable-header col="CURRENCY">CURRENCY</th>
                        <th sortable-header col="accNo">ACCOUNT NUMBER</th>
                        <th sortable-header col="stmtDate">TRANSACTION_DATE</th>
                        <th sortable-header col="nostroClBal">NOSTRO CLOSING BALANCE</th>
                        <th sortable-header col="balDate">BALANCE DATE</th>
                        <th sortable-header col="oglClBal">OGL CLOSING BALANCE</th>
                        <th sortable-header col="oglv/sNostro">OGL V/S NOSTRO CLOSING BALANCE</th>
                        <th sortable-header col="openExc">OPEN EXCEPTION</th>
                        <th sortable-header col="openExcDiff">OPEN EXCEPTION DIFFERENCE</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="(key,val1) in TodaynostroReportExtract">
                    <tr>
                        <td rowspan="{{val1.length}}">{{key}}</td>
                        <td>{{ val1[0]['ACCOUNT_NUMBER']}}</td>
                        <td>{{ val1[0]['STATEMENT_DATE']}}</td>
                        <td>{{ val1[0]['CLOSING_BALANCE_AMOUNT'] | inrCurrencyFormat}}</td>
                        <td rowspan="{{val1.length}}">{{ val1[0]['BALANCE_DATE'] }}</td>
                        <td rowspan="{{val1.length}}">{{val1[0]['OGL_CLOSING_BALANCE'] | inrCurrencyFormat}}</td>
                        <td rowspan="{{val1.length}}" style="text-align: right">{{ val1[0]['OGL Vs NOSTRO DIFFERENCE'] |
                            inrCurrencyFormat}}
                        </td>
                        <td rowspan="{{val1.length}}">{{ val1[0]['OPEN_EXCEPTION'] | inrCurrencyFormat}}</td>
                        <td rowspan="{{val1.length}}" style="text-align: right">{{ val1[0]['OPEN_EXCEPTION_DIFFERENCE']
                            | inrCurrencyFormat}}
                        </td>
                    </tr>
                    <tr ng-repeat="val in val1" ng-if="$index > 0">
                        <!--<td rowspan=val1.length >{{det['CURRENCY']}}</td>-->
                        <!--<td rowspan = "val['Cnt']">{{ val['CURRENCY']}}</td>-->
                        <td>{{ val['ACCOUNT_NUMBER']}}</td>
                        <td>{{ val['STATEMENT_DATE']}}</td>
                        <td>{{ val['CLOSING_BALANCE_AMOUNT'] | inrCurrencyFormat}}</td>
                        <!--<td >{{val['OGL_CLOSING_BALANCE'] | inrCurrencyFormat}}</td>-->
                        <!--<td>{{ val['BALANCE_DATE'] }}</td>-->
                        <!--<td style="text-align: right">{{ val['OGL Vs NOSTRO DIFFERENCE'] | inrCurrencyFormat}}</td>-->
                        <!--<td >{{ val['OPEN_EXCEPTION'] | inrCurrencyFormat}}</td>-->
                        <!--<td style="text-align: right">{{ val['OPEN_EXCEPTION_DIFFERENCE'] | inrCurrencyFormat}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </scrollable-table>
        </div>
    </div>

    <div class="frame" id="dealTally" style="min-height: 400px">
        <div class="row form-group">
            <div class="col-sm-2 col-lg-2">
                <select class="button form-control" ng-model="cycle"
                        ng-options="val as key for (key,val) in cycles" ng-change="initializeDealReport()">
                    <option value="">Select Cycle</option>
                </select>
            </div>

            <label for="statementDate2" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date
                :</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                       datepicker-popup="dd/MM/yyyy"
                       id="statementDate2"
                       ng-model="dealstatementDate"
                       is-open="opened6"
                       datepicker-options="dateOptions"
                       close-text="Close"/>
            </div>

            <div class="col-lg-2">
                <button class="button primary"
                        ng-click="viewReport(selDealReportData)"
                        ng-disabled="dealstatementDate == undefined || dealstatementDate == null || dealstatementDate==''">
                    View Report
                </button>
            </div>

            <div class="col-lg-2">
                <button class="button primary"
                        ng-click="exportDealReport(selDealReportData)"
                        ng-disabled="dealstatementDate == undefined || dealstatementDate == null || dealstatementDate=='' || !exportDel">
                    Export Report
                </button>

            </div>
        </div>


        <hr class="thin bg-grayLighter">

        <div ng-show="cycle=='Cycle 5'">
            <div class="col-md-6">
                <b>All Cycle</b>
                <br>
            </div>
        </div>
        <div style="margin-top: 50px">
            <!--<scrollable-table watch="dealTallyCycle" resizable>-->
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th colspan="4" class="text-center">SPOT</th>
                    <th colspan="4" class="text-center">SWAP</th>
                    <th colspan="4" class="text-center">FORWARD</th>
                </tr>
                <tr>
                    <th>SOURCE</th>
                    <th>MATCHED</th>
                    <th>UNMATCHED</th>
                    <th>FORCEMATCHED</th>
                    <th>TOTAL</th>
                    <th>MATCHED</th>
                    <th>UNMATCHED</th>
                    <th>FORCEMATCHED</th>
                    <th>TOTAL</th>
                    <th>MATCHED</th>
                    <th>UNMATCHED</th>
                    <th>FORCEMATCHED</th>
                    <th>TOTAL</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,val) in dealTallyCycle">
                    <td>{{key}}</td>
                    <td>{{val['SPOT']['MATCHED']}}</td>
                    <td>{{val['SPOT']['UNMATCHED']}}</td>
                    <td>{{val['SPOT']['FORCE_MATCHED']}}</td>
                    <td>{{val['SPOT']['TOTAL']}}</td>
                    <td>{{val['SWAP']['MATCHED']}}</td>
                    <td>{{val['SWAP']['UNMATCHED']}}</td>
                    <td>{{val['SWAP']['FORCE_MATCHED']}}</td>
                    <td>{{val['SWAP']['TOTAL']}}</td>
                    <td>{{val['FORWARD']['MATCHED']}}</td>
                    <td>{{val['FORWARD']['UNMATCHED']}}</td>
                    <td>{{val['FORWARD']['FORCE_MATCHED']}}</td>
                    <td>{{val['FORWARD']['TOTAL']}}</td>
                </tr>
                </tbody>
            </table>
            <!--</scrollable-table>-->
        </div>

        <div ng-show="cycle=='Cycle 5'">
            <div class="col-md-6">
                <b>Night Cycle(Cycle 5)</b>
                <br>
            </div>
        </div>
        <div style="margin-top: 50px" ng-show="cycle=='Cycle 5'">
            <!--<scrollable-table watch="dealTallyCycle" resizable>-->
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th colspan="4" class="text-center">SPOT</th>
                    <th colspan="4" class="text-center">SWAP</th>
                    <th colspan="4" class="text-center">FORWARD</th>
                </tr>
                <tr>
                    <th>SOURCE</th>
                    <th>MATCHED</th>
                    <th>UNMATCHED</th>
                    <th>FORCEMATCHED</th>
                    <th>TOTAL</th>
                    <th>MATCHED</th>
                    <th>UNMATCHED</th>
                    <th>FORCEMATCHED</th>
                    <th>TOTAL</th>
                    <th>MATCHED</th>
                    <th>UNMATCHED</th>
                    <th>FORCEMATCHED</th>
                    <th>TOTAL</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,val) in nightdealTallyCycle">
                    <td>{{key}}</td>
                    <td>{{val['SPOT']['MATCHED']}}</td>
                    <td>{{val['SPOT']['UNMATCHED']}}</td>
                    <td>{{val['SPOT']['FORCE_MATCHED']}}</td>
                    <td>{{val['SPOT']['TOTAL']}}</td>
                    <td>{{val['SWAP']['MATCHED']}}</td>
                    <td>{{val['SWAP']['UNMATCHED']}}</td>
                    <td>{{val['SWAP']['FORCE_MATCHED']}}</td>
                    <td>{{val['SWAP']['TOTAL']}}</td>
                    <td>{{val['FORWARD']['MATCHED']}}</td>
                    <td>{{val['FORWARD']['UNMATCHED']}}</td>
                    <td>{{val['FORWARD']['FORCE_MATCHED']}}</td>
                    <td>{{val['FORWARD']['TOTAL']}}</td>
                </tr>
                </tbody>
            </table>
            <!--</scrollable-table>-->
        </div>
    </div>

    <div class="frame" id="gstReport" style="min-height: 400px">
        <div class="row form-group">
            <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report
                Type:</label>
            <div class="col-sm-2 col-lg-2">
                <select class="button form-control" ng-model="selGstReport" ng-change="clearGSTData()"
                        ng-options="val for val in gstReportType.concat(groupByGstReport)">
                    <option value="">Select Report Type</option>
                </select>
            </div>

            <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report Date:</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                       datepicker-popup="dd/MM/yyyy"
                       id="gstReportDate"
                       ng-model="gstReportDate"
                       is-open="gstReportDateOpen"
                       datepicker-options="dateOptions"
                       close-text="Close"/>
            </div>

            <div class="col-lg-4">
                <button class="button primary"
                        ng-click="generateGstReport()" data-ng-disabled="selGstReport == ''">
                    Generate Report
                </button>
                <button class="button primary" ng-click="rollBackGSTReport()"
                        data-ng-disabled="gstReportDate == undefined || gstReportDate == ''">Rollback
                </button>
                <button class="button primary" ng-click="freezeSource()">Freeze</button>
            </div>
        </div>

        <div ng-show="gstReportType.indexOf(selGstReport) !== -1">
            <!-- <div class="panel-heading">
                 <div class="panel-title">
                     <a class="pull-right" ng-click="exportCSVReport(reportExtract)"><span
                             class="mif-file-download"></span></a>
                     <button type="button" ng-csv="csvReportData" id="csvReport" style="display:none;"
                             field-separator="{{separator}}"
                             filename="{{filename}}.csv">
                     </button>
                 </div>
             </div>-->
            <div style="height:650px;max-height:650px;overflow:scroll">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="centerAlign" colspan="{{row.subcolumns.length}}" ng-repeat="row in gstHeaders">
                            {{row.name}}
                        </th>
                    </tr>
                    <tr>
                        <th class="centerAlign" ng-repeat="rw in subcolumns track by $index">{{rw.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="val in rowData track by $index">
                        <td ng-repeat="dat in val track by $index" ng-class="{'rightAlign': $index > 0}">
                            {{dat.value}}
                        </td>
                    </tr>

                    <td ng-repeat="dat in totalData track by $index" ng-class="{'rightAlign': $index > 0}">
                        {{dat.value | formatNumber}}
                    </td>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-show="groupByGstReport.indexOf(selGstReport) != -1">
            <div ng-repeat="data in sourcewiseGst">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align : center" colspan="{{data.subcolumns.length}}">
                            {{data.reportName}}
                        </th>
                    </tr>
                    <tr>
                        <th class="centerAlign" ng-repeat="rw in data.subcolumns track by $index">{{rw}}</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="val in data.data track by $index">
                        <td>{{val['AGG_COLUMN']}}</td>
                        <td style="text-align: right">{{val['TAX']}}</td>
                        <td style="text-align: right">{{val['TAX_']}}</td>
                        <td style="text-align: right">{{val['DIFFERENCE']}}</td>
                        <!--<td class="centerAlign">
                            <button type="button" class="btn btn-sm btn-default" tooltip="Freeze">
                            <i class="fa fa-stop fa-lg"></i></button>
                        </td>-->
                    </tr>

                    <!--<td ng-repeat="dat in totalData track by $index" ng-class="{'rightAlign': $index > 0}">{{dat.value |
                        formatNumber}}
                    </td>-->
                    </tbody>
                </table>
                <hr ng-hide="($index + 1) == sourcewiseGst.length">
            </div>
        </div>

    </div>

    <div class="frame" id="adfOglReport" style="min-height: 400px">
        <div class="row form-group">

            <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report Type
                :</label>

            <div class="col-sm-2 col-lg-2">
                <select class="button form-control" ng-model="selReportData"
                        ng-options="val as key for (key,val) in adfOglReports">
                    <option value="">Select Report Type</option>
                </select>
            </div>

            <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date
                :</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                       datepicker-popup="dd/MM/yyyy"
                       id="statementDate3"
                       ng-model="statementDate"
                       is-open="opened5"
                       datepicker-options="dateOptions"
                       close-text="Close"/>
            </div>

            <div class="col-lg-2">
                <button class="button primary"
                        ng-click="generateADFOGLReport(selReportData)" ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''">
                    Generate Report
                </button>
            </div>

            <div class="col-lg-2">
                <button class="button primary"
                        ng-click="rollBackReports()" ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''">
                    RollBack Report
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/ng-template" id="freezeSource.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Freeze GST Sources</h4>
    </div>

    <form class="form-horizontal" role="form" name="freezeSrc">
        <div class="modal-body">

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Statement Date :</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="freezeStmtDateId"
                           ng-model="freezeData.freezeStmtDate"
                           is-open="freezeSmtDateOpen"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>
            </div>

            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">GST Source's
                    :</label>
                <div class="col-sm-4 col-lg-4">
                    <div
                            isteven-multi-select
                            input-model="gstSources"
                            output-model="freezeData.selectedSources"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="freezeSources(freezeData)">
            Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>

</script>
