<div ng-hide="addEdit" ng-show="['admin'] | showForRole">
    <h3 class="text-light">Rollback <span class="fa fa-users place-right"></span></h3>
    <div class="box box-primary">
        <div class="box-body no-padding">
          <!-- THE CALENDAR -->
          <div id="calendar"></div>
        </div>
      </div>
</div>