<div class="tabcontrol" ng-hide="addEdit" data-role="tabcontrol" ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li ng-class="{active: showSummary}"><a href="#summary" ng-click="getsummary()">Summary</a>
        </li>
        <!--<li><a href="#exesummary" ng-click="getexecutionsummary()">Execution Summary</a></li>-->
        <li ng-class="{active: showSuspense}"><a href="#suspence" ng-click="getSuspence()">Suspense</a>
        </li>
        <li><a href="#mhadareport" ng-hide="true" ng-click="getMhadaReport()">Mhada Report</a></li>
        <li><a href="#rbiDADSummary" ng-click="clearRBIReport()">RBI Summary Report</a></li>

    </ul>
    <div class="frames">

        <div class="frame" id="summary">
            <div class="row form-group">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-2">
                    <input class="form-control pull-right" placeholder="Filter..." type="text" ng-model="filterValue"
                           ng-change="onFilterChangedSum(filterValue)">
                </div>
                <div class="col-lg-2">
                    <button class="button primary" data-ng-disabled="SumgridOptions['rowData'].length == 0"
                            ng-click="onBtExportSummary()">Export CSV
                    </button>
                </div>
                <div class="col-lg-2">
                    <a class="button primary" data-ng-disabled="SumgridOptions['rowData'].length == 0"
                       target="_self" download="{{adfReportFileName}}"
                       href="/app/files/recon_reports/{{adfReportFileName}}">Export ADF
                    </a>
                </div>

            </div>
            <div>
                <div id="myGrid" style="width: 100%; height: 750px;"
                     ag-grid="SumgridOptions"
                     class="ag-blue">
                </div>
            </div>
        </div>
        <div class="frame" id="suspence">
            <div class="row form-group">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-2">
                    <input class="form-control pull-right" placeholder="Filter..." type="text" ng-model="filterValue"
                           ng-change="onFilterChangedSus(filterValue)">
                </div>
                <div class="col-lg-2">
                    <button class="button primary" data-ng-disabled="SusgridOptions['rowData'].length == 0"
                            ng-click="onBtExportSuspence()">Export CSV
                    </button>
                </div>
            </div>
            <div>
                <div id="myGrid" style="width: 100%; height: 750px;"
                     ag-grid="SusgridOptions"
                     class="ag-blue">
                </div>
            </div>
        </div>

        <div class="frame" id="mhadareport">
            <div class="row form-group">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <button class="button primary" data-ng-disabled="SumgridOptions['rowData'].length == 0"
                            ng-click="onBtExportMhada()">Export Excel
                    </button>
                </div>
            </div>
            <div class="panel primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        MHADA Report
                    </div>
                </div>
                <div class="panel-body">
                    <table id="mhada_table" class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2" style="text-align: center">Bank Statement</th>
                            <th colspan="2" style="text-align: center">Mhada Ledger</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th style="text-align: center">Amount</th>
                            <th style="text-align: center">Transaction Count</th>
                            <th style="text-align: center">Amount</th>
                            <th style="text-align: center">Transaction Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Opening Balance (a)</td>
                            <td>{{mhada.OPENING_BALANCE}}</td>
                            <td>{{mhada.S2_TOTAL_COUNT}}</td>
                            <td>(Not Available)</td>
                            <td>{{mhada.S1_TOTAL_COUNT}}</td>
                        </tr>
                        <tr>
                            <td>Matched</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Debit Matched (b)</td>
                            <td>{{mhada.MATCHED_D_S2_AMOUNT}}</td>
                            <td>{{mhada.MATCHED_D_S2_COUNT}}</td>
                            <td>{{mhada.MATCHED_D_S1_AMOUNT}}</td>
                            <td>{{mhada.MATCHED_D_S1_COUNT}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Credit Matched (c)</td>
                            <td>{{mhada.MATCHED_C_S2_AMOUNT}}</td>
                            <td>{{mhada.MATCHED_C_S2_COUNT}}</td>
                            <td>{{mhada.MATCHED_C_S1_AMOUNT}}</td>
                            <td>{{mhada.MATCHED_C_S1_COUNT}}</td>
                        </tr>
                        <tr>
                            <td>Unmatched</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Debit Unmatched (d)</td>
                            <td>{{mhada.UNMATCHED_D_S2_AMOUNT}}</td>
                            <td>{{mhada.UNMATCHED_D_S2_COUNT}}</td>
                            <td>{{mhada.UNMATCHED_D_S1_AMOUNT}}</td>
                            <td>{{mhada.UNMATCHED_D_S1_COUNT}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right">Credit Unmatched (e)</td>
                            <td>{{mhada.UNMATCHED_C_S2_AMOUNT}}</td>
                            <td>{{mhada.UNMATCHED_C_S2_COUNT}}</td>
                            <td>{{mhada.UNMATCHED_C_S1_AMOUNT}}</td>
                            <td>{{mhada.UNMATCHED_C_S1_COUNT}}</td>
                        </tr>
                        <tr>
                            <td>Closing Balance Data (f)</td>
                            <td>{{mhada.CLOSING_BALANCE}}</td>
                            <td></td>
                            <td>(Not Available)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Closing Balance Arrived (g=a-b+c-d+e)</td>
                            <td>{{mhada.CLOSING_BALANCE}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Difference</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="frame" id="rbiDADSummary" style="min-height: 400px">
            `

            <div class="panel primary">


                <div class="row form-group" style="margin-left: 13px;margin-top: 15px;">
                    <label style="margin-top: 6px;">Statement Date</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control"
                               datepicker-popup="dd/MM/yyyy"
                               id="statementDate"
                               ng-model="statementDate"
                               is-open="opened1"
                               data-ng-change="getRBIDADSummary(statementDate)"
                               datepicker-options="dateOptions"
                               close-text="Close"/>
                    </div>
                </div>

                <div class="panel-heading"
                     ng-show="rbiSummary != undefined && rbiSummary != null && rbiSummary.length>0">

                    <div class="panel-title">
                        RBI DAD Report

                        <button class="button primary pull-right" type="button" ng-csv="rbiDadTableData"
                                csv-header="rbiReportHeaders" id="rbiSummaryData"
                                filename="{{rbiDataFileName}}.csv" style="margin-top: -10px;">Export CSV
                        </button>
                    </div>

                    <div ng-repeat="rbiData in rbiSummary">
                        <div class="panel-body">
                            <table id="rbiDadTable" class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th style="text-align: center">Particulars</th>
                                    <th style="text-align: center">Amount</th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr ng-repeat="value in rbiData.table">
                                    <td>{{value.Source}}</td>
                                    <td style="text-align: right"><i class="fa fa-inr"> {{value.Closing_Balance |
                                        number:2}}</i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
