<div ng-hide="addEdit" ng-show="['Administrator'] | showForRole">
    <h3 class="text-light">UserPools<span class="fa fa-user-md place-right"></span></h3>
    <hr class="thin bg-grayLighter">
    <button class="button primary" ng-click="userpoolOptions.addUser();"><span class="mif-plus"></span> Create</button>
    <button class="button primary" data-ng-disabled="approveDelete" ng-click="addUsers()"><span class="mif-plus"></span>
        Add Users
    </button>
    <hr class="thin bg-grayLighter">
    <datagrid options="userpoolOptions"></datagrid>
</div>
<script type="text/ng-template" id="addUserPool.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} UserPool</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
            <!--ng-show="formValidation.isNotValid">-->
            <!--<span class="icon-sign"></span>-->
            <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
            <!--<span class="alertContent">{{formValidation.message}}</span>-->
            <!--</div>-->

            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label for="uuserName" class="col-sm-4 col-lg-4 control-label">Name :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="text" class="form-control"  ng-disabled="mode == 'Edit'" id="uuserName" name="userName"
                            placeholder="Name" required
                           ng-model="userData.name" >
                </div>
            </div>
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Role :</label>

                <div class="col-sm-8 col-lg-8" ng-show="mode == 'Edit'">
                    <input type="text" class="form-control" ng-disabled="mode == 'Edit'" name="role"
                           placeholder="Role"
                           ng-model="userData.role">
                </div>
                <div class="col-sm-8 col-lg-8" ng-show="mode != 'Edit'">
                    <myselect model="userData.role" required name="role" options="usersType"
                              key="val" value="key"></myselect>
                </div>
            </div>
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" >Select Users :</label>
                <div  class="col-sm-8 col-lg-8">
                    <!--<input type="text"  ui-select2="tagAllOptions" ng-model="userData.users" style="width:300px;" />-->
                    <div
                            isteven-multi-select
                            input-model="tagData"
                            output-model="userData.users"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked">

                    </div>
                    <!--<input type="text"  ui-select2="tagAllOptions" ng-model="userData.users" style="width:300px;" />-->

                </div>
            </div>

            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">Select Business Context
                    :</label>
                <div class="col-sm-8 col-lg-8">
                    <!--<input type="text"  ui-select2="tagAllOptionsbusiness" ng-model="userData.business_context" style="width:300px;" />-->
                    <div
                            isteven-multi-select
                            input-model="business_Data"
                            output-model="userData.business_context"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>
                </div>
            </div>

             <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label" id="required">Select Gst Source
                    :</label>
                <div class="col-sm-8 col-lg-8">
                    <!--<input type="text"  ui-select2="tagAllOptionsbusiness" ng-model="userData.business_context" style="width:300px;" />-->
                    <div
                            isteven-multi-select
                            input-model="allGstSources"
                            output-model="userData.gst_sources"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>
                </div>
            </div>


        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="mode =='Edit'" type="button" class="btn btn-primary"
                ng-click="saveUserpool(userData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>

        <button ng-if="mode =='Add'" type="button" class="btn btn-primary"
                ng-click="saveUserpool(userData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="addUsers.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Users</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <!--<div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"-->
            <!--ng-show="formValidation.isNotValid">-->
            <!--<span class="icon-sign"></span>-->
            <!--<a class="close" data-ng-click="showAlert('',false,'')">x</a>-->
            <!--<span class="alertContent">{{formValidation.message}}</span>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-lg-4 col-sm-4 control-label">Selected Userpools</label>-->
            <!--<div class="col-lg-8 col-sm-8">-->
            <!--<span ng-repeat="row in selectedUserpools">-->
            <!--{{row}}-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="urole" class="col-sm-4 col-lg-4 control-label">Select Users :</label>
                <div class="col-sm-8 col-lg-8">
                    <!--<input type="text"  ui-select2="tagAllOptions" ng-model="userData.users" style="width:300px;" />-->
                    <div
                            isteven-multi-select
                            input-model="tagData"
                            output-model="userData.users"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                    >
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary" ng-click="saveUsers(userData)"
                ng-disabled="userData['users'] == undefined || userData['users'] == null || userData['users'] == ''">
            Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="deleteUser.html">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? All the systems registered under that user also
            will be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>
