<div class="card m-t-30">
    <div class="card-body">
        <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.details}}</h4>
        <div class="dataTables_length">
            <label>Show <select ng-options="val as val for val in displayCount" ng-change="getAuditDetails()"
                                ng-model="rowLimit">
            </select> entries</label>
        </div>
        <table tr-ng-grid="" class="table table-bordered table-striped table-hover"
               enable-filtering="false" enable-pagination="true" page-items="rowLimit"
               selection-mode="None" items="auditDetails" total-items="totalItems" order-by-reverse="true"
               on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, 'logTime', orderByReverse)">
            <thead>
            <tr>

                <th field-name="createdBy" display-name="Created By" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="actionOn" display-name="Action On" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="type" display-name="Type" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

                <th field-name="logTime" display-name="LogTime" enable-filtering="true"
                    enable-sorting="true"
                    display-align="left"></th>

            </tr>
            </thead>
            <tbody>
            <!--<tr ng-form="" editable-form="" name="rowform" shown="newItem===gridItem">-->


            <!--<td field-name="role">-->
            <!--<span editable-select="gridItem.role" e-ng-options="item for item in roles"-->
            <!--e-name="gridItem.role"-->
            <!--e-form="rowform">-->
            <!--{{gridItem.role}}-->
            <!--</span>-->
            <!--</td>-->

            <!--<td field-name="preveliges">-->
            <!--<span editable-select="gridItem.preveliges" e-ng-options="item for item in previleges"-->
            <!--e-name="gridItem.previleges" e-form="rowform">-->
            <!--{{gridItem.preveliges}}-->
            <!--</span>-->
            <!--</td>-->

            <!--<td field-name="ApprovalStatus">-->
            <!--<span editable-select="gridItem.ApprovalStatus" e-ng-options="item for item in approveList"-->
            <!--e-name="gridItem.ApprovalStatus" e-form="rowform">-->
            <!--{{gridItem.ApprovalStatus}}-->
            <!--</span>-->
            <!--</td>-->

            <!--<td field-name="edit">-->
            <!--<div ng-show="rowform.$visible" class="btn-group">-->
            <!--<button type="button" ng-disabled="rowform.$waiting"-->
            <!--class="btn btn-sm waves-effect waves-light btn-info"-->
            <!--ng-click="rowform.$submit();saveUserDeatils(gridItem)" title="{{resources.save}}">-->
            <!--<i class="fa fa-save"></i>-->
            <!--</button>-->
            <!--<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"-->
            <!--class="btn btn-sm  waves-effect waves-light btn-info" title="{{resources.cancel}}">-->
            <!--<i class="fa fa-ban"></i>-->
            <!--</button>-->
            <!--<button ng-disabled="!gridItem['accountLocked']"-->
            <!--class="btn btn-sm waves-effect waves-light btn-info"-->
            <!--ng-click="setUnlock(gridItem)" title="{{resources.unlock}}">-->
            <!--<i class="fa fa-unlock-alt"></i>-->
            <!--</button>-->
            <!--</div>-->

            <!--<div class="btn-group" ng-show="!rowform.$visible">-->
            <!--<button class="btn btn-sm waves-effect waves-light btn-info" title="{{resources.edit}}"-->
            <!--ng-click="editUserDetails($index)">-->
            <!--<i class="fa fa-pencil"></i>-->
            <!--</button>-->
            <!--<button class="btn btn-sm waves-effect waves-light btn-info"-->
            <!--ng-click="removeUser(gridItem)" title="{{resources.delete}}">-->
            <!--<i class="fa fa-trash"></i>-->
            <!--</button>-->

            <!--<button ng-disabled="!gridItem['accountLocked']"-->
            <!--class="btn btn-sm waves-effect waves-light btn-info"-->
            <!--ng-click="setUnlock(gridItem)" title="{{resources.unlock}}">-->
            <!--<i class="fa fa-unlock-alt"></i>-->
            <!--</button>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>