<div class="card" ng-hide="create">
    <div class="card-body">
        <h4 class="card-title f-w-6">Configure Recon</h4>
        <hr>
        <!---->
        <div class="form-group row m-t-20 m-l-5">
            <button type="button" class="btn btn-info" ng-click="createRecon()">Create</button>
        </div>
        <!--</div>-->
        <!---->
        <div ng-show="reconDetails.length!=0">
            <div class="card-body">
                <table class="table table-condensed table-bordered table-striped">
                    <thead class="thead">
                    <tr>
                        <th style="width: 10%;">
                        </th>
                        <th style="width: 50%;">{{resources.reconProcess}}</th>
                        <th style="width:40%">{{resources.image}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="val in distinctReconProcess track by $index">
                        <td class="text-center">
                            <button class="btn btn-info btn-sm" ng-click="getProcesRecons($index)"
                                    ng-show="process!=val" expand>
                                <i class='fa fa-plus'></i>
                            </button>
                            <button class="btn btn-info btn-sm" ng-click="removeProcess()" ng-show="process==val"
                                    expand>
                                <i class='fa fa-minus'></i>
                            </button>
                        </td>
                        <td>{{val}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" ng-click="uploadRecon($index)"
                                    tooltip="Upload Image">
                                <i class="fa fa-upload"></i>
                            </button>
                            <!---->
                            <!--<a style="color: green" ng-show="image[distinctReconProcess[$index]]" ng-click="uploadRecon()"-->
                            <!--tooltip="Upload Image">-->
                            <!--&lt;!&ndash;<small>{{resources.imageUploaded}}</small>&ndash;&gt;-->
                            <!--</a>-->
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="process==val">
                        <td></td>
                        <td colspan="2">
                            <table class="table table-striped table-condensed track by $index">
                                <thead class="thead">
                                <tr>
                                    <th>{{resources.reconName}}</th>
                                    <th>{{resources.actions}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in processRecons">
                                    <td>{{v.reconName}}</td>
                                    <td class="text-nowrap">
                                        <a href="#" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil text-inverse m-r-10"
                                               ng-click="editRecon(v)"></i>
                                        </a>
                                        <!---->
                                        <a href="#" data-toggle="tooltip" title="Delete">
                                            <i class="fa fa-trash text-inverse m-r-10"
                                               ng-click="deleteRecon(v,$index)"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="row" ng-hide="!create" id='validation'>
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title text-center f-w-6">Configure Recon <i class="fa fa-close float-right m-r-30"
                                                                            title="Cancel Recon"
n                                                                            ng-click="refreshReconView();initProcess()"></i></h4>
                <form class="validation-wizard wizard-circle wizard clearfix" id="steps-uid-2">
                    <!---->
                    <!--steps list items at the top-->
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first"
                                ng-class="(present == 'defineSource')?'current':''||(active['defineSource'] == true)?'done':''">
                                <a id="steps-uid-2-t-0" href="#" aria-controls="steps-uid-2-p-0">
                                    <span class="current-info audible">current step: </span><span
                                        class="step">1</span>Define Source
                                </a>
                            </li>
                            <!---->
                            <!--<li role="tab" class="disabled"-->
                            <!--ng-class="(present == 'defineFilters')?'current':''||(active['defineFilters']== true)?'done':''">-->
                            <!--<a id="steps-uid-2-t-1" href="#" aria-controls="steps-uid-2-p-1">-->
                            <!--<span class="step">2</span>Define Source-->
                            <!--</a>-->
                            <!--</li>-->
                            <!---->
                            <li role="tab" class="disabled"
                                ng-class="(present == 'selectMatchColumns')?'current':''||(active['selectMatchColumns']==true)?'done':''">
                                <a id="steps-uid-2-t-4" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">2</span>Select Match Columns
                                </a>
                            </li>

                            <li role="tab" class="disabled"
                                ng-class="(present == 'defineSumColumns')?'current':''||(active['defineSumColumns']==true)?'done':''">
                                <a id="steps-uid-2-t-3" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">3</span>Define Sum Columns
                                </a>
                            </li>
                            <!---->
                            <li role="tab" class="disabled"
                                ng-class="(present == 'resultsOfProcess')?'current':''||(active['resultsOfProcess']==true)?'done':''">
                                <a id="steps-uid-2-t-5" href="#" aria-controls="steps-uid-2-p-2">
                                    <span class="step">4</span>Result of Process
                                </a>
                            </li>
                            <!---->
                            <!--<li role="tab" class="disabled"-->
                            <!--ng-class="(present == 'saveProcess')?'current':''||(active['saveProcess']==true)?'done':''">-->
                            <!--<a id="steps-uid-2-t-6" href="#" aria-controls="steps-uid-2-p-2">-->
                            <!--<span class="step">5</span>Save Process-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <!---->
                    <!--contents of each steps as defined in this sections-->
                    <div class="content clearfix">
                        <!---->
                        <!-- Step 1 -->
                        <h6 id="steps-uid-2-h-0" tabindex="-1" class="title current">Step 1</h6>
                        <section id="steps-uid-2-p-0" role="tabpanel"
                                 aria-labelledby="steps-uid-2-h-0"
                                 class="" ng-show="present=='defineSource'">
                            <div class="card">
                                <div class="card-body">
                                    <!---->
                                    <div class="form-group row m-t-40">
                                        <h5 class="col-sm-1 col-md-1 col-lg-1"
                                            for="reconProcess">{{resources.reconProcess}}:</h5>
                                        <div class="col-sm-4 col-md-4 col-lg-4" id="reconProcess">
                                            <input class="form-control" ng-hide="dropDown" type="text" ng-change="sourceName='';addSource=false"
                                                   ng-model="recon.reconProcess" ng-disabled="reconEdit">
                                            <select class="form-control" ng-show="dropDown" type="text"
                                                    ng-model="recon.reconProcess"
                                                    ng-options="val as val for val in distinctReconProcess"
                                                    ng-disabled="reconEdit">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1">
                                            <div class="btn-switch" ng-class="{'btn-switch--on':dropDown}"
                                                 ng-model="dropDown" ng-click="dropDown = !dropDown">
                                                <div class="btn-switch-circle"
                                                     ng-class="{'btn-switch-circle--on':dropDown}"
                                                     ng-model="toggle.switch">
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <!--<div class="form-group row">-->
                                        <h5 class="col-sm-2  col-md-2 col-lg-1">{{resources.reconName}}:</h5>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <input class="form-control" ng-change="checkReconName(recon.reconName);sourceName='';addSource=false"
                                                   type="text"
                                                   ng-model="recon.reconName" ng-disabled="reconEdit">

                                            <small style="color:red;" ng-show="nameErrorMsg">
                                                {{resources.reconNamePolicy}}
                                            </small>
                                        </div>
                                        <!---->
                                        <div class="form-group row m-l10 m-r-10 col-lg-1 col-md-1 col-sm-1">
                                            <button class="btn btn-info btn-sm m-r-20" title="Apply"
                                                    ng-click="addNewSource();sampleFile=false" ng-show="!editingSource"
                                                    ng-disabled="recon.reconProcess==''||recon.reconName==''||recon.reconProcess==undefined||recon.reconName==undefined ">
                                                <i class="fa fa-plus m-r-5"></i>New Source
                                            </button>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="row" ng-show="listSource">
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <!---->
                                                    <thead class="thead">
                                                    <tr>
                                                        <th class="text-center">{{resources.sources}}</th>
                                                        <th style="width: 150px;">{{resources.action}}</th>
                                                    </tr>
                                                    </thead>
                                                    <!---->
                                                    <tbody ng-repeat="val in sources track by $index">
                                                    <tr>
                                                        <td>{{val}}</td>
                                                        <td class="text-nowrap">
                                                            <!--<a href="#" data-toggle="tooltip" title="Edit">-->
                                                            <!--<i class="fa fa-pencil text-inverse m-r-10"-->
                                                            <!--ng-click="viewProperties(val,$index)"></i>-->
                                                            <!--</a>-->

                                                            <a href="javascript:void(0)"
                                                               ng-click="loadFile(val,$index)"><i
                                                                    class="fa fa-edit fa-lg align-middle m-r-10"
                                                                    title="{{resources.edit}}"></i></a>

                                                            <a href="#" data-toggle="tooltip" title="delete">
                                                                <i class="fa fa-trash fa-lg align-middle text-danger m-r-10"
                                                                   ng-click="deleteSource(val)"></i>
                                                            </a>

                                                            <!--<button class="btn btn-info btn-sm"-->
                                                            <!--ng-click="uploadSourceFile(val)"><i-->
                                                            <!--class="fa fa-upload m-r-5" title="upload"></i>{{resources.sampleFile}}-->
                                                            <!--</button>-->

                                                            <!--<button class="btn btn-info btn-sm m-r-10" title="Upload"-->
                                                            <!--ng-click="loadFile(val)"><i-->
                                                            <!--class="fa fa-upload m-r-5"></i>Load File-->
                                                            <!--</button>-->


                                                            <!--<a href="#" data-toggle="tooltip" title="Edit">-->
                                                            <!--<i class="fa fa-pencil text-inverse m-r-10"-->
                                                            <!--ng-click="viewProperties(val,$index)"></i>-->
                                                            <!--</a>-->
                                                            <!---->
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                    <div ng-show="addSource && !listSource ">
                                        <div class="form-group row">
                                            <h5 class="col-sm-1 col-md-1 col-lg-1"
                                                for="reconProcess">{{resources.source}}:</h5>
                                            <div class="col-sm-4 col-md-4 col-lg-4" id="source">

                                                <input class="form-control text-left" ng-disabled="editingSource || (recon.reconName==''&& recon.reconName==undefined && recon.reconProcess==''&& recon.reconProcess==undefined)"
                                                       type="text"
                                                       ng-model="sourceName">
                                            </div>
                                            <button class="btn btn-info" title="Upload"
                                                    ng-disabled="sourceName == ''|| sourceName == undefined"
                                                    ng-click="uploadSourceFile(sourceName);secondStructure = false"
                                                    ng-show="!properties"><i
                                                    class="fa fa-upload"></i>
                                            </button>

                                            <button class="btn btn-info m-l-10" ng-show="sampleFile"
                                                    ng-disabled="sourceName == ''|| sourceName == undefined"
                                                    title="addSource"
                                                    ng-show="!editingSource && !properties"
                                                    ng-click="addSourceToRecon(sourceName)">Add
                                            </button>
                                            <button class="btn btn-info m-l-10"
                                                    ng-disabled="!uploadSourceFileVar || sourceName =='' || sourceName ==undefined"
                                                    title="Upload"
                                                    ng-show="newStrbutton"
                                                    ng-click="uploadSourceFile(sourceName);secondStructure = true">Add New Structure
                                            </button>
                                            <button class="btn btn-info m-l-10" ng-show="editingSource && !properties"
                                                    title="Upload"
                                                    ng-click="addSourceToRecon(sourceName)">Update
                                            </button>
                                        </div>
                                        <!---->
                                        <div class="form-group row m-t-20 m-l-10"
                                             ng-show="!properties && (uploadSourceFileVar || editingSource)">
                                            <!--<label class="col-lg-1"><h4>Upload File</h4></label>-->
                                            <!--<div class="col-sm-4 col-md-4 col-lg-4">-->
                                            <!--<input class="form-control m-r-10" type="file"-->
                                            <!--file-model="uploadFile" accept=".csv,.jpg,.png"/>-->
                                            <!--</div>-->
                                            <!--<button class="btn btn-info" title="Upload" ng-click="uploadSourceFile()"><i-->
                                            <!--class="fa fa-upload"></i></button>-->
                                            <!---->
                                            <!---->
                                            <button class="btn btn-info m-r-20 m-l-5" title="Apply"
                                                    ng-hide="showCustomFilterBox"
                                                    ng-click="addFilter()"><i
                                                    class="fa fa-filter m-r-5"></i>Filter
                                            </button>

                                            <button class="btn btn-info m-r-20" title="Apply"
                                                    ng-hide="showCustomFilterBox"
                                                    ng-click="addDeriveColumn()">
                                                <i class="fa fa-filter m-r-5"></i>Derive Column
                                            </button>

                                            <button class="btn btn-info m-r-20" title="Apply"
                                                    ng-hide="showCustomFilterBox"
                                                    ng-click="showCustomFilterBox=!showCustomFilterBox">
                                                <i class="fa fa-filter m-r-5"></i>Custom Filter
                                            </button>


                                            <button class="btn btn-info m-l-10" title="Apply"
                                                    ng-hide="showCustomFilterBox"
                                                    ng-click="skipRowFunction()"><i
                                                    class="fa fa-filter m-r-5"></i>Skip
                                            </button>
                                            <!---->
                                            <button class="btn btn-info btn-sm ml-auto m-r-10" title="Apply"
                                                    ng-hide="showCustomFilterBox"
                                                    ng-click="viewProperties(sourceName)">
                                                <i class="fa fa-eye m-r-5"></i>Properties
                                            </button>
                                        </div>
                                    </div>

                                    <div ng-show='showCustomFilterBox==true' style="margin-top: 15px">
                                        <div class="card">
                                            <div class="form-row group">
                                                <h3 class="card-title col-md-8 font-weight-bold"><span
                                                        class="lstick"></span>Custom
                                                    Filters
                                                </h3>
                                                <button class="btn btn-primary btn-sm ml-auto"
                                                        ng-click="filterType='';addingColumn={};showCustomFilterBox=!showCustomFilterBox">
                                                    <span> Cancel</span>
                                                </button>

                                            </div>

                                            <div class="card-body">
                                                <!--<div class="button-group">-->
                                                <!--<button class="btn btn-info m-r-10"-->
                                                <!--ng-click="uploadFilters()">Upload Filters-->
                                                <!--</button>-->

                                                <!--<button class="btn btn-info m-r-10"-->
                                                <!--data-ng-disabled="filterCondExpArray != undefined &amp;&amp; filterCondExpArray.length > 0"-->
                                                <!--ng-click="addFilterCond();">-->
                                                <!--Filters-->
                                                <!--</button>-->

                                                <!--<i class="fa fa-close ml-auto"-->
                                                <!--ng-click="filterCondExpArray = [];showCustomFilterBox = false"-->
                                                <!--&gt;</i>-->
                                                <!--</div>-->
                                                <!--<hr>-->

                                                <div class="form-group row">
                                                    <h4 class="m-r-10 m-t-10 font-weight-bold">Filter Type :</h4>
                                                    <select class="col-md-3 form-control custom-select"
                                                            ng-options="val for val in newDeriveColumnType"
                                                            ng-model="filterType"
                                                            ng-change="reinitFilterParams()">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <hr>
                                                    <button class="m-l-20 btn btn-sm btn-info"
                                                            ng-show="filterType=='UPLOAD FILTER'"
                                                            ng-click="uploadFilters()">
                                                        upload File
                                                    </button>
                                                </div>

                                                <div ng-show="filterType=='LOGICAL FILTER'||filterType=='CONDITIONAL NEW COLUMN'">
                                                    <!--<button class="btn btn-info m-b-10"-->
                                                    <!--data-ng-disabled="filterCondExpArray != undefined &amp;&amp; filterCondExpArray.length > 0"-->
                                                    <!--ng-click="addFilterCond();">-->
                                                    <!--Add-->
                                                    <!--</button>-->
                                                    <div class="form-group row"
                                                         ng-repeat="val in filterCondExpArray track by $index">
                                                        <!-- <label class="col-lg-1 col-sm-1">Select Field</label>-->

                                                        <div class="col-lg-2 col-sm-2">
                                                            <select class="form-control ng-pristine ng-valid"
                                                                    ng-model="val.selectedField"
                                                                    ng-change="onChangeOfMdlField(val,$index)"
                                                                    ng-options="v as v.fileColumn for v in feedDetails">
                                                                <option value="" class="">Select Field</option>
                                                            </select>
                                                        </div>

                                                        <!-- <label class="col-lg-1 col-sm-1">Select Condition</label>-->
                                                        <div class="col-lg-2 col-sm-2">
                                                            <select class="form-control ng-pristine ng-valid"
                                                                    ng-model="val.selectedCond"
                                                                    ng-change="onChangeOfFilterCond(val)"
                                                                    ng-options="condVal for condVal in val.filterCondArray">
                                                                <option value="" class="">Select Condition</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-2 col-sm-2 "
                                                             ng-if="val.selectedField.dataType=='str'">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   placeholder="string value"
                                                                   ng-model="val.condValue">
                                                        </div>

                                                        <div class="col-lg-2 col-sm-2 "
                                                             ng-if="val.selectedField.dataType=='np.float64' || val.selectedField.dataType=='np.int64'">
                                                            <input type="number"
                                                                   class="form-control"
                                                                   placeholder="numeric value"
                                                                   ng-model="val.condValue">
                                                        </div>

                                                        <div class="col-lg-2 col-sm-2 "
                                                             ng-show="val.selectedCond != undefined && val.selectedCond != ''">
                                                            <select type="text"
                                                                    class="form-control ng-pristine ng-valid"
                                                                    ng-model="val.logicalOperator">
                                                                <option value="">None</option>
                                                                <option value="|">OR</option>
                                                                <option value="&amp;">AND</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-4">
                                                            <button class="btn btn-primary"
                                                                    data-ng-disabled="val.logicalOperator == undefined || val.selectedCond == ''"
                                                                    ng-click="addFilterCond()" disabled="">
                                                                <i class="fa fa plus">Add</i>
                                                            </button>

                                                            <button class="btn btn-primary"
                                                                    ng-click="removeFilterCond($index)">
                                                                <i class="fa-fa-minus">Remove</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div ng-show="filterType=='SET NEW COLUMN'||filterType=='CONDITIONAL NEW COLUMN'">
                                                    <div class="form-group row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <h4 class="control-label">New Column :</h4>
                                                                <input type="text" id="newColumnName"
                                                                       class="form-control"
                                                                       ng-model="newcolumnName"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <h4 class="control-label">Value :</h4>
                                                                <input type="text" id="valueOfColumn"
                                                                       ng-model="valueOfColumn"
                                                                       class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div ng-show="filterType=='LOGICAL FILTER'||filterType=='CONDITIONAL NEW COLUMN'">
                                                    <button class="btn btn-primary"
                                                            ng-click="saveFilterCond();filterType='';"
                                                            ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                                                        <span> Save</span>
                                                    </button>

                                                    <button class="btn btn-primary"
                                                            ng-click="filterCondExpArray = [];filterType='';showCustomFilterBox=!showCustomFilterBox"
                                                            ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                                                        <span> Cancel</span>
                                                    </button>
                                                </div>

                                                <div ng-show="filterType=='SET NEW COLUMN'">
                                                    <button class="btn btn-primary"
                                                            ng-click="setNewColumn();filterType='';"
                                                    >
                                                        <span> Save</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="addSource==true && properties!=true && !showCustomFilterBox && !listSource && (uploadSourceFileVar || editingSource)"
                                         id="myGrid1" style="width: 100%; height: 500px;"
                                         ag-grid="gridOptions"
                                         class="ag-theme-fresh m-r-10 m-l-10 m-t-20">
                                    </div>
                                    <div class="card" ng-show="properties">
                                        <div class="card-body">
                                            <div class="card-header bg-info">
                                                <h4 class="m-b-0 text-white">Source Properties</h4>
                                            </div>
                                            <form id="Properties p-t-20">
                                                <div class="form-body">
                                                    <h3 class="card-title">Source Info</h3>
                                                    <hr>
                                                    <!--<div class="row p-t-20">-->
                                                    <!--<div class="col-md-6">-->
                                                    <!--<div class="form-group">-->
                                                    <!--<label class="control-label">Recon Process</label>-->
                                                    <!--<input type="text" id="reconProcess"-->
                                                    <!--ng-model="feedDef.reconProcess"-->
                                                    <!--class="form-control"-->
                                                    <!--placeholder="">-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                    <!--<div class="col-md-6">-->
                                                    <!--<div class="form-group">-->
                                                    <!--<label class="control-label">Recon Name</label>-->
                                                    <!--<input type="text" id="reconName"-->
                                                    <!--ng-model="feedDef.reconName"-->
                                                    <!--class="form-control" placeholder="">-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;/span&ndash;&gt;-->
                                                    <!--</div>-->
                                                    <!---->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Source</label>
                                                                <input type="text" id="sourceName"
                                                                       class="form-control"
                                                                       ng-model="feedDef.source"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">FilePattern</label>
                                                                <input type="text" id="filePattern"
                                                                       ng-model="feedDef.filePattern"
                                                                       class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Delimiter</label>
                                                                <select class="form-control custom-select"
                                                                        ng-options="val for val in delimiter"
                                                                        ng-model="feedDef.delimiter">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Load Type</label>
                                                                <select class="form-control custom-select"
                                                                        ng-model="feedDef.loadType"
                                                                        ng-options="val for val in loadTypes">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Skip Rows</label>
                                                                <input type="text" id="skiprows"
                                                                       ng-model="feedDef.skiprows"
                                                                       class="form-control" placeholder="Skip Rows">
                                                            </div>
                                                        </div>
                                                        <!---->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Skip Footer</label>
                                                                <input type="text" id="skipFooter"
                                                                       ng-model="feedDef.skipfooter"
                                                                       class="form-control" placeholder="Skip Footer">
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <h3 class="box-title m-t-40">Feed Details</h3>
                                                    <hr>
                                                    <form class="form-horizontal form-material">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped">
                                                                <thead class="thead">
                                                                <tr>
                                                                    <th style="width: 22%">
                                                                        {{resources.fileColumn}}
                                                                    </th>
                                                                    <th style="width: 22%">
                                                                        {{resources.columnType}}
                                                                    </th>
                                                                    <th style="width: 22%">{{resources.datePattern}}
                                                                    </th>
                                                                    <th style="width: 8%">{{resources.from}}</th>
                                                                    <th style="width: 8%">{{resources.to}}</th>
                                                                    <th style="width: 8%">{{resources.required}}
                                                                    </th>
                                                                    <th style="width: 10%">{{resources.actions}}
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="(key,val) in feedDef.feedDetails | filter:filterRows track by $index">
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.fileColumn}}</span>
                                                                        <input type="text" ng-show="editColumns"
                                                                               class="form-control"
                                                                               ng-model="val.fileColumn">
                                                                    </td>
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.dataType}}</span>
                                                                        <select ng-show="editColumns"
                                                                                class="form-control"
                                                                                ng-model="val.dataType"
                                                                                ng-options="v for v in dataTypes">
                                                                        </select>
                                                                    </td>
                                                                    <!---->
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.datePattern}}</span>
                                                                        <input ng-show="editColumns" type="text"
                                                                               class="form-control"
                                                                               ng-model="val.datePattern">
                                                                    </td>
                                                                    <!---->
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.from}}</span>
                                                                        <input type="number" ng-show="editColumns"
                                                                               class="form-control"
                                                                               ng-model="val.from">
                                                                    </td>
                                                                    <!---->
                                                                    <td>
                                                                        <span ng-hide="editColumns">{{val.to}}</span>
                                                                        <input type="number" ng-show="editColumns"
                                                                               class="form-control"
                                                                               ng-model="val.to">
                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" id="{{$index}}"
                                                                               class="form-control"
                                                                               ng-change="updateScope(feedDetails)"
                                                                               ng-model="val.required">
                                                                        <label for="{{$index}}"></label>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" data-toggle="tooltip"
                                                                           id="eColumns"
                                                                           title="{{resources.edit}}">
                                                                            <i class="fa fa-pencil info m-r-10"
                                                                               ng-hide="editColumns"
                                                                               ng-click="editColumns=!editColumns"></i>
                                                                        </a>
                                                                        <!---->
                                                                        <a href="#" data-toggle="tooltip"
                                                                           id="eColumns1"
                                                                           title="resources.save">
                                                                            <i class="fa fa-save info m-r-10"
                                                                               ng-show="editColumns"
                                                                               ng-click="saveColumn($index,val);editColumns=!editColumns"></i>
                                                                        </a>
                                                                        <!---->
                                                                        <a href="#" data-toggle="tooltip"
                                                                           title="remove">
                                                                            <i class="fa fa-trash info m-r-10"
                                                                               ng-click="deleteColumns($index)"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </form>
                                                    <!---->
                                                    <!--<div class="row">-->
                                                    <form class="form-horizontal form-material">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped ">
                                                                <thead class="thead">
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>{{resources.filter}}</th>
                                                                    <th>{{resources.action}}</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="template in feedDef.filters track by $index">
                                                                    <td>{{$index+1}}</td>
                                                                    <td>
                                                                        <span ng-hide="editfilter">{{template}}</span>
                                                                        <input type="text" class="form-control"
                                                                               ng-model="template"
                                                                               ng-show="editfilter"/>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" ng-show="!editfilter"
                                                                           data-toggle="tooltip"
                                                                           title="{{resources.remove}}">
                                                                            <i class="fa fa-pencil info m-r-10"
                                                                               ng-click="editfilter=!editfilter"></i>
                                                                        </a>

                                                                        <a href="#" ng-show="editfilter"
                                                                           data-toggle="tooltip"
                                                                           title="{{resources.remove}}">
                                                                            <i class="fa fa-save info m-r-10"
                                                                               ng-click="saveFilter($index,template);editfilter=!editfilter"></i>
                                                                        </a>

                                                                        <a href="#" data-toggle="tooltip"
                                                                           title="{{resources.remove}}">
                                                                            <i class="fa fa-trash info m-r-10"
                                                                               ng-click="deleteFilter($index)"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </form>
                                                    <!--</div>-->
                                                    <!--/span-->
                                                </div>
                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-success"
                                                            ng-click="saveProperties(feedDef)"><i
                                                            class="fa fa-check"></i>
                                                        Save
                                                    </button>
                                                    <button type="button" class="btn btn-inverse"
                                                            ng-click="properties=false;">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                        </section>
                        <!-- Step 2 -->

                        <h6 id="steps-uid-2-h-1" tabindex="-1" class="title">Step 2</h6>
                        <section id="steps-uid-2-p-2" role="tabpanel" aria-labelledby="steps-uid-2-h-1"
                                 class="body"
                                 aria-hidden="true" ng-show="present == 'selectMatchColumns'">
                            <div class="card anyClass1">
                                <!---->
                                <div class="card-body">
                                    <a id="btn-deploy" class="deploy-button" ng-click="saveFlow()" href="#">
                                            <span class="btn btn-md">
                                                <span><i class="fa fa-save"></i> Save</span>
                                            </span>
                                        <span class="deploy-button-spinner hide"></span>
                                    </a>
                                </div>
                                <div>
                                    <button class="btn btn-md" ng-click="selectMatchType()">Add Match Rule</button>
                                </div>

                                <div id="mainCntr" style="padding: 20px;">
                                    <uib-tabset>
                                        <uib-tab ng-repeat="flow in flowelements" active="tab.active"
                                                 disable="tab.disabled">
                                            <uib-tab-heading ng-click="setActiveFlow($index)">
                                                {{flow.title}} <i class="fa fa-remove"
                                                                  ng-click="removeRule($index)"></i>
                                            </uib-tab-heading>
                                            <!-- {{tab.content}} -->
                                            <div class="form-group row">
                                                <label class="col-lg-3 text-center f-w-6"
                                                       ng-repeat="val in flow['flowSources'] track by $index">{{val}}</label>
                                            </div>
                                            <div id="chartSvg">
                                                <flow-chart
                                                        chart="getChartVariable()">
                                                </flow-chart>
                                            </div>
                                            <!--<div compile-html="tab.content"></div>-->
                                            <!--<div ng-repeat="tab in tables">-->
                                            <!---->
                                            <!--</div>-->

                                        </uib-tab>
                                    </uib-tabset>
                                </div>


                            </div>
                        </section>

                        <!--step 3-->
                        <h6 id="steps-uid-2-h-2" tabindex="-1" class="title">Step 3</h6>
                        <section id="steps-uid-2-p-3" role="tabpanel" aria-labelledby="steps-uid-2-h-2"
                                 class="body"
                                 aria-hidden="true" ng-show="present == 'defineSumColumns'">
                            <div class="card">
                                <div class="form-row group col-md-6">
                                    <h4 class="card-title col-md-12"><span class="lstick"></span>Define Sum Columns
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-condensed table-bordered table-striped m-r-10">
                                        <thead class="thead">
                                        <th style="width:20%">Rule</th>
                                        <th style="width:20%">Source</th>
                                        <th style="width:20%">GroupBy Functions</th>
                                        <th style="width:20%">Sum Columns</th>
                                        <th style="width:20%">Fuzzy Columns</th>
                                        <th style="width:20%">Debit Credit Column</th>
                                        </thead>
                                        <tbody ng-repeat="(key,val) in sourceData track by $index">
                                        <tr>
                                            <td rowspan="val['souces'].length">
                                                <b id="rule1">{{key}}</b>
                                            </td>

                                            <td>
                                                <!--<b id="source1">{{val[val['souces'][0]]['source']}}</b>-->
                                            </td>
                                            <td>
                                                <!--<ui-select multiple ng-model="val.sumColumns"-->
                                                <!--theme="select2"-->
                                                <!--close-on-select="false" style="width: 250px;"-->
                                                <!--title="Choose columns">-->
                                                <!--<ui-select-match placeholder="Select columns...">-->
                                                <!--{{$item}}-->
                                                <!--</ui-select-match>-->
                                                <!--<ui-select-choices-->
                                                <!--repeat="column in val[val['souces'][0]].columns | filter:$select.search">-->
                                                <!--{{column}}-->
                                                <!--</ui-select-choices>-->
                                                <!--</ui-select>-->
                                            </td>
                                            <td>
                                                <!--<ui-select multiple ng-model="val.debitColumns"-->
                                                <!--theme="select2"-->
                                                <!--close-on-select="false" style="width: 250px;"-->
                                                <!--title="Choose columns">-->
                                                <!--<ui-select-match placeholder="Select columns...">-->
                                                <!--{{$item}}-->
                                                <!--</ui-select-match>-->
                                                <!--<ui-select-choices-->
                                                <!--repeat="column in val[val['souces'][0]].columns | filter:$select.search">-->
                                                <!--{{column}}-->
                                                <!--</ui-select-choices>-->
                                                <!--</ui-select>-->
                                            </td>
                                        </tr>
                                        <tr ng-repeat="(k,v) in val" ng-if="k!='souces'">
                                            <td></td>
                                            <td>
                                                <b id="source2">{{k}}</b>
                                            </td>
                                            <td>
                                                <select class="form-control  col-lg-6 col-md-6"
                                                        ng-options="key for key in groupbyFuncs"
                                                        ng-model="val[k].groupByFunc">
                                                    <option value="">Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <ui-select multiple ng-model="val[k].sumColumns"
                                                           theme="select2"
                                                           close-on-select="false" style="width: 250px;"
                                                           title="Choose columns">
                                                    <ui-select-match placeholder="Select columns...">
                                                        {{$item}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="column in v.columns | filter:$select.search">
                                                        {{column}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td>
                                                <ui-select multiple ng-model="val[k].fuzzyColumns"
                                                           theme="select2"
                                                           close-on-select="false" style="width: 250px;"
                                                           title="Choose columns">
                                                    <ui-select-match placeholder="Select columns...">
                                                        {{$item}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="column in v.columns | filter:$select.search">
                                                        {{column}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td>
                                                <ui-select multiple ng-model="val[k].debitColumns"
                                                           theme="select2"
                                                           close-on-select="false" style="width: 250px;"
                                                           title="Choose columns">
                                                    <ui-select-match placeholder="Select columns...">
                                                        {{$item}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="column in v.columns | filter:$select.search">
                                                        {{column}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>

                        <!--step 4-->
                        <h6 id="steps-uid-2-h-3" tabindex="-1" class="title">Step 4</h6>
                        <section id="steps-uid-2-p-4" role="tabpanel" aria-labelledby="steps-uid-2-h-3"
                                 class="body"
                                 aria-hidden="true" ng-show="present=='resultsOfProcess'">

                            <div class="card-body">

                                <table class="table table-striped table-condensed ">
                                    <thead class="thead">
                                    <tr>
                                        <th>{{resources.source}}</th>
                                        <th>{{resources.matchCount}}</th>
                                        <th>{{resources.unMatchCount}}</th>
                                        <th>{{resources.reversalCount}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="v in matchSummary track by $index">
                                        <td>{{v['Source']}}</td>
                                        <td>{{v['Matched Count']}}</td>
                                        <td>{{v['UnMatched Count']}}</td>
                                        <td>{{v['Reversal Count']}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-info float-right m-r-5 m-b-10"
                                    ng-disabled="present == 'reconDefinition'"
                                    ng-click="downloadFile()" role="menuitem">Download
                            </button>

                        </section>
                    </div>

                    <div class="row float-right m-r-20" ng-show="!editingSource && !properties">
                        <button class="btn btn-info m-r-5" ng-disabled="present == 'defineSource'"
                                ng-click="previousStep(present)" role="menuitem">Previous
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="nextStep(present)"
                                ng-disabled="disableFlag"
                                ng-show="present!='defineSumColumns'&& present!='resultsOfProcess' && !properties">Next
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="nextStep(present)"
                                ng-disabled="disableFlag"
                                ng-show="present =='defineSumColumns'">Run
                        </button>
                        <button class="btn btn-info m-r-5" ng-click="createFlow()"
                                ng-disabled="disableFlag"
                                ng-show="present=='resultsOfProcess'">Save
                        </button>
                    </div>
                    <div class="row float-right m-r-20" ng-show="!closeData && hidePrev">
                        <button class="btn btn-info m-r-5" ng-click="listSource=true">
                            Back
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---->
<script type="text/ng-template" id="ruleDefine.html">
    <div class="modal-header">
        <h4 class="modal-title f-w-6"> Define Rule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body modal-dialog.modal-md">
        <div class="form-group row">
            <label class="col-lg-2 f-w-6">Rule Name:</label>
            <input class="form-control col-lg-5 m-l-15" ng-model="ruleName">
        </div>
        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2 f-w-6">Source:</label>
            <select class="form-control col-lg-5" ng-options="key for key in sources"
                    ng-change="createRule(selfMatchSource)" ng-model="selfMatchSource">
                <option value="">Select</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-lg-2"></label>
            <label class="col-lg-5 f-w-6">Match Columns</label>
            <label class="col-lg-5 f-w-6">Sum Columns</label>
        </div>
        <!---->
        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2 f-w-6">{{selfMatchSource}}:</label>
            <ui-select multiple ng-model="matchRules[selfMatchSource].sumColumns" theme="select2"
                       close-on-select="false" style="width:200px"
                       title="Choose Match column">
                <ui-select-match placeholder="Select Match columns...">{{$item}}</ui-select-match>
                <ui-select-choices
                        repeat="v in sourceCols[selfMatchSource]| filter:$select.search">
                    {{v}}
                </ui-select-choices>
            </ui-select>
            <!--</div>-->
            <!--<div class="col-lg-5">-->
            <ui-select multiple ng-model="matchRules[selfMatchSource].sumColumns" theme="select2"
                       close-on-select="false" style="width:200px"
                       title="Choose Match column">
                <ui-select-match placeholder="Select Sum columns...">{{$item}}</ui-select-match>
                <ui-select-choices
                        repeat="v in sourceCols[selfMatchSource]| filter:$select.search">
                    {{v}}
                </ui-select-choices>
            </ui-select>
        </div>
        <!---->
        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2"></label>
            <label class="col-lg-5 f-w-6">Debit Credit Columns</label>
        </div>
        <!---->
        <!---->
        <div class="form-group row" ng-show="selfMatch">
            <label class="col-lg-2 f-w-6">{{selfMatchSource}}:</label>
            <div class="col-lg-5">
                <ui-select multiple ng-model="matchRules[selfMatchSource].debitCreditColum" theme="select2"
                           close-on-select="false" style="width:200px"
                           title="Choose Match column">
                    <ui-select-match placeholder="Select Debit columns...">{{$item}}</ui-select-match>
                    <ui-select-choices
                            repeat="v as v for v in sourceCols[selfMatchSource] | filter:$select.search">
                        {{v}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <!---->
        <!---->
        <div class="form-group row" ng-repeat="(key,val) in matchRules" ng-show="!selfMatch">
            <label class="col-lg-2 f-w-6">{{key}}:</label>
            <div class="col-lg-5">
                <!--<select chosen multiple list='sourceCols[key]' ng-options="v as v for "-->
                <!--ng-model="val.matchColumns"></select>-->
                <ui-select multiple ng-model="val.matchColumns" theme="select2"
                           close-on-select="false" style="width:200px"
                           title="Choose Match column">
                    <ui-select-match placeholder="Select Match columns...">{{$item}}</ui-select-match>
                    <ui-select-choices
                            repeat="v in sourceCols[key]| filter:$select.search">
                        {{v}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-5">
                <ui-select multiple ng-model="val.sumColumns" theme="select2"
                           close-on-select="false" style="width:200px"
                           title="Choose Match column">
                    <ui-select-match placeholder="Select Sum columns...">{{$item}}</ui-select-match>
                    <ui-select-choices
                            repeat="v in sourceCols[key]| filter:$select.search">
                        {{v}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-sm" ng-click="saveRule(ruleName)">Save</button>
        <button class="btn btn-info btn-sm" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="addflow.html">
    <div class="modal-header">
        <h4 class="card-title"><i><b>{{resources.defRuleName}}</b></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="addEditForm">
            <div class="modal-body">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-md-2 col-lg-2">{{resources.ruleName}}:</label>
                        <input type="text" ng-model="ruleName" class="form-control col-lg-6">
                        <input type="checkbox" id="check"
                               class="form-control"
                               ng-model="isSelfMatch">
                        <label class="m-l-10" for="check">SelfMatch</label>
                    </div>
                    <div ng-show="isSelfMatch" class="form-group row">
                        <label class="col-md-2 col-lg-2" for="check">Source</label>
                        <select class="form-control  col-lg-6 col-md-6" ng-options="key for key in sources"
                                ng-model="selfMatchSource">
                            <option value="">Select</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </form>
        <div class="modal-footer" style="padding-bottom: 0px;padding-top: 10px;">
            <button type="button" class="btn btn-info" ng-click="addRule()" data-dismiss="modal">
                Submit
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="addDeriveColumn.html">
    <div class="modal-header">
        <h4 class="card-title"><i><b>{{resources.deriveColumn}}</b></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="addEditForm">
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-lg-2 col-md-2">Column Name:</label>
                    <input type="text" ng-model="columnName" class="col-lg-6">
                </div>

            </div>
        </form>
        <div class="modal-footer" style="padding-bottom: 0px;padding-top: 10px;">
            <button type="button" class="btn btn-info" ng-click="getSourceDetails(columnName)" data-dismiss="modal">
                {{resources.derive}}
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="sheetName.html">
    <div class="modal-header">
        <h4 class="card-title"><b>{{resources.referenceSource}}</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-group row">
                <label for="structName"
                       class="col-sm-4 col-md-4 col-lg-4 text-right">{{resources.structureName}}:</label>
                <select id="sheetName1" class="form-control col-md-4"
                        ng-model="sheetName" ng-options="val for val in sheetNames">
                    <option value="">Choose...</option>
                </select>
                <label class="col-md-2" for="allSheets"> </label>
                <input type="checkbox" id="allSheets" ng-model="sheetName">
                <label for="allSheets">{{resources.allSheets}}</label>
            </div>

            <div class="form-group row">

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">
                {{resources.cancel}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="submit(sheetName)">Load</button>
        </div>
    </div>
</script>


<!---->
<!---->
<!---->
