<section>
    <div class="card col-md-6 mx-auto" style="margin-top: 50px">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h3><b>{{resources.accountSetting}}</b></h3>
            </div>
            <hr style="margin-top: 0px">
            <form class="form-horizontal  form-material">
                <div class="form-group">
                    <h5 for="example-email" class="col-md-6 f-w-6">{{resources.userName}}</h5>
                    <div class="col-md-12">
                        <input type="text" ng-disabled="true" ng-model="userData.userName" placeholder="Johnathan Doe"
                               class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <h5 for="example-email" class="col-md-6 f-w-6">{{resources.role}}</h5>
                    <div class="col-md-12">
                        <input type="text" ng-disabled="true" ng-model="userData.role"
                               class="form-control form-control-line"
                               name="example-role" id="example-role">
                    </div>
                </div>

                <div class="form-group">
                    <h5 for="example-email" class="col-md-6 f-w-6">{{resources.email}}</h5>
                    <div class="col-md-12">
                        <input type="email" ng-model="userData.email" class="form-control form-control-line"
                               name="example-email" id="example-email">
                    </div>
                </div>

                <div class="form-group" ng-show="passwordChange">
                    <h5 for="example-email" class="col-md-6 f-w-6">{{resources.oldPassword}}</h5>
                    <div class="col-md-12">
                        <input type="password" ng-model="userData.oldPassword" class="form-control form-control-line"
                               name="example-oldPass" id="example-oldPass">
                    </div>
                </div>

                <div class="form-group" ng-show="passwordChange">
                    <h5 for="example-email" class="col-md-6 f-w-6">{{resources.newPassword}}</h5>
                    <div class="col-md-12">
                        <input type="password" ng-model="userData.newPassword" class="form-control form-control-line"
                               name="example-newPass" id="example-newPass">
                    </div>
                </div>

                <div class="form-group row" ng-show="passwordChange">
                    <div class="ml-auto">
                        <a href="#" ng-click="policyShow=!policyShow"><i class="fa fa-question-circle m-r-5"
                                                                         ng-click="policyShow=true"></i>
                            <small>{{resources.passwordPolicy}}</small>
                        </a>
                    </div>
                </div>

                <div class="form-group" ng-show="policyShow" style="color: red;">
                    <small>{{resources.note}}:</small>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <small><i class="fa fa-caret-right m-r-5"></i>{{resources.charLine}}</small>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passContain}}</small>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passSpecial}}</small>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passCahrRepeat}}</small>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <small><i class="fa fa-caret-right m-r-5"></i>{{resources.passSpace}}</small>
                    </div>
                </div>


                <div class="form-group" ng-show="!passwordChange">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-sm" type="button" id="forPassword"
                                ng-click="passwordChange=true">
                            {{resources.changePassword}}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-success" type="button" id="savePassword"
                                ng-click="updatePassword(userData)">
                            {{resources.updatePassword}}
                        </button>

                        <button class="btn btn-info" type="button" id="cancel" ng-click="goBack()">
                            {{resources.cancel}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>