<!--Display a Table for Recon Assigned To users-->
<!--<div class="container">-->
<div class="card m-t-30">
    <div class="card-body">
        <h4 class="card-title f-w-6"><span class="lstick"></span>{{resources.reconAssignment}}</h4>
        <button class="btn btn-info waves-effect waves-light m-b-20"
                ng-click="setCreate()"><i class="fa fa-plus m-r-5"></i>{{resources.create}}
        </button>

        <table tr-ng-grid="" order-by="initialSorting" class="table table-bordered table-striped table-hover"
               enable-filtering="false" total-items="myItemsTotalCount" enable-pagination="true" page-items="10"
               selection-mode="None" items="assignedData"
               on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
            <thead>
            <tr>

                <th field-name="processGroup" display-name="{{resources.username}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="reconProcesses" display-name="{{resources.reconProcess}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="reconNames" display-name="{{resources.recons}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="users" display-name="{{resources.users}}" enable-filtering="true"
                    display-align="left"></th>

                <th field-name="edit" display-name="{{resources.actions}}" enable-filtering="true"
                    display-align="center"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-form="" editable-form="" name="rowform" shown="newItem===gridItem">
                <td field-name="edit">
                    <div class="button btn-group">
                        <button class="btn btn-info waves-effect waves-light fa fa-pencil"
                                ng-click="editReconAssign(gridItem)" title="{{resources.edit}}"></button>
                        <button class="btn btn-info waves-effect waves-light fa fa-trash"
                                ng-click="removeUser(gridItem)" title="{{resources.delete}}"></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--</div>-->
<script type="text/ng-template" id="reconassignment.html">
    <div class="modal-header">
        <h4 class="card-title">{{resources.reconAssignment}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <div class="container">
            <!--<div class="card">-->
            <!--<div class="card-body">-->
            <div class="form-group row">
                <label for="Select1" class="col-lg-4 col-form-label">Group Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="reconAssign.processGroup"
                           placeholder="Process Group Name">
                </div>
            </div>

            <div class="form-group row">
                <label for="Select1" class="col-lg-4 col-form-label">{{resources.role}}</label>
                <div class="col-lg-8">
                    <select class="form-control" ng-model="reconAssign.groupRole"
                            ng-options="key as key for (key,val) in actionRoles"
                            id="Select1" ng-change="getUsers(selectedRecons)">
                        <option value="">{{resources.select}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="Select1" class="col-lg-4 col-form-label">Select the Recon Name</label>
                <div class="col-lg-8" isteven-multi-select
                     input-model="completeList"
                     output-model="selectedRecons"
                     button-label="icon name"
                     item-label="icon name maker"
                     on-close="getUsers(selectedRecons)"
                     group-property="msGroup"
                     tick-property="ticked">
                </div>
            </div>


            <div class="form-group row">
                <label for="Select1" class="col-lg-4 col-form-label">{{resources.user}}</label>
                <!--<div class="col-lg-8">-->
                <!--<select class="form-control" ng-model="reconAssign.userName"-->
                <!--ng-options="val.userName as val.userName for val in userDetails"-->
                <!--id="Select1" ng-change="findAssignmentLocation(val)">-->
                <!--<option value="">{{resources.select}}</option>-->
                <!--</select>-->
                <div class="col-lg-8" isteven-multi-select
                     input-model="userNames"
                     output-model="selectedUsers"
                     button-label="icon name"
                     item-label="icon name maker"
                     tick-property="ticked"
                     max-labels="4">
                </div>
                <!--</div>-->
            </div>

            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">{{resources.cancel}}
        </button>
        <button type="button" class="btn btn-primary" ng-click="assignRecon(reconAssign)">{{resources.submit}}</button>
    </div>
</script>