<div class="card">
    <div class="card-body">
        <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
        <div class="form-group row col-sm-12 col-md-12 col-lg-12" style="height: 25px;">
            <h4 class="card-title col-sm-10 col-md-10 col-lg-10 f-w-6"><span class="lstick"></span>{{resources.runJobDet}}
            </h4>
            <button type="button" class="btn btn-sm btn-info ml-auto" ng-click="refreshExeDetails()"
                    title="{{resources.refreshPage}}"><i class="fa fa-refresh"></i></button>
        </div>


        <table tr-ng-grid='' class="table table-striped table-hover"
               items='reconExecLogs'>
            <thead class="thead">
            <tr>
                <th field-name="reconProcess" cell-width="20%">

                </th>
                <th field-name="reconName" cell-width="20%"></th>
                <th field-name="statementDate" cell-width="15%"></th>
                <th field-name="jobcompleted" cell-width="15%" display-name='Progress'></th>
                <th field-name="jobStatus" cell-width="15%"></th>
                <th field-name="Jobs" cell-width="15%" display-align="center"></th>
            </tr>
            </thead>
            <tbody>


            <tr ng-form="" editable-form="" shown="newItem===gridItem">
                <td field-name="reconProcess">
                </td>
                <td field-name="reconName">
                </td>

                <td field-name="jobcompleted">
                    <!--<div class="progress m-t-20">-->
                    <!--<div class="progress-bar bg-success" ng-style="{'width':gridItem.jobcompleted;}"-->
                    <!--role="progressbar"><span editable-text="gridItem.jobcompleted" e-name="address"-->
                    <!--e-form="rowform">-->
                    <!--{{ gridItem.jobcompleted || '0%' }}-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->
                </td>

                <td field-name="jobStatus" class="tr-ng-cell text-center">
                    <div class="text-left-center">
                            <span editable-text="gridItem.jobStatus" e-name="jobStatus"
                                  ng-show="gridItem.jobStatus=='Success'"
                                  e-form="rowform" class=""
                                  ng-class="gridItem.jobStatus=='Success'?'label label-success':''">
                                    {{ gridItem.jobStatus || '' }}
                                </span>

                        <span editable-text="gridItem.jobStatus" e-name="jobStatus"
                              ng-show="gridItem.jobStatus=='Failed'"
                              e-form="rowform" class=""
                              ng-class="gridItem.jobStatus=='Failed'?'label label-danger':''">
                                    {{ gridItem.jobStatus || '' }}
                                </span>
                        <span editable-text="gridItem.jobStatus" e-name="jobStatus"
                              ng-show="gridItem.jobStatus=='JobRunning'"
                              e-form="rowform" class=""
                              ng-class="gridItem.jobStatus=='JobRunning'?'label label-info':''">
                                    {{ gridItem.jobStatus || '' }}
                                </span>
                    </div>
                </td>

                <td field-name="statementDate">
                </td>

                <td field-name="Jobs">
                    <div class="btn-group">
                        <button type="button" ng-disabled="rowform.$waiting"
                                class="btn btn-sm waves-effect waves-light btn-info"
                                ng-click="uploadFeedFile($index)" title="{{resources.uploadRecon}}">
                            <i class="fa fa-play-circle"></i>
                        </button>
                        <button type="button" ng-click="Rollback($index)"
                                class="btn  btn-sm waves-effect waves-light btn-info" ng-disabled=""
                                title="{{resources.rollBackRecon}}">
                            <i class="fa fa-undo"></i>
                        </button>
                        <button type="button" ng-disabled="disableErrorButton($index)" ng-click="jobLogs($index)"
                                class="btn  btn-sm waves-effect waves-light btn-info" ng-disabled=""
                                title="{{resources.downLoadLogs}}">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="job.html">
    <div class="modal-header">
        <h4 class="card-title"><i><b>{{resources.reconJob}}</b></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="addEditForm">
            <div class="modal-body">
                <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                     ng-show="formValidation.isNotValid">
                    <span class="icon-sign"></span>
                    <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                    <span class="alertContent">{{formValidation.message}}</span>
                </div>

                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-4 text-right">{{resources.reconName}}:</label>
                        <div class="col-lg-4">
                            {{selReconDetail['reconName']}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 text-right">statementDate:</label>
                        <input type="date" class="col-lg-6 form-control" id="date" datetime="yyyy-MM-dd"
                               ng-model="selReconDetail['statementDate']" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 text-right">{{resources.file}}:</label>
                        <div class="">
                            <input type="file" name="file" data-ng-model="files"
                                   accept=".zip"
                                   onchange="angular.element(this).scope().upload(this.files)"/>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <div class="modal-footer" style="padding-bottom: 0px;padding-top: 10px;">
            <button type="button" class="btn btn-info" ng-dblclick="runReconJob(statementDate)" data-dismiss="modal">
                {{resources.runJob}}
            </button>
        </div>
    </div>
</script>

