<div class="tabcontrol" data-role="tabcontrol" style="padding-top: 1%">
    <ul class="tabs">
        <li class="active"><a href="#accountMaster">Account Master</a>

        <li><a href="#feedAccountMapping">Feed Account Mapping</a>

        <li><a href="#accountPoolMaster">Account Pool Master</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="accountMaster" style="display: block;">
            <h3 class="text-light">Account Master Setup<span class="fa fa-users place-right"></span></h3>
            <hr class="thin bg-grayLighter">
            <div class="form-group">
                <button class="button primary" ng-click="uploadFile()">Upload</button>

                <a class="button primary" ng-click="exportAccountDetails()"
                   data-ng-disabled="acountMasterOptions.datamodel.total <= 0" tooltip="Export Account Details"><i
                        class="fa fa-share"></i> Export CSV</a>
                <button type="button" ng-csv="getAccountMasterArray" id="getAccountMaster" style="display:none;"
                        field-separator="{{separator}}" lazy-load="true"
                        filename="{{filename}}.csv">Export
                </button>

                <div class="pull-right">
                    <a class="button primary" href="/files/account_master_template.csv"
                       target="_self" download="account_master_template.csv" tooltip="Download Template">
                        <span class="mif-file-download"></span>
                    </a>
                </div>
            </div>
            <hr class="thin bg-grayLighter">
            <div>
                <datagrid options="acountMasterOptions"></datagrid>
            </div>

        </div>

        <div class="frame" id="feedAccountMapping">
            <h3 class="text-light">Account Mapping<span class="fa fa-users place-right"></span></h3>
            <hr class="thin bg-grayLighter">
            <button class="button primary" ng-click="accountMapOptions.addAccountMapping();"><span
                    class="mif-plus"></span>
                Create
            </button>
            <hr class="thin bg-grayLighter">
            <datagrid options="accountMapOptions"></datagrid>
        </div>


        <div class="frame" id="accountPoolMaster">
            <h3 class="text-light">Account Pool Context<span class="fa fa-users place-right"></span></h3>
            <hr class="thin bg-grayLighter">
            <button class="button primary" ng-click="accountPoolMasterOptions.addAccountPools();"><span
                    class="mif-plus"></span>
                Create Account Pools
            </button>
            <!-- <div class="col-lg-12">
                 <div class="panel panel-primary">
                     <div class="panel-heading">
                         <span class="panel-title">Account Pool Context Details:<span class="pull-right"/> </span>
                         &lt;!&ndash;<a class="panelLink" ng-click="showCR1 = !showCR1" href=""><i style="color: white"
                                                                                       ng-show="showCR1"
                                                                                       class="fa fa-caret-down fa-lg "></i>
                             <i style="color: white" ng-hide="showCR1"
                                class="fa fa-caret-up fa-lg "></i></a></span><span
                         class="pull-right"><a href="files/mdl_field_template.csv"
                                               target="_self"
                                               download="mdl_field_template.csv"><i
                         style="color: white" class="fa fa-download"></i></a>&nbsp;&nbsp;</span></span>&ndash;&gt;
                     </div>
                     <div class="panel-body">
                         <form class="form-horizontal" role="form" name="accountPoolForm">
                             <div class="row ">
                                 <div class="col-lg-12">
                                     <label class="col-lg-1 col-sm-1">Account Pool Name:</label>
                                     <div class="col-sm-3 col-lg-3">
                                         <input class="form-control" type="text" placeholder="account pool name" required
                                                ng-model="accountPool.accountPoolName"/>
                                     </div>

                                     <label class="col-lg-1 col-sm-1">Account Pool Context Code:</label>
                                     <div class="col-sm-3 col-lg-3">
                                         <input class="form-control" type="text" placeholder="account pool context code"
                                                required
                                                ng-model="accountPool.accountPoolCxtCode"/>
                                     </div>

                                     <label class="col-sm-1 col-lg-1 control-label">Account Numbers :</label>
                                     <div class="col-sm-3 col-lg-3">
                                         <div isteven-multi-select
                                              input-model="accountMaster"
                                              output-model="accountPool.accounts"
                                              button-label="icon name"
                                              item-label="icon name maker"
                                              tick-property="ticked">
                                         </div>

                                     </div>
                                 </div>
                                 </div>

                         </form>
                         <hr>

                     </div>
                 </div>

                 <hr class="thin bg-grayLighter">

             </div>-->
            <hr class="thin bg-grayLighter">

            <div>
                <datagrid options="accountPoolMasterOptions"></datagrid>
            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="feedAccountMap.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Account Mapping</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Recon :</label>

                <div class="col-sm-6 col-lg-6">

                    <select class="form-control" data-ng-model="ac.recon" required
                            data-ng-change="getFeedStructureDetails(ac.recon)" chosen list="reconContextDetails"
                            ng-options="val as val.reconName for val in reconContextDetails">
                        <option value="">Select Recon</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Feed Details :</label>

                <div class="col-sm-6 col-lg-6">
                    <select class="form-control" data-ng-model="ac.feedDetails" required chosen list="feedDetailsArray"
                            ng-options="val as val.feedName for val in feedDetailsArray track by val.feedName" multiple>
                        <option value="">Select Feed</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Accounts :</label>
                <div class="col-sm-6 col-lg-6">
                    <multiselect multiple="true"
                                 ms-selected="{{ac.accountMaster.length}} (s) selected"
                                 ng-model="ac.accounts"
                                 options="accountMaster"
                                 change="selected()" required></multiselect>
                </div>
            </div>
        </div>
        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="credentials.role=='admin'" type="button" class="btn btn-primary"
                ng-click="saveAccountMapping(ac)"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>


<script type="text/ng-template" id="accountPoolMaster.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Account Pool Master</h4>
    </div>

    <form class="form-horizontal" role="form" name="accountPoolForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Account Pool Name :</label>
                <div class="col-sm-6 col-lg-6">
                    <input type="text" class="form-control" ng-model="accPool.accPoolName" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Accounts :</label>
                <div class="col-sm-6 col-lg-6">
                    <multiselect multiple="true"
                                 ms-selected="{{accPool.selectedAccounts.length}} (s) selected"
                                 ng-model="accPool.selectedAccounts"
                                 options="accountMaster"
                                 change="selected()" required></multiselect>
                </div>
            </div>
        </div>
        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="credentials.role=='admin'" type="button" class="btn btn-primary"
                ng-click="saveAccountPools(accPool)" ng-disabled="accountPoolForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>


<script type="text/ng-template" id="deleteAccountMapping.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>


<script type="text/ng-template" id="uploadfile.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Upload Account Details</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="form-group">
                <div class="col-sm-8 col-lg-8">
                    <input type="file" name="file" data-ng-model="files"
                           accept=".csv"
                           onchange="angular.element(this).scope().upload(this.files)"/>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveFile()"
                ng-disabled="fileName == '' || fileName == undefined || fileName == null"> Submit
        </button>

        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>


<script type="text/ng-template" id="deleteAccountPools.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>
