<div ng-hide="addEdit" ng-show="['admin'] | showForRole">
    <h3 class="text-light">Business Context <span class="fa fa-users place-right"></span></h3>
    <hr class="thin bg-grayLighter">
    <button class="button primary" ng-click="businessContextOptions.addBusinessContext();"><span
            class="mif-plus"></span> Create
    </button>
    <hr class="thin bg-grayLighter">
    <datagrid options="businessContextOptions"></datagrid>
</div>
<script type="text/ng-template" id="addBusinessContext.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{mode}} Business Context Details</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Work Pool Name :</label>

                <div class="col-sm-6 col-lg-6">
                    <input type="text" class="form-control"
                           placeholder="Business Context Name" required
                           ng-model="bcData.WORKPOOL_NAME">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Business Process :</label>

                <div class="col-sm-4 col-lg-4">
                    <select class="form-control" ng-model="bcData.BUSINESS_PROCESS_NAME" required
                            ng-options="val for val in businessProcess">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Recon Process Code :</label>

                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control" id="reconProcessCode" name="reconProcessCode"
                           placeholder="Recon Process Code" required
                           ng-model="bcData.reconProcessCode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Asset Class :</label>

                <div class="col-sm-4 col-lg-4">
                    <select class="form-control" ng-model="bcData.assetClass" required
                            ng-options="val for val in assetClass">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Functional Area :</label>

                <div class="col-sm-4 col-lg-4">
                    <select class="form-control" ng-model="bcData.functionalArea" required
                            ng-options="val for val in functionalArea">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Geography :</label>

                <div class="col-sm-4 col-lg-4">
                    <select class="form-control" ng-model="bcData.GEOGRAPHY_CODE" required
                            ng-options="val for val in geography">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button ng-if="credentials.role=='admin' && mode =='Add'" type="button" class="btn btn-primary"
                ng-click="saveBusinessContext(bcData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="deleteReconProcess.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>