<h3 class="text-light" xmlns="http://www.w3.org/1999/html">Feed Definition <span class="fa fa-users place-right"></span>
</h3>

<hr class="thin bg-grayLighter">


<div class="row form-group">
    <div class="col-lg-12">

        <div class="col-lg-2 col-sm-2" style="padding-top: 5px">
            <select class="form-control" data-ng-model="selectedFeed"
                    data-ng-change="onChangeFeedDetails(selectedFeed)"
                    ng-options="val as val.feedName for val in feedDetails" chosen list="feedDetails">
                <option value="">Select Feed Details</option>
            </select>
        </div>

        <div class="col-lg-8 col-sm-8">
            <button class="button primary small-button" ng-click="createFeedDefination();"><span
                    class="mif-plus"></span> Create
            </button>

            <button class="button primary small-button" ng-click="delteFeedDefination();"
                    data-ng-disabled="selectedFeed == undefined || selectedFeed == null || selectedFeed == ''"><span
                    class="fa fa-remove"></span> Delete
            </button>

            <button class="button primary small-button" ng-click="cloneFeedDefination(selectedFeed);"
                    data-ng-disabled="selectedFeed == undefined || selectedFeed == null || selectedFeed == ''"><span
                    class="glyphicon glyphicon-duplicate"></span> Clone
            </button>
        </div>

    </div>
</div>


<hr class="thin bg-grayLighter">

<!--<form class="form-horizontal" role="form" name="feedDefinationForm">-->

<div class='form-horizontal well' style="margin-top: 15px">
    <fieldset>
        <legend>Feed Details</legend>

        <div class="row form-group">
            <label class="col-lg-1 col-sm-1 control-label">Feed Name</label>
            <div class="col-lg-2 col-sm-2">
                <input type="text" class="form-control" data-ng-model="feedDefination.feedName"
                       placeholder="Feed Name" required>
            </div>

            <label class="col-lg-1 col-sm-1 control-label">File Format</label>
            <div class="col-sm-2 col-lg-2">
                <select class="form-control" data-ng-model="feedDefination.format" required>
                    <option value="">Select Format</option>
                    <option value="DELIMITED">Delimiter</option>
                    <option value="FIXED_LENGTH">Fixed Length</option>
                    <option value="SWIFT">Swift</option>
                    <option value="DELIMITEDWITHFIXEDCOLUMNS">DELIMITEDWITHFIXEDCOLUMNS</option>
                </select>
            </div>


            <label class="col-lg-1 col-sm-1">Skip Top Rows</label>
            <div class="col-lg-1 col-sm-1">
                <input type="number" class="form-control" data-ng-model="feedDefination.skipTopRows">
            </div>

            <label class="col-lg-1 col-sm-1">Skip Bottom Rows:</label>
            <div class="col-lg-1 col-sm-1">
                <input type="number" class="form-control" data-ng-model="feedDefination.skipBottomRows">
            </div>

            <label class="col-lg-1 col-sm-1 control-label"
                   ng-show="feedDefination.format == 'DELIMITED'">Delimiter</label>
            <div class="col-sm-1 col-lg-1" ng-show="feedDefination.format == 'DELIMITED'">
                <select class="form-control" data-ng-model="feedDefination.delimiter">
                    <option value="">Select</option>
                    <option value="^">Cap</option>
                    <option value=",">Comma</option>
                    <option value="!">Hyphen</option>
                    <option value="|">Pipe</option>
                </select>
            </div>

            <label class="col-sm-1 col-lg-1 control-label"
                   ng-show="feedDefination.format == 'SWIFT'">Swift</label>
            <div class="col-sm-1 col-lg-1" ng-show="feedDefination.format == 'SWIFT'">
                <select class="form-control" data-ng-model="feedDefination.swiftType"
                        data-ng-change="updateSwiftTag(feedDefination.swiftType)">
                    <option value="">Select</option>
                    <option value="MT103">MT103</option>
                    <option value="MT202">MT202</option>
                    <option value="MT909">MT909</option>
                    <option value="MT910">MT910</option>
                    <option value="MT940">MT940</option>
                    <option value="MT950">MT950</option>
                </select>
            </div>

        </div>

        <div class="row form-group">

            <label class="col-sm-1 col-lg-1 control-label">Feed Pattern</label>
            <div class="col-lg-2 col-sm-2">
                <input type="text" class="form-control" ng-model="feedDefination.fileNamePattern" required/>
            </div>

            <label class="col-sm-1 col-lg-1" style="margin-top: 6px">Feed Path</label>
            <div class="col-lg-2 col-sm-2">
                <input type="text" class="form-control" ng-model="feedDefination.feedPath" required/>
            </div>

            <label class="col-lg-1 col-sm-1">Limit File Count</label>
            <div class="col-lg-1 col-sm-1">
                <input type="number" class="form-control" data-ng-model="feedDefination.limitFileCount">
            </div>

            <div class="col-lg-1 col-sm-1">
                <label class="form-check-label" style="margin-top: 7px;">
                    <input class="form-check-input" type="checkbox" data-ng-model="feedDefination.positionsFeed"
                           style="margin-top: -2px;">
                    Positions Feed
                </label>
            </div>

            <div class="col-lg-1 col-sm-1">
                <label class="form-check-label" style="margin-top: 7px;">
                    <input class="form-check-input" type="checkbox" data-ng-model="feedDefination.headerExists"
                           style="margin-top: -2px;">
                    Header Exists
                </label>
            </div>

            <div class="col-lg-1 col-sm-1">
                <label class="form-check-label" style="margin-top: 7px;">
                    <input class="form-check-input" type="checkbox"
                           data-ng-model="feedDefination.preLoadScriptIndicator"
                           style="margin-top: -2px;">
                    Pre-Load Script
                </label>
            </div>
        </div>

        <div class="row form-group" ng-show="feedDefination.preLoadScriptIndicator">

            <label class="col-lg-1 col-sm-1">Script File</label>
            <div class="col-sm-2 col-lg-2">
                <select class="form-control" data-ng-model="feedDefination.preLoadScript.scriptFile"
                        ng-options="val for val in preLoadScriptFiles">
                    <option value="">Select File</option>
                </select>
            </div>

            <label class="col-lg-1 col-sm-1">Alias name</label>
            <div class="col-lg-2 col-sm-2">
                <input type="text" class="form-control" data-ng-model="feedDefination.preLoadScript.splitSuffix">
            </div>

        </div>

    </fieldset>
</div>


<div class='form-horizontal well' style="margin-top: 12px">
    <fieldset>
        <legend>Field Details</legend>

        <div>
            <!--<button class="btn btn-default"
                    style="background: #2086bf;color: #ffffff;border-color: #2086bf;;float: right;margin-bottom: 4px"
                    ng-click="addMdlFields()">
                <span> Add Model Fields</span>
            </button>-->

            <button class="button primary small-button" ng-click="uploadFile()"
                    style="float: right;margin-bottom: 8px;margin-left: 8px"
                    tooltip="upload">
                <i class="glyphicon glyphicon-upload"></i>
            </button>

            <button class="button primary small-button" ng-click="addModelFields()"
                    style="float: right;margin-bottom: 8px" tooltip="add model fields">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>

            <table class="table table-bordered table-responsive table-fixed">
                <thead>
                <tr>
                    <th>Model Field Name</th>
                    <th>Field Name</th>
                    <!--<th>UI Display Name</th>-->
                    <th>Data Type</th>
                    <th>Length
                    </th>
                    <th>Date Pattern</th>
                    <th>Display Type</th>
                    <!--TODO for deli-meter if positions is not used discard the same-->
                    <th>Position</th>
                    <th ng-show="feedDefination.format=='FIXED_LENGTH'">Start Index
                    </th>
                    <th ng-show="feedDefination.format=='FIXED_LENGTH'">End Index
                    </th>
                    <th ng-show="feedDefination.format=='SWIFT'">Swift Tag
                    </th>
                    <th>Edit</th>
                </tr>
                </thead>

                <!--<tbody style="height: 300px; overflow-y: scroll;max-height: 300px">-->
                <tbody ng-repeat="value in feedDefination.fieldDetails" ng-show="feedDefination.fieldDetails.length != 0">
                <tr ui-sortable data-ng-model="feedDefination.fieldDetails">
                    <td>
                        <div ng-show="value.enableEdit">

                            <select class="form-control" ng-model="value.mdlFieldDropDownVal"
                                    ng-options="val as val.mdlFieldID for val in value.mdlFieldStaticData" chosen
                                    list="value.mdlFieldDropDownVal"
                                    data-ng-change="onMdlFieldChange(value.mdlFieldDropDownVal,$index)"/>
                        </div>
                        <div ng-hide="value.enableEdit" data-ng-disabled="true">
                            {{value.mdlFieldName}}
                        </div>
                    </td>

                    <td>
                        <div ng-show="value.enableEdit"><input type="text" class="form-control"
                                                               ng-model="value.displayName"></div>
                        <div ng-hide="value.enableEdit">{{value.displayName}}</div>
                    </td>

                    <!--<td>
                        <div ng-show="value.enableEdit"><input type="text" class="form-control"
                                                               ng-model="value.uiDisplayName"></div>
                        <div ng-hide="value.enableEdit">{{value.uiDisplayName}}</div>
                    </td>-->

                    <td>
                        <div data-ng-disabled="true">
                            {{value.dataType}}
                        </div>
                    </td>
                    <td>
                        <div data-ng-disabled="true">
                            {{value.length}}
                        </div>
                    </td>
                    <td>
                        <div ng-show="value.enableEdit"><input type="text" class="form-control"
                                                               ng-model="value.datePattern"></div>
                        <div ng-hide="value.enableEdit">{{value.datePattern}}</div>
                    </td>
                    <td>
                        <div ng-show="value.enableEdit"><select class="form-control"
                                                                ng-model="value.displayType">
                            <option value="M">Mandatory</option>
                            <option value="D">Displat</option>
                        </select></div>
                        <div ng-hide="value.enableEdit">{{value.displayType}}</div>
                    </td>
                    <td>
                        <div ng-show="value.enableEdit"><input type="number" class="form-control"
                                                               ng-model="value.position"></div>
                        <div ng-hide="value.enableEdit">{{value.position}}</div>

                    </td>
                    <td ng-show="feedDefination.format=='FIXED_LENGTH'">
                        <div ng-show="value.enableEdit"><input type="number" class="form-control"
                                                               ng-model="value.startIndex"></div>
                        <div ng-hide="value.enableEdit">{{value.startIndex}}</div>
                    </td>
                    <td ng-show="feedDefination.format=='FIXED_LENGTH'">
                        <div ng-show="value.enableEdit"><input type="number" class="form-control"
                                                               ng-model="value.endIndex"></div>
                        <div ng-hide="value.enableEdit">{{value.endIndex}}</div>
                    </td>

                    <td ng-show="feedDefination.format=='SWIFT'">
                        <div ng-show="value.enableEdit"><select class="form-control"
                                                                ng-model="value.tag"
                                                                data-ng-options="val for val in swiftTags">
                            <option value="">Select Tag</option>
                        </select></div>
                        <div ng-hide="value.enableEdit">{{value.tag}}</div>
                    </td>

                    <td style="white-space: nowrap">
                        <!--<div class="btn-group">-->
                            <button type="button" class="btn btn-sm btn-default" tooltip="Save"
                                ng-show="value.enableEdit"
                                ng-click="value.enableEdit=false;removeMdlFields($index)"><i
                                class="fa fa-save fa-lg"></i>
                        </button>

                        <button type="button" class="btn btn-sm btn-default" tooltip="Cancel"
                                ng-show="value.enableEdit"
                                ng-click="value.enableEdit=false;removeMdlFields($index)"><i
                                class="fa fa-ban fa-lg"></i>
                        </button>

                        <button type="button" class="btn btn-sm btn-default" tooltip="Edit"
                                ng-hide="value.enableEdit"
                                ng-click="value.enableEdit=true;editMdlFieldDetails($index)"><i
                                class="fa fa-pencil fa-lg"></i>
                        </button>

                        <button type="button" class="btn btn-sm btn-default" tooltip="Delete"
                                ng-hide="value.enableEdit" ng-click="deleteMdlField($index,value)"><i
                                class="fa fa-trash-o fa-lg"></i></button>
                        <!--</div>-->
                    </td>
                </tr>
                </tbody>

                <!--<tr ng-show="feedDefination.fieldDetails.length==0 || feedDefination.fieldDetails=='undefined'">
                    No data to display.
                </tr>-->
            </table>

            <!--<button class="btn btn-default" style="background-color: #0072c6;color: white;" ng-click="addMdlFields()">
                Add row
            </button>-->

        </div>
    </fieldset>
</div>

<div class='form-horizontal well' style="margin-top: 15px">
    <fieldset>
        <legend>Filter Conditions</legend>

        <div class="button-group" style="margin-bottom: 15px">
            <button type="button" ng-click="addFilterCond()" class="button primary small-button"
                    data-ng-disabled="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                <i
                        class="glyphicon glyphicon-plus-sign"></i> Add Condition
            </button>
        </div>

        <div ng-repeat="val in filterCondExpArray">

            <div class="form-group row">

                <!-- <label class="col-lg-1 col-sm-1">Select Field</label>-->
                <div class="col-lg-2 col-sm-2">
                    <select class="form-control" data-ng-model="val.selectedField"
                            data-ng-change="onChangeOfMdlField(val,$index)"
                            data-ng-options="val as val.mdlFieldName for val in feedDefination.fieldDetails track by val.mdlFieldName">
                        <option value="">Select Field</option>
                    </select>
                </div>

                <!-- <label class="col-lg-1 col-sm-1">Select Condition</label>-->
                <div class="col-lg-2 col-sm-2">
                    <select class="form-control" data-ng-model="val.selectedCond"
                            data-ng-change="onChangeOfFilterCond(condVal)"
                            data-ng-options="condVal for condVal in val.filterCondArray">
                        <option value="">Select Condition</option>
                    </select>
                </div>

                <div class="col-lg-2 col-sm-2"
                     ng-show="val.selectedField.dataType=='str'">
                    <input type="text" class="form-control" placeholder="string value"
                           data-ng-model="val.condValue"/>
                </div>

                <div class="col-lg-2 col-sm-2"
                     ng-show="val.selectedField.dataType=='np.float64' || val.selectedField.dataType=='np.int64'">
                    <input type="number" class="form-control" placeholder="numeric value"
                           data-ng-model="val.condValue"/>
                </div>

                <div class="col-lg-2 col-sm-2"
                     ng-show="val.selectedCond != undefined && val.selectedCond != ''">
                    <select type="text" class="form-control"
                            data-ng-model="val.logicalOperator">
                        <option value="">None</option>
                        <option value="|">OR</option>
                        <option value="&">AND</option>
                    </select>
                </div>

                <div class="col-lg-4 col-sm-4">
                    <button class="btn btn-default"
                            data-ng-disabled="val.logicalOperator == undefined || val.selectedCond == ''"
                            style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                            ng-click="addFilterCond()">
                        <span class="mif-plus"></span>
                    </button>

                    <button class="btn btn-default"
                            style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                            ng-click="removeFilterCond($index)">
                        <span class="mif-minus"></span>
                    </button>
                </div>
            </div>
        </div>

        <div>

            <button class="button primary small-button"
                    ng-click="saveFilterCond()"
                    ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                <span> Add</span>
            </button>

            <button class="button primary small-button"
                    ng-click="cancelFilterCond()"
                    ng-show="filterCondExpArray != undefined && filterCondExpArray.length > 0">
                <span> Cancel</span>
            </button>

        </div>


        <div ng-hide="feedDefination.filters == undefined || feedDefination.filters.length == 0">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Condition</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="value in feedDefination.filters track by $index">
                    <td>{{$index}}</td>
                    <td>{{value}}</td>
                    <td><i class="fa fa-remove"
                           ng-click="removeFilterExp($index)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<div class="form-group row">
    <div class="col-lg-4 col-sm-4">
        <!--<button class="button primary" ng-click="saveFeedStructure(feedDefination)"
                ng-disabled="feedDefinationForm.$invalid">Save
        </button>-->
        <button class="button primary" ng-click="saveFeedStructure(feedDefination)">Save
        </button>

        <button class="button primary" ng-click="clearFields()">Cancel</button>
    </div>
</div>
<!--</form>-->

<script type="text/ng-template" id="addModelFields.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Add Model Fields</h4>
    </div>

    <div class="modal-body">
        <input type="search" ng-model="search" placeholder="Search Model Field"
               style="width: 150px;margin-left: auto"
               class="form-control">
        <div>
            <div style="width: 535px;height: 350px;overflow: scroll;">
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Model Field Name</th>
                        <th>Data Type</th>
                    </tr>
                    </thead>

                    <tr  ng-repeat="value in mdlFieldStaticData | filter:search">
                        <td><input type="checkbox" ng-click="selectedMdlField(value)"></td>
                        <td>{{value.MDL_FIELD_ID}}</td>
                        <td>{{dataTypeMapper[value.MDL_FIELD_DATATYPE]}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <buttons type="button" class="btn btn-primary"
                 ng-click="addModelFieldList(selectedMdlFieldArray)"
                 ng-disabled="selectedMdlFieldArray.length == 0">
            Submit
        </buttons>
        <button type="button" class="btn btn-primary" ng-click="clear()">Cancel</button>
    </div>
    </div>
</script>


<script type="text/ng-template" id="uploadfile.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Upload File</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="form-group"
                 ng-class="{ 'has-error': addEditForm.userName.$dirty && addEditForm.userName.$invalid }">
                <label class="col-sm-4 col-lg-4 control-label">Upload :</label>

                <div class="col-sm-8 col-lg-8">
                    <input type="file" name="file" data-ng-model="files"
                           accept=".csv"
                           onchange="angular.element(this).scope().upload(this.files)"/>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveFile(file)"
                ng-disabled="files == undefined || files == null"> Submit
        </button>

        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="deleteFeedAccMap.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete(selectedFeed)">Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>




