<div class="login-form padding20 block-shadow" data-ng-hide="credentials">

        <form ng-hide="isNew">
            <h2 class="text-light">User Login</h2>
            <hr class="thin"/>
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="username">Username:</label>
                <input type="text" autofocus ng-model="login.userName" placeholder="Username" required>
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="password">Password:</label>
                <input type="password" ng-model="login.password" placeholder="Password" required>
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <br />
            <div class="form-group alert alert-danger" role="alert" ng-show="errorMsg">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{errorMsg}}
                </div>
            <br />
            <div class="form-actions">
                <button data-ng-disabled="loginForm.$invalid" class="button primary" data-ng-click="doLogin(login)">Login</button>
                <!--<button class="button warning" data-ng-click="isNew = true; login.partner='customer'">Sign Up</button>-->
            </div>
        </form>
    </div>



<!--
<div class="row" >
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <section class="login-form">
            <form role="login" name="loginForm" class="form-horizontal">

                <img src="/app/img/mainLoginLogo.png" class="img-responsive" alt="" />

                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" autofocus id="username" ng-model="login.userName" placeholder="Username"  class="form-control input-lg" required>
                </div>

                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" ng-model="login.password" placeholder="Password" class="form-control input-lg" required>

                </div>

                <div><h6 ID="capsMsg" style="text-align: center"; hidden><span class="capsLockMsg"></span>&nbsp;&nbsp;Caps Lock is ON</span></h6></div>

                <div class="form-group">
                    <button data-ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block"
                            data-ng-click="doLogin(login)">Login
                    </button>
                </div>

                <div class="form-group alert alert-danger" role="alert" ng-show="errorMsg">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{errorMsg}}
                </div>


            </form>

        </section>  
    </div>
    <div class="col-md-4"></div>
</div>
-->

<script>
$(function(){
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });
$('#password').keypress(function(e) {
    var s = String.fromCharCode( e.which );
    if((s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey)||
       (s.toUpperCase() !== s && s.toLowerCase() === s && e.shiftKey)) {
        this.caps = true;
        $("#capsMsg").show();
    }
    else if((s.toLowerCase() === s && s.toUpperCase() !== s && !e.shiftKey)||
              (s.toLowerCase() !== s && s.toUpperCase() === s && e.shiftKey)) {
        this.caps = false;
        $("#capsMsg").hide  ();
    }
});
$(document).keydown(function(e){

    if(e.which==20){
    var pass = document.getElementById("password");
    var upass = document.getElementById("username");
    if(pass.caps==undefined)
    {}
    else{
    pass.caps = !pass.caps;

    $("#capsMsg").toggle(pass.caps);
    }
  }

});

</script>








