<h3 class="text-light" xmlns="http://www.w3.org/1999/html">Preload Script <span class="fa fa-users place-right"></span>
</h3>
<hr class="thin bg-grayLight">
<div class="row form-group">
    <div class="col-lg-12">
        <div class="col-sm-2 col-lg-2">
            <select class="form-control" data-ng-model="feedDefination.preLoadScript.scriptFile"
                    ng-change="getselectval(val)"
                    ng-options="val for val in preLoadScriptFiles">
                <option value="">Select File</option>
            </select>
        </div>
        {{scriptFile}}
        <div class="col-lg-8 col-sm-8">
            <button class="button primary small-button" ng-click="createFeedDefination();"><span
                    class="mif-plus"></span> Create
            </button>

            <button class="button primary small-button" ng-click="delteFeedDefination();"
                    data-ng-disabled="selectedFeed == undefined || selectedFeed == null || selectedFeed == ''"><span
                    class="fa fa-remove"></span> Delete
            </button>

            <button class="button primary small-button" ng-click="cloneFeedDefination(selectedFeed);"
                    data-ng-disabled="selectedFeed == undefined || selectedFeed == null || selectedFeed == ''"><span
                    class="glyphicon glyphicon-duplicate"></span> Clone
            </button>
        </div>

    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12">
        <div class="col-lg-1 col-sm-1">
        </div>
        <div class="col-lg-10 col-sm-10">
            <ol>
                <li ng-repeat="line in scriptCode">{{line}}</li>
            </ol>
        </div>

        <div class="col-lg-1 col-sm-1">
        </div>

    </div>
</div>