<div class="alert alert-warning alert-group">
    <div class="form-inline">
        <select ng-options="o.name as o.name for o in operators" ng-model="group.operator"
                class="form-control input-sm"></select>
        <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span
                class="glyphicon glyphicon-plus-sign"></span></button>
    </div>
    <div class="group-conditions">
        <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">

            <div class="form-inline">
                <select ng-options="t.name as t.name for t in fields" ng-model="rule.field"
                        class="form-control input-sm"></select>
                <select ng-options="t.name as t.name for t in fields" ng-model="rule.field"
                        class="form-control input-sm"></select>
                <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions"
                        ng-model="rule.condition" class="form-control input-sm"></select>
                <input style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/>
                <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>

        </div>
    </div>
</div>