<h3 class="text-light" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Recon Builder <span
        class="fa fa-users place-right"></span>
</h3>

<hr class="thin bg-grayLighter">

<div class="row form-group">
    <div class="col-lg-12">
        <!--<label class="col-lg-1 col-sm-1" style="padding-top: 16px;">Select Recon</label>-->
        <div class="col-lg-2 col-sm-2" style="padding-top: 10px">

            <select data-ng-model="selectedBusinessContext"
                    data-ng-change="getReconDetails()" chosen list="businessContext" class="form-control"
                    ng-options="val as val.WORKPOOL_NAME for val in businessContext">
                <!--<option value="">Business Context</option>-->
            </select>

        </div>

        <div class="col-lg-2 col-sm-2" style="padding-top: 10px">
            <select class="form-control" data-ng-model="selectedRecon"
                    data-ng-change="getSources(selectedRecon)" chosen list="listOfData"
                    ng-options="val as val.reconName for val in listOfData">
                <option value="">Select Recon</option>
            </select>
        </div>

        <div class="col-lg-6 col-sm-6" style="margin-top: 6px">
            <button class="button primary small-button" ng-click="clearReconDetails();"><span
                    class="mif-plus"></span> Create
            </button>

            <button class="button primary small-button" ng-click="cloneReconContext(selectedRecon);"><span
                    class="glyphicon glyphicon-duplicate"></span> Clone
            </button>

            <button class="button primary small-button" ng-click="deleteRecon();"><span
                    class="fa fa-remove"></span> Delete
            </button>
        </div>

    </div>
</div>
</div>

<hr class="thin bg-grayLighter">

<div class="row form-group">
    <div class="col-lg-12">
        <div class="form-horizontal well">

            <fieldset>
                <legend>Recon Definition</legend>
                <!--<div class="panel-body" collapse="showCR1">-->
                <form class="form-horizontal" role="form" name="reconForm">
                    <div class="row ">
                        <!--<div class="col-lg-12">-->
                        <!--<label class="col-lg-1 col-sm-1" style="padding-top: 7px">Business Context:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control"
                                    ng-options="val as val.WORKPOOL_NAME for val in businessContext"
                                    required data-ng-model="recon.businessContext">
                                <option value="">Select</option>
                            </select>
                        </div>-->
                        <label class="col-lg-1 col-sm-1" style="padding-top: 7px">Recon Name:</label>
                        <div class="col-sm-2 col-lg-2">
                            <input class="form-control" type="text" placeholder="recon name" required
                                   ng-model="recon.reconName"/>
                        </div>
                        <label class="col-lg-1 col-sm-1">Txn Processing Type:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" ng-model="recon.processingType" required>
                                <option value="">Select</option>
                                <option value="dataValidation">Data Validation</option>
                                <option value="doubleEntry">Double Entry</option>
                                <option value="mirror">Mirror</option>
                            </select>
                        </div>
                        <label class="col-lg-1 col-sm-1">Source Processing Count:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" data-ng-change="getDataCount(recon.processingCount)"
                                    required
                                    data-ng-model="recon.processingCount">
                                <option value="">Select</option>
                                <option value="1">1-Way</option>
                                <option value="2">2-Way</option>
                                <option value="3">3-Way</option>
                                <option value="4">4-Way</option>
                            </select>
                        </div>
                        <!--</div>-->

                        <label class="col-lg-1 col-sm-1">Processing Level:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" ng-options="val for val in matchingProcessingLevel"
                                    required data-ng-model="recon.processingLevel">
                                <option value="">Select</option>
                            </select>
                        </div>

                    </div>
                    <div class="row ">

                        <!--<div class="col-lg-12">-->

                        <!--<label class="col-lg-1 col-sm-1">Processing Level:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" ng-options="val for val in matchingProcessingLevel"
                                    required data-ng-model="recon.processingLevel">
                                <option value="">Select</option>
                            </select>
                        </div>-->

                        <!--<label class="col-lg-1 col-sm-1">Reconciliation Type:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" ng-options="val for val in reconciliationType"
                                    required data-ng-model="recon.reconciliationType">
                                <option value="">Select</option>
                            </select>
                        </div>-->

                        <label class="col-lg-1 col-sm-1" style="padding-top: 7px">Base Currency:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control" ng-options="val for val in currency"
                                    required data-ng-model="recon.currency" chosen>
                                <option value="">Select</option>
                            </select>
                        </div>

                        <label class="col-lg-1 col-sm-1" style="padding-top: 7px">Validations:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="form-control"
                                    required data-ng-model="recon.validationKeys" chosen multiple>
                                <option value="ACCOUNT_NUMBER">Account Number</option>
                                <option value="CURRENCY">Currency</option>
                            </select>
                        </div>

                        <!--</div>-->
                    </div>
                </form>

                <hr class="thin bg-grayLighter">

                <div>
                    <button class="btn btn-default"
                            style="background: #2086bf;color: #ffffff;border-color: #2086bf;;float: right;margin-bottom: 4px"
                            ng-click="assignFeedStructure()"
                            data-ng-disabled="recon.processingCount == undefined || recon.processingCount == '' || recon.processingCount == null">
                        <span> Assing Structure</span>
                    </button>

                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Source Type</th>
                            <th>Source Name</th>
                            <th>Assigned Structures</th>
                            <th>Use In Matching</th>
                            <th>Move To Processed</th>
                            <th>Apply Account Filter</th>
                            <th>Edit</th>
                        </tr>
                        </thead>

                        <tr ng-repeat="value in recon.sources"
                            ng-show="recon.sources.length != 0">
                            <td>{{$index + 1}}</td>
                            <td>
                                <div ng-show="enableEditing[$index]"><select class="form-control"
                                                                             ng-model="value.sourceType"
                                                                             ng-options="val for val in sourceTypes">
                                    <option value="">Source Type</option>
                                </select></div>
                                <div ng-hide="enableEditing[$index]">{{value.sourceType}}</div>
                            </td>
                            <td>
                                <div ng-show="enableEditing[$index]"><input type="text" data-ng-model="value.sourceName"
                                                                            class="form-control"></div>
                                <div ng-hide="enableEditing[$index]">{{value.sourceName}}</div>
                            </td>
                            <td>
                                <div ng-show="enableEditing[$index]"><select class="form-control"
                                                                             data-ng-model="value.feedId" chosen
                                                                             list="feedStructureDetails"
                                                                             ng-options="val._id as val.feedName for val in feedStructureDetails">
                                </select></div>
                                <div ng-hide="enableEditing[$index]">{{feedStrctIDLookup[value.feedId]}}</div>
                            </td>
                            <td>
                                <div ng-show="enableEditing[$index]"><input type="checkbox"
                                                                            data-ng-model="value.useInMatching">
                                </div>
                                <div ng-hide="enableEditing[$index]">{{value.useInMatching}}</div>
                            </td>
                            <td>
                                <div ng-show="enableEditing[$index]"><input type="checkbox"
                                                                            data-ng-model="value.moveToProcessed">
                                </div>
                                <div ng-hide="enableEditing[$index]">{{value.moveToProcessed}}</div>
                            </td>
                            <td>
                                <div ng-show="enableEditing[$index]"><input type="checkbox"
                                                                            data-ng-model="value.applyAccountFilter">
                                </div>
                                <div ng-hide="enableEditing[$index]">{{value.applyAccountFilter}}</div>
                            </td>
                            <td style="white-space: nowrap">
                                <!--<div class="btn-group">-->
                                <button type="button" class="btn btn-sm btn-default" tooltip="Save"
                                        ng-show="enableEditing[$index]" ng-click="saveSourceDetails(value,$index)"><i
                                        class="fa fa-save fa-lg"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-default" tooltip="Cancel"
                                        ng-show="enableEditing[$index]" ng-click="cancelOperation($index)"><i
                                        class="fa fa-ban fa-lg"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-default" tooltip="Edit"
                                        ng-hide="enableEditing[$index]" ng-click="editSourceDetails($index)"><i
                                        class="fa fa-pencil fa-lg"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-default" tooltip="Delete"
                                        ng-hide="enableEditing[$index]" ng-click="deleteSourceDetails($index)"><i
                                        class="fa fa-trash-o fa-lg"></i></button>
                                <!--</div>-->
                            </td>

                        </tr>
                    </table>
                </div>

                <!--<div class="row" ng-repeat="file in files">
                    <div class="col-lg-12">
                        <form class="form-horizontal" role="form" novalidate name="sourceForm">
                            &lt;!&ndash;<label for="urole" class="col-sm-1 col-lg-1 control-label">Source Name :</label>&ndash;&gt;
                            <div class="col-sm-2 col-lg-2"><input type="text" class="form-control" required
                                                                  placeholder="Source Name"
                                                                  ng-model="file.label"/>
                            </div>
                            &lt;!&ndash;<label for="urole" class="col-sm-1 col-lg-1 control-label">Source Type :</label>&ndash;&gt;
                            <div class="col-sm-2 col-lg-2">
                                <select class="form-control" data-ng-model="file.sourceType" required
                                        data-ng-options="val for val in sourceTypes">
                                    <option value="">Select Source Type</option>
                                </select>
                            </div>

                            <div class="col-sm-2 col-lg-2">
                                <button class="btn btn-primary" ng-click="addDerSrcDetaisRow();"><span
                                        class="mif-plus"></span></button>
                            </div>
                            <label for="urole" class="col-sm-1 col-lg-1 control-label">Format Type :</label>
                            <div class="col-sm-1 col-lg-1">
                                <select class="form-control" data-ng-model="file.formatType" required>
                                    <option value="">Select</option>
                                    <option value="delimiter">Delimiter</option>
                                    <option value="fixedLength">Fixed Length</option>
                                    <option value="swift">Swift</option>
                                </select>
                            </div>
                            <label for="urole" class="col-sm-1 col-lg-1 control-label"
                                   ng-show="file.formatType == 'delimiter'">Delimiter :</label>
                            <div class="col-sm-1 col-lg-1" ng-show="file.formatType == 'delimiter'">
                                <select class="form-control" data-ng-model="file.delimiter">
                                    <option value="">Select</option>
                                    <option value="^">Cap</option>
                                    <option value=",">Comma</option>
                                    <option value="!">Hyphen</option>
                                    <option value="|">Pipe</option>
                                </select>
                            </div>

                            <label for="urole" class="col-sm-1 col-lg-1 control-label"
                                   ng-show="file.formatType == 'swift'">Swift :</label>
                            <div class="col-sm-1 col-lg-1" ng-show="file.formatType == 'swift'">
                                <select class="form-control" data-ng-model="file.swift">
                                    <option value="">Select</option>
                                    <option value="MT103">MT103</option>
                                    <option value="MT202">MT202</option>
                                    <option value="MT909">MT909</option>
                                    <option value="MT910">MT910</option>
                                    <option value="MT940">MT940</option>
                                    <option value="MT950">MT950</option>
                                </select>
                            </div>

                            <div ng-bind-html="file.filed"></div>
                            <div class="col-lg-1 col-sm-1">
                                &lt;!&ndash;data-ng-disabled="sourceForm.$invalid"&ndash;&gt;
                                <button class="button primary" tooltip="upload"

                                        ng-click="addFile(file)"><i class="fa fa-upload"></i></button>
                            </div>
                        </form>
                    </div>
                </div>-->
                <!--</div>-->
                <!--<div class="panel-footer" style="padding: 0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-10 col-sm-10"></div>
                            <button class="button primary col-lg-1 col-sm-1" ng-disabled="reconForm.$invalid"
                                    ng-click="uploadRecon(recon)">
                                Upload
                            </button>
                        </div>
                    </div>

                </div>-->
            </fieldset>
        </div>
    </div>
</div>


<div class="form-horizontal well">

    <!--<div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true"
         extra-settings="example14settings"></div>
    <pre>Selected Model: {{example14model}} | json</pre>-->

    <fieldset>
        <legend>Rule Definition</legend>

        <div>
            <!--<button class="button primary small-button"><span
                    class="glyphicon glyphicon-plus-sign"
                    ng-click="addRuleGroup()"></span> Add Groups
            </button>-->
            <button type="button" class="button primary small-button"
                    ng-click="addRuleGroup()"
                    data-ng-disabled="recon.sources.length <= 0 || recon.sources == undefined"><i
                    class="glyphicon glyphicon-plus-sign"></i> Add Groups
            </button>
        </div>

        <div ng-repeat="matchingRule in recon.matchingRules">
            <div class="well" style="margin-top:10px">

                <div class="tabcontrol" data-role="tabcontrol" style="overflow: inherit">
                    <ul class="tabs">
                        <li class="active"><a href="#derivedSrcCond{{$index}}">Derived Sources</a></li>
                        <li><a href="#derivedDataCond{{$index}}">Derived Columns</a></li>
                        <li><a href="#matchingCond{{$index}}">Matching Conditions</a></li>
                        <li>
                            <div style="margin-left: 415px">
                                <button type="button" class="button primary small-button" tooltip="remove"
                                        ng-click="removeRuleGroup($index)"><i
                                        class="glyphicon glyphicon-minus-sign"></i>
                                </button>

                                <button type="button" class="button primary small-button"
                                        ng-click="addRuleGroup()"
                                        data-ng-disabled="recon.sources.length <= 0 || recon.sources == undefined"><i
                                        class="glyphicon glyphicon-plus-sign"></i>
                                </button>

                            </div>

                        </li>
                    </ul>

                    <div class="frames">
                        <div class="frame" id="derivedSrcCond{{$index}}">
                            <div class="form-group row">

                                <div class="col-lg-2 col-sm-2">
                                    <select class="form-control"
                                            ng-options="val as val.sourceName for val in [].concat(recon.sources, matchingRule['virtualSourceArray']) | unique:'sourceName'"
                                            data-ng-model="matchingRule.selectedSrcVal"
                                            data-ng-change="changeOnSrc(matchingRule.selectedSrcVal,1,$index)"
                                            ng-required="true">
                                        <option value="">Select Source</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-sm-2">
                                    <select class="form-control" data-ng-model="matchingRule.selDerivedSrcType">
                                        <option value="DERIVED_SRC">Derived Source</option>
                                        <option value="SPLIT_SRC">Split Source</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-sm-2" ng-show="matchingRule.selDerivedSrcType == 'SPLIT_SRC'">
                                    <input type="text" class="form-control" data-ng-model="matchingRule.sourceAliasName"
                                           required="true" placeholder="Source Alias Name">
                                </div>

                                <div class="col-lg-2 col-sm-2">
                                    <button class="button primary small-button"
                                            ng-click="addDerivedSrcCond($index,matchingRule.selectedSrcVal)"
                                            data-ng-disabled="matchingRule.selectedSrcVal=='' || matchingRule.selectedSrcVal==undefined ||
                                            matchingRule.derivedSourcesQB.length > 0">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Add Condition
                                    </button>
                                </div>
                            </div>

                            <div ng-repeat="derivedSource in matchingRule.derivedSourcesQB">
                                <div class="form-group row">

                                    <div class="col-lg-2 col-sm-2">
                                        <select class="form-control"
                                                ng-options="val as val.mdlFieldName for val in derivedSource.fields"
                                                data-ng-model="derivedSource.selectedMdlField"
                                                data-ng-change="changeOnMdlField(derivedSource.selectedMdlField,1,$parent.$index,$index)"
                                                chosen list="derivedSource.fields">
                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-sm-2">
                                        <select class="form-control"
                                                ng-options="val for val in derivedSource.dataCondArray"
                                                data-ng-model="derivedSource.selectedDataCond"
                                                data-ng-change="changeOnDataCond(derivedSource.selectedDataCond)">
                                            <option value="">Select Condition</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control"
                                               data-ng-model="derivedSource.dataCondVal"
                                               placeholder="value">
                                    </div>

                                    <div class="form-check-label"
                                         ng-show="derivedSource.selectedDataCond == 'contains' || derivedSource.selectedDataCond == 'not contains'">
                                        <label style="margin-top: 7px;">
                                            <input class="form-check-input ng-pristine ng-valid" type="checkbox"
                                                   data-ng-model="derivedSource.caseInsensitive">
                                            Case InSensitive
                                        </label>
                                    </div>

                                    <div class="col-lg-1 col-sm-1">
                                        <select data-ng-model="derivedSource.logicalOperator" class="form-control">
                                            <option value="">None</option>
                                            <option value="|">OR</option>
                                            <option value="&">AND</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-4 col-sm-4">
                                        <button class="btn btn-default"
                                                style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                                ng-click="addDerivedSrcCond($parent.$index,matchingRule.selectedSrcVal)"
                                                data-ng-disabled="derivedSource.logicalOperator == '' || derivedSource.logicalOperator == undefined">
                                            <span class="mif-plus"></span>
                                        </button>

                                        <button class="btn btn-default" type="button"
                                                style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                                ng-click="removeDerivedSrcCond($parent.$index,$index)">
                                            <span class="mif-minus"></span>
                                        </button>
                                    </div>

                                </div>
                            </div>

                            <div class="button-group">

                                <button class="button primary small-button"
                                        ng-click="saveDerivedSrcCond($index,matchingRule.selectedSrcVal,matchingRule.sourceAliasName)"
                                        ng-show="matchingRule.derivedSourcesQB.length > 0">
                                    <span> Save Condition</span>
                                </button>

                                <button class="button primary small-button"
                                        ng-click="cancelDerSrcOperation($index)"
                                        ng-show="matchingRule.derivedSourcesQB.length > 0">
                                    <span> Cancel</span>
                                </button>

                            </div>

                            <div style="margin-top: 25px;">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Expression</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="val in matchingRule.derivedSources">
                                    <td>{{$index}}</td>
                                    <td>{{val.conditions[0]}}</td>
                                    <td><i class="fa fa-remove"
                                           ng-click="removedDerivedSrcValue($parent.$index,$index,val)"></i>
                                    </td>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="frame" id="derivedDataCond{{$index}}">
                            <div class="form-group row">

                                <div class="col-lg-2 col-sm-2">
                                    <select class="form-control"
                                            ng-options="val as val.sourceName for val in [].concat(recon.sources, matchingRule['virtualSourceArray']) | unique:'sourceName'"
                                            data-ng-model="matchingRule.selectedSrcVal"
                                            data-ng-change="changeOnSrc(matchingRule.selectedSrcVal,2)"
                                            ng-required="true">
                                        <option value="">Select Source</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-sm-2">
                                    <input type="text" class="form-control" ng-required="true"
                                           data-ng-model="matchingRule.derivedColName" placeholder="Pseudo Column">
                                </div>


                                <!--<button class="button primary small-button"
                                            ng-click="addDerivedCol(matchingRule.selectedSrcVal,$index)"
                                            data-ng-disabled="matchingRule.selectedSrcVal=='' || matchingRule.selectedSrcVal==undefined ||
                                            matchingRule.derivedSourcesQB.length > 0">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Add Condition
                                    </button>-->

                                <button class="button primary small-button"
                                        ng-click="addDerivedCol(matchingRule.selectedSrcVal,$index)"><i
                                        class="glyphicon glyphicon-plus-sign"
                                        data-ng-disabled="matchingRule.derivedColumnsQB == undefined || matchingRule.derivedColumnsQB.length == 0"></i>
                                    Add Condition
                                </button>
                            </div>

                            <div class="form-group row" ng-repeat="derivedCol in matchingRule.derivedColumnsQB">

                                <div class="col-lg-2 col-sm-2">
                                    <select class="form-control"
                                            ng-options="val as val.mdlFieldName for val in derivedCol.fieldDetailsArray"
                                            data-ng-model="derivedCol.selectedMdlField" chosen
                                            list="derivedCol.fieldDetailsArray"
                                            data-ng-change="changeOnMdlField(derivedCol.selectedMdlField,2,$parent.$index,$index)">
                                        <option value="">Select Field</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-sm-2">
                                    <select class="form-control"
                                            ng-options="val for val in [].concat(derivedCol.dataCondArray,commonDerivedColFunc)"
                                            data-ng-model="derivedCol.selectedDataCond"
                                            data-ng-change="changeOnDataCond(derivedCol.selectedDataCond)">
                                        <option value="">Select Condition</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-sm-2">
                                    <input type="text" class="form-control" data-ng-model="derivedCol.dataCondVal"
                                           placeholder="value" ng-show="derivedCol['selectedDataCond'] != 'assign'">
                                </div>

                                <!-- <div class="col-lg-2 col-sm-2">
                                     <select class="form-control"
                                             ng-options="val.mdlFieldName for val in derivedCol.fieldDetailsArray"
                                             data-ng-model="derivedCol.assignedMdlField" chosen
                                             list="derivedCol.fieldDetailsArray"
                                             ng-show="derivedCol['selectedDataCond'] != 'assign'">
                                         <option value="">Select Field</option>
                                     </select>
                                 </div>-->

                                <div class="col-lg-2 col-sm-2"
                                     ng-show="derivedCol.selectedMdlField['dataType'] =='str' && derivedCol['selectedDataCond'] == 'replace'">
                                    <input type="text" class="form-control"
                                           data-ng-model="derivedCol.dataCondVal1"
                                           placeholder="value">
                                </div>

                                <div class="form-check-label" ng-show="derivedCol.selectedMdlField['dataType'] =='str'">
                                    <label style="margin-top: 7px;">
                                        <input class="form-check-input ng-pristine ng-valid" type="checkbox"
                                               data-ng-model="derivedCol.excludeString">
                                        Exclusive
                                    </label>
                                </div>


                                <div class="col-lg-1 col-sm-1">
                                    <select data-ng-model="derivedCol.logicalOperator" class="form-control">
                                        <option value="">None</option>
                                        <option value="|">OR</option>
                                        <option value="&">AND</option>
                                    </select>
                                </div>

                                <div class="col-lg-4 col-sm-4">
                                    <button class="btn btn-default"
                                            style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                            data-ng-disabled="derivedCol.logicalOperator == undefined || derivedCol.logicalOperator== ''"
                                            ng-click="addDerivedCol(matchingRule.selectedSrcVal,$parent.$index)">
                                        <span class="mif-plus"></span>
                                    </button>

                                    <button class="btn btn-default"
                                            style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                            ng-click="removeDerivedColCond($parent.$index,$index)">
                                        <span class="mif-minus"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="button-group">

                                <button type="button" class="btn btn-default" tooltip="Delete"
                                        ng-click="saveDataCondition($parent.$index,matchingRule.selectedSrcVal)"
                                        style="background: #2086bf;color: #ffffff;border-color: #2086bf;"> Save
                                    Condition
                                </button>

                                <!--<button class="btn btn-default"
                                        style="background: #2086bf;color: #ffffff;border-color: #2086bf;"
                                        ng-click="saveDataCondition($parent.$index)">Save Condition
                                </button>-->
                            </div>

                            <div style="margin-top: 60px">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Condition</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="value in matchingRule.derivedColumns track by $index">
                                        <td>{{$index}}</td>
                                        <td>{{value.condition}}</td>
                                        <td><i class="fa fa-remove"
                                               ng-click="removedDerivedValue($parent.$index,$index,value)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="frame" id="matchingCond{{$index}}">

                            <div class="button-group">
                                <button type="button" class="button primary small-button" tooltip="Add Match Columns"
                                        ng-click="openMatchRuleDetailsModal(undefined,$parent.$index,$index,'create')"
                                        style="float:right;margin-bottom: 10px">
                                    <i class="glyphicon glyphicon-plus-sign"></i> Matching Condition
                                </button>
                            </div>

                            <table class="table table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Rule Name</th>
                                    <th>Rule Tag</th>
                                    <th>Allow Multi-Level</th>
                                    <th>Normal Columns</th>
                                    <th>Fuzzy Columns</th>
                                    <th>Process Type</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="value in matchingRule.rules" style="cursor: move;">
                                    <td>{{$index}}</td>
                                    <td>{{value.ruleName}}</td>
                                    <td>{{value.tag}}</td>
                                    <td>{{value.oneToOneMatch}}</td>
                                    <td>{{value.columnDisplayString.normalDiscol}}</td>
                                    <td>{{value.columnDisplayString.fuzzyDisCol}}</td>
                                    <td></td>
                                    <td style="white-space: nowrap">

                                        <!--<button type="button" class="btn btn-sm btn-default" tooltip="Save"
                                                ng-show="value.enableEditing"
                                                ng-click="saveMatchRuleDetails(value,$parent.$parent.$index,$index)"><i
                                                class="fa fa-save fa-lg"></i>
                                        </button>-->

                                        <!--<button type="button" class="btn btn-sm btn-default" tooltip="Cancel"
                                                ng-show="value.enableEditing"
                                                ng-click="cancelMatchRuleDetails($parent.$parent.$index,$index)"><i
                                                class="fa fa-ban fa-lg"></i>
                                        </button>-->

                                        <button type="button" class="btn btn-sm btn-default" tooltip="Edit"
                                                ng-click="openMatchRuleDetailsModal(value,$parent.$parent.$index,$index,'edit')">
                                            <i class="fa fa-pencil fa-lg"></i>
                                        </button>

                                        <button type="button" class="btn btn-sm btn-default" tooltip="Delete"
                                                ng-hide="value.enableEditing"
                                                ng-click="deleteMatchRuleDetails($parent.$parent.$index,$index)">
                                            <i class="fa fa-trash-o fa-lg"></i></button>
                                        <!--</div>-->
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</div>


<div class="form-group row">
    <div class="col-lg-4 col-sm-4">
        <button class="button primary" ng-click="saveReconDetails(recon)"
                data-ng-disabled="selectedBusinessContext == undefined || selectedBusinessContext == null || isEmpty(selectedBusinessContext)">
            Save
        </button>

        <button class="button primary" ng-click="clearReconDetails()">Cancel</button>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12" ng-show="maincond.length != 0 && maincondSplit.length != 0">
        <div class="col-lg-2">
            <button class="button primary"
                    data-ng-disabled="maincond.length == 0 || maincondSplit.length == 0"
                    ng-click="createMatchingRules()"><i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="deleteRecon.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? All the Configurations registered
            under that
            recons also will be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="addMatchingRules.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Add Matching Fields</h4>
    </div>

    <div class="modal-body">
        <div class="form-group row">

            <!-- <label class="col-lg-1 col-sm-1"> Rule Name:</label>-->
            <div class="col-lg-4 col-sm-4">
                <input type="text" class="form-control" data-ng-model="matchRule.ruleName" placeholder="Rule Name"/>
            </div>

            <div class="col-lg-2 col-lg-2">
                <select data-ng-model="matchRule.tag"
                        class="form-control">
                    <option value="">Tag</option>
                    <option value="PERFECT">Perfect</option>
                    <option value="TOLERANCE">Tolerance</option>
                    <option value="RELAXED">Relaxed</option>
                </select>
            </div>

            <div class="col-lg-2 col-lg-2">
                <label>
                    <input class="form-check-input ng-pristine ng-valid" type="checkbox"
                           data-ng-model="matchRule.oneToOneMatch">
                    Allow Multi-Level
                </label>
            </div>
        </div>

        <div ng-repeat="tmpVar in matchRule.sourceMdlField" class="form-group row">

            <div class="col-lg-2 col-sm-2" style="margin-top: 4px; margin-left: 5px">
                <label>{{tmpVar.sourceName}} :</label>
            </div>


            <div class="col-lg-3 col-sm-3">
                <div ng-dropdown-multiselect="" options="tmpVar.mdlFields" selected-model="tmpVar.normalColumns"
                     checkboxes="true"
                     extra-settings="dropDownSetting"></div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div ng-dropdown-multiselect="" options="tmpVar.mdlFields" selected-model="tmpVar.fuzzyColumns"
                     checkboxes="true"
                     extra-settings="dropDownSetting"></div>
            </div>


            <div class="col-lg-3 col-sm-3" ng-show="">
                <div ng-dropdown-multiselect="" options="tmpVar.mdlFields" selected-model="tmpVar.aggrColumns"
                     checkboxes="true"
                     extra-settings="dropDownSetting"></div>
            </div>

            <div class="col-lg-2 col-sm-2">
                <select data-ng-model="tmpVar.sourcePosition" class="form-control">
                    <option value="">Default</option>
                    <option value="1">LHS</option>
                    <option value="2">RHS</option>
                </select>
            </div>

        </div>
    </div>


    <div class="modal-footer">
        <buttons type="button" class="btn btn-primary"
                 ng-click="saveMatchRuleDetails(matchRule)">
            Submit
        </buttons>
        <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="reconCloneTemplate.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to clone the existing recon.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmCloning()">Yes
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>


