<h3 class="text-light" xmlns="http://www.w3.org/1999/html">Static Data Setup<span
        class="fa fa-file-text-o place-right"></span>
</h3>

<hr class="thin bg-grayLighter">


<div class="row form-group">
    <div class="col-lg-12">

        <div class="col-lg-2 col-sm-2" style="padding-top: 5px">
            <select data-ng-model="staticDataType" data-ng-change="getStaticDataValues()"
                    ng-options="val.value as val.label for val in staticDataTypes" class="form-control">
                <option value="">Select option</option>
            </select>
        </div>

        <div class="col-lg-8 col-sm-8">
            <button class="button primary small-button" ng-click="staticDataSetupOptions.addStaticDataValue();"
                    data-ng-disabled="staticDataType == undefined || staticDataType == null || staticDataType == ''"><span
                    class="mif-plus"></span> Add Value
            </button>
        </div>

    </div>
</div>

<hr class="thin bg-grayLighter">

<div>
    <datagrid options="staticDataSetupOptions"></datagrid>
    <!--<table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Static Name</th>
            <th>Static Code</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tr ng-repeat="value in staticDataValues">
            <td>{{$index}}</td>
            <td>{{value.staticName}}</td>
            <td>{{value.staticCode}}</td>
            <td>{{value.description}}</td>

            <td style="width: 10%">
                <button type="button" class="btn btn-sm btn-default" tooltip="Edit"><i
                        class="fa fa-pencil fa-lg" ng-click="addStaticDataValue(value)"></i>
                </button>

                <button type="button" class="btn btn-sm btn-default" tooltip="Delete"
                        ng-click="deleteStaticData(value)"><span
                        class="fa fa-trash-o fa-lg"></span></button>
            </td>
        </tr>

        &lt;!&ndash;<tr ng-show="feedDefination.fieldDetails.length==0 || feedDefination.fieldDetails=='undefined'">
            No data to display.
        </tr>&ndash;&gt;
    </table>-->
</div>


<script type="text/ng-template" id="addStaticDataDetails.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Add Static Data Type</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Name :</label>

                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control"
                           placeholder="Static Name" required
                           ng-model="staticData.staticName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Code :</label>

                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control"
                           placeholder="Static Code"
                           ng-model="staticData.staticCode">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 col-lg-4 control-label">Description :</label>
                <div class="col-sm-4 col-lg-4">
                    <textarea class="form-control" ng-model="staticData.description" rows="3"></textarea>

                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="saveStaticDataParam(staticData)" ng-disabled="addEditForm.$invalid"> Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>


<script type="text/ng-template" id="deleteStaticDataDetails.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
        <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
        <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>