.pagedisplay {display:none;}
                  table#bandwidthTbl { border-collapse: collapse; border: 1px solid #333; }
.btn-frm 
{
	margin-left: 1%;
}
                 .disablingDiv
                 {
                     display: none;
                     z-index:1001;
                     position: absolute;
                     top: 0%;
                     left: 0%;
                     width: 100%;
                     height: 100%;
                     background-color: white;
                     opacity:.00;
                     filter: alpha(opacity=00);
                 }
                 #bootVmSnapImg-popup {
                     left: 60px !important;
                     max-width: 800px !important;
                 }
                 #bootVmSnapImg {
                     max-width: 800px;
                     border: 1px solid #000;
                     border-right: none;
                     background: rgba(0,0,0,.5);
                     margin: -1px 0;
                 }
                 h4{
                     font-weight: bold;
                 }
                 .form-control{
                     width: 35%;
                     display: inline-block;
                     /*margin-top: 1%;*/
                     margin-left: 1%
                 }
                 .btn-default {
                     /*color: #fff;*/
                     background-color: #FDFFFF;
                   /*  border-color: #A5C4EC;*/
                 }


                 a:hover,a:focus{
                     text-decoration: none;
                 }
                 .textcolor .active a{
                     color:#ffffff;
                 }
                 body {
                     height:100%;
                     overflow:auto;
                 }
                 .vertinar {
                     float: left;
                     height:100%;
                     width: 25%;
                     overflow-y: auto;
                     margin-bottom: 25px;
                     z-index: 3003;
                     font-size: 1.2em;
                 }
                 #style-1 li{
                     border-bottom: 1px solid #ddd;
                     border-right: 1px solid #ddd;
                 }
                 .nav-pills>li>a{
                     border-radius: 0px;
                 }
                 #style-1::-webkit-scrollbar-track
                 {
                     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                     border-radius: 10px;
                     background-color: #F5F5F5;
                 }

                 #style-1::-webkit-scrollbar
                 {
                     width: 12px;
                     background-color: #F5F5F5;
                 }

                 #style-1::-webkit-scrollbar-thumb
                 {
                     border-radius: 10px;
                     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                     background-color:#e3e3e3;
                 }
                 .nav-tabs>li>a {
                     margin-right: 0px;
                 }
                 .container {
                     margin-top: 10px;
                     display: table;
                     height: 100%;
                 }
                 .panel-group .panel {
                     margin-bottom: -4px;
                 }
                .nav-pills>li.active>a, .nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
                     border: 1px solid #456f9a /*{b-bar-border}*/;
                     background: #5e87b0 /*{b-bar-background-color}*/;
                     font-weight: bold;
                     background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bar-background-start}*/), to( #497bae /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
                     background-image: -webkit-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
                     background-image: -moz-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* FF3.6 */
                     background-image: -ms-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* IE10 */
                     background-image: -o-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Opera 11.10+ */
                     background-image: linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/);
                 }
                 .displayblock{
                     display:block;
                 }

                 .settingstyle{
                     padding:1px 2px 1px 2px;
                 }


                 .panel{
                     margin-bottom: 0px;
                 }
                 a.button[disabled], a.disabled{
                     background-position: -200px 0px;
                     cursor:default;
                 }
                 /*.navbar{
                     margin-left:25%;
                 }*/
                 a.accordion-toggle.collapsed .divtoggle{
                  background-image: url(../style/img/icons-16-add.png);
                  background-repeat: no-repeat;
                  background-position: left center;
                  padding-left: 20px;
                  padding: 13px 15px;

                 }
                 a.accordion-toggle .divtoggle{
                          background-image: url(../style/img/icons-16-collapse.png);
                          background-repeat: no-repeat;
                          background-position: left center;
                          padding-left: 20px;
                          padding :13px 15px;

                  }
                 a.accordion-toggle.collapsed.divtoggle  {
                       background-image: url(../style/img/icons-16-add.png);
                       background-repeat: no-repeat;
                       background-position: left center;
                       padding-left: 20px;
                       padding: 13px 25px;

                   }
                 a.accordion-toggle.divtoggle {
                     background-image: url(../style/img/icons-16-collapse.png);
                     background-repeat: no-repeat;
                     background-position: left center;
                     padding-left: 20px;
                     padding :13px 25px;

                 }
                 .textstyle{
                    padding-left:8px;
                 }
                 .imgstyle{
                     margin: 0% 11% 0% -14%;
                 }
                 .btn {
                     font-size: 1.0em;
                 }
                 a.accordion-toggle.collapsed .downarrow  {
                     background-image: url(../style/img/icons-16-arrowR.png);
                     background-repeat: no-repeat;
                     background-position: left center;
                     padding: 10px 4px 7px 27px;
                 }
                 a.accordion-toggle .downarrow{
                     background-image: url(../style/img/icons-16-arrowD.png);
                     background-repeat: no-repeat;
                     background-position: left center;
                     padding: 10px 4px 7px 27px;

                 }
                 a:focus{
                     color:#2F3E46;
                 }
                 .badge{
                  color: #0A0A0A;
                  background-color: white;
                 }
                 label.jobshover:hover{
                     cursor:default;
                 }
                 .modal-dialog{
                     padding-top: 10%;
                  
                 }
                 .modal{
                     position:fixed;
                     top:0;
                     right:0;
                     bottom:0;
                     left:0;
                     z-index:10040;
                     display:none;
                     overflow:auto;
                     overflow-y:scroll;
                 }
                 .squaredThree input
                 {
                     width:0px;
                     height:0px;
                     background : transparent;
                 }

.radio .label1:before {
    content: "";
    display: inline-block;
    font-weight:bold;
    width: 16px;
    height: 16px;
    text-color:black;
    position: absolute;
    left: 5px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio .label1:before {
    border-radius: 10px;

}
.radio input[type=radio]:checked + .label1:before {
    content: "\2022";
    background-color:#4596ce ;
    color: #f3f3f3;
    font-size: 1.2em;
    text-align: center;
    text-color:black;
    line-height: 17px;
}

@-moz-document url-prefix() {
    .radio input[type=radio]:checked + .label1:before {
 line-height: 16px;
    }
}

.btn-list-top-set, .btn-list-bottom-set,.btn-list-middle-set{
    border: 1px solid #ccc;
    background:#EEE;
    color:#333;
    margin: 0px auto;
    width: 98%;
    padding: 10px 10px 10px 25px;
    position:relative;
    text-align:  left;
}

.btn-list-top-set{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    border-bottom:none;


}
.btn-list-bottom-set{
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    padding: 10px 10px 10px 25px;


}
.btn-list-middle-set{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;


}
.modal-dialog{
    
}
