body {
	/*font-family: verdana;*/
    font-size:1.4em;
	text-decoration: none;
}
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
a,a:hover {
    color: #2f3e46;
}

.jumbotron {
	margin-top: 20px;
}
.navbarFixedTopHeader, a.list-group-item:hover, a.list-group-item:focus {

	border: 1px solid #456f9a /*{b-bar-border}*/;
	background: #5e87b0 /*{b-bar-background-color}*/;
	color: #fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bar-background-start}*/), to( #497bae /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #56a1f5 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #56a1f5 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #56a1f5 /*{b-bar-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #56a1f5 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #6facd5 /*{b-bar-background-start}*/, #56a1f5 /*{b-bar-background-end}*/);
}
.navbarFixedTopHeader .navbar-nav > li > a {
	outline: none;
    border: 1px solid #044062 /*{b-bup-border}*/;
    background: #396b9e /*{b-bup-background-color}*/;
    font-weight: bold;
    color: #fff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;


}
.navbarFixedTopHeader .navbar-nav > li > a.dropdown-toggle{
    padding: 8px 20px;
}

.navbarFixedTopHeader .nav>li>a:hover, .navbarFixedTopHeader .nav>li>a:focus{
     background-color: transparent;
    color: #EEE;

}
.navbarFixedTopHeader .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbarFixedTopHeader .navbar-nav > .dropdown > a:hover .caret, .navbarFixedTopHeader .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #eee;
	border-bottom-color: #eee;
}
.navbarFixedTopHeader .navbar-nav > .open > a, .navbarFixedTopHeader .navbar-nav > .open > a:hover, .navbarFixedTopHeader .navbar-nav > .open > a:focus {
    border: 1px solid #496b87;
    background: #3a84c3;
    background: -moz-linear-gradient(top, #3a84c3 0%, #419ad6 40%, #219ed3 65%, #3a8bc2 85%, #2b679b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a84c3), color-stop(40%, #419ad6), color-stop(65%, #219ed3), color-stop(85%, #3a8bc2), color-stop(100%, #2b679b));
    background: -webkit-linear-gradient(top, #3a84c3 0%, #419ad6 40%, #219ed3 65%, #3a8bc2 85%, #2b679b 100%);
    background: -o-linear-gradient(top, #3a84c3 0%, #419ad6 40%, #219ed3 65%, #3a8bc2 85%, #2b679b 100%);
    background: -ms-linear-gradient(top, #3a84c3 0%, #419ad6 40%, #219ed3 65%, #3a8bc2 85%, #2b679b 100%);
    background: linear-gradient(to bottom, #3a84c3 0%, #419ad6 40%, #219ed3 65%, #3a8bc2 85%, #2b679b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a84c3', endColorstr='#2b679b', GradientType=0 );
    font-weight: bold;
    color:#ffffff;
}
.navbar-nav.pull-right>li>.dropdown-menu, .navbarFixedTopHeader .dropdown-menu {
    right:auto;
    left: 15px;
}
.navbarFixedTopHeader .dropdown-menu {
    min-width: 150px;
	border: 1px solid #ccc /*{c-bup-border}*/;
	background: #eee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #222 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f1f1f1 /*{c-bup-background-start}*/), to( #EEE /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f1f1f1 /*{c-bup-background-start}*/, #EEE /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #f1f1f1 /*{c-bup-background-start}*/, #EEE /*{c-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #f1f1f1 /*{c-bup-background-start}*/, #EEE /*{c-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #f1f1f1 /*{c-bup-background-start}*/, #EEE /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #f1f1f1 /*{c-bup-background-start}*/, #EEE /*{c-bup-background-end}*/);
}
.navbarFixedTopHeader .dropdown-menu > li > a {
	font-weight: bold;

}
.navbarFixedTopHeader .dropdown-menu > li > a:hover, .navbarFixedTopHeader .dropdown-menu > li > a:focus {
	border: 1px solid #2373a5;
	border-width: 1px 0px;
	background: #5393c5;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px 1px #3373a5;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 /*{global-active-background-start}*/), to( #6facd5 ));
	background-image: -webkit-linear-gradient( #5393c5 /, #6facd5 );
	background-image: -moz-linear-gradient( #5393c5 /, #6facd5 );
	background-image: -ms-linear-gradient( #5393c5, #6facd5 /);
	background-image: -o-linear-gradient( #5393c5, #6facd5);
	background-image: linear-gradient( #5393c5, #6facd5);
}
table.display thead th, table.dataTable thead th {
	cursor: pointer;
	font-weight: bold;
	padding: 3px 18px 3px 10px;
}
table.display td, table.dataTable td {
	padding-left: 10px;
}

.sidebarFixed .list-group-item {
	border: 1px solid #ccc /*{c-bup-border}*/;
	background: #eee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #222 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.sidebarFixed .list-group-item:hover, .sidebarFixed .list-group-item:focus {
	border: 1px solid #bbb /*{c-bhover-border}*/;
	background: #dfdfdf /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #222 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.sidebarFixed .list-group-item.active:hover, .sidebarFixed .list-group-item.active:focus, .sidebarFixed .list-group-item.active {
	border: 1px solid #2373a5 /*{global-active-border}*/;
	background: #5393c5 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #fff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 /*{global-active-background-start}*/), to( #6facd5 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.btn-default{
    border: 1px solid 		#ccc /*{c-bup-border}*/;
    background: 			#eee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}

.btn-default:hover, .btn-default:focus{
    border: 1px solid 		#bbb /*{c-bhover-border}*/;
    background: 			#dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.btn-primary {
    border: 1px solid #044062 /*{b-bup-border}*/;
    background: #396b9e /*{b-bup-background-color}*/;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
    box-shadow: 0px 0px 12px rgba(0,0,0,.6);

}
.btn-primary a{
    color: #FFF;
}
#bvmsimg {
    margin-left: 1%;
}
th {
    text-align: center;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    border: 1px solid #00415e /*{b-bhover-border}*/;
    background: #4b88b6 /*{b-bhover-background-color}*/;
    font-weight: bold;
    color: #fff /*{b-bhover-color}*/;
    text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
h6 {
    margin-top: 1px;
    margin-bottom: 0px
}
.list-group {
    z-index: 1032;
}

.nav-pills>li.active>a{
    background-color: #5e87b0;
}
.logAgentLink{
    position: absolute;
    top:10px;
    right: 20px;
}
.logAgentLink a{
    font-size:  12px;
    color: #eee;
    text-decoration: underline;
    font-weight: normal;
}
.logAgentLink a:hover{
    color: #eee;
    text-decoration: none;
}
 .rightPanelContent{
     padding-top: 65px;
 }
.nav>li.dropdown{
    padding-top: 5px;
    padding-right: 10px;
}

.btn-primary-c{
    border: 1px solid 		#ccc /*{c-bup-border}*/;
    background: 			#eee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}
.btn-primary-c a {
    color: 					#333 /*{d-bup-color}*/;
}
.btn-primary-c-hover, .btn-primary-c:hover, .btn-primary-c:focus{
    border: 1px solid 		#bbb /*{c-bhover-border}*/;
    background: 			#dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: 					#222 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}

.btn-primary-d {
    border: 1px solid 		#bbb /*{d-bup-border}*/;
    background: 			#fff /*{d-bup-background-color}*/;
    font-weight: bold;
    color: 					#333 /*{d-bup-color}*/;
    text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #fff /*{d-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fafafa /*{d-bup-background-start}*/), to( #f6f6f6 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}
.btn-primary-d a {
    color: 					#333;
}
.btn-primary-d-hover, .btn-primary-d:hover, .btn-primary-d:focus{
    border: 1px solid 		#aaa /*{d-bhover-border}*/;
    background: 			#eee /*{d-bhover-background-color}*/;
    font-weight: bold;
    color: 					#333 /*{d-bhover-color}*/;
    cursor: pointer;
    text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 0 /*{d-bhover-shadow-radius}*/ 	#fff /*{d-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #eee /*{d-bhover-background-start}*/), to( #fff /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #eee /*{d-bhover-background-start}*/, #fff /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #eee /*{d-bhover-background-start}*/, #fff /*{d-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #eee /*{d-bhover-background-start}*/, #fff /*{d-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #eee /*{d-bhover-background-start}*/, #fff /*{d-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #eee /*{d-bhover-background-start}*/, #fff /*{d-bhover-background-end}*/);
}


.btn-header-primary, a.btn-header-primary{
    border: 1px solid 		#044062 /*{b-bup-border}*/;
    background: 			#396b9e /*{b-bup-background-color}*/;
    font-weight: bold;
    color: 					#fff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius:4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;

}
.collapsed.btn-header-primary,.btn-header-primary.collapsed {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}
a.btn-header-primary, .btn-header-primary {
    color: 					#fff !important;

}
#accordion5 .nav > li > a:hover, #accordion1 .nav > li > a:focus {
    background: #396b9e !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5), to( #396b9e */)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5f9cc5, #396b9e ) !important; /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient( #5f9cc5, #396b9e ) !important; /* FF3.6 */
    background-image: -ms-linear-gradient( #5f9cc5, #396b9e ) !important; /* IE10 */
    background-image: -o-linear-gradient( #5f9cc5, #396b9e ) !important; /* Opera 11.10+ */
    background-image: linear-gradient( #5f9cc5, #396b9e) !important;
}
.nav > li > a.btn-header-primary:hover, .nav > li > a.btn-header-primary:focus,.btn-header-primary:hover, btn-header-primary:focus  {
    border: 1px solid 		#044062 /*{b-bup-border}*/;
    background: 		#396b9e;
    font-weight: bold;
    color: 					#EEE /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);

}

select.btn-primary-d{
    border-radius:17px;

}

pre{
    border-radius:8px;

}

