.navbar-fixed-top {
	border: 1px solid #456f9a;
	background: #5e87b0;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 1px #3e6790;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5), to( #497bae));
	background-image: -webkit-linear-gradient( #6facd5, #497bae);
	background-image: -moz-linear-gradient( #6facd5, #497bae );
	background-image: -ms-linear-gradient( #6facd5, #497bae);
	background-image: -o-linear-gradient( #6facd5, #497bae );
	background-image: linear-gradient( #6facd5, #497bae);
}
.navbar-header {
	background: none repeat scroll 0 0 #FFFFFF;
}
.navbar-default .navbar-nav>li>a {
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
	background-color: transparent   ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: #FFF;
    text-shadow: none;
}
.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:hover, .navbar-default .navbar-nav>.disabled>a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-default .navbar-link, .navbar-default .navbar-link:hover, .navbar-default .navbar-link:focus{
    color: #fff;
}
tr.odd {
	background-color: #E2E4FF;
}
.btn-default {
	border: 1px solid #ccc;
	background: #eee;
	font-weight: bold;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff ), to( #f1f1f1 ));
	background-image: -webkit-linear-gradient( #fff, #f1f1f1);
	background-image: -moz-linear-gradient( #fff, #f1f1f1 );
	background-image: -ms-linear-gradient( #fff, #f1f1f1);
	background-image: -o-linear-gradient( #fff, #f1f1f1 );
	background-image: linear-gradient( #fff, #f1f1f1 );
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}
.btn-default:hover, .btn-default:focus {
	border: 1px solid #bbb;
	background: #dfdfdf;
	font-weight: bold;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6), to( #e0e0e0));
	background-image: -webkit-linear-gradient( #f6f6f6, #e0e0e0);
	background-image: -moz-linear-gradient( #f6f6f6, #e0e0e0);
	background-image: -ms-linear-gradient( #f6f6f6, #e0e0e0);
	background-image: -o-linear-gradient( #f6f6f6, #e0e0e0);
	background-image: linear-gradient( #f6f6f6, #e0e0e0);
}
.btn-primary {
	border: 1px solid #044062;
	background: #396b9e;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #194b7e;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5), to( #396b9e));
	background-image: -webkit-linear-gradient( #5f9cc5, #396b9e);
	background-image: -moz-linear-gradient( #5f9cc5, #396b9e );
	background-image: -ms-linear-gradient( #5f9cc5, #396b9e);
	background-image: -o-linear-gradient( #5f9cc5, #396b9e);
	background-image: linear-gradient( #5f9cc5, #396b9e);
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px rgba(0,0,0,.6);
}
.btn-primary a {
	color: #FFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	border: 1px solid #00415e;
	background: #4b88b6;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #194b7e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6facd5), to(#4272a4));
	background-image: -webkit-linear-gradient(#6facd5, #4272a4 );
	background-image: -moz-linear-gradient(#6facd5, #4272a4);
	background-image: -ms-linear-gradient(#6facd5, #4272a4 );
	background-image: -o-linear-gradient(#6facd5, #4272a4);
	background-image: linear-gradient(#6facd5, #4272a4);
}
