<div id="header">
    <span class="logo">
        <span># FlowElements</span>
    </span>
    <ul class="header-toolbar">
        <li>
            <span class="deploy-button-group button-group" style="margin-top: 5px;">
                <a id="btn-deploy" class="deploy-button" ng-click="saveFlow()" href="#">
                    <span class="deploy-button-content">
                        <span><i class="fa fa-save"></i> Save</span>
                    </span>
                    <span class="deploy-button-spinner hide"></span>
                </a>
            </span>
        </li>
        <li>
            <span class="deploy-button-group button-group" style="margin-top: 5px;">
                <a id="btn-deploy" class="deploy-button {{deployStatus == '' ? '': 'disabled'}}" ng-click="deployFlow()"
                   href="#">
                    <span class="deploy-button-content ">
                        <span><i class="fa fa-bullseye"></i> Deploy</span>
                    </span>
                    <span class="deploy-button-spinner {{deployStatus == 'started' ? '' : 'hide'}}"><img
                            src="public/red/images/spin.svg"></span>
                </a>
            </span>
        </li>
        <!--<li><a id="btn-sidemenu" class="button" data-toggle="dropdown" href="#"><i class="fa fa-bars"></i></a></li>-->
    </ul>
    <div id="header-shade" class="" ng-style="shadeCheck()"></div>
</div>
<div id="main-container">
    <div id="workspace">
        <div class="red-ui-tabs red-ui-tabs-add red-ui-tabs-scrollable">
            <div class="red-ui-tabs-scroll-container">
                <ul id="workspace-tabs" style="width: 726px;">
                    <li class="red-ui-tab ui-draggable {{flows.active ? 'active':''}}" ng-click="setActiveFlow($index)"
                        style="width: 708px;" ng-repeat="flows in flowelements">
                        <a href="#" class="red-ui-tab-label" ng-dblclick="editFlow($index)" title="{{flows.flowName}}">
                            <span class="bidiAware" dir="">{{flows.flowName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="red-ui-tab-button"><a href="#" ng-click="addFlow()"><i class="fa fa-plus"></i></a></div>
            <!--<div class="red-ui-tab-button red-ui-tab-scroll red-ui-tab-scroll-left"><a href="#" ><i-->
            <!--class="fa fa-caret-left"></i></a></div>-->
            <!--<div class="red-ui-tab-button red-ui-tab-scroll red-ui-tab-scroll-right">-->
            <!--<a href="#"-->
            <!--&gt;<i-->
            <!--class="fa fa-caret-right"></i></a></div>-->
        </div>
        <div id="chartSvg" tabindex="1">
            <flow-chart
                    chart="getChartVariable()"
            >
            </flow-chart>
        </div>
        <div id="workspace-toolbar"></div>
        <div id="workspace-footer">
            <a class="workspace-footer-button" ng-click="zoomOut()" id="btn-zoom-out" href="#"><i
                    class="fa fa-minus"></i></a>
            <a class="workspace-footer-button" ng-click="zoomZero()" id="btn-zoom-zero" href="#"><i
                    class="fa fa-circle-o"></i></a>
            <a class="workspace-footer-button" ng-click="zoomIn()" id="btn-zoom-in" href="#"><i class="fa fa-plus"></i></a>
        </div>
        <div id="editor-shade" class="" ng-style="shadeCheck()"></div>
    </div>
    <div id="editor-stack" ng-show="openEditor">
        <div ng-include="dynamicTemplate"></div>
    </div>
    <div id="palette">
        <!--<img src="red/images/spin.svg" class="palette-spinner "/>-->
        <div id="palette-search" class="palette-search ">
            <input type="text" placeholder="search" ng-model="searchPalette"></input>
        </div>
        <div id="palette-editor">
            <div class="editor-tray-header">
                <div class="editor-tray-titlebar">
                    <ul class="editor-tray-breadcrumbs">
                        <li data-i18n="palette.editor.title"></li>
                    </ul>
                </div>
                <div class="editor-tray-toolbar">
                    <button id="palette-editor-close"
                            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only primary"
                            role="button" aria-disabled="false" data-i18n="common.label.done"></button>
                </div>
            </div>
            <ul id="palette-editor-tabs"></ul>
        </div>
        <div id="palette-container" class="palette-scroll">
            <div id="palette-container-input" class="palette-category palette-close palette-closed"
                 style="display: block;">
                <div id="palette-header-input" class="palette-header"><i class="fa fa-angle-down"></i><span>input</span>
                </div>
                <div class="palette-content" id="palette-base-category-input">
                    <div id="palette-input-input"></div>
                    <div id="palette-input-output"></div>
                    <div id="palette-input-function"></div>
                    <div id="palette-input">
                        <div id="palette_node_{{palettes.name}}"
                             ng-repeat="palettes in nodesData | filter:searchPalette" class="palette_node ui-draggable"
                             style="background-color: {{palettes.color}}; height: 28px;">
                            <div class="palette_label" dir="">{{palettes.name}}</div>
                            <div class="palette_icon_container">
                                <div class="palette_icon" style="background-image: url(public/icons/inject.png)"></div>
                            </div>
                            <div class="palette_port palette_port_output" style="top: 9px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-include="palleteContainer"></div>-->
        <div id="palette-footer">
            <a class="palette-button" id="palette-collapse-all" href="#"><i class="fa fa-angle-double-up"></i></a>
            <a class="palette-button" id="palette-expand-all" href="#"><i class="fa fa-angle-double-down"></i></a>
        </div>
        <div id="palette-shade" ng-style="shadeCheck()"></div>
    </div><!-- /palette -->
    <div id="sidebar">
        <div class="red-ui-tabs">
            <div>
                <ul id="sidebar-tabs">
                    <li class="red-ui-tab" ng-class="{active:infoTabs === 'info'}" ng-click="infoTabs = 'info'" style="width: 46.1661%;"><a href="#" class="red-ui-tab-label"
                                                                              title="info"
                                                                              style=""><span class="bidiAware"
                                                                                             dir="">info</span></a></li>
                    <li class="red-ui-tab" ng-class="{active:infoTabs === 'debug'}" ng-click="infoTabs = 'debug'" style="width: 46.1661%;"><a href="#" class="red-ui-tab-label"
                                                                       title="debug"><span class="bidiAware" dir="">debug</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="sidebar-content">
            <div style="height: 100%; display: block;" ng-show="infoTabs === 'info' && displayNodeInfo">
                <div class="sidebar-node-info" style="padding-top: 4px; padding-left: 4px; padding-right: 4px;">
                    <table class="node-info">
                        <tbody>
                        <tr class="blank">
                            <td colspan="2">Node</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>&nbsp;<span class="bidiAware" dir="">{{displayNodeInfo['name']}}</span></td>
                        </tr>
                        <tr>
                            <td>Class</td>
                            <td>&nbsp;{{displayNodeInfo['className']}}</td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>&nbsp;{{displayNodeInfo['id']}}</td>
                        </tr>
                        <tr class="blank">
                            <td colspan="2">
                                <a href="#" class="node-info-property-header" ng-click="showProperties = !showProperties">
                                    <i ng-show="!showProperties" style="width: 10px; text-align: center;" class="fa fa-caret-right"></i>
                                    <i ng-show="showProperties" style="width: 10px; text-align: center;" class="fa fa-caret-down"></i>
                                Properties
                                </a>
                            </td>
                        </tr>
                        <tr class="node-info-property-row" ng-show="showProperties && displayNodeInfo" ng-repeat="prop in getProperties(displayNodeInfo['name'])">
                            <td>{{prop}}</td>
                            <td>{{displayNodeInfo['properties'][prop]}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="node-help">
                        <span class="bidiAware" dir="" ng-hide="true">
                            <p>Catch errors thrown by nodes on the same tab.</p>
                            <p>If a node throws a error whilst handling a message, the flow will typically
                               halt. This node can be used to catch those errors and handle them with a
                               dedicated flow.</p>
                            <p>The node will catch errors thrown by any node on the same tab. If there
                               are multiple catch nodes on a tab, they will all get triggered.</p>
                            <p>If an error is thrown within a subflow, the error will get handled by any
                               catch nodes within the subflow. If none exists, the error is propagated
                               up to the tab the subflow instance is on.</p>
                            <p>The message sent by this node will be the original message if the node that
                               threw the error provided it. The message will have an <code>error</code>
                               property with the following attributes:
                               </p><ul>
                                <li><code>message</code> : the error message</li>
                                <li><code>source.id</code> : the id of the node that threw the error</li>
                                <li><code>source.type</code> : the type of the node that threw the error</li>
                                <li><code>source.name</code> : the name, if set, of the node that threw the error</li>
                               </ul>
                           <p></p>
                           <p>If the message already had a <code>error</code> property, it is copied to <code>_error</code>.</p>
                        </span>
                    </div>
                </div>
            </div>
            <div style="height: 100%; display: block;" ng-show="infoTabs === 'debug'">

            </div>
        </div>
        <div id="sidebar-footer"></div>
        <div id="sidebar-shade" class="" style="display: none"></div>
    </div>

    <div id="sidebar-separator"></div>

</div>