<div id="palette-container" class="palette-scroll">
    <div id="palette-container-subflows" class="palette-category palette-close hide">
        <div id="palette-header-subflows" class="palette-header"><i
                class="expanded fa fa-angle-down"></i><span>subflows</span></div>
        <div class="palette-content" id="palette-base-category-subflows">
            <div id="palette-subflows-input"></div>
            <div id="palette-subflows-output"></div>
            <div id="palette-subflows-function"></div>
        </div>
    </div>
    <div id="palette-container-input" class="palette-category palette-close hide palette-closed"
         style="display: block;">
        <div id="palette-header-input" class="palette-header"><i class="fa fa-angle-down"></i><span>input</span></div>
        <div class="palette-content" id="palette-base-category-input" style="display: none;">
            <div id="palette-input-input"></div>
            <div id="palette-input-output"></div>
            <div id="palette-input-function"></div>
            <div id="palette-input">
                <div id="palette_node_inject" class="palette_node ui-draggable"
                     style="background-color: rgb(166, 187, 207); height: 28px;">
                    <div class="palette_label" dir="">inject</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/inject.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_catch" class="palette_node ui-draggable"
                     style="background-color: rgb(228, 145, 145); height: 28px;">
                    <div class="palette_label" dir="">catch</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/alert.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_status" class="palette_node ui-draggable"
                     style="background-color: rgb(192, 237, 192); height: 28px;">
                    <div class="palette_label" dir="">status</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/alert.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_link_in" class="palette_node ui-draggable"
                     style="background-color: rgb(221, 221, 221); height: 28px;">
                    <div class="palette_label" dir="">link</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/link-out.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_mqtt_in" class="palette_node ui-draggable"
                     style="background-color: rgb(216, 191, 216); height: 28px;">
                    <div class="palette_label" dir="">mqtt</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/bridge.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_http_in" class="palette_node ui-draggable"
                     style="background-color: rgb(231, 231, 174); height: 28px;">
                    <div class="palette_label" dir="">http</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/white-globe.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_websocket_in" class="palette_node ui-draggable"
                     style="background-color: rgb(215, 215, 160); height: 28px;">
                    <div class="palette_label" dir="">websocket</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/white-globe.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_tcp_in" class="palette_node ui-draggable"
                     style="background-color: silver; height: 28px;">
                    <div class="palette_label" dir="">tcp</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/bridge-dash.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_udp_in" class="palette_node ui-draggable"
                     style="background-color: silver; height: 28px;">
                    <div class="palette_label" dir="">udp</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/bridge-dash.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="palette-container-output" class="palette-category palette-close hide palette-closed"
         style="display: block;">
        <div id="palette-header-output" class="palette-header"><i class="fa fa-angle-down"></i><span>output</span></div>
        <div class="palette-content" id="palette-base-category-output" style="display: none;">
            <div id="palette-output-input"></div>
            <div id="palette-output-output"></div>
            <div id="palette-output-function"></div>
            <div id="palette-output">
                <div id="palette_node_debug" class="palette_node ui-draggable"
                     style="background-color: rgb(135, 169, 128); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">debug</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/debug.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_link_out" class="palette_node ui-draggable"
                     style="background-color: rgb(221, 221, 221); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">link</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/link-out.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_mqtt_out" class="palette_node ui-draggable"
                     style="background-color: rgb(216, 191, 216); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">mqtt</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/bridge.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_http_response" class="palette_node ui-draggable"
                     style="background-color: rgb(231, 231, 174); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">http response</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/white-globe.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_websocket_out" class="palette_node ui-draggable"
                     style="background-color: rgb(215, 215, 160); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">websocket</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/white-globe.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_tcp_out" class="palette_node ui-draggable"
                     style="background-color: silver; height: 28px;">
                    <div class="palette_label palette_label_right" dir="">tcp</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/bridge-dash.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_udp_out" class="palette_node ui-draggable"
                     style="background-color: silver; height: 28px;">
                    <div class="palette_label palette_label_right" dir="">udp</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/bridge-dash.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="palette-container-function" class="palette-category palette-close hide palette-closed"
         style="display: block;">
        <div id="palette-header-function" class="palette-header"><i class="fa fa-angle-down"></i><span>function</span>
        </div>
        <div class="palette-content" id="palette-base-category-function" style="display: none;">
            <div id="palette-function-input"></div>
            <div id="palette-function-output"></div>
            <div id="palette-function-function"></div>
            <div id="palette-function">
                <div id="palette_node_function" class="palette_node ui-draggable"
                     style="background-color: rgb(253, 208, 162); height: 28px;">
                    <div class="palette_label" dir="">function</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/function.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_template" class="palette_node ui-draggable"
                     style="background-color: rgb(243, 181, 103); height: 28px;">
                    <div class="palette_label" dir="">template</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/template.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_delay" class="palette_node ui-draggable"
                     style="background-color: rgb(230, 224, 248); height: 28px;">
                    <div class="palette_label" dir="">delay</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/timer.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_trigger" class="palette_node ui-draggable"
                     style="background-color: rgb(230, 224, 248); height: 28px;">
                    <div class="palette_label" dir="">trigger</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/trigger.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_comment" class="palette_node ui-draggable"
                     style="background-color: rgb(255, 255, 255); height: 28px;">
                    <div class="palette_label" dir="">comment</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/comment.png)"></div>
                    </div>
                </div>
                <div id="palette_node_http_request" class="palette_node ui-draggable"
                     style="background-color: rgb(231, 231, 174); height: 28px;">
                    <div class="palette_label" dir="">http request</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/white-globe.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_tcp_request" class="palette_node ui-draggable"
                     style="background-color: silver; height: 28px;">
                    <div class="palette_label" dir="">tcp request</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/bridge-dash.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_switch" class="palette_node ui-draggable"
                     style="background-color: rgb(226, 217, 110); height: 28px;">
                    <div class="palette_label" dir="">switch</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/switch.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_change" class="palette_node ui-draggable"
                     style="background-color: rgb(226, 217, 110); height: 28px;">
                    <div class="palette_label" dir="">change</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/swap.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_range" class="palette_node ui-draggable"
                     style="background-color: rgb(226, 217, 110); height: 28px;">
                    <div class="palette_label" dir="">range</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/range.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_split" class="palette_node ui-draggable"
                     style="background-color: rgb(226, 217, 110); height: 28px;">
                    <div class="palette_label" dir="">split</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/split.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_join" class="palette_node ui-draggable"
                     style="background-color: rgb(226, 217, 110); height: 28px;">
                    <div class="palette_label" dir="">join</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/join.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_csv" class="palette_node ui-draggable"
                     style="background-color: rgb(222, 189, 92); height: 28px;">
                    <div class="palette_label" dir="">csv</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/parser-csv.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_html" class="palette_node ui-draggable"
                     style="background-color: rgb(222, 189, 92); height: 28px;">
                    <div class="palette_label" dir="">html</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/parser-html.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_json" class="palette_node ui-draggable"
                     style="background-color: rgb(222, 189, 92); height: 28px;">
                    <div class="palette_label" dir="">json</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/parser-json.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_xml" class="palette_node ui-draggable"
                     style="background-color: rgb(222, 189, 92); height: 28px;">
                    <div class="palette_label" dir="">xml</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/parser-xml.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_yaml" class="palette_node ui-draggable"
                     style="background-color: rgb(222, 189, 92); height: 28px;">
                    <div class="palette_label" dir="">yaml</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/parser-yaml.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_rbe" class="palette_node ui-draggable"
                     style="background-color: rgb(226, 217, 110); height: 28px;">
                    <div class="palette_label" dir="">rbe</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/rbe.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="palette-container-social" class="palette-category palette-close hide palette-open" style="display: block;">
        <div id="palette-header-social" class="palette-header"><i
                class="expanded fa fa-angle-down"></i><span>social</span></div>
        <div class="palette-content" id="palette-base-category-social" style="">
            <div id="palette-social-input">
                <div id="palette_node_e-mail_in" class="palette_node ui-draggable"
                     style="background-color: rgb(199, 233, 192); height: 28px;">
                    <div class="palette_label" dir="">e mail</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/envelope.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_twitter_in" class="palette_node ui-draggable"
                     style="background-color: rgb(192, 222, 237); height: 28px;">
                    <div class="palette_label" dir="">twitter</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/twitter.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
            </div>
            <div id="palette-social-output">
                <div id="palette_node_e-mail" class="palette_node ui-draggable"
                     style="background-color: rgb(199, 233, 192); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">e mail</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/envelope.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_twitter_out" class="palette_node ui-draggable"
                     style="background-color: rgb(192, 222, 237); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">twitter</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/twitter.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
            <div id="palette-social-function"></div>
        </div>
    </div>
    <div id="palette-container-mobile" class="palette-category palette-close hide">
        <div id="palette-header-mobile" class="palette-header"><i
                class="expanded fa fa-angle-down"></i><span>mobile</span></div>
        <div class="palette-content" id="palette-base-category-mobile">
            <div id="palette-mobile-input"></div>
            <div id="palette-mobile-output"></div>
            <div id="palette-mobile-function"></div>
        </div>
    </div>
    <div id="palette-container-storage" class="palette-category palette-close hide" style="display: block;">
        <div id="palette-header-storage" class="palette-header"><i
                class="expanded fa fa-angle-down"></i><span>storage</span></div>
        <div class="palette-content" id="palette-base-category-storage">
            <div id="palette-storage-input">
                <div id="palette_node_tail" class="palette_node ui-draggable"
                     style="background-color: burlywood; height: 28px;">
                    <div class="palette_label" dir="">tail</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/file.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_file_in" class="palette_node ui-draggable"
                     style="background-color: burlywood; height: 28px;">
                    <div class="palette_label" dir="">file</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/file.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_mongodb_in" class="palette_node ui-draggable"
                     style="background-color: rgb(218, 196, 180); height: 28px;">
                    <div class="palette_label" dir="">mongodb</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/mongodb.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
            <div id="palette-storage-output">
                <div id="palette_node_file" class="palette_node ui-draggable"
                     style="background-color: burlywood; height: 28px;">
                    <div class="palette_label palette_label_right" dir="">file</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/file.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
                <div id="palette_node_mongodb_out" class="palette_node ui-draggable"
                     style="background-color: rgb(218, 196, 180); height: 28px;">
                    <div class="palette_label palette_label_right" dir="">mongodb</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/mongodb.png)"></div>
                    </div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
            <div id="palette-storage-function"></div>
        </div>
    </div>
    <div id="palette-container-analysis" class="palette-category palette-close hide" style="display: block;">
        <div id="palette-header-analysis" class="palette-header"><i
                class="expanded fa fa-angle-down"></i><span>analysis</span></div>
        <div class="palette-content" id="palette-base-category-analysis">
            <div id="palette-analysis-input"></div>
            <div id="palette-analysis-output"></div>
            <div id="palette-analysis-function">
                <div id="palette_node_sentiment" class="palette_node ui-draggable"
                     style="background-color: rgb(230, 224, 248); height: 28px;">
                    <div class="palette_label" dir="">sentiment</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/arrow-in.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="palette-container-advanced" class="palette-category palette-close hide" style="display: block;">
        <div id="palette-header-advanced" class="palette-header"><i
                class="expanded fa fa-angle-down"></i><span>advanced</span></div>
        <div class="palette-content" id="palette-base-category-advanced">
            <div id="palette-advanced-input">
                <div id="palette_node_watch" class="palette_node ui-draggable"
                     style="background-color: burlywood; height: 28px;">
                    <div class="palette_label" dir="">watch</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/watch.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
                <div id="palette_node_feedparse" class="palette_node ui-draggable"
                     style="background-color: rgb(192, 222, 237); height: 28px;">
                    <div class="palette_label" dir="">feedparse</div>
                    <div class="palette_icon_container">
                        <div class="palette_icon" style="background-image: url(icons/feed.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                </div>
            </div>
            <div id="palette-advanced-output"></div>
            <div id="palette-advanced-function">
                <div id="palette_node_exec" class="palette_node ui-draggable"
                     style="background-color: darksalmon; height: 28px;">
                    <div class="palette_label palette_label_right" dir="">exec</div>
                    <div class="palette_icon_container palette_icon_container_right">
                        <div class="palette_icon" style="background-image: url(icons/arrow-in.png)"></div>
                    </div>
                    <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    <div class="palette_port palette_port_input" style="top: 9px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>