<!--<script type="text/javascript">-->
    <!--<div preloaderdirective> </div>-->
<!--</script>-->
    <div >
        <div class="editor-tray ui-draggable" style="width: 500px; right: 0px; transition: right 0.25s ease;">
            <div class="editor-tray-header">
                <div class="editor-tray-titlebar">
                    <ul class="editor-tray-breadcrumbs">
                        <li>Edit CSVFlow node</li>
                    </ul>
                </div>
                <div class="editor-tray-toolbar">
                    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only leftButton"
                            role="button" aria-disabled="false" id="node-dialog-delete" ng-click="close('delete')">
                        Delete
                    </button>
                    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"
                            ng-click="close('cancel')"
                            aria-disabled="false">Cancel
                    </button>
                    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only primary"
                            role="button" aria-disabled="false" ng-click="close('done');save(PreLoader);">Done
                    </button>
                </div>
            </div>
            <div class="editor-tray-body-wrapper" style="min-width: 460px; height: 100%;">
                <div class="editor-tray-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span
                            >Feed Pattern</span></label>
                            <input type="text" ng-model="PreLoader.feedPattern"
                                   dir="" placeholder="Feed Pattern">
                        </div>

                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>Load Type</span></label>
                            <input type="text" ng-model="PreLoader.loadType"
                                   dir="" placeholder="Load Type">
                        </div>
                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>Feed Filters</span></label>
                            <input type="text" ng-model="PreLoader.feedFilters"
                                   dir="" placeholder="Feed Filters">
                        </div>

                        <div class="form-row">
                            <a href="" class="editor-button" ng-click="addfilter(PreLoader.feedFilters)">Add Filter</a>
                        </div>


                        <div class="form-row" ng-repeat="val in feedFilters track by $index">
                            <i> * </i>{{val}}
                        </div>

                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>source</span></label>
                            <input type="text" ng-model="PreLoader.source"
                                   dir="" placeholder="source">
                        </div>

                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>delimiter</span></label>
                            <input type="text" ng-model="PreLoader.feedParams.delimiter"
                                   dir="" placeholder="Delimiter">
                        </div>

                        <div class="form-row">

                            <label><i class="fa fa-tag"></i> <span>Type</span></label>
                            <input type="text" ng-model="PreLoader.feedParams.type"
                                   dir="" placeholder="Type">
                        </div>

                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>FeedFormat</span></label>
                            <input type="text" ng-model="PreLoader.feedParams.feedformatFile"
                                   dir="" placeholder="FeedFormatFile">
                        </div>

                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>skiprows</span></label>
                            <input type="text" ng-model="PreLoader.feedParams.skiprows"
                                   dir="" placeholder="SkipRows">
                        </div>

                        <div class="form-row">
                            <label><i class="fa fa-tag"></i> <span>Result</span></label>
                            <input type="text" ng-model="PreLoader.resultkey"
                                   dir="" placeholder="Result Key">
                        </div>

                    </form>
                </div>
            </div>
            <div class="editor-tray-footer"></div>
            <div class="editor-tray-resize-handle"></div>
        </div>
    </div>

