<h3 class="text-light">API Key</h3>
<hr class="thin bg-grayLighter">
<button class="button info" ng-click="syncLicense()"><span class="mif-loop2"></span> Sync</button>
<hr class="thin bg-grayLighter">
<div class="well">
    {{ credentials.apiKey }}
</div>