

<section class="content">
    <div class="row">
        <div class="col-md-1 col-lg-1">
        </div>
        <div class="col-md-9 col-lg-9">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <div id="tooltip" style="position:absolute;
display:none;background-color:white;border:solid 1px gray;padding:5px;z-index:50;">
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div>

        <div class="col-md-1 col-lg-1">
        </div>
    </div>
</section><!-- /.content -->

<script type="text/ng-template" id="addEvent.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">{{modalHeader}} Events</h4>
    </div>

        <form class="form-horizontal" role="form" name="addEditForm">
            <div class="modal-body">
                <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                     ng-show="formValidation.isNotValid">
                    <span class="icon-sign"></span>
                    <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                    <span class="alertContent">{{formValidation.message}}</span>
                </div>

                <div class="form-group">
                    <label for="urole" class="col-sm-4 col-lg-4 control-label" id="reconName">Recon Name</label>

                    <div class="col-sm-6 col-lg-6">
                        <div
                                isteven-multi-select
                                input-model="reconDetails"
                                output-model="eventDescription.selectedRecons"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                        >
                        </div>

                        <!-- <select class="button form-control" ng-model="event.RECON_ID" required name="reconName"
                                 ng-options="val.RECON_ID as val.RECON_NAME for val in reconDetails"
                         >
                             <option value="">Select</option>
                         </select>-->
                    </div>
                </div>

                <div class="form-group">
                    <label for="urole" class="col-sm-4 col-lg-4 control-label" id="decID">Description</label>
                    <div class="col-sm-6 col-lg-6">
                        <input class="form-control" ng-model="eventDescription.title" required name="decID">
                        </input>
                    </div>
                </div>

            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    ng-click="addEvent(eventDescription)"
                    data-ng-disabled="eventDescription['title'] == undefined || (eventDescription['selectedRecons'] == undefined || eventDescription['selectedRecons'].length == 0)">
                Save Event
            </button>

            <button type="button" class="btn btn-primary"
                    ng-click="deleteEvent()"
                    data-ng-show="modalHeader != undefined && modalHeader == 'Edit'">
                Delete Event
            </button>

            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>


    </div>
</script>
