<!-- Content Header (Page header) -->

<section class="content">
    <div class="row">
        <div class="col-md-1 col-lg-1">
        </div>
        <div class="col-md-9 col-lg-9">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <div id="tooltip" style="position:absolute;
display:none;background-color:white;border:solid 1px gray;padding:5px;z-index:50;">
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div>

        <div class="col-md-1 col-lg-1">
        </div>
    </div>
</section><!-- /.content -->
<script type="text/ng-template" id="reminderTemplate.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <!--<h3><i class="fa fa-user"></i> Message</h3>-->
        <div class="row">
            <div class="col-lg-2">
                <img src="/app/components/Customers/img/{{rem.image}}"
                     class="img-circle leadViewImg img-responsive" alt="{{rem.leadName}}">
            </div>
            <div class="col-lg-4">
                <h3>{{rem.leadName}}</h3>
            </div>
        </div>
    </div>
    <form class="fieldsetWrap" name="createClient" novalidate>
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid"><span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <label class="col-lg-3">{{resources.reminderName}}</label>

                    <div class="col-lg-6">
                        <input class="input fullWidth form-control" data-ng-model="rem.reminderName"
                               placeholder="{{resources.reminderName}}"
                               maxlength="255" type="text" required>
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <label class="col-lg-3">{{resources.startDate}}</label>

                    <div class="col-lg-6">
                        <div class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                <div class="input-group height38">
                                    <span class="input-group-addon">{{rem.reminderfromDate | date:'MMMM d, y hh:mm a'}}</span>
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-calendar pull-right"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker on-set-time="callback(rem.reminderfromDate)"
                                                data-ng-model="rem.reminderfromDate"
                                                data-datetimepicker-config="{ startView:'day',  minView:'minute', minuteStep: 15 }"
                                                data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <!--<div ng-include="reminderEditForm"></div>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal"
                    ng-click='setReminder(rem)'>{{resources.set}}
            </button>
            <!--<button class="btn" data-dismiss="modal" data-ng-click="cancel()" aria-hidden="true">{{resources.close}}</button>-->
        </div>
    </form>
</script>