<div class="tabcontrol" ng-hide="addEdit" data-role="tabcontrol" ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li><a href="#uploadFile" ng-click="">Upload Input File</a></li>
        <li><a href="#customReports" ng-click="_getMhadaReport()">Reports</a></li>
        <li><a href="#rbdatas" ng-click="rbDatasTableOptions()">NPCI UPI Format Export</a></li>
        <li><a href="#rbacqdatas" ng-click="rbAcqDatasTableOptions()">NPCI UPI Acquirer Format Export</a></li>
	 <li><a href="#rbchargeback" ng-click="rbAcqDatasTableOptions()">ChargeBack</a></li>

    </ul>
    <div class="frames">
		<div class="frame" id="uploadFile" style="min-height: 400px">
			<div class="form-group">
				<label for="file" class="col-sm-2 col-lg-2 control-label">Upload :</label>
				<div class="col-sm-4 col-lg-4">
					<input type="file" name="file" ng-class="form-control" data-ng-model="files" accept=".zip" onchange="angular.element(this).scope().upload(this.files)"/>
				</div>
				




			</div>
		</div>	
        <div class="frame" id="customReports" style="min-height: 400px">
            <div class="row form-group">
                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date
                    :</label>
                <div class="col-sm-2 col-lg-2">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="statementDate"
                           ng-model="statementDate"
                           is-open="opened1"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>
                <div class="col-lg-2">
                    <button class="button primary"
                            ng-click="genReport(statementDate)" ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''">
                        Generate Report
                    </button>
                </div>
                <div class="pull-right">
                    <button class="button primary"
                            data-ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''"
                            ng-click="onReportExport(statementDate)">Export CSV
                    </button>
		    <a class="button info" href="/error_logs/" target="_blank">Log Files</a>
                </div>
	    
	
	</div>
        </div>
        <div class="frame" id="rbdatas"  style="min-height: 500px;">
			<label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Select Date:</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="rbTransDate"
                           ng-model="rbTransDate"
                           is-open="opened1rb"
                           datepicker-options="rbDateOptions"
                           close-text="Close"/>
            </div>
            <button type="button" class="btn btn-primary" ng-click="getRBDatas(rbTransDate)">Get RB Datas</button> </br></br>
            <button type="button" class="btn btn-primary" ng-if="rbRecords.length > 0" ng-csv="rbRecordsCsv" filename="{{rbRecords[0].filename}}" csv-header="['bankadjref','flag','shtdat','adjamt','shser','shcrd','filename','reason','specifyother']" charset="utf-8"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</button>

	  <table class="dataTable border bordered no-footer" style="table-layout: fixed">
                <thead>
                <tr role="row">
			<th style="width: 4%;">#</th>
                    <th style="width: 10%;">bankadjref</th><th style="width: 7%;">flag</th><th style="width: 6%;">shtdat</th>
                    <th style="width: 6%;">adjamt</th><th style="width: 10%;">shser</th><th style="width: 10%;">shcrd</th>
                    <th style="width: 10%;">filename</th><th style="width: 30%;">reason & specifyother</th>
                </tr>
                </thead>
                <tbody style="word-wrap: break-word;overflow-wrap: break-word;">
                <tr ng-repeat="row in rbRecords track by $index">
		    <td>{{$index+1}}</td>
                    <td>{{row.bankadjref}}</td>
                    <!--td><select ng-model="row.flag" ng-change="updateRecordChange(row, $index)" ng-options="flag.name as flag.name for flag in flags"></select></td-->
                    <td><select ng-model="row.flag" ng-change="updateFlagRecordChange(row, $index)" ng-options="k as k for (k,v) in flags_"></select></td>
                    <td>{{row.shtdat}}</td>
                    <td>{{row.adjamt}}</td>
                    <td>{{row.shser}}</td>
                    <td>{{row.shcrd}}</td>
                    <td>{{row.filename}}</td>
                    <td><select ng-model="row.reason" ng-change="updateRecordChange(row, $index)" ng-options="data.id as data.id+' - '+data.name for data in row['$$flags_x']"></select></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="frame" id="rbacqdatas"  style="min-height: 500px;">
	    <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Select Date:</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="rbAcqTransDate"
                           ng-model="rbAcqTransDate"
                           is-open="opened1rba"
                           datepicker-options="rbAcqDateOptions"
                           close-text="Close"/>
            </div>
            <button type="button" class="btn btn-primary" ng-click="getRBAcqDatas(rbAcqTransDate)">Get RB Acq Datas</button> </br></br>
            <button type="button" class="btn btn-primary" ng-if="rbAcqRecords.length > 0" ng-csv="rbAcqRecordsCsv" filename="{{rbAcqRecords[0].filename}}" csv-header="['bankadjref','flag','shtdat','adjamt','shser','shcrd','filename','reason','specifyother']" charset="utf-8"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</button>
	  <table class="dataTable border bordered no-footer" style="table-layout: fixed">
                <thead>
                <tr role="row">
			<th style="width: 4%;">#</th>
                    <th style="width: 10%;">bankadjref</th><th style="width: 7%;">flag</th><th style="width: 6%;">shtdat</th>
                    <th style="width: 6%;">adjamt</th><th style="width: 10%;">shser</th><th style="width: 10%;">shcrd</th>
                    <th style="width: 10%;">filename</th><th style="width: 30%;">reason & specifyother</th>
                </tr>
                </thead>
                <tbody style="word-wrap: break-word;overflow-wrap: break-word;">
                <tr ng-repeat="row in rbAcqRecords track by $index">
					<td>{{$index+1}}</td>
                    <td>{{row.bankadjref}}</td>
                    <td>{{row.flag}}</td>
                    <td>{{row.shtdat}}</td>
                    <td>{{row.adjamt}}</td>
                    <td>{{row.shser}}</td>
                    <td>{{row.shcrd}}</td>
                    <td>{{row.filename}}</td>
                    <td><select ng-model="row.reason" ng-change="updateAcqRecordChange(row)" ng-options="data.id as data.id+' - '+data.name for data in aflagDatas | filter:{target:rbAcqRecords[$index].flag}"></select></td>
                </tr>
                </tbody>
            </table>
        </div>

<div class="frame" id="rbchargeback"  style="min-height: 500px;">
            <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Select Date:</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="chargeBackDate"
                           ng-model="chargeBackDate"
                           is-open="opened1rch"
                           datepicker-options="rbChargeBackDateOptions"
                           close-text="Close"/>
            </div>
	 <div class="col-lg-2">
                    <button class="button primary"
                            ng-click="chargeback(chargeBackDate)" ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || chargeBackDate == undefined ||chargeBackDate == null || chargeBackDate == ''">
                        Run ChargeBack
                    </button>
         </div>
	
	<label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Select ChargeBack Status:</label>
            <div class="col-sm-2 col-lg-2">
		<select ng-model='chargebackstatusvalues'>
		<option ng-repeat="x in chargebackvalues">{{x}}</option>
		<select>
 
            </div>
         <div class="col-lg-2">
                    <button class="button primary"
                            ng-click="getchargeRecords(chargebackstatusvalues)" ng-disabled="chargebackstatusvalues == undefined || chargebackstatusvalues == null ||
                            chargebackstatusvalues == '' ">
                        Get ChargeBack Data
                    </button>
         </div>





         <table class="dataTable border bordered no-footer" style="table-layout: fixed" ng-if="showtable">
                <thead>
                <tr role="row">
                        <th style="width: 4%;">#</th>
                    <th style="width: 10%;">ACCOUNT NUMBER</th><th style="width: 10%;">BranchCode</th>
		    <th style="width: 7%;">UPI RRN</th><th style="width: 6%;">TransactionDate</th><th style="width: 10%;">AMOUNT</th>
                    <th style="width: 6%;">Status</th>
                </tr>
                </thead>
                <tbody style="word-wrap: break-word;overflow-wrap: break-word;">
                <tr ng-repeat="rows in chargeRecords track by $index">
                                        <td>{{$index+1}}</td>
                   
		   <td>{{rows['ACCOUNT NUMBER']}}</td>
                    <td>{{rows['BRANCH CODE']}}</td>
                    <td>{{rows['UPI RRN']}}</td>
                    <td>{{rows['TransactionDate']}}</td>
                    <td>{{rows['AMOUNT']}}</td>
                    <td>{{rows['status']}}</td>
                    

                </tr>
                </tbody>
            </table>
     

 
	




     </div>
    </div>
</div>
