<div class="tabcontrol" data-role="tabcontrol">
    <ul class="tabs">
        <li class="active"><a href="#summarydashboard" ng-click="getsummary()">Recon Summary</a></li>
        <li><a href="#outstanding" ng-click="getBCId();resetDataDashboardOut()">Outstanding Amount Analysis</a></li>
        <li><a href="#transaction" ng-click="getMetaBCId();resetDataDashboardTrn();">Transaction Status Analysis</a></li>
        <li><a href="#aging" ng-click="agingReport()">Ageing Analysis</a></li>
        <li><a href="#trend" ng-click="trendReport()">Trend Analysis</a></li>
        <li><a href="#pinnedcharts" ng-click="getPinnedCharts()">User Pinned Charts</a></li>
        <li><a href="#exesummary" ng-click="getexecutionsummary()">Execution Summary</a></li>
    </ul>
    <div class="frames">
        <div class="frame" id="summarydashboard">
            <div class="row form-group">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-2">
                    <input class="form-control pull-right" placeholder="Filter..." type="text" ng-model="filterValue"
                           ng-change="onFilterChangedSum(filterValue)">
                </div>
                <div class="col-lg-2">
                    <button class="button primary" data-ng-disabled="SumgridOptions['rowData'].length == 0"
                            ng-click="onBtExportSummary()">Export CSV
                    </button>
                </div>
            </div>
            <div>
                <div id="myGrid" style="width: 100%; height: 750px;"
                     ag-grid="SumgridOptions"
                     class="ag-blue">
                </div>
            </div>
        </div>
        <div class="frame" id="outstanding">
            <div class="row form-group">
                <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Workpool name :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class=" control-label form-control" ng-model="bcId" ng-change="getRecons(bcId)" required
                            ng-options="val.BUSINESS_CONTEXT_ID as val.WORKPOOL_NAME for val in businessContextId | unique:'BUSINESS_CONTEXT_ID'"
                            >
                        <option value="">All</option>
                    </select>
                </div>
                <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">Recons :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class=" form-control" ng-model="rcId" required ng-change="getSourceName(rcId)"
                            name="reconId"
                            ng-options="val.RECON_ID as val.RECON_NAME for val in reconId"
                            >
                        <option value="">All</option>
                    </select>
                </div>
                <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Source Name :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class=" form-control" ng-model="srcName" required ng-change="getAccount(srcName)"
                            name="srcName"
                            ng-options="val.SOURCE_NAME as val.SOURCE_NAME for val in sourceNameArray"
                            >
                        <option value="">All</option>
                    </select>
                </div>
                <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Account Name :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class=" form-control" ng-model="acName" required ng-change="getTxn(acName)" name="acName"
                            ng-options="val.ACCOUNT_NAME as val.ACCOUNT_NAME for val in accountNameArray"
                            >
                        <option value="">All</option>
                    </select>
                </div>
                <!--<label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Matching Status :</label>-->

                <!--<div class="col-sm-2 col-lg-2">-->
                    <!--<select class=" form-control" ng-model="rsId" required name="reconStatus"-->
                            <!--ng-options="val.RECONCILIATION_STATUS as val.RECONCILIATION_STATUS for val in reconStatusId"-->
                            <!--&gt;-->
                        <!--<option value="">All</option>-->
                    <!--</select>-->
                <!--</div>-->
            </div>
            <br>

            <div class="form-group">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <div id="container"
                             style="min-width: 310px; height: 400px; max-width: 1200px; margin: 0 auto"></div>
                        <!--<button id="button" class="autocompare">Toggle Amount</button>-->
                        <button id="pinChart" ng-click="pinThisChart()">Pin this chart</button>
                        <!--<button id="togglegrid" ng-click="toggleGrid()">Toggle Grid</button>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <div id="myGrid" style="min-width: 310px; height: 400px; max-width: 1200px; margin: 0 auto"
                             ag-grid="dashboardGridOptions"
                             class="ag-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame" id="transaction">
            <div class="row form-group">
                <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Workpool name :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class=" control-label form-control" ng-model="metaBcId" ng-change="getMetaRecons(metaBcId)"
                            required
                            ng-options="val.BUSINESS_CONTEXT_ID as val.WORKPOOL_NAME for val in metaBusinessContextId | unique:'BUSINESS_CONTEXT_ID'"
                            >
                        <option value="">All</option>
                    </select>
                </div>
                <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">Recons :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class=" form-control" ng-model="metaRcId" required ng-change="getMetaSourceName(metaRcId)"
                            ng-options="val.RECON_ID as val.RECON_NAME for val in metaReconId"
                            >
                        <option value="">All</option>
                    </select>
                </div>

                <!--<label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Matching Status :</label>-->

                <!--<div class="col-sm-2 col-lg-2">-->
                    <!--<select class=" form-control" ng-model="metaSrcName" required-->
                            <!--ng-change="getMetaReconStatus(metaSrcName)"-->
                            <!--name="sourceName"-->
                            <!--ng-options="val.SOURCE_NAME as val.SOURCE_NAME for val in metaSourceName"-->
                            <!--&gt;-->
                        <!--<option value="">All</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Matching Status :</label>
                <div class="col-sm-2 col-lg-2">
                    <select class=" form-control" ng-model="metaRsId" required name="reconStatus"
                            ng-options="val.TXN_MATCHING_STATUS as val.TXN_MATCHING_STATUS for val in metaTxnMatchStatusId"
                            >
                        <option value="">All</option>
                    </select>
                </div>-->
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <div id="metaContainer"
                             style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
                        <!--<button id="metaButton" class="">Toggle Amount</button>-->
                        <button
                                ng-click="pinThisChart()">Pin this chart
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <div id="metaMyGrid" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"
                             ag-grid="dashboardMetaGridOptions"
                             class="ag-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame" id="aging">
            <div class="form-group">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <label>Bucket Size: </label>
                        <select class="" ng-model="bucketSize" required ng-change="agingReport(bucketSize)"
                                name="bucketSize">
                            <option value="5">5 Days</option>
                            <option value="10">10 Days</option>
                            <option value="15">15 Days</option>
                            <option value="30">30 Days</option>
                            <option value="45">45 Days</option>
                            <option value="60">60 Days</option>
                            <option value="90">90 Days</option>
                        </select>

                        <div id="ageingContainer"
                             style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <div id="agingMyGrid" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"
                             ag-grid="agingGridOptions"
                             class="ag-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame" id="trend">
            <div class="form-group">
                <div class="col-lg-6 col-md-12 col-sm-12">

                    <!--Start Date: <input type="text" datepicker-popup="dd/MM/yy"
                                       date-disabled="disabled(date, mode)"
                                       ng-model="statement.fromdate" is-open="opened1" close-text="Close"/>
                    End Date: <input type="text" datepicker-popup="dd/MM/yy"
                                     date-disabled="disabled(date, mode)"
                                     ng-model="statement.toDate"
                                     is-open="opened2" close-text="Close"/> &lt;!&ndash;data-ng-change="checkSyncMinData(statement.toDate)"&ndash;&gt;
                    <button class="button primary mini-button" ng-click="trendReport(statement)">Submit</button>-->
                    <div class="well">
                        <label class="col-sm-1 col-lg-1" style="margin-top: 5px;">Recons:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class=" " ng-model="trendRecId" required
                                    ng-change="trendReport(trendRecId)" name="trendRecId"
                                    ng-options="val.RECON_ID as val.RECON_NAME for val in trendReconId | unique:'RECON_ID'"
                                    >
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="col-sm-3 col-lg-3 pull-right">
                            <select ng-if="trendRecId != undefined" class=" " ng-model="trendReconKey" ng-change="trendCountNetAmountSeries(trendReconKey)">
                                <option value="TOTALCOUNT">Count</option>
                                <option value="NETOUTSTANDINGAMOUNT">Net Outstanding Amount</option>
                            </select>
                        </div>
                        <label ng-if="trendRecId != undefined" class="col-sm-1 col-lg-1 pull-right" style="margin-top: 5px;">Type:</label>
                        <div id="trendContainers"
                             style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="well">
                        <div id="trendMyGrids" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0
                        auto" ag-grid="trendGridOptions" class="ag-blue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame" id="pinnedcharts">
            <div class="pinnedChartsContainer" ng-if="pinnedCharts.length > 0">
                <div class="col-lg-6 col-md-12 col-sm-12" ng-repeat="chart in pinnedCharts">
                    <div class="well">
                        <div id="{{chart.id}}{{$index}}"
                             style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
                        <button class="autocompare" ng-click="removePinnedChart($index)">Remove</button>
                    </div>
                </div>
            </div>
            <h3 ng-if="pinnedCharts.length == 0">No charts</h3>
        </div>
        <div class="frame" id="exesummary">

            <div class="row form-group">
                <div class="col-lg-5">
                    <div class="row form-group">
                        <label class="col-lg-3" style="margin-top:4%">Statement Date:
                        </label>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">Start Date<input type="text" class="form-control"
                                                                        datepicker-popup="dd/MM/yy"
                                                                        date-disabled="disabled(date, mode)"
                                                                        id="sumstatementStartDate"
                                                                        ng-model="date.statementStartDate" is-open="opened5"
                                                                        data-ng-change="checkSyncMinData(date.statementStartDate,'st_start_date')"
                                                                        close-text="Close"/></div>
                                <div class="col-lg-12">End Date<input type="text" class="form-control"
                                                                      datepicker-popup="dd/MM/yy"
                                                                      date-disabled="disabled(date, mode)"
                                                                      id="sumstatementEndDate"
                                                                      ng-model="date.statementEndDate" is-open="opened6"
                                                                      data-ng-change="checkSyncMinData(date.statementEndDate,'st_end_date')"
                                                                      close-text="Close"/></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5">
                    <div class="row form-group">
                        <label class="col-lg-3" style="margin-top: 4%">Execution Date:
                        </label>
                        <div class="col-lg-9">
                            <div class="row">

                                <div class="col-lg-12">Start Date<input type="text" class="form-control"
                                                                        datepicker-popup="dd/MM/yy"
                                                                        date-disabled="disabled(date, mode)"
                                                                        id="sumexecutionStartDate"
                                                                        ng-model="date.executionStartDate" is-open="opened7"
                                                                        data-ng-change="checkSyncMinData(date.executionStartDate,'ex_start_date')"
                                                                        close-text="Close"/></div>
                                <div class="col-lg-12">End Date<input type="text" class="form-control"
                                                                      datepicker-popup="dd/MM/yy"
                                                                      date-disabled="disabled(date, mode)"
                                                                      id="sumexecutionEndDate"
                                                                      ng-model="date.executionEndDate" is-open="opened8"
                                                                      data-ng-change="checkSyncMinData(date.executionEndDate,'ex_end_date')"
                                                                      close-text="Close"/></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-1">
                    <button class="button primary" style="margin-top: 7%" ng-click="getFilteredExecutionDataByDates(date)"><i class="fa fa-filter"></i> Search</button>
                </div>
                <div class="col-lg-1">
                    <button class="button primary" style="margin-top: 7%"  data-ng-disabled="ExgridOptions['rowData'].length == 0" ng-click="onBtExportExecution()">Export CSV</button>
                </div>
            </div>

            <div>
                    <div class="row form-group">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">

                            <input class="form-control pull-right" placeholder="Filter..." type="text" ng-model="filterValue" ng-change="onFilterChangedEx(filterValue)">
                        </div>
                    </div>
                <div id="myGrids" style="width: 100%; height: 700px;"
                     ag-grid="ExgridOptions"
                     class="ag-blue">
             </div>
            </div>
        </div>
    </div>
</div>


<!--
<h3 class="text-light">Outstanding Amount Analysis</h3>
    <hr class="thin bg-grayLighter">
<div class="row form-group">
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Workpool name :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" control-label form-control" ng-model="bcId" ng-change="getRecons(bcId)" required
                ng-options="val.BUSINESS_CONTEXT_ID as val.BUSINESS_CONTEXT_ID for val in businessContextId"
                  ><option value="">All</option></select>
    </div>
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">Recons :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="rcId"  required ng-change="getSourceName(rcId)" name="reconId"
                ng-options="val.RECON_ID as val.RECON_ID for val in reconId"
                  ><option value="">All</option></select>
    </div>
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Source Name :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="srcName"  required ng-change="getAccount(srcName)" name="srcName"
                ng-options="val.SOURCE_NAME as val.SOURCE_NAME for val in sourceNameArray"
                  ><option value="">All</option></select>
    </div>
    &lt;!&ndash;<label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Account Name :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="acName"  required ng-change="getTxn(acName)" name="acName"
                ng-options="val.ACCOUNT_NAME as val.ACCOUNT_NAME for val in accountNameArray"
                  ><option value="">All</option></select>
    </div>
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Matching Status :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="rsId"  required  name="reconStatus"
                ng-options="val.RECONCILIATION_STATUS as val.RECONCILIATION_STATUS for val in reconStatusId"
                  ><option value="">All</option></select>
    </div>&ndash;&gt;
</div><br>
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <div id="container" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
            <button id="button" class="autocompare">Toggle Amount</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <div id="myGrid" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"
             ag-grid="dashboardGridOptions"
             class="ag-blue"></div>
        </div>
    </div>
    <div class="col-lg-6" ng-repeat="chart in pinnedCharts">
        <div class="well"> &lt;!&ndash; ng-if="pinnedCharts.length > 0"&ndash;&gt;
            <div id="{{_id}}" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
            <button id="{{_id}}_button" class="autocompare">Remove</button>
        </div>
    </div>
</div>
<h3 class="text-light">Transaction Status Analysis</h3>
<hr class="thin bg-grayLighter">
<div class="row form-group">
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Workpool name :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" control-label form-control" ng-model="metaBcId" ng-change="getMetaRecons(metaBcId)" required
                ng-options="val.BUSINESS_CONTEXT_ID as val.BUSINESS_CONTEXT_ID for val in metaBusinessContextId"
                  ><option value="">All</option></select>
    </div>
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 14px;">Recons :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="metaRcId"  required ng-change="getMetaSourceName(metaRcId)"
                ng-options="val.RECON_ID as val.RECON_ID for val in metaReconId"
                  ><option value="">All</option></select>
    </div>

    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Source Name :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="metaSrcName"  required ng-change="getMetaReconStatus(metaSrcName)"
                name="sourceName"
                ng-options="val.SOURCE_NAME as val.SOURCE_NAME for val in metaSourceName"
                  ><option value="">All</option></select>
    </div>
    <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Matching Status :</label>
    <div class="col-sm-2 col-lg-2">
        <select class=" form-control" ng-model="metaRsId"  required  name="reconStatus"
                ng-options="val.RECONCILIATION_STATUS as val.RECONCILIATION_STATUS for val in metaReconStatusId"
                  ><option value="">All</option></select>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <div id="metaContainer" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
            <button id="metaButton" class="">Toggle Amount</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <div id="metaMyGrid" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"
             ag-grid="dashboardMetaGridOptions"
             class="ag-blue"></div>
        </div>
    </div>
</div>
<h3 class="text-light">Aging Analysis</h3>
<hr class="thin bg-grayLighter">
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <label>Bucket Size: </label>
            <select class="" ng-model="bucketSize"  required ng-change="agingReport(bucketSize)"
                    name="bucketSize"><option value="5">5</option><option value="10">10</option></select>
            <div id="ageingContainer" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <div id="agingMyGrid" style="min-width: 310px; height: 400px; max-width: 760px; margin: 0 auto"
             ag-grid="agingGridOptions"
             class="ag-blue"></div>
        </div>
    </div>
</div>
-->








