<div ng-hide="addEdit" ng-show="['admin'] | showForRole">
    <h3 class="text-light">Recon Scheduling <span class="fa fa-users place-right"></span></h3>
    <hr class="thin bg-grayLighter">
    <div class="row form-group ">
        <label class="col-sm-1 col-lg-1 control-label" style="margin-top: 6px;">Select Recon
            :</label>

        <div class="col-sm-3 col-lg-3">
            <select class="form-control" type="text" ng-model="recon.selectedRecon"
                    ng-options="val.id as val.name for val in reconList | orderBy:'val.name'">
                <option value="">Select</option>
            </select>
        </div>
        <label class="col-sm-2 col-lg-2 control-label" style="margin-top: 6px;">Select Statement Date
            :</label>

        <div class="col-lg-3 col-sm-3">
            <input type="text" class="form-control"
                   datepicker-popup="dd/MM/yy"
                   date-disabled="disabled(date, mode)"
                   id="statementDate"
                   ng-model="recon.statementDate"
                   is-open="opened3"
                   data-ng-change="checkSyncMinData(date.executionEndDate)"
                   close-text="Close"/></div>
        <div class="col-lg-1 col-sm-1">
            <button class="button primary"
                    data-ng-disabled="(recon.selectedRecon == undefined || recon.selectedRecon == null || recon.selectedRecon == '') || (recon.statementDate == undefined || recon.statementDate == null || recon.statementDate == 0 || recon.statementDate == '')"
                    ng-click="runRecon(recon)">Run
            </button>
        </div>
        <div class="col-lg-1 col-sm-1">
            <button class="button primary"
                    data-ng-disabled="(recon.selectedRecon == undefined || recon.selectedRecon == null || recon.selectedRecon == '') || (recon.statementDate == undefined || recon.statementDate == null || recon.statementDate == 0 || recon.statementDate == '')"
                    ng-click="scheduleRecon(recon)">Schedule
            </button>
        </div>

    </div>
    <hr class="thin bg-grayLighter">
    <datagrid options="reconScheduleOptions"></datagrid>

</div>
<script type="text/ng-template" id="scheduleRecon.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">Schedule Job</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid">
                <span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>

            <fieldset>
                <div class="form-group">
                    <span class="control-label col-sm-3"><b>Select Time :</b></span>
                    <span class="control-label col-sm-3" style="text-align: center"><b>Hours</b></span>
                    <span class="control-label col-sm-3" style="text-align: center"><b>Minutes</b></span>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 col-sm-3"></div>
                    <div class="col-sm-3 col-lg-3" style="text-align: center">
                        <myselect style="width: 85%;" model="rec.hour" name="fullStartHour" options="hours"></myselect>
                        <!--<select class="form-control" data-ng-model="rec.hour" ng-options="val.value as val.key for val in hours"><option value="">Select Hour</option></select>-->
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <myselect style="width: 85%;" model="rec.min" name="fullStartHour" options="mins"></myselect>
                        <!--<select class="form-control" data-ng-model="rec.min" ng-options="val.value as val.key for val in mins"><option value="">Select Min</option></select>-->
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="schedule(rec)" ng-disabled="addEditForm.$invalid"> Schedule Job
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="rescheduleRecon.html">
    <div class="modal-header  ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
        <h4 class="modal-title">ReSchedule Job</h4>
    </div>

    <form class="form-horizontal" role="form" name="addEditForm">
        <div class="modal-body">
            <div class="alert {{formValidation.type}}" ng-hide="!formValidation.isNotValid"
                 ng-show="formValidation.isNotValid">
                <span class="icon-sign"></span>
                <a class="close" data-ng-click="showAlert('',false,'')">x</a>
                <span class="alertContent">{{formValidation.message}}</span>
            </div>

            <fieldset>
                <div class="form-group">
                    <span class="control-label col-sm-3"><b>Select Time :</b></span>
                    <span class="control-label col-sm-3" style="text-align: center"><b>Hours</b></span>
                    <span class="control-label col-sm-3" style="text-align: center"><b>Minutes</b></span>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 col-sm-3"></div>
                    <div class="col-sm-3 col-lg-3" style="text-align: center">
                        <myselect style="width: 85%;" model="rec.hour" name="fullStartHour" options="hours"></myselect>
                        <!--<select class="form-control" data-ng-model="rec.hour" ng-options="val.value as val.key for val in hours"><option value="">Select Hour</option></select>-->
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <myselect style="width: 85%;" model="rec.min" name="fullStartHour" options="mins"></myselect>
                        <!--<select class="form-control" data-ng-model="rec.min" ng-options="val.value as val.key for val in mins"><option value="">Select Min</option></select>-->
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="schedule(rec)" ng-disabled="addEditForm.$invalid"> Schedule Job
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
<script type="text/ng-template" id="deleteschedule.html" ng-if="credentials.role == 'admin'">
    <div class="modal-header">
    <span class="icon-sign">
    </span><a data-dismiss="alert" class="close" ng-click="cancel()">x</a>
    <h4>Confirmation</h4>
    </div>
    <div class="modal-body">
    <p class="alert alert-warning">Are you sure you want to delete? </p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
    </div>
</script>