<div class="tabcontrol" ng-hide="addEdit" data-role="tabcontrol" ng-show="['admin'] | showForRole">
    <ul class="tabs">
        <li><a href="#customReports" ng-click="getMhadaReport()">Report</a></li>
	<li><a href="#rbdatas" ng-click="rbDatasTableOptions()">NPCI UPI Format Export</a></li>
        <!--<li><a href="#consolidated" ng-click="getConsolidateReport()">Consolidated Reports</a></li>-->
        <!--<li><a href="#nostroReport" ng-click="initializeNostoReport()">Nostro Report</a></li>-->

    </ul>
    <div class="frames">

        <div class="frame" id="customReports" style="min-height: 400px">
            <div class="row form-group">

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report Type
                    :</label>

                <div class="col-sm-2 col-lg-2">
                    <select class="button form-control" ng-model="selReportData"
                            ng-options="val as val.reportName for val in reportDetails">
                        <option value="">Select Report Type</option>
                    </select>
                </div>

                <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date
                    :</label>
                <div class="col-sm-2 col-lg-2">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="statementDate"
                           ng-model="statementDate"
                           is-open="opened1"
                           datepicker-options="dateOptions"
                           close-text="Close"/>
                </div>
                <div class="col-lg-2">
                    <button class="button primary"
                            ng-click="generateReport()" ng-disabled="selReportData == undefined || selReportData == null ||
                            selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''">
                        Generate Report
                    </button>
                </div>

                <div class="pull-right">
                    <button class="button primary"
                            data-ng-disabled="reportGridOptions['rowData'].length == 0"
                            ng-click="onBtExport()">Export CSV
                    </button>
                </div>
            </div>


            <div ng-show="selReportData.reconID =='BNA_CASH_APAC_0001' || selReportData.reconID =='EPYMTS_CASH_APAC_70001' || selReportData.reconID =='EPYMTS_CASH_APAC_70002' || cs_report_status">
                <div class="row">
                    <div class="col-lg-12">
                        <input class="col-lg-2 pull-right" placeholder="Filter..." type="text"
                               ng-model="filterValue"
                               ng-change="onFilterChanged(filterValue)">
                    </div>

                </div>
                <div id="reportGrid" style="width: 100%; height: 750px;"
                     ag-grid="reportGridOptions"
                     class="ag-blue">
                </div>
            </div>

            <div
                    ng-show="selReportData.reconID =='EPYMTS_CASH_APAC_0012' && statementDate != undefined && statementDate != 0 && cs_report_status==false">
                <div class="panel primary">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            Principal Account Settlement Report
                        </div>
                    </div>

                    <div class="panel-body">
                        <table id="settelmentAccID" class="table table-bordered table-responsive">
                            <thead>
                            <!--<tr>
                                <th></th>
                                <th colspan="4" style="text-align: center">Credit Transactions</th>
                                <th colspan="4" style="text-align: center">Debit Transactions</th>
                            </tr>-->
                            <tr>
                                <th style="text-align: center">Account Description</th>
                                <th style="text-align: center">Account Head</th>
                                <th style="text-align: center">Opening Balance</th>
                                <th style="text-align: center">Net Debit Amount</th>
                                <th style="text-align: center">Net Credit Amount</th>
                                <th style="text-align: center">Net Oustanding Amount</th>
                                <th style="text-align: center">Closing Balance</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="row in settlementAccData">
                            <tr ng-show="row['_ACC NAME'] !='Total Outstanding Balance'">
                                <td>{{row["_ACC NAME"]}}</td>
                                <td>{{row["ACCOUNT HEAD"]}}</td>
                                <td style="text-align: right">&#x20b9; {{row["OPEN_BAL"] | inrCurrencyFormat}}</td>
                                <td style="text-align: right">&#x20b9; {{row["NET_DEBIT_AMT"] | inrCurrencyFormat}}</td>
                                <td style="text-align: right">&#x20b9; {{row["NET_CREDIT_AMT"] | inrCurrencyFormat}}</td>
                                <td style="text-align: right">&#x20b9; {{row["NET_OUTSTD_AMT"] | inrCurrencyFormat : true}}</td>
                                <td style="text-align: right" >&#x20b9; {{row["CLOSE_BAL"] | inrCurrencyFormat : true}}</td>
                            </tr>
                            <tr ng-show="row['_ACC NAME'] =='Total Outstanding Balance'">
                                <td>{{row["_ACC NAME"]}}</td>
                                <td>{{row["ACCOUNT HEAD"]}}</td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"></td>
                                <td style="text-align: right">&#x20b9; {{row["CLOSE_BAL"] | inrCurrencyFormat : true}}
                                </td>
                            </tr>
                            </tbody>
                            <tr ng-show="principalAccData.length > 0">
                                <th>Total</th>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'CREDIT_AMT_CR' |
                                    inrCurrencyFormat : true}}
                                </td>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'COUNT_CR'}}</td>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'DEBIT_AMT_DR' |
                                    inrCurrencyFormat : true}}
                                </td>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'COUNT_DR'}}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- ************************** -->

                    <div class="panel-body">
                        <table id="prinAccountReportID" class="table table-bordered table-responsive" style="font-size: 10px;">
                            <thead>
                            <!--<tr>
                                <th></th>
                                <th colspan="4" style="text-align: center">Credit Transactions</th>
                                <th colspan="4" style="text-align: center">Debit Transactions</th>
                            </tr>-->
                            <tr>
                                <th class="col-xs-2" style="text-align: center">Account Name</th>
                                <th style="text-align: center">Account Head</th>
                                <th style="text-align: center">Credit Count</th>
                                <th style="text-align: center">Credit Amount</th>
                                <th style="text-align: center">Cumulative IW Credits</th>
                                <th style="text-align: center">Diff IW Dr Vs Principle A/c Debit</th>
                                <th style="text-align: center">Debit Count</th>
                                <th style="text-align: center">Debit Amount</th>
                                <th style="text-align: center">Cumulative OW Debits</th>
                                <th style="text-align: center">Diff OW Dr Vs Principle A/c Credit</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="row in principalAccData">
                            <tr>
                                <td>{{row["_ACC NAME"]}}</td>
                                <td>{{row["ACCOUNT HEAD"]}}</td>
                                <!--Credit Transactions-->
                                <td style="text-align: right">{{row["COUNT_C"]}}</td>
                                <td style="text-align: right">&#x20b9; {{row["CREDIT_AMT_C"] | inrCurrencyFormat : true}}</td>
                                <td style="text-align: right">&#x20b9; {{row["CUM_IW_CREDIT"] | inrCurrencyFormat : true}}</td>
                                <td style="text-align: right">&#x20b9; {{row["DIFF_IW_CR_PRN_DR"] | inrCurrencyFormat : true}}</td>
                                <!--Debit Transactions-->
                                <td style="text-align: right">{{row["COUNT_D"]}}</td>
                                <td style="text-align: right">&#x20b9; {{row["DEBIT_AMT_D"] | inrCurrencyFormat : true}}</td>
                                <td style="text-align: right">&#x20b9; {{row["CUM_OW_DEBIT"] | inrCurrencyFormat : true}}</td>
                                <td style="text-align: right">&#x20b9; {{row["DIFF_OW_DR_PRN_CR"] | inrCurrencyFormat : true}}</td>
                            </tr>
                            </tbody>

                            <!--<tr ng-show="principalAccData.length > 0">
                                <th>Total</th>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'CREDIT_AMT_CR' |
                                    inrCurrencyFormat}}
                                </td>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'COUNT_CR'}}</td>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'DEBIT_AMT_DR' |
                                    inrCurrencyFormat}}
                                </td>
                                <td style="text-align: right">{{principalAccData | sumOfValue: 'COUNT_DR'}}</td>
                            </tr>-->
                        </table>
                    </div>
                </div>
            </div>

            <div
                    ng-show="neftRecons.indexOf(selReportData.reconID) != -1 && statementDate != undefined && statementDate != 0
                    &&  neftReportData != undefined && neftReportData.length > 0">
                <div class="panel primary">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            {{reportName}}
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="neftReportTableID" class="table table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th>
                                    RECON ID
                                </th>
                                <th>
                                    REPORT NAME
                                </th>
                                <th ng-repeat="row in colHeader"><span ng-if="col != 'RECON_NAME' && col != 'RECON_ID'"
                                                                       ng-repeat="data in neftReportData">
                                {{row.toUpperCase()}}</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <td >
                                {{selReportData.reconID}}
                            </td>
                            <td >
                                {{selReportData.reportName}}
                            </td>
                            <td ng-repeat="col in colHeader">
                                <!--<span ng-if="col == 'RECON_NAME' || col == 'RECON_ID'" ng-repeat="data in neftReportData">{{data[col]}}</span>-->
                                <span ng-if="col != 'RECON_NAME' && col != 'RECON_ID'"
                                      ng-repeat="data in neftReportData">{{data[col] | inrCurrencyFormat}}</span>
                            </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame" id="consolidated" style="min-height: 400px">
            <table id="consolidateRptTableID" class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th colspan="2" style="text-align: center" ng-repeat="col in colLabel">{{col}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th ng-repeat="col in subCols track by $index">{{col}}</th>
                </tr>
                </thead>
                <tbody ng-repeat="row in consolidatedReport">
                <tr>
                    <td>{{row["RECON_ID"]}}</td>
                    <td ng-repeat="col in rowIndex track by $index" ng-click="exportreport(row,col)">
                        {{row[col]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
	<div class="frame" id="rbdatas" style="min-height: 500px;">
                <label for="urole" class="col-sm-2 col-lg-2 control-label" style="margin-top: 10px;">Select Date:</label>
                <div class="col-sm-2 col-lg-2">
                    <input type="text" class="form-control"
                           datepicker-popup="dd/MM/yyyy"
                           id="rbTransDate"
                           ng-model="rbTransDate"
                           is-open="opened1rb"
                           datepicker-options="rbDateOptions"
                           close-text="Close"/>
                </div>
                <button type="button" class="btn btn-primary" ng-click="getRBDatas(rbTransDate)">Get RB Datas</button> </br></br>

	    <button type="button" class="btn btn-primary" ng-if="rbRecords.length > 0" ng-csv="rbRecords" filename="{{rbRecords[0].filename}}" csv-header="['bankadjref','flag','shtdat','adjamt','shser','shcrd','filename','reason','specifyother']" charset="utf-8"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</button>
            <table class="dataTable border bordered no-footer" style="table-layout: fixed">
                <thead>
                <tr role="row">
                    <th style="width: 10%;">bankadjref</th><th style="width: 7%;">flag</th><th style="width: 6%;">shtdat</th>
                    <th style="width: 6%;">adjamt</th><th style="width: 10%;">shser</th><th style="width: 10%;">shcrd</th>
                    <th style="width: 10%;">filename</th><th style="width: 30%;">reason & specifyother</th>
                </tr>
                </thead>
                <tbody style="word-wrap: break-word;overflow-wrap: break-word;">
                <tr ng-repeat="row in rbRecords track by $index">
                    <td>{{row.bankadjref}}</td>
                    <td><select ng-model="row.flag" ng-change="updateRecordChange(row)" ng-options="flag.name as flag.name for flag in flags"></select></td>
                    <td>{{row.shtdat}}</td>
                    <td>{{row.adjamt}}</td>
                    <td>{{row.shser}}</td>
                    <td>{{row.shcrd}}</td>
                    <td>{{row.filename}}</td>
                    <td><select ng-model="row.reason" ng-change="updateRecordChange(row)" ng-options="data.id as data.id+' - '+data.name for data in flagDatas | filter:{target:rbRecords[$index].flag}"></select></td>
                    <!--td><select ng-model="row.specifyother" ng-change="updateRecordChange(row)" ng-init="row.specifyother = flagDatas[0].name" ng-options="desc.name as desc.name for desc in flagDatas | filter:{id:rbRecords[$index].reason}"></select></td-->
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="frames">
        <div class="frame" id="nostroReport" style="min-height: 400px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title" style="text-align: center">
                        Nostro Closing Balance Report

                        <a class="pull-right" target="_self" download
                           href="/app/files/recon_reports/{{reportLocMap[reportDwnType]}}"><span
                                class="mif-file-download" style="margin-left: 10px"></span></a>
                        </a>

                        <span class="pull-right"><select class="form-control" data-ng-model="reportDwnType">
                            <option value="CSV">CSV export</option>
                            <option value="EXCEL">Excel export</option>
                            <!--<option value="PDF">PDF export</option>-->
                        </select></span>


                    </div>
                </div>
                <div class="panel-body" styoverflow-y:scroll
                ">

                <div>

                    <div class="row form-group">
                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 5px">Report
                            Date :</label>
                        <div class="col-sm-2 col-lg-2">
                            <input type="text" class="form-control"
                                   datepicker-popup="dd/MM/yyyy"
                                   id="nostroReportDate"
                                   ng-model="nostroAdvSearch.reportDate"
                                   is-open="opened2"
                                   datepicker-options="dateOptions"
                                   close-text="Close"/>
                        </div>

                        <!--<label for="urole" class="col-sm-1 col-lg-1 control-label">Currency:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select ng-model="nostroAdvSearch.currency" class="form-control"
                                    ng-options="val for val in nostroCurrencies"
                                    list="nostroAdvSearch.currency"></select>
                        </div>-->

                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 5px">Statement
                            Date:</label>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-6"><input type="text" class="form-control"
                                                             datepicker-popup="dd/MM/yyyy"
                                                             id="nostroFrmStmtDateID"
                                                             ng-model="nostroAdvSearch.nostroFrmStmtDate"
                                                             is-open="opened3"
                                                             datepicker-options="dateOptions"
                                                             close-text="Close" placeholder="Start date"/></div>
                                <div class="col-lg-6"><input type="text" class="form-control"
                                                             datepicker-popup="dd/MM/yyyy"
                                                             id="nostroToStmtDateID"
                                                             ng-model="nostroAdvSearch.nostroToStmtDate"
                                                             is-open="opened4"
                                                             datepicker-options="dateOptions"
                                                             close-text="Close" placeholder="End date"/></div>
                            </div>
                        </div>

                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 5px">Nostro
                            Account:</label>
                        <div class="col-sm-2 col-lg-2">
                            <input type="text" class="form-control"
                                   data-ng-model="nostroAdvSearch.nostroAccount"/>
                        </div>
                    </div>

                    <div class="row form-group">

                        <label for="urole" class="col-sm-1 col-lg-1 control-label"
                               style="margin-top: 5px">Currency:</label>
                        <div class="col-sm-2 col-lg-2" ng-dropdown-multiselect="" options="nostroCurrencies"
                             selected-model="nostroAdvSearch.currency" extra-settings="multiDropDownStng"></div>

                        <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px">OP / CL
                            Balance:</label>
                        <div class="col-sm-2 col-lg-2">
                            <select class="button form-control" ng-model="nostroAdvSearch.amountType">
                                <option value="">Select Type</option>
                                <option value="OPEN_BAL">Opening Bal</option>
                                <option value="CLOSE_BAL">Closing Bal</option>
                            </select>
                        </div>

                        <div class="col-sm-2 col-lg-2">
                            <select class="button form-control" data-ng-model="amtOperator"
                                    ng-disabled="nostroAdvSearch.amountType == '' ||
                                       nostroAdvSearch.amountType == undefined || nostroAdvSearch.amountType == null">
                                <option value="">select operator</option>
                                <option value="$eq">equals</option>
                                <option value="$lt">less</option>
                                <option value="$gt">greater</option>
                                <option value="$lte">less than equal</option>
                                <option value="$gte">greater than equal</option>
                            </select>
                        </div>

                        <div class="col-sm-2 col-lg-2">
                            <input class="form-control" type="number"
                                   data-ng-model="nostroAdvSearch.amount" ng-disabled="amtOperator == '' ||
                                       amtOperator == undefined || amtOperator == null">
                        </div>
                    </div>

                    <div class="form-group row" style="margin-left: 85%;margin-bottom: 22px">
                        <div class="button-group">
                            <button type="button" ng-click="searchNostroDetails(nostroAdvSearch)"
                                    class="button primary small-button btn "
                                    data-ng-disabled="(
                                        (nostroAdvSearch.reportDate == '' || nostroAdvSearch.reportDate == undefined ||nostroAdvSearch.reportDate == null) &&
                                        (nostroAdvSearch.nostroAccount == '' || nostroAdvSearch.nostroAccount == undefined ||nostroAdvSearch.nostroAccount == null) &&
                                        (nostroAdvSearch.nostroFrmStmtDate == '' || nostroAdvSearch.nostroFrmStmtDate == undefined || nostroAdvSearch.nostroFrmStmtDate == null) &&
                                        (nostroAdvSearch.currency == '' || nostroAdvSearch.currency == undefined || nostroAdvSearch.currency == null) &&
                                        (nostroAdvSearch.amount == '' || nostroAdvSearch.amount == undefined || nostroAdvSearch.amount== null))">
                                <i class="glyphicon glyphicon-search"></i> search
                            </button>
                        </div>

                        <div class="button-group" style="margin-left: 10px">
                            <button type="button" ng-click="resetNostroDetails()"
                                    class="button primary small-button btn ">
                                <i class="glyphicon glyphicon-ban-circle"></i> reset
                            </button>
                        </div>

                    </div>
                </div>

                <hr class="thin bg-grayLighter">

                <div style="margin-top: 30px">
                    <scrollable-table watch="nostroReportExtract" resizable>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th sortable-header col="REP_DATE">Report Date</th>
                                <th sortable-header col="STMT_DATE">Statement Date</th>
                                <th sortable-header col="ACCOUNT_NUMBER">Account Number</th>
                                <th sortable-header col="ACC_NAME">Account Name</th>
                                <th sortable-header col="CURRENCY">Currency</th>
                                <th sortable-header col="OP_CR_CR">Op.Bal. Dr/Cr</th>
                                <th sortable-header col="OP_BAL">Opening Balance</th>
                                <th sortable-header col="CL_DR_CR">Cl.Bal. Dr/Cr</th>
                                <th sortable-header col="CL_BAL">Closing Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in nostroReportExtract track by $index">
                                <td>{{ val['REP_DATE']}}</td>
                                <td>{{ val['STMT_DATE']}}</td>
                                <td>{{ val['ACCOUNT_NUMBER']}}</td>
                                <td>{{ val['ACC_NAME']}}</td>
                                <td>{{val['CURRENCY']}}</td>
                                <td>{{ val['OP_DR_CR'] }}</td>
                                <td style="text-align: right">{{ val['OP_BAL'] | inrCurrencyFormat}}</td>
                                <td>{{ val['CL_DR_CR'] }}</td>
                                <td style="text-align: right">{{ val['CL_BAL'] | inrCurrencyFormat}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </scrollable-table>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="frame" id="nostroReport" style="min-height: 400px">
        <div class="row form-group">

            <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Business Name
                :</label>

            <div class="col-sm-2 col-lg-2">
                <select class="button form-control" ng-model="selNostroBusinessName"
                        ng-options="val for val in nostroReportBusinessName">
                    <option value="">Select Business</option>
                </select>
            </div>

            <label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Report Name
                :</label>

            <div class="col-sm-2 col-lg-2">
                <select class="button form-control" ng-model="selNostroReportName"
                        ng-options="val for val in nostroReportName[selNostroBusinessName]"
                        data-ng-change="generateNostroReport()">
                    <option value="">Select Report</option>
                </select>
            </div>


            &lt;!&ndash;<label for="urole" class="col-sm-1 col-lg-1 control-label" style="margin-top: 10px;">Statement Date
                :</label>
            <div class="col-sm-2 col-lg-2">
                <input type="text" class="form-control"
                       datepicker-popup="dd/MM/yyyy"
                       id="statementDate"
                       ng-model="statementDate"
                       is-open="opened1"
                       datepicker-options="dateOptions"
                       close-text="Close"/>
            </div>&ndash;&gt;

            <div class="col-lg-2">
                <button class="button primary"
                        ng-click="generateReport()" ng-disabled="selReportData == undefined || selReportData == null ||
                        selReportData == '' || statementDate == undefined || statementDate == null || statementDate == ''">
                    Generate Report
                </button>
            </div>
            &lt;!&ndash;<div class="col-sm-2" style="margin-left: 13px;margin-top: 15px;">
                <input type="text" class="form-control"
                       datepicker-popup="dd/MM/yyyy"
                       id="statementDate"
                       ng-model="statementDate"
                       is-open="opened1"
                       datepicker-options="dateOptions"
                       close-text="Close"/>
            </div>&ndash;&gt;

            &lt;!&ndash;<div class="col-lg-2">
            <button class="button primary" data-ng-disabled="SumgridOptions['rowData'].length == 0"
            ng-click="onBtExportMhada()">Export Excel
            </button>
            </div>&ndash;&gt;
        </div>


        <div class="panel-body" style="height:650px;max-height:650px;overflow-y:scroll">
            <scrollable-table watch="reportExtract">
                <table class="table table-striped table-bordered">

                    <thead>
                    <tr>
                        <th sortable-header colspan="9" style="text-align: center">Nostro Closing Balance Report</th>
                    </tr>
                    <tr>
                        <th sortable-header col="C40" style="text-align: center">Report Date</th>
                        <th sortable-header col="C40" style="text-align: center">Statement Date</th>
                        <th sortable-header col="C40" style="text-align: center">Account Number</th>
                        <th sortable-header col="C40" style="text-align: center">Account Name</th>
                        <th sortable-header col="C40" style="text-align: center">Currency</th>
                        <th sortable-header col="C40" style="text-align: center">Op.Bal. Dr/Cr</th>
                        <th sortable-header col="C40" style="text-align: center">Opening Balance</th>
                        <th sortable-header col="C40" style="text-align: center">Cl.Bal. Dr/Cr</th>
                        <th sortable-header col="C40" style="text-align: center">Closing Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="val in reportExtract track by $index" row-id="{{ val['C40'] }}">
                        <td>{{ val['C40'] }}</td>
                        <td>{{ val['ACCOUNT_NAME'] }}</td>
                        <td style="text-align: right">{{ val['CLOSING_BAL_S1'] | inrCurrencyFormat }}</td>
                        <td style="text-align: right">{{ val['CLOSING_BAL_S2'] | inrCurrencyFormat }}</td>
                        <td style="text-align: right">{{ val['DIFF'] | inrCurrencyFormat }}</td>
                        <td>{{ val['VALUE_GRE'] }}</td>
                    </tr>
                    </tbody>
                </table>
            </scrollable-table>


        </div>


        &lt;!&ndash;<div class="panel-body">
            <table id="mhada_table" class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th colspan="9" style="text-align: center">Nostro Closing Balance Report</th>
                </tr>
                <tr>
                    <th style="text-align: center">Report Date</th>
                    <th style="text-align: center">Statement Date</th>
                    <th style="text-align: center">Account Number</th>
                    <th style="text-align: center">Account Name</th>
                    <th style="text-align: center">Currency</th>
                    <th style="text-align: center">Op.Bal. Dr/Cr</th>
                    <th style="text-align: center">Opening Balance</th>
                    <th style="text-align: center">Cl.Bal. Dr/Cr</th>
                    <th style="text-align: center">Closing Balance</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>&ndash;&gt;

    </div>-->


</div>
</div>
